.db-head {
  display: flex;
  align-items: center;

  justify-content: space-between;

  img {
    height: 70px;
  }

}

.db-first-row {

  .row-item {
    //flex: auto !important;

    &:nth-child(1) {
      border-right: none;
      flex: 2;


    }

    &:nth-child(2) {
      flex: 3;
    }

    &:nth-child(3) {
      flex: 1;
    }

    &:nth-child(4) {
      flex: 1;
    }

    &:nth-child(5) {
      flex: 2;
      border-right: none;

      .empty-box {
        height: 30px;
      }
    }

  }
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.checkboxFive {
  font-weight: normal;
}

.db-line-wrap {
  padding-left: 13px;
  padding-right: 13px;
}

.db-line {
  border-top: 1px solid #000;

  .item {
    padding-top: 5px;
    margin-bottom: 2px;
    padding-right: 3px;
    font-size: 11px;

    .empty-box {
      margin-top: 5px;
    }
  }
}


.db-line2 {

  display: flex;

  .item {
    width: 50%;

    &:nth-child(2) {
      border-left: 1px solid #000;
      padding-left: 10px;
    }

    .pointy-input {
      width: 30px;
      margin: 0px 0px 0px 10px;
    }
  }
}


.db-line3 {

  display: flex;

  .item {
    width: 25%;



    &:nth-child(2) {
      border-right: 1px solid #000;
      padding-right: 10px;
    }

    &:nth-child(3) {
      padding-left: 10px;
    }
  }
}


.db-line4 {

  display: flex;
  border-top: none;

  .db-line4-flex {
    display: flex;

    input {
      margin: 0px 10px 0px 0px;
    }

    em {
      font-weight: normal;
      font-style: normal;
    }
  }

  .item {
    width: 30%;
    border-right: 1px solid #000;
    padding-right: 10px;


    &:nth-child(2) {
      padding-left: 10px;
      width: 20%;
    }

    &:nth-child(3) {
      width: 20%;
      padding-left: 10px;
    }

    &:nth-child(4) {
      width: 20%;
      padding-left: 10px;
      border-right: none;
    }
  }
}

.db-line5 {

  display: flex;
  // border-top: none;

  .db-line4-flex {
    display: flex;

    input[type="text"] {
      margin: 0px 10px 0px 0px;
      width: 50px;
    }

    em {
      font-weight: normal;
      font-style: normal;
    }
  }

  .item {
    width: 30%;
    border-right: 1px solid #000;
    padding-right: 10px;


    &:nth-child(2) {
      padding-left: 10px;
      width: 40%;
    }

    &:nth-child(3) {
      width: 30%;
      padding-left: 10px;
      border-right: none;
    }


  }
}




.db-row {
  display: flex;

  .col {
    width: 25%;
    padding-right: 10px;
    margin: 20px 0px 0px 0px;

    .head {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: bold;

      span {
        font-size: 12px;
        font-weight: normal;
      }
    }

    ul {
      display: block;

      margin-bottom: 20px;

      height: auto;

      li {
        border-bottom: 1px dotted #000;
        padding: 0px 0px 1px 0px;
        margin-bottom: 1px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .left {
          font-size: 11px;
          display: flex;

          span {
            flex-shrink: 0;
            width: 30px;
          }
        }

        .pointy-input {
          border-bottom: none;
          width: 40px;
          text-align: right;
        }
      }
    }

    .box8 {
      display: flex;

      .left {
        width: 50%;

        .pointy-input {
          text-align: center;
          margin: 0px 10px 0px 0px;
        }
      }

      .right {
        width: 50%;
        padding-left: 10px;
      }
    }
  }
}

.box-comfirm {
  margin: 200px 0px 30px 0px;
  display: flex;

  .icon {
    width: 15px;
    height: 15px;
    border: 1px dotted #000;
    flex-shrink: 0;
    margin: 0px 8px 0px 0px;
  }
}

.db-multil {
  padding: 0px 10px 10px 10px;


  p.line {
    height: 20px;
    margin: 0px;
    border-bottom: 1px dotted #000;
  }
}

.db-signature {
  display: flex;
  padding: 10px 0px 0px 0px;

  justify-content: space-between;

  .left {
    width: 30%;
  }

  .right {
    width: 45%;
  }

  label {
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
  }

  .sign {
    .line {
      height: 40px;
    }

    em {
      font-style: normal;
      font-size: 10px;
      display: block;
      padding: 5px 0px;
    }
  }

  .right-flex {
    display: flex;

    justify-content: space-between;

    > div {
      width: 100%;
    }

    .logo {
      width: auto;

      flex-shrink: 0;
      margin: 20px 0px 0px 50px;

      img {
        height: 80px;
      }
    }
  }

}

.db-text-bottom {
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  margin: -40px 0px 10px 0px;
  padding: 0px 150px 0px 0px;
}
