@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-family: "LucidaGrande";
    src: url("../fonts/lucida-grande/LucidaGrande.ttf");
}

body {
    width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 #8e8d8d;
}

p {
    margin: 0;
    padding: 0;
}

.lay_head {
    height: 79px;
    /* display: flex; */
    position: relative;
}

.lay_head .logoImg {
    width: 160px;
    height: 55px;
    margin-top: 10px;
    padding-left: 80px;
    position: absolute;
    left: 0;
}

.lay_head .buttomRow {
    /* flex: 1; */
    position: absolute;
    right: 0;
    text-align: right;
    margin-top: 25px;
    vertical-align: middle;
}

.lay_contant {
    padding-bottom: 80px;
}

.buttomRow .leftLine {
    display: inline-block;
    border-left: 1px solid #ccc;
    padding: 0 20px;
}

.leftLine .white_button:hover {
    font-weight: 500;
}

.leftLine:first-of-type {
    border-left: none;
}

.buttomRow .buttomItem {
    display: inline-block;
    -webkit-text-size-adjust: none;
    font-size: 14px;
    font-family: LucidaGrande;
    /* font-weight: 500; */
    color: #404040;
    text-align: center;
    padding: 11.5px 28.3px;
    cursor: pointer;
}

.buttomRow .active {
    border-radius: 16.5px;
    box-shadow: 0 0 2px 0 #8e8d8d;
    background-color: #f89d0f;
    color: #ffffff;
}

.main_content {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    font-family: LucidaGrande;
    font-size: 14px;
    color: #404040;
}

.select_row_box {
    width: 100%;
}

.Business-Services {
    height: 15px;
    font-family: LucidaGrande;
    font-size: 15px;
    line-height: 1.08;
    color: #404040;
    padding-bottom: 11px;
}

.select_row_box .select_ico,
.select_row_box .manege_select_ico {
    display: inline-block;
    width: 12.5%;
    height: 120px;
    box-shadow: 0 0 2px 0 #8e8d8d;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: top;
    color: #404040;
}

.select_row_box .select_ico img,
.select_row_box .manege_select_ico img {
    width: 45px;
}

.select_row_box .select_ico p,
.select_row_box .manege_select_ico p {
    -webkit-text-size-adjust: none;
    font-size: 14px;
}

.select_card {
    width: 58%;
    min-height: 274px;
    margin: 0 auto;
    margin-top: 35px;
    box-shadow: 0 0 4px 0 #8e8d8d;
    background-color: #ffffff;
    padding: 37px 26px 20px 60px;
    box-sizing: border-box;
}

.ManagementCard {
    display: none;
}


.card_title {
    font-family: LucidaGrande;
    font-size: 18px;
    color: #404040;
}

.maneg_Card_title {
    font-family: LucidaGrande;
    font-size: 18px;
    color: #404040;
}


.card_icon_list {
    text-align: center;
    display: none;
}

.AC_card_icon_list {
    text-align: center;
    display: none;
}

.card_icon_item {
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
    margin-top: 20px;
    vertical-align: top;
}

.card_icon_item img {
    width: 45px;
}

.card_icon_item p {
    font-family: "LucidaGrande";
    font-size: 10.5px;
    text-align: center;
    color: #404040;
}

.lay_footer {
    height: 413px;
    background: url("../img/footer.jpg") no-repeat;
    background-size: cover;
    padding-top: 37px;
}


.lay_footer .footer_card {
    width: 50%;
    margin: 0 auto;
    /* display: flex; */
    position: relative;
}

.lay_footer .footer_img_box {
    position: absolute;
    width: 200px;
    height: 177px;
    left: 0;
    top: 32px;
    z-index: 10;
}

.lay_footer .footer_con_us {
    width: 439px;
    height: 118px;
    position: absolute;
    right: 0;
    text-align: center;
}

.lay_footer .email_title {
    font-family: LucidaGrande;
    font-size: 22.5px;
    margin-left: 60px;
    box-sizing: border-box;
    color: #404040;
    margin-top: 28px;
}

.email_card {
    height: 118.5px;
    box-shadow: 0 0 3px 0 #8e8d8d;
    background-color: #ffffff;
}

.email_card .email_href {
    font-family: LucidaGrande;
    font-size: 12.5px;
    color: #5a5a5a;
    margin-left: 60px;
    box-sizing: border-box;
    padding: 25px 0px;
}

.email_card .email_button {
    display: inline-block;
    border-radius: 11.5px;
    box-shadow: 0 0 4px 0 #8e8d8d;
    background-color: #ffffff;
    font-family: LucidaGrande;
    font-size: 10.1px;
    text-align: center;
    color: #404040;
    padding: 5px 10px;
    margin-left: 60px;
    cursor: pointer;
}

.backTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    /* right: 26%; */
    bottom: 50px;
    display: none;
}

.backTop img {
    width: 100%;

}

.cityBanner {
    width: 100%;
    height: 400px;
}

.city_box {
    width: 100%;
    height: 100%;
    padding-top: 135px;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    left: 0%;
}

.shade_box {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #9797979d;
    background-image: linear-gradient(to bottom, #ffffff -41%, #000000 122%);
    opacity: 0.71;
    width: 100%;
    height: 100%;
}

.city_box .text_banner .Schedule-a-meeting {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-family: LucidaGrande;
    font-size: 30px;
    color: #ffffff;
}

.city_box .text_banner .city_name {
    font-family: LucidaGrande;
    font-size: 15px;
    color: #ffffff;
}

.city_box .buttom_banner {
    text-align: center;
    margin-top: 120px;
}

.city_box .buttom_banner .white_button {
    border-radius: 14.5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    padding: 5px 25px;
    font-family: LucidaGrande;
    font-size: 15px;
    color: #404040;
    cursor: pointer;
    margin: 0 10px;
}

.cityBanner img {
    width: 100%;
    height: 400px;
}

.city_box .text_banner {
    display: inline-block;
    text-align: right;
    position: absolute;
    left: 135px;
}



.city_box .buttom_banner .white_button {
    border-radius: 14.5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    padding: 5px 25px;
    font-family: LucidaGrande;
    font-size: 15px;
    color: #404040;
    cursor: pointer;
    margin: 0 10px;
}


.swiper-button-prev{
    left: 76px;
}

.swiper-button-next{
    right: 76px;
}


.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev {
    border: 10px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
}

.swiper-button-next {
    border: 10px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: transparent;
}

.swiper-button-next,
.swiper-button-prev {
    width: 0;
    height: 0;
    color: #fff;
}


.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
}



.swiper-container {
    width: 960px;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}