// Variables
// --------------------------------------------------
$white: #fff !default;
$black: #000 !default;


$text-color:#0f0f0f;
$active-color:#ee4023;
$font-size-base:14px;

$font-family: 'Source Sans Pro',
sans-serif;

// --------------------------------
