.page-preload {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.topbar {
    background-color: $active-color;
    height: 45px;

    .tb-item {
        float: left;
        margin: 0px 20px 0px 0px;
        line-height: 45px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;

        @media screen and (max-width: 1199px) {
            font-size: 14px;
            margin: 0px 10px 0px 0px;
        }

        @media screen and (max-width: 991px) {
            display: none;
        }

        .icon {
            width: 45px;
            height: 45px;
            float: left;
            background-image: url(../images/icon-calendar.png);
            background-repeat: no-repeat;
            background-position: center center;

            &.address {
                background-image: url(../images/icon-address.png);
            }

            &.phone {
                background-image: url(../images/icon-phone.png);
            }
        }

    }

    .user {
        float: left;
        margin: 0px 20px 0px 0px;
        line-height: 45px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;

        .icon {
            width: 45px;
            height: 45px;
            float: left;
            background-image: url(../images/icon-user.png);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .cart {
        float: right;

        .cart-icon {
            width: 45px;
            height: 45px;
            float: left;
            background-image: url(../images/icon-cart.png);
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;

            .number {
                color: $red;
                width: 15px;
                height: 15px;
                display: block;
                border-radius: 50%;
                text-align: center;
                line-height: 15px;
                position: absolute;
                background-color: #fff;
                top: 8px;

                right: 5px;
                font-size: 10px;
                font-weight: 700;

            }
        }
    }

    .float-right {
        @media screen and (max-width: 991px) {
            float: none;
            width: 100%;
        }
    }
}

.header {

    background-color: #fff;
    padding: 30px 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 991px) {
        padding: 15px 0px;

    }

    a.logo {
        float: left;

        img {
            height: 40px;


        }

        @media screen and (max-width: 991px) {
            margin: 5px 0px 0px 0px;

            img {
                height: 30px;
            }
        }
    }

    .menu {
        float: left;
        margin: 0px 0px 0px 50px;

        @media screen and (max-width: 1199px) {
            margin: 0px 0px 0px 0px;
        }

        @media screen and (max-width: 991px) {
            display: none;
        }

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                display: inline-block;
                line-height: 40px;
                margin: 0px 0px 0px 60px;

                @media screen and (max-width: 1199px) {
                    margin: 0px 0px 0px 30px;
                }

                a {
                    display: block;
                    line-height: 40px;
                    color: $text-color;
                    font-weight: 700;
                    font-size: 16px;
                    transition: all ease 0.3s;
                    text-transform: uppercase;
                }

                &:hover {
                    a {
                        color: $active-color;
                    }
                }

                &.active {
                    a {
                        color: $active-color;


                    }
                }
            }
        }
    }

    .float-right {
        padding: 5px 0px 0px 0px;

        .cta {
            float: left;

            @media screen and (max-width: 991px) {
                display: none;
            }
        }

        .language {
            float: left;

            a {
                display: block;
                margin: 0px 0px 0px 10px;
                height: 30px;
                background-color: $bg-color;

                padding: 5px 15px 5px 5px;
                line-height: 20px;
                border-radius: 30px;
                color: $text-color;

                span {
                    width: 20px;
                    height: 20px;
                    float: left;
                    background-image: url(../images/en.png);
                    margin: 0px 10px 0px 0px;
                }
            }
        }

        .app {
            float: left;

            a {
                display: block;
                margin: 0px 0px 0px 10px;
                padding: 0px;
                line-height: 30px;
                border-radius: 30px;
                color: $text-color;

                span {
                    width: 30px;
                    height: 30px;
                    float: left;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url(../images/icon-app.png);
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }


}

.page {
    transition: all ease 0.3s;
    position: relative;
}

.menu-icon {
    width: 30px;
    height: 30px;
    padding: 7px 0px 0px 0px;
    margin: 0px 0px 0px 15px;

    display: none;

    @media screen and (max-width: 991px) {
        display: block;
        cursor: pointer;
    }

    span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $text-color-second;

        margin: 0px 0px 5px 0px;
    }
}

.menu-mobile {
    position: fixed;
    width: 280px;
    top: 0px;
    right: -280px;
    transition: all ease 0.3s;
    background-color: $text-color;
    bottom: 0px;
    padding: 30px 0px 0px 0px;

    @media screen and (min-width: 992px) {
        display: block;
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            margin: 0px 0px 10px 0px;

            a {
                padding: 10px 20px 20px 20px;
                font-size: 14px;
                font-family: $font-family;
                color: #fff;
                font-weight: 700;
                opacity: 0.9;
                text-transform: uppercase;

                &:hover {
                    opacity: 1;
                }
            }

            &.active {
                a {
                    color: $active-color;
                }
            }
        }
    }
}

.open-menu {
    .menu-mobile {
        right: 0px;
    }

    .page {
        transform: translateX(-280px);
    }
}

.home-slider {
    position: relative;

    .hst-content {
        max-width: 600px;

        @media screen and (max-width: 991px) {
            max-width: 400px;
        }


    }

    .home-slider-text {
        padding: 0px 100px;

        @media screen and (max-width: 991px) {
            padding: 0px 30px;

        }
    }

    .home-slider-item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 430px;






    }


    .owl-prev {
        background-image: url(../images/prev.png);
        width: 34px;
        height: 34px;
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -17px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;
        background-repeat: no-repeat;



    }

    .owl-next {
        background-image: url(../images/next.png);
        width: 34px;
        height: 34px;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -17px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;
        background-repeat: no-repeat;


    }
}
