.list-group-item:focus, .list-group-item:hover{
    z-index: 0;
}
.list-group-item{
    border: 1px solid #DBE9F1;
}
.bs-popover-bottom{
    margin-top: 0px;
}
.search input.customCalendar{
    padding-left: 10px;
    background: url('../icons/lich.svg') no-repeat center right 10px;
    border-color: #DBE9F1;    
}
.search input.customCalendar:focus{
    box-shadow: none;
    border-color: #DBE9F1;    
}
.popover.popover-calender-container{
    border-color: #DBE9F1;    
}

.pagination a{
    color: #303132
}