//
// Variables
// --------------------------------------------------
//== Colors
//== Gray Levels

$gray-3: #ffffff !default;
$gray-4: #f5f4f5 !default;
$gray-5: #ebeaeb !default;
$gray-6: #e1dfe1 !default;
$gray-7: #d7d5d7 !default;
$gray-8: #cecace !default;
$gray-9: #c4c0c4 !default;
$gray-10: #bab5ba !default;
$gray-20: #b0abb0 !default;
$gray-30: #a6a0a6 !default;
$gray-40: #9c969c !default;
$gray-50: #928b92 !default;
$gray-60: #888188 !default;
$gray-70: #7e777e !default;
$gray-80: #746d74 !default;
$gray-90: #696369 !default;
$gray-100: #5f595f !default;
$gray-200: #544f54 !default;
$gray-300: #4a454a !default;
$gray-400: #3f3b3f !default;
$gray-500: #353135 !default;
$gray-600: #262426 !default;
$gray-700: #201e20 !default;
$gray-800: #151415 !default;
$gray-900: #0b0a0b !default;
$black: #000 !default;


$color-20: #F4F5F7 !default;
$color-30: #EBECF0 !default;
$color-40: #1FA2FF !default;
$color-50: #0A99FF !default;
$color-60: #008FF5 !default;
$color-70: #0083E0 !default;
$color-80: #007ACC !default;
$color-90: #006EB8 !default;
$color-100: #0062A3 !default;
$color-200: #00568F !default;
$color-300: #00568F !default;
$color-400: #00497A !default;
$color-500: #003D66 !default;
$color-600: #003152 !default;
$color-700: #00253D !default;
$color-800: #001829 !default;
$color-900: #000C14 !default;
//==Base color
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;


// Other Brand colors
// -------------------------
$brand-facebook: #3b5998;
$brand-twitter: #3a92c8;
$brand-google: #dd4b39;
$brand-dribbble: #c32361;
$brand-youtube: #b00;
$brand-pinterest: #cb2027;
$brand-instagram: #fb3958;
$brand-rss: #f26522;


$active-color:#0099fe;

$text-color-heading:$gray-800;
$text-color: $gray-9;
$text-color-meta: $gray-100;
$border-color: $gray-50;
$border-radius:2px;


$pro-color:#dd4b39;

$beta-color:#dd4b39;




$fs10:0.625rem;
$fs12:0.75rem;
$fs13:0.8125rem;
$fs14:0.875rem;
$fs16:1rem;
$fs18:1.125rem;
$fs20:1.25rem;
$fs22:1.375rem;
$fs24:1.5rem;
$fs26:1.1625rem;
$fs28:1.75rem;
$fs30:1.1875rem;
$fs32:2rem;
$fs34:2.125rem;
$fs36:2.25rem;


$font-size-base: $fs14;
$font-size-heading: $fs18;

//== Typography
$font-size-large:60px;
$font-size-h1: 3.5rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.5rem;



// NNTH: Font Weight Variants
// --------------------------------
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;


// Typography
// -------------------------
$font-family:'Open Sans',
sans-serif;
