@font-face {
    font-family: volvo-broad;
    src: url(helpforms/volvoselekt/fonts/VolvoBroad.ttf);

}

@font-face {
    font-family: volvo-sans;
    src: url(helpforms/volvoselekt/fonts/VolvoSans.ttf);
}

body {
    font-family: volvo-sans;
}

h1 {
    font-family: volvo-broad;
}

.main-container {
    width: 880px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    padding: 0 20px;

}

.first-page {}

.volvo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.volvo-logo img {
    height: 95px;
}

.main-header {
    font-size: 41px;
    letter-spacing: 9px;
    text-align: center;
    margin-top: 30px;
    /*Change from original 50px*/
}

.sub-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.sub-header h3 {
    margin-right: 15px;
    letter-spacing: 8px;
}

.sub-header img {
    height: 85px;
}

.cars {
    position: absolute;
    width: 100%;
    left: 0;
    top: 395px;
}

.cars img {
    width: 100%;
}

.first-page-text {
    margin-top: 565px;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: center;
}

.first-page-text b {
    text-transform: uppercase;
    font-size: 12px;
}

.certifikat {
    margin-top: 45px;
    width: 100%;
    position: relative;
    padding-bottom: 17px;
}

.certifikat-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/certificate2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 18px;
    -webkit-print-color-adjust: exact !important;
    z-index: -1;
    /*  opacity: .11; */
}

.certifikat-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.certifikat-header h1 {
    padding: 0 8px;
    font-size: 42px;
    letter-spacing: 2.7px;
}

.certifikat-header p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #222;
}

.certifikat-signatures {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.signature-item {
    width: calc(50% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.signature-item p:last-child {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 8px;
    border-bottom: 1px solid #222;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-header h2 {
    font-family: volvo-broad;
    font-size: 33px;
    letter-spacing: 2.5px;
}

.second-page {
    padding: 0 20px;
    margin-top: 15px;
    /*change from original 50px*/
}

.page-content {
    margin-left: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 1180px;
    margin-top: 40px;
}

.text-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 50px);
    font-size: 12px;
    padding: 0px 6px;
    margin-left: 20px;
}

.page-content .text-item:nth-child(even) {
    background-color: #ededed;
    -webkit-print-color-adjust: exact !important;
}

.page-content h4 {
    letter-spacing: 1px;
}

.page-content h4,
.page-content b {
    line-height: 27px;
}

.empty-item {
    height: 27px;
    padding: 0 6px;
}

.checkboxFive {
    position: relative;
    height: 14px;
}

.checkboxFive input {
    opacity: 0;
    height: 13px;
}

.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 6px;
    left: 0px;
    background: #fff;
    -webkit-print-color-adjust: exact !important;
    background-image: url("../images/unchecked.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.checkboxFive label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url("../images/checked.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.checkboxFive label:hover::after {
    opacity: 0.1;
}

.checkboxFive input[type=checkbox]:checked + label {
    background-image: none;
}

.checkboxFive input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.text-item p {
    line-height: 27px;
}

.third-page {
    padding: 0 20px;
    margin-top: 5px;
    /*change from original 50px*/
}

/**********news style***********/

.page-second {}

.block-large {
    text-align: center;
    margin: 30px 0px 20px 0px;

}

.block-large img {
    width: 100%;
}

.block-large h3 {
    text-align: center;
    font-size: 22px;
    color: #000;
    margin: 25px 0px 10px 0px;
    font-weight: normal;


}

.block-large p {
    max-width: 800px;
    margin: 0px auto;
    font-size: 15px;
    line-height: 1.4;
    color: #333;
}

.block-large {
    width: 100%;


}

.block-small {

    margin-bottom: 30px;

    display: flex;
    align-items: center;

}

.block-small .bs-des {
    width: 50%;
    padding: 0px 30px 0px 0px;

}

.block-small .bs-des.fix {
    padding: 0px 0px 0px 30px;
}

.block-small .bs-des h3 {

    font-size: 22px;
    color: #000;
    margin: 0px 0px 10px 0px;
    font-weight: normal;


}

.block-small .bs-des p {
    max-width: 800px;
    margin: 0px;
    font-size: 15px;
    line-height: 1.4;
    color: #333;
}

.block-small .bs-des p a {
    color: #275b9b;
}

.block-small .bs-img {
    width: 50%;
}

.block-small .bs-img img {
    width: 100%;
}

.block-small {}



.block-garanti {



    position: relative;


}

.block-garanti img {
    width: 100%;
}

.block-garanti .des {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 400px;



}



.block-garanti .des h3 {

    font-size: 22px;
    color: #000;
    margin: 0px 0px 10px 0px;
    font-weight: normal;


}

.block-garanti .des p {
    max-width: 800px;
    margin: 0px;
    font-size: 15px;
    line-height: 1.4;
    color: #333;
}

.block-bottom {
    padding: 30px;

    background-color: #f6f6f6;
}

.bb-flex {
    display: flex;
}

.bb-col {
    width: 50%;
    padding: 10px;
}

.bb-col h4 {

    font-size: 16px;
    color: #000;
    margin: 0px 0px 10px 0px;


}

.bb-col p {
    max-width: 800px;
    margin: 0px 0px 5px 0px;
    position: relative;
    padding: 0px 0px 0px 20px;

    font-size: 15px;
    line-height: 1.4;
    color: #333;
}

.bb-col p:before {
    content: "";
    display: block;
    width: 5px;
    border-radius: 50%;
    background-color: #111;
    position: absolute;
    top: 7px;
    left: 0px;
    height: 5px;
}

.bb-col {}

.bb-col {}

.bb-note {
    padding: 0px 0px 0px 0px;

    font-size: 11px;
    line-height: 1.4;
    color: #333;

}
