//
// Variables
// --------------------------------------------------
//== Colors
//== Gray Levels
$gray: #95a5a6;

$gray-dark: #7f8c8d;
$gray-darker: #34495e;
$gray-darkest: #2c3e50;

$gray-light: #bdc3c7;
$gray-lighter: #ecf0f1;
$gray-lightest: #f3f5f5;



$black: #000;
$white: #fff;
$blue: #2b85c1;
$blue-dark: darken($blue, 15%);
$green: #7bc523;
$green-l1:#319e7c;
$cyan: #56a3cd;
$cyan-l1:#77c5b3;
$cyan-d1:#3f8ca3;


$red: #b41435;
$red-l1:#cf0226;
$yellow: #eff022;
$yellow-d1:#f8f400;
$yellow-d2:#cbc440;
$orange: #ee9b00;
$pink: #c10936;
$pink-l1:#f59fbc;
$purple: #321a4a;

// Other Brand colors
// -------------------------
$brand-facebook: #3b5998;
$brand-twitter: #3a92c8;
$brand-google: #dd4b39;
$brand-dribbble: #c32361;
$brand-youtube: #b00;
$brand-pinterest: #cb2027;
$brand-instagram: #fb3958;
$brand-rss: #f26522;

$success-color:#28b260;
$error-color:#f44336;






$text-color: #252525;
$text-color-second: #464646;
$text-color-third: #acacac;

$active-color: #1fb317;
$active-color-second: #01579b;
$hover-color:lighten($active-color, 5%);
$border-color: #ececec;
$bg-color:#d7d7d7;
$border-radius:2px;




//== Padding
$padding-section:60px;
$padding-section-mobile:30px;


//== Typography
$font-size-large:60px;
$font-size-h1: 35px;
$font-size-h2: 30px;
$font-size-h3: 25px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 15px;

$font-size-base: 14px;
$font-size-heading: 18px;

// NNTH: Font Weight Variants
// --------------------------------
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;


h1,
.h1 {
    font-size: $font-size-h1;
}

h2,
.h2 {
    font-size: $font-size-h2;
}

h3,
.h3 {
    font-size: $font-size-h3;
}

h4,
.h4 {
    font-size: $font-size-h4;
}

h5,
.h5 {
    font-size: $font-size-h5;
}

h6,
.h6 {
    font-size: $font-size-h6;
}

// Typography
// -------------------------
//$font-family:'Open Sans',sans-serif;
$font-family:Microsoft JhengHei,
sans-serif;


$font-family-base: $font-family;


$font-family-heading:$font-family;


//$font-family-meta:'Lora', ;
$headings-margin-bottom:10px;
$section-margin-bottom:20px;

//Custom font
