//background    background-color: $white;
.bg-black {
    background-color: $black;
}

.bg-sliver {
    background-color: $bg-color;

}

.font-heading {

    font-family: $font-family-heading;
}

.text-primary {
    color: $active-color;
}

.no-center {
    margin: 0px;
}



//button
.db-btn {
    line-height: 45px;
    border-radius: 30px;
    padding: 0px 30px;
    font-size: 14px;
    transition: all ease 0.3s;
    background-color: $active-color;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (max-width: 991px) {
        font-size: 13px;
        line-height: 40px;
        padding: 0px 20px;
    }

    &:hover {
        background-color: lighten($active-color, 10%);
        cursor: pointer;
        color: #fff;



    }

    &.second {
        background-color: $active-color-second;
        color: #fff;

        &:hover {
            background-color: $hover-color;
            cursor: pointer;
            color: #fff;


        }
    }

    &.link {
        color: $active-color;
        background: none;
        box-shadow: none;


        &:hover {
            color: $active-color;
            background: none;

        }
    }

}


//radio
.db-radio {
    display: inline-block;
    position: relative;
    cursor: pointer;

    span {
        display: inline-block;
        padding: 0px 0px 0px 30px;
        position: relative;
        line-height: 40px;
        font-size: 14px;


        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            position: absolute;
            top: 10px;
            left: 0px;
            border: 1px solid $border-color;
            border-radius: 50%;
            background-color: #fff;


        }


        cursor: pointer;
    }

    input {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &:checked ~ span {
            color: $active-color;

            &:before {

                border: 1px solid $active-color;
            }

            &:after {

                width: 14px;
                height: 14px;
                background-color: $active-color;
                content: "";
                display: block;
                border-radius: 50%;
                position: absolute;
                top: 13px;
                left: 3px;





            }
        }
    }


}

.db-radio-fill {
    display: inline-block;
    position: relative;
    cursor: pointer;

    span {
        display: inline-block;
        padding: 0px 10px 0px 35px;
        position: relative;
        line-height: 30px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 2px;
        background-color: $active-color;
        color: #fff;


        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: #fff;
            border-radius: 50%;
            background-color: #fff;


        }


        cursor: pointer;
    }

    input {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &:checked ~ span {

            background-color: $active-color-second;

            &:before {}

            &:after {

                width: 12px;
                height: 12px;
                background-color: $active-color-second;
                content: "";
                display: block;
                border-radius: 50%;
                position: absolute;
                top: 9px;
                left: 9px;





            }
        }
    }


}

.db-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;

    span {
        display: inline-block;
        padding: 0px 0px 0px 30px;
        position: relative;
        line-height: 40px;
        font-size: 14px;

        &:before {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            content: "";
            position: absolute;
            top: 10px;
            left: 0px;
            border: 1px solid $border-color;
            border-radius: 1px;
            background-color: #fff;


        }


        cursor: pointer;
    }

    input {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &:checked ~ span {
            color: $active-color;

            &:before {

                border: 1px solid $active-color;

            }

            &:after {

                content: "\f00c";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                width: 18px;
                height: 18px;
                display: block;
                top: 10px;
                left: 0px;
                border: none;
                position: absolute;
                line-height: 18px;
                text-align: center;
                font-size: 12px;

            }
        }
    }

}


.db-checkbox-fill {
    display: inline-block;
    position: relative;
    cursor: pointer;

    span {
        display: inline-block;
        padding: 0px 10px 0px 35px;
        position: relative;
        line-height: 30px;
        font-size: 14px;
        border-radius: 2px;
        background-color: $active-color;
        color: #fff;


        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: #fff;
            border-radius: 2;
            background-color: #fff;


        }


        cursor: pointer;
    }

    input {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &:checked ~ span {
            background-color: $active-color-second;

            &:before {}

            &:after {

                content: "\f00c";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                width: 18px;
                height: 18px;
                display: block;
                top: 7px;
                left: 7px;
                border: none;
                position: absolute;
                line-height: 18px;
                text-align: center;
                color: $active-color-second;
                font-size: 12px;

            }
        }
    }

}

//db-text
.db-text {
    display: block;
    width: 100%;
    padding: 0px 10px;
    background: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 2px;
    transition: all ease 0.3s;
    height: 40px;
    font-size: 14px;
    outline: none;

    &:focus {
        border: 1px solid $active-color;
    }

    &::-webkit-input-placeholder {
        color: #aaa;
    }

    &:-ms-input-placeholder {
        color: #aaa;
    }

    &::placeholder {
        color: #aaa;
    }

}

.db-area {
    display: block;
    width: 100%;
    padding: 10px 10px;
    background: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 2px;

    transition: all ease 0.3s;
    height: 100px;
    font-size: 14px;
    outline: none;

    &:focus {

        border: 1px solid $active-color;
    }

    &::-webkit-input-placeholder {
        color: #aaa;
    }

    &:-ms-input-placeholder {
        color: #aaa;
    }

    &::placeholder {
        color: #aaa;
    }
}

//db-field
.db-field {
    margin: 0px 0px 20px 0px;
    position: relative;


    p {
        margin: 0px 0px 8px 0px;
        font-size: 12px;
        font-weight: 500;
    }
}

.db-warning {
    color: $active-color-second;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;

    .icon-warning {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url(../images/icon-warning.svg);
        margin: 0px 5px 0px 0px;
        background-size: 14px auto;
        position: relative;

    }

}


.page-preload {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

img {
    max-width: 100%;
}

.container-large {
    @media screen and (min-width: 1330px) {
        max-width: 1140px;
    }

    @media screen and (min-width: 1500px) {
        max-width: 1312px;
    }
}

.clearfix {
    clear: both;
}

.color-green {
    color: $green;

}

.color-red {
    color: red;
}

.color-danger {
    color: $orange;
}
