@charset "UTF-8";
/*------------------------------------------------------------------
[Table of contents]

1.Common
2. WordPress Core
3. Header
4. Posts
  -Comments
  -Widgets
5. Footer
6. 404 page
7. @media
8. Elementor related

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Common]
*/

* {
    word-wrap: break-word;
}

input,
textarea {
    display: block;
    font-family: "Open Sans";
    background-color: #1E1E1E;
    color: #999999;
    font-size: 13px;
    width: 100%;
    padding: 0 18px;
    border: 1px solid #4a4a4a;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type=submit] {
    cursor: pointer;
}

select {
    display: block;
    width: 100%;
    padding: 0 10px;
    height: 45px;
    font-size: 13px;
    background-color: #2a2a2a;
    border: 1px solid #4a4a4a;
    color: white;
    cursor: pointer;
}

select option {
    color: white;
}

a {
    outline: none !important;
    text-decoration: none;
}

a:hover {
    color: #ea1d5e;
}

h1 {
    font-size: 2em;
}

img,
iframe {
    max-width: 100%;
    height: auto;
}

iframe {
    height: 400px;
}

table {
    width: 100%;
}

table:not(#wp-calendar) {
    margin-bottom: 20px;
}

table:not(#wp-calendar) td,
table:not(#wp-calendar) th {
    padding: 17px 0.4em;
}

table:not(#wp-calendar) td:first-child,
table:not(#wp-calendar) th:first-child {
    padding-left: 0;
}

table:not(#wp-calendar) tr {
    border-bottom: 1px solid #353535;
}

dd {
    margin: 0 1.5em 1.5em;
}

abbr {
    color: white;
}

hr {
    margin: 20px 0;
}

code {
    background-color: rgba(234, 29, 94, 0.2);
    padding: 2px 4px;
    color: #ea1d5e;
    border-radius: 3px;
    margin: 0 2px;
}

blockquote {
    font-weight: 600;
    padding: 0 20px;
    border-left: 4px solid #cbcbcb;
}

blockquote p {
    margin: 0;
}

address {
    font-style: italic;
}

pre {
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #4a4a4a;
    color: white;
}

kbd {
    background-color: white;
    padding: 2px 4px;
    color: #111111;
    border-radius: 3px;
    margin: 0 2px;
}

.main {
    margin-top: 50px;
}

#breadcrumbs {
    color: #999999;
    text-transform: uppercase;
    margin: 82px 0 62px;
}

#breadcrumbs a,
#breadcrumbs .separator {
    color: #999999;
}

#breadcrumbs .separator {
    display: inline-block;
    margin: 0 10px;
}

#breadcrumbs a {
    color: #ea1d5e;
}

/*------------------------------------------------------------------
[2. WordPress Core]
*/

.alignnone {
    margin: 5px 0 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px !important;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0 !important;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #171717;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.wp-caption-text {
    color: #6e6e6e;
}

.wp-caption-text a {
    color: #ea1d5e;
    text-decoration: underline;
}

/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

.sticky,
.gallery-caption,
.bypostauthor {
    position: relative;
}

#custom-gallery .gallery-columns {
    padding: 0 15px;
    margin-bottom: 15px;
}

#custom-gallery .gallery-columns-1 {
    width: 100%;
}

#custom-gallery .gallery-columns-2 {
    width: 50%;
}

#custom-gallery .gallery-columns-3 {
    width: 33.33%;
}

#custom-gallery .gallery-columns-4 {
    width: 25%;
}

#custom-gallery .gallery-columns-5 {
    width: 20%;
}

#custom-gallery .gallery-columns-6 {
    width: 16.666%;
}

#custom-gallery .gallery-columns-7 {
    width: 14.285%;
}

#custom-gallery .gallery-columns-8 {
    width: 12.5%;
}

#custom-gallery .gallery-columns-9 {
    width: 11.1%;
}

#custom-gallery .preview {
    display: block;
    position: relative;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#custom-gallery .preview:hover::before,
#custom-gallery .preview:hover::after {
    opacity: 1;
}

#custom-gallery .preview::before {
    content: "";
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: inherit;
    transition: inherit;
}

#custom-gallery .preview::after {
    content: "";
    font-family: "Ionicons";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: inherit;
    transition: inherit;
}

#custom-gallery .text {
    font-size: 14px;
    color: white;
    margin-bottom: 0;
    text-align: center;
    padding-top: 5px;
}

#custom-gallery .gallery-columns-1 .gallery-image,
#custom-gallery .gallery-columns-2 .gallery-image {
    height: 350px;
}

#custom-gallery .gallery-image {
    height: 170px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/*------------------------------------------------------------------
[3. Header]
*/

.header .site-logo-title {
    margin: 0;
    line-height: 1;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.header .site-logo-text {
    white-space: nowrap;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    color: #ea1d5e;
    margin-top: 8px;
    letter-spacing: 2.85px;
}

.header.header-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header.header-image::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.header .smart-search-form {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0c0c0c;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 1;
    overflow: hidden !important;
    trasform: scale(1);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: transform 0.35s, opacity 0.35s;
    transition: transform 0.35s, opacity 0.35s, -webkit-transform 0.35s;
}

.header .smart-search-form .search-wr #search::-webkit-input-placeholder {
    color: white;
    font-size: 24px;
}

.header .smart-search-form .search-wr #search:-ms-input-placeholder {
    color: white;
    font-size: 24px;
}

.header .smart-search-form .search-wr #search::placeholder {
    color: white;
    font-size: 24px;
}

.header .smart-search-form .search-wr .submit {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    padding: 0;
}

.header .smart-search-form a.smart-search-close {
    font-size: 24px;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    top: 60px;
    right: 60px;
}

.header .hidden.smart-search-form {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    height: 0;
    width: 0;
}

.header #search-smart {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.header .login {
    cursor: pointer;
    text-decoration: none !important;
    margin-right: 33px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.header .login .icon {
    font-size: 28px;
    color: white;
}

.header .login .icon:hover {
    color: #ea1d5e;
}

.site-logo,
.custom-logo-link {
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-decoration: none !important;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}

.site-logo img,
.custom-logo-link img {
    max-height: 90px;
    max-width: 120px;
    -o-object-fit: cover;
    object-fit: cover;
}

.navigation > ul#top-menu {
    position: relative;
    padding: 0;
    margin: 0;
}

.navigation > ul#top-menu::after {
    content: "";
    clear: both;
    display: block;
}

.navigation > ul#top-menu > li {
    position: relative;
    float: left;
    margin-right: 35px;
    padding: 0;
}

.navigation > ul#top-menu > li.current-menu-ancestor > a,
.navigation > ul#top-menu > li.current-menu-ancestor > .sub-menu-toggle {
    color: #999;
}

.navigation > ul#top-menu > li.menu-item-has-children:hover > .sub-menu {
    display: block;
}

.navigation > ul#top-menu > li.menu-item-has-children .menu-item-has-children:hover > .sub-menu {
    padding-top: 0;
    display: block;
    top: 0;
    left: 100%;
    right: initial;
    border-left: 1px solid #232323;
}

.navigation > ul#top-menu > li:last-child {
    margin-right: 0;
}

.navigation > ul#top-menu .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -23px;
    width: 230px;
    background-color: transparent;
    padding: 22px 0 0 0;
    white-space: nowrap;
    z-index: 99;
}

.navigation > ul#top-menu .sub-menu .sub-menu-toggle {
    top: -3px;
}

.navigation > ul#top-menu .sub-menu li {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #171717;
    padding: 11px 23px;
    border-bottom: 1px solid #232323;
}

.navigation > ul#top-menu .sub-menu li:first-child {
    padding-top: 11px;
}

.navigation > ul#top-menu .sub-menu li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.navigation > ul#top-menu .sub-menu li::after {
    display: none;
}

.navigation > ul#top-menu .sub-menu li.current-menu-item > a,
.navigation > ul#top-menu .sub-menu li.current-menu-item > .sub-menu-toggle,
.navigation > ul#top-menu .sub-menu li.current-menu-ancestor > a,
.navigation > ul#top-menu .sub-menu li.current-menu-ancestor > .sub-menu-toggle {
    color: #ea1d5e !important;
}

.navigation > ul#top-menu .sub-menu a {
    color: #999;
    display: block;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.navigation > ul#top-menu .sub-menu a:hover {
    color: #ea1d5e !important;
}

.navigation ul {
    list-style: none;
}

.navigation li.current-menu-item > a,
.navigation li.current-menu-parent > a {
    color: #999 !important;
}

.navigation .sub-menu-toggle {
    display: none;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    cursor: pointer;
}

.navigation .sub-menu-toggle.active::after {
    content: "" !important;
}

.navigation .sub-menu-toggle::after {
    content: "";
    font-family: FontAwesome;
}

.navigation a {
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none !important;
    padding: 10px 0px;
    border-bottom: 2px solid transparent;

}


.navigation a:hover {
    color: #999;
}

.right-sec-nav {
    color: white;
    font-size: 12px;
}

.right-sec-nav .ion-ios-search {
    font-size: 24px;
    color: #ea1d5e;
}

.smart-search-form .search-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 850px;
    width: 100%;
    min-width: 300px;
}

.smart-search-form .search-wr input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #696969;
    color: white;
    font-size: 24px;
    width: 100%;
}

.smart-search-form .search-wr input::-webkit-input-placeholder {
    color: white;
}

.smart-search-form .search-wr input:-ms-input-placeholder {
    color: white;
}

.smart-search-form .search-wr input::placeholder {
    color: white;
}

.smart-search-form .search-wr .submit {
    background-color: #ea1d5e;
    width: 80px;
    border: none;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.smart-search-form .search-wr .ion-ios-search {
    color: white;
}

/*------------------------------------------------------------------
[4. Posts]
*/

.blog-entry .excerpt,
.blog-entry .post-content p {
    margin-bottom: 1rem;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: inherit;
}

.blog-entry.blog-standart .title {
    display: block;
    font-weight: 700;
    margin: 11px 0 9px;
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.blog-entry.blog-standart .title:hover {
    color: #ea1d5e;
}

.blog-entry.blog-standart .recent-posts-item {
    margin-bottom: 70px;
}

.blog-entry.blog-standart .recent-posts-item:last-child {
    margin-bottom: 0;
}

.blog-entry.blog-standart .recent-posts-item .title {
    margin-top: 0;
}

.blog-entry.blog-standart .recent-posts-item .post-img-wr {
    overflow: hidden;
}

.blog-entry.blog-standart .recent-posts-item .post-img-wr img {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.blog-entry.blog-standart .recent-posts-item .post-img-wr:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.blog-entry.blog-standart .recent-posts-item .post-img-wr:hover + .title-wr .title {
    color: #ea1d5e;
}

.blog-entry.blog-standart .post-img-wr {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.blog-entry.blog-standart .title-wr .title {
    font-size: 26px;
}

.blog-entry.blog-standart .title-wr + .publish-age {
    margin-bottom: 13px;
}

.blog-entry.blog-standart .post-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 37px;
    height: 54px;
    border-top: 1px dashed #353535;
    border-bottom: 1px dashed #353535;
}

.blog-entry.blog-standart .post-footer .read-more {
    font-size: 11px;
    color: #ea1d5e;
    letter-spacing: 0.55px;
    text-transform: uppercase;
}

.blog-entry.blog-standart .post-footer .share {
    margin: 0;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.blog-entry.blog-standart .post-footer .share a {
    color: white;
    font-size: 13px;
    margin-left: 15px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.blog-entry.blog-standart .post-footer .share a:hover {
    color: #ea1d5e;
    text-decoration: none;
}

.blog-entry.blog-standart .excerpt {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
}

.blog-entry.blog-standart .excerpt::after {
    content: "";
    display: block;
    clear: both;
}

.blog-entry.blog-standart .excerpt a {
    color: white;
}

.single-post-content .single-post-img {
    margin-bottom: 0;
    margin-top: 20px;
}

.single-post-content .post-reviews-count a {
    font-size: 12px;
    color: white;
}

.single-post-content .post-reviews-count a:hover {
    color: #ea1d5e;
}

.single-post-content .post-content {
    font-family: Roboto;
}

.single-post-content .post-content ul,
.single-post-content .post-content ol {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: initial;
}

.single-post-content .post-content li {
    margin-bottom: initial;
    line-height: 1.5;
}

.single .single-post-entry .post-content {
    border-bottom: 0;
    padding-bottom: 0;
}

.page-blog + .blog-grid {
    margin-top: 100px;
}

.page-title {
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
}

.post-category {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.post-category a {
    color: #ea1d5e;
}

.single-post-img {
    text-align: center;
}

.post-title {
    margin-bottom: 0;
    color: white;
    font-size: 36px;
    font-weight: 500;
}

.post-title + .single-post-img {
    margin-top: 15px;
}

.publish-age {
    font-size: 12px;
    font-weight: 300;
    color: #a5a5a5;
}

.publish-age a {
    font-size: inherit;
    color: #ea1d5e;
}

.publish-age .separator {
    display: inline-block;
    margin: 0 8px;
}

.publish-age .comments {
    color: white;
}

.publish-age .sticky-post {
    padding: 2px 10px;
    background-color: #ea1d5e;
    color: white;
    float: right;
}

.post-content {
    margin-top: 40px;
}

.post-content::after {
    content: "";
    display: block;
    clear: both;
}

.post-content a {
    text-decoration: underline;
    color: white;
}

.post-content a:hover {
    color: #ea1d5e;
}

.post-author {
    margin-top: 50px;
}

.post-author .blog-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #171717;
    padding: 29px 45px 22px 35px;
    margin-bottom: 0;
}

.post-author .blog-comment .author-photo-wr img {
    width: 100px;
    height: 100px;
}

.post-author .blog-comment .author-photo-wr {
    width: auto;
}

.post-author .blog-comment .author-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: initial;
    margin-left: 35px;
}

.post-author .blog-comment .author-name {
    font-size: 24px;
}

/*pagination*/

.navigation.post-navigation {
    margin-right: 0;
    margin-top: 30px;
}

.navigation.post-navigation .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0 13px;
    border-top: 1px dashed #353535;
    border-bottom: 1px dashed #353535;
}

.navigation.post-navigation .nav-previous,
.navigation.post-navigation .nav-next {
    width: 50%;
}

.navigation.post-navigation .nav-previous a,
.navigation.post-navigation .nav-next a {
    color: #ea1d5e;
}

.navigation.post-navigation .nav-previous a:hover,
.navigation.post-navigation .nav-next a:hover {
    text-decoration: underline !important;
}

.navigation.post-navigation .nav-previous {
    padding-right: 15px;
}

.navigation.post-navigation .nav-next {
    padding-left: 15px;
    text-align: right;
}

.navigation.pagination {
    margin: 0;
}

.navigation.pagination .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navigation.pagination .page-numbers {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #4a4a4a;
    color: #999999;
    background-color: #171717;
    font-size: 14px;
    text-align: center;
    margin: 0 10px 10px 0;
    text-decoration: none !important;
    -webkit-transition: border-color 0.3s, color 0.3s, background-color 0.3s;
    transition: border-color 0.3s, color 0.3s, background-color 0.3s;
}

.navigation.pagination .page-numbers:last-child {
    margin-right: 0;
}

.navigation.pagination .page-numbers:hover,
.navigation.pagination .page-numbers.current {
    border-color: #ea1d5e;
    color: #ea1d5e;
    background-color: unset;
}

.navigation.pagination .page-numbers.next {
    font-size: 20px;
}

.navigation.pagination .page-numbers.dots {
    border: none;
    background-color: transparent;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 20px;
}

.navigation.pagination .page-numbers.dots:hover {
    color: #999999;
}

.navigation.pagination .page-numbers.next,
.navigation.pagination .page-numbers.prev {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 16px;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-indent: -9999px;
    position: relative;
}

.navigation.pagination .page-numbers.next::before,
.navigation.pagination .page-numbers.prev::before {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-indent: 0;
    font-size: 20px;
}

.navigation.pagination .page-numbers.next::before {
    content: ">";
}

.navigation.pagination .page-numbers.prev::before {
    content: "<";
}

.page-links {
    margin-top: 30px;
    font-size: 18px;
}

.page-links a {
    font-size: 18px;
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.page-links a .page-number {
    margin-left: 0;
}

.page-links a:hover {
    color: #ea1d5e;
}

.page-links .page-number {
    margin-left: 15px;
}

.page-links > span {
    color: #ea1d5e;
}

.post-tags {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 0;
}

.post-tags a {
    color: white;
    font-size: 18px;
}

.post-tags a::before {
    content: "#";
}

.post-tags + .navigation.post-navigation {
    margin-top: 20px;
}

.post-password-form input {
    display: inline-block;
    width: auto;
    height: 40px;
}

.post-password-form input[type=submit]:hover {
    border-color: #ea1d5e;
    color: #ea1d5e;
}

/*blog grid*/

.blog-grid.small .post-image {
    height: 287px;
}

.blog-grid.small .post-footer {
    text-align: left;
    padding-top: 31px;
    padding-bottom: 31px;
}

.blog-grid.small .post-category {
    color: #ea1d5e;
}

.blog-grid.small .post-title {
    color: white;
    font-size: 20px;
}

.blog-grid .post-wrap {
    margin-bottom: 50px;
}

.blog-grid .post-item {
    display: block;
    height: 100%;
    background-color: #171717;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.blog-grid .post-item:hover .info {
    opacity: 1;
}

.blog-grid .post-image {
    height: 345px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-grid .info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(234, 29, 94, 0.75);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.blog-grid .post-btn {
    display: inline-block;
    padding: 15px 37px;
    margin: 0;
    background-color: white;
    color: #111111;
    font-size: 12px;
}

.blog-grid .post-publish {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
    color: white;
    font-size: 12px;
}

.blog-grid .post-footer {
    padding: 33px 35px;
}

.blog-grid .post-category {
    margin-bottom: 10px;
    font-size: 12px;
    color: #ea1d5e;
}

.blog-grid .post-title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    color: white;
}

/*widgets*/

.widgets {
    margin-bottom: 50px;
}

.widgets ol,
.widgets ul {
    list-style: none;
    padding-left: 0;
}

.widgets ol ol,
.widgets ol ul,
.widgets ul ol,
.widgets ul ul {
    padding-left: 20px;
}

.widget {
    margin-bottom: 50px;
}

.widget:last-child {
    margin-bottom: 0;
}

.widget .widget-title {
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.widget .widget-title a {
    color: white;
    font-size: 18px;
}

.widget_calendar caption {
    caption-side: initial;
}

.widget_calendar #next,
.widget_calendar #prev {
    text-align: center;
}

.widget_calendar td,
.widget_calendar th {
    text-align: center;
}

.widget_calendar tbody a {
    font-weight: 700;
    text-decoration: underline;
    color: white;
}

.widget_calendar tbody a:hover {
    color: #ea1d5e;
}

.widget_calendar #calendar_wrap {
    background-color: #171717;
    padding: 10px;
}

.widget_calendar #wp-calendar caption {
    text-align: center;
}

.widget_rss li {
    margin-bottom: 25px;
}

.widget_rss li:last-child {
    margin-bottom: 0;
}

.widget_rss li .rsswidget {
    color: white;
}

.widget_rss li .rss-date {
    color: #a5a5a5;
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 5px 0 10px;
}

.widget_rss li cite {
    color: #ea1d5e;
}

.widget_archive li,
.widget_categories li {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #353535;
    color: #353535;
}

.widget_archive li .children,
.widget_categories li .children {
    width: 100%;
    padding-left: 10px;
    border-top: 1px solid #353535;
    margin-top: -1px;
}

.widget_archive li:last-child,
.widget_categories li:last-child {
    border-bottom: none;
}

.widget_archive li a,
.widget_categories li a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 13px 0;
    color: white;
}

.widget_search .search-wr {
    min-width: auto;
    height: 45px;
}

.widget_search .search-wr .input {
    border: 1px solid #4a4a4a;
    background-color: #2a2a2a;
    color: white;
    width: 100%;
    padding: 0 18px;
    font-size: 13px;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.widget_search .search-wr .input::-webkit-input-placeholder {
    color: white;
}

.widget_search .search-wr .input:-ms-input-placeholder {
    color: white;
}

.widget_search .search-wr .input::placeholder {
    color: white;
}

.widget_search .search-wr .input:focus {
    border-color: #ea1d5e;
}

.widget_search .search-wr .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    width: 45px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    background-color: #111111;
}

.widget_search .search-wr .submit:hover .icon {
    color: #ea1d5e;
}

.widget_search .search-wr .submit .icon {
    font-size: 20px;
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.widget_meta abbr {
    color: white;
}

.widget_tag_cloud .tagcloud a {
    display: inline-block;
    border: 1px solid #999;
    color: #999;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    margin: 0 5px 5px 0;
    padding: 4px 10px;
    font-size: 11px !important;
    font-weight: 300;
    text-transform: uppercase;
}

.widget_tag_cloud .tagcloud a:hover {
    border-color: #ea1d5e;
    color: #ea1d5e;
    text-decoration: none;
}

.widget_recent_comments .recentcomments {
    border-bottom: 1px solid #353535;
    padding: 13px 0;
    color: #ea1d5e;
}

.widget_recent_comments .recentcomments:last-child {
    border-bottom: none;
}

.widget_recent_entries li {
    border-bottom: 1px solid #353535;
    padding: 13px 0;
}

.widget_recent_entries li:last-child {
    border-bottom: none;
}

.widget_recent_entries li a {
    color: white;
}

.widget.widget_search .search-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    width: 100%;
}

.widget.widget_search .search-wr input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.widget.widget_search .search-wr input::-webkit-input-placeholder {
    color: white;
}

.widget.widget_search .search-wr input:-ms-input-placeholder {
    color: white;
}

.widget.widget_search .search-wr input::placeholder {
    color: white;
}

.widget.widget_search .search-wr button {
    width: 45px;
    background-color: #111111;
    border: 1px solid #4a4a4a;
    border-left: none;
    cursor: pointer;
}

.widget.widget_search .search-wr button:hover .icon {
    color: #ea1d5e;
}

.widget.widget_search .search-wr button .icon {
    color: white;
}

/* Comments */

#comments {
    margin-top: 80px;
}

#comments a {
    text-decoration: underline;
}

#comments label {
    margin-bottom: 0;
}

#comments input:focus,
#comments textarea:focus {
    border-color: #ea1d5e;
}

#comments .comments-title {
    margin-bottom: 45px;
    font-size: 24px;
}

#comments ol {
    list-style: none;
}

#comments input {
    height: 45px;
    font-size: 13px;
}

#comments input[type=submit] {
    height: 52px;
    width: auto;
    padding: 0 43px;
    margin-top: 14px;
    background-color: #ea1d5e;
    border: 1px solid #ea1d5e;
    color: white;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
}

#comments input[type=submit]:hover {
    background-color: rgba(234, 29, 94, 0.5);
}

#comments textarea {
    resize: none;
    height: 135px;
    padding-top: 15px;
}

#comments .comments-title {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

#comments .comment-author .fn,
#comments .comment-author a.url {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

#comments .comment-author a.url:hover {
    color: #ea1d5e;
}

#comments .comment-list {
    padding: 0;
}

#comments .comment-list > .blog-comment:last-child {
    margin-bottom: 0;
}

#comments .comment-list .comment-body {
    background-color: #171717;
    padding: 29px 45px 22px 35px;
    margin-bottom: 20px;
}

#comments .comment-list #respond {
    padding-top: 0;
}

#comments .comment-list #respond #reply-title {
    font-size: 20px;
}

#comments .avatar {
    max-width: 70px;
    border-radius: 15px;
    margin-right: 10px;
}

#comments .comment-author {
    margin-bottom: 10px;
}

#comments .comment-metadata {
    margin-bottom: 15px;
}

#comments .comment-metadata a {
    font-size: 12px;
    color: #6e6e6e;
}

#comments #respond {
    padding: 30px 0;
}

#comments #respond #reply-title {
    font-size: 24px;
    color: white;
    font-weight: 400;
}

#comments #respond #reply-title #cancel-comment-reply-link {
    color: #ea1d5e;
}

#comments #commentform .comment-notes {
    font-size: 14px;
}

#comments #commentform .comment-notes .required {
    color: #ea1d5e;
}

#comments #commentform span.required {
    color: #ea1d5e;
}

#comments .row-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -7px !important;
}

#comments .item-wr {
    padding: 0 7px 14px !important;
    width: 50%;
    margin: 0;
}

.blog-comment-wrap {
    padding: 29px 45px 22px 35px;
    background-color: #171717;
    margin-bottom: 20px;
}

.blog-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.blog-comment .author-photo-wr {
    width: 67px;
}

.blog-comment .author-photo-wr img {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
}

.blog-comment .comment-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 17px;
}

.blog-comment .author-name {
    font-size: 20px;
    font-weight: 400;
    margin: 0 19px 0 0;
    color: white;
}

.blog-comment .publish {
    margin: 0 0 2px 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #6e6e6e;
}

.blog-comment .author-content {
    width: 100%;
}

.blog-comment .block-content {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 25px;
}

.blog-comment .comment-reply-link {
    color: #ea1d5e;
}

/*------------------------------------------------------------------
[5. Footer]
*/

.site-footer {
    margin-top: 50px;
}

/*------------------------------------------------------------------
[6. 404 page]
*/

.error404 .main {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.error-404 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 70vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.error-404 .search-wr {
    margin-bottom: 30px;
}

/*------------------------------------------------------------------
[7. @media]
*/

@media screen and (min-width: 992px) {
    .sub-menu .menu-item-has-children:hover > a::after {
        color: #ea1d5e;
    }
    .sub-menu .menu-item-has-children > a {
        position: relative;
    }
    .sub-menu .menu-item-has-children > a::after {
        content: "";
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        right: 0;
        color: #999;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 991px) {
    .navigation-wr .navigation {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-top: 0 !important;
    }
    .navigation-wr ul#top-menu {
        width: 100%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-top: 30px;
        margin-right: 0;
    }
    .navigation-wr ul#top-menu > .current-menu-ancestor > a {
        color: #999;
    }
    .navigation-wr ul#top-menu > .current-menu-ancestor > a:hover {
        color: #999;
    }
    .navigation-wr ul#top-menu .sub-menu {
        position: relative;
        background-color: transparent;
        left: 0;
        width: auto;
        white-space: normal;
        padding: 10px 0 5px 10px;
    }
    .navigation-wr ul#top-menu .sub-menu.active {
        display: block !important;
    }
    .navigation-wr ul#top-menu .sub-menu li {
        margin-bottom: 5px;
        padding: 0;
        background-color: transparent;
        border: none;
    }
    .navigation-wr ul#top-menu .sub-menu li:first-child {
        padding-top: 0;
    }
    .navigation-wr ul#top-menu .sub-menu li.current-menu-item > a {
        color: #ea1d5e !important;

    }
    .navigation-wr ul#top-menu .sub-menu a {
        color: white;
        font-size: 13px;
        padding: 0;
        font-weight: 400;
    }
    .navigation-wr ul#top-menu .sub-menu a:hover {
        color: #ea1d5e;
    }
    .navigation-wr ul#top-menu .sub-menu .sub-menu-toggle {
        display: none !important;
    }
    .navigation-wr ul#top-menu li {
        float: none;
        margin-bottom: 10px;
        margin-right: 0 !important;
    }
    .navigation-wr ul#top-menu li:last-child {
        margin-bottom: 0;
    }
    .navigation-wr ul#top-menu li.menu-item-has-children > a {
        padding-right: 20px;
    }
    .navigation-wr ul#top-menu li.menu-item-has-children:hover > .sub-menu {
        display: none;
    }
    .navigation-wr ul#top-menu li.menu-item-has-children.menu-item-has-children .sub-menu {
        position: relative;
        left: 0 !important;
        padding: 10px 0 5px 10px !important;
        border: none !important;
    }
    .navigation-wr ul#top-menu li.menu-item-has-children.menu-item-has-children:hover > .sub-menu {
        display: none;
    }
    .navigation-wr ul#top-menu li.menu-item-has-children .sub-menu-toggle {
        display: block !important;
    }
    .navigation-wr ul#top-menu li.current-menu-parent > a {
        color: #ea1d5e !important;
    }
    .navigation-wr ul#top-menu a {
        display: block;
        color: white;
        font-size: 16px;
    }
    .navigation-wr ul#top-menu a:hover {
        color: #ea1d5e;
    }
    .navigation-wr .right-sec-nav {
        width: 100%;
        display: block !important;
        margin-left: 0;
    }
    .navigation-wr .right-sec-nav .lang-menu-wr {
        margin: 10px 0;
    }
    .navigation-wr .login {
        margin: 0;
        display: inline-block !important;
    }
    .navigation-wr .search-wr {
        max-width: initial;
        width: 100%;
        min-width: initial;
        height: 35px;
    }
    .navigation-wr .search-wr input {
        font-size: 14px;
        padding: 0 10px;
        border-bottom-width: 1px;
        background-color: transparent;
    }
    .navigation-wr .search-wr input::-webkit-input-placeholder {
        font-size: 14px;
    }
    .navigation-wr .search-wr input:-ms-input-placeholder {
        font-size: 14px;
    }
    .navigation-wr .search-wr input::placeholder {
        font-size: 14px;
    }
    .navigation-wr .search-wr .submit {
        font-size: 14px;
        width: auto;
        padding: 0 15px !important;
    }
    .navigation-wr .fa-times {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .header .smart-search-form {
        background-color: unset;
    }
    .header .smart-search-form .search-wr #search::-webkit-input-placeholder {
        color: white;
        font-size: 2px;
    }
    .header .smart-search-form .search-wr #search:-ms-input-placeholder {
        color: white;
        font-size: 2px;
    }
    .header .smart-search-form .search-wr #search::placeholder {
        color: white;
        font-size: 2px;
    }
    .header .smart-search-form a.smart-search-close,
    .header #search-smart {
        display: none !important;
    }
    .header .smart-search-form,
    .header .hidden.smart-search-form {
        opacity: 1;
        -webkit-transform: initial;
        transform: initial;
        height: initial;
        width: initial;
        position: initial;
        margin-top: 28px;
        margin-bottom: 10px;
    }

    .widgets {
        margin-top: 60px;
    }

    .navigation.post-navigation .nav-links {
        display: block;
    }
    .navigation.post-navigation .nav-links .nav-previous,
    .navigation.post-navigation .nav-links .nav-next {
        padding: 0;
        width: 100%;
        text-align: left;
    }
    .navigation.post-navigation .nav-links .nav-previous {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 767px) {
    #custom-gallery .gallery-columns-6,
    #custom-gallery .gallery-columns-7,
    #custom-gallery .gallery-columns-8,
    #custom-gallery .gallery-columns-9 {
        width: 20%;
    }
    #custom-gallery .gallery-columns-1 .gallery-image,
    #custom-gallery .gallery-columns-2 .gallery-image {
        height: 240px;
    }

    .lines::before,
    .lines::after {
        width: 30px;
    }
    .lines::before {
        margin-right: 10px;
    }
    .lines::after {
        margin-left: 10px;
    }

    #comments .comment-header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #comments .author-name {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .post-author .blog-comment .author-name {
        width: 100%;
        margin: 0 0 5px 0;
    }
}

@media screen and (max-width: 575px) {
    .lines::before,
    .lines::after {
        display: none;
    }

    #custom-gallery .gallery-columns-3,
    #custom-gallery .gallery-columns-4,
    #custom-gallery .gallery-columns-5,
    #custom-gallery .gallery-columns-6,
    #custom-gallery .gallery-columns-7,
    #custom-gallery .gallery-columns-8,
    #custom-gallery .gallery-columns-9 {
        width: 50%;
    }
    #custom-gallery .gallery-columns-1 .gallery-image,
    #custom-gallery .gallery-columns-2 .gallery-image {
        height: 200px;
    }

    #comments.comments-area .comment-list .comment-body {
        padding: 20px 15px;
    }

    #comments .item-wr,
    #comments input[type=submit] {
        width: 100%;
    }
    #comments .blog-comment-wrap {
        padding: 30px 15px;
    }
    #comments .blog-comment {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #comments .author-photo-wr {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .post-author .blog-comment {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px 15px;
    }
    .post-author .blog-comment .author-photo-wr {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .post-author .blog-comment .author-content {
        margin-left: 0;
    }

    #breadcrumbs {
        margin: 50px 0;
        padding: 0 !important;
    }
}

/*------------------------------------------------------------------
[8. Elementor related]
*/

header.header {
    z-index: 3;
}

.contact-entry div.post-content {
    margin-top: 0px;
}

.form .form-message {
    display: block;
}

.form-message.success {
    color: green;
}

#breadcrumbs {
    margin-bottom: 0px;
}

main .services-item-wr .icon-wr {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #353535;
    margin-bottom: 25px;
}

main .services-item-wr .icon-wr i {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

main .services {
    text-align: center;
    background-color: #171717;
    padding: 92px 0 112px;
    margin-top: 65px;
}

.hero.over-header .sw_search_primary.searh-model .select-item {
    padding: 0px;
    display: block;
}

.slick-slide {
    padding: 0px 8px;

}

.profile-entry .profile-title {

    color: #ea1d5e;
}

@media (max-width: 767px) {
    .model-attr .attr-item {
        margin-bottom: 10px;
    }
}

#listing-preview .widget.widget-overview .widget-header h2.CATEGORY {
    font-size: 18px;
    color: #ea1d5e;


}

.model-attr .attr-item {
    text-transform: none;
    color: #ccc;
}
