.ui-body {padding:0;}
.group-panel { background-color: #3B5741; padding: 10px 10px 20px 10px; position:relative}
.mobile-menu { margin-bottom:20px; }
/*Qingxiang Add*/
.ui-wheelset {background:#852!important;background-size: auto 100% !important; text-shadow: 0 -1px 0px #222 !important;}


/*End from Qingxiang*/
.company-name-container{float:left}
.begtest-logo-container{float:right}
.header-text {color: #FFFFFF;float: left;font-size: 30px;font-weight: bold;margin-left: 10px;margin-top: 15px; }
.step-heading {color: #FFFFFF;display: block;float: left;font-size: 18px;font-weight: bold;margin-left: 10px;margin-top: 20px; }
.step-content {color: #FFFFFF;font-size: 16px;font-weight: bold;top:120px;left:30px;position:absolute;}
.step-content h3 { margin-top:0; margin-bottom:5px;}
.button-group { text-align: right; margin-bottom: 0px; margin-top: 5px; }
.button-group.extra { margin-top: 20px; }
.form-container { padding: 5px 10px 30px 10px; }
.reg-container { background: url('/framework/shared/images/regskylt-small.png') 0 0 no-repeat; height:180px;}
.reg-container input { font-size: 65px;font-weight: bold;color: #000000;margin-left: 80px;margin-right: 60px;margin-top: 2px;padding-left:60px;border: 0;text-transform: uppercase;background: transparent;padding-top:20px; width:310px;}
.error-container { color:#b94a48; border-color:#eed3d7; background-color:#f2dede;padding:8px 35px 8px 14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); border-radius:4px 4px 4px 4px; margin-bottom:20px; }
.image-container:after { clear: both;}
.image-container a.upload-all { float:left; }
.span6 { width: 45%;margin-right:5%;float:left;}
.file_block { border:1px solid #3B5741;border-radius:0.6em 0.6em 0.6em 0.6em; margin:0 0 15px 0;padding:10px;}
.file_block p{ font-weight:bold;}
.fileupload { margin-bottom:15px;}
.filemessage { display:none; }
.remove-image { margin-top:20px;}

.vehicle-header h3 {font-size:16px;margin-top: 0;margin-bottom:7px;display:block;float:none;width:100% !important;}
.vehicle-header strong, .vehicle-header .featured-values {line-height:22px;}

.images a { float:left; }
.images a { margin-right:10px; }
.thumb-list a {float:left;}
.thumb-list a img { max-width:55px; border:none;}
.list-image { margin:20px 0 0 18px; }
.error { color: #FF0C0C; }
.no-margin { margin:0; }
.no-padding { padding:0; }

/*Test protocol*/
.testprotocol {padding:20px 20px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; border:1px #ddd solid;margin:0 0 0 0;background:#fff;}
.testprotocol-test{margin-bottom:10px;background:#fcfccf;}
.testprotocol-test .tablecond.first {display:none;}
.testprotocol-test .tablecond.second {display:none;}
.testprotocol-test .customer-signature{display:none;}
/*.testprotocol .header h1 {float:left; margin-bottom: 0;margin-top:0;} 
.testprotocol .header img {float:right;}
.testprotocol .header h4 {float:right;margin-bottom:0;margin-top:5px;}
.testprotocol .header {height:50px;}*/
.testprotocol .customer_info{width:100%}
.testprotocol-test .car-details{width:100%;margin-top:-10px;margin-bottom:15px}
.testprotocol-test .customer_info td,.testprotocol-test .car-details td{width:16%;padding-right:10px;vertical-align:top}
.testprotocol-test .customer_info h6,.testprotocol-test .car-details h6{margin-top:0;margin-bottom:8px}
.testprotocol-test .customer_info p,.testprotocol-test .car-details p{margin-top:0;margin-bottom:10px}
.testprotocol-test .other-equipment h2{margin-top:5px}
.testprotocol-incoming-delivery div.car-details {background:url(../../shared/images/testprotocol-table_bg.png); width:100%;}
.testprotocol-incoming-delivery div.car-details .detail {width:192px;padding:6px 15px; float:left;margin-bottom: 3px;}
.testprotocol-incoming-delivery div.car-details .detail h6 {font-size:14px;line-height:14px;font-weight:700;margin:0;}
.testprotocol-incoming-delivery div.car-details .detail p {font-size:12px;line-height:14px;margin:0;}
.testprotocol.testprotocol-test .car-details .detail-colsp2{width:444px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.car-options ul {float:left;width:150px;padding-left:0;margin-top:0;}
.car-options ul li span.checkbox, .car-options ul li label{cursor:default;}
.car-options ul span.disabled{opacity:1;}
.car-options ul span.aspNetDisabled{background:url("../../shared/images/checkbox.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height:20px;clear: left;cursor: pointer;display: block;float: left;padding: 0 5px 0 0;width: 19px;}
.car-options ul span.aspNetDisabled input{display:none;}
.testprotocol h2 {margin-top:25px;margin-bottom:8px;font-size:14px;}
.testprotocol .car-options .checkbox {height: 20px;}
.testprotocol .car-options label {margin-bottom:0; font-size: 14px;font-weight: normal;line-height: 20px;display:block;}
.testprotocol p {font-size:12px;margin-bottom:0;}
.testprotocol .span4 {width:46%;float:left;}
.testprotocol .span4 ul{padding-left:0;margin-top:0;}
.testprotocol .span8 {width: 54%;float:left;}
.testprotocol .span8 table {margin-top:25px;}
.repair:after { clear: both;content:"";display:table;line-height:0;}
.testprotocol .repair table {width:100%;}
.testprotocol .repair table .even td{background:#f6f6f6;}
.testprotocol .repair table tr th {text-align:right; font-weight:800; font-size:14px;}
.testprotocol .repair table tr th:first-child {text-align:left;}
.testprotocol .repair table tr td {color:#2a5533; font-weight:700; font-size:13px; text-align:right;padding: 3px 12px;}
.testprotocol .repair table tr td:first-child {color:#000;text-align:left;}
.testprotocol .repair .total {text-align:right;margin-top:10px;}
.testprotocol .repair .total span {background:#f7f7f7;padding:5px 10px;font-size:13px; font-weight:800; color:#2a5533;} 
.testprotocol .repair .span4 ul li {font-size:13px; font-weight:400;color:#444;}
.testprotocol .repair .span4 ul li.head {color:#282828; font-weight:700;}
.testprotocol .foot {height:25px;margin-top:20px;}
.testprotocol .foot .leftside {float:left;}
.testprotocol .foot .rightside {float:right;}
.testprotocol .foot {background:url(../../shared/images/LOGO_HB_transp_185_28.png) center center no-repeat;}
.testprotocol .italics {font-style:italic}
.clearfix {clear:both; }
ul.inline { font-size:small; margin-left: 70px; line-height:23px; list-style-type:circle;}
.ui-block-a img {width:85%;max-width:162px;}

.testprotocol .car-options ul li span.checkbox {height: 20px;background: url(../../shared/images/checkboxb.png);display: inline-block;width: 20px;float: left;}
.testprotocol .car-options ul li span.checkbox.checkboxchecked {background-position: 0px -50px;}
.testprotocol .header {margin:0;padding:0;border-bottom:0;}
.mobile-test-protocol h1 {font-size:20px;margin-bottom:10px;}
.mobile-test-protocol h2 {font-size:16px;margin-bottom:5px;}
.mobile-test-protocol .detail h6 {font-size:12px;}
.mobile-test-protocol  .detail p {font-size:12px;}
.mobile-test-protocol  .detail {margin-bottom:8px;}
.mobile-test-protocol  .car-options ul li {list-style:none;margin-bottom:3px;font-size:12px;}
.mobile-test-protocol  .car-options ul li span .checkbox {height: 20px;background: url(../../shared/images/checkboxb.png);display: inline-block;width: 20px;float: left;}
.mobile-test-protocol  .car-options ul li span .checkbox.checkboxchecked {background-position: 0px -50px;}
.testprotocol .header {margin:0;padding:0;border-bottom:0;}
.testprotocol .header table {margin:0;width:100%;}
.testprotocol .header table td.heading{text-align:left;vertical-align:middle;}
.testprotocol .header table td.logo{text-align:right;vertical-align:middle}
.testprotocol .header table tr td {padding:0;}
.testprotocol .header img {max-height:60px;margin-bottom:0;margin-top:0;}
.testprotocol.testprotocol-test .header{background-color:#fcfccf;height:auto;border-bottom:0;}
.testprotocol.testprotocol-test .header h1 {margin-top: 0;margin-bottom:0;} 
.testprotocol.testprotocol-test .header h4 {margin-top:0; margin-bottom: 0;}
.mobile-test-protocol  .testprotocol .ui-disabled {opacity:0.8;}
.mobile-test-protocol  .testprotocol .row.repair li {list-style:none; font-size:14px;}
.mobile-test-protocol  .testprotocol .repair ul li {font-size: 14px;margin-bottom: 2px;list-style: none;margin-left: 10px;}
.mobile-test-protocol  .testprotocol .repair ul li.head {font-weight:bold;}
.ui-collapsible-content.ui-body-a table .ui-controlgroup .ui-controlgroup-controls a {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;width:130px}
.ui-btn-icon-left>.ui-btn-inner>.ui-icon, .ui-btn-icon-right>.ui-btn-inner>.ui-icon {width:20px;}
.top-nav {margin-top:0; }

.button-row .left { float:left;width:30%;}
.button-row .right { float:left;width:70%;text-align:right;}
#open_car-list { margin-top:-5px;margin-left:0px;}
.hide { display:none; }
.tire-dropdown {width:316px;float:left;margin-right:20px;}
.tire-dropdown .ui-select {width:220px;}
.tire-cost {width:220px;float:left;margin-top:12px;}
.tire-cost .cost-group {margin-top:12px!important;}

.published-centered {  position: fixed;  top: 50%;  left: 50%;  margin-top: -86px;  margin-left: -212px;  z-index:1;  color:#000;  font-family:Helvetica,Arial,sans-serif;  background:#fff;  padding:10px;  border:1px solid #EAEAEA;  text-align:center;  opacity:0.9;  filter: alpha(opacity=90);  display:none;}
.published-centered img { margin-top:5px;}
.clear { float:none; clear:both; }
.pull-right { float:right!important; }
.top-nav .ui-controlgroup-controls { width:100%; }
.mobile-test-protocol .ui-collapsible-content { padding: 10px; }
.mobile-classification .ui-controlgroup-controls { width:100%; }

.ui-radio, .ui-checkbox { border-radius:8px 8px 8px 8px!important;}

textarea.sales-comment {height:200px;}

/*Condition page*/
.condition .condition-image-upload {float:right !important;width:78% !important;margin-top:15px !important;}
.condition .condition-heading {display:inline-block;width:20%;margin-right:2%;vertical-align:top;}
.condition .file-show {display:inline-block;width:78%;vertical-align:top;}
.condition .condition-image {display:block;width:100px;margin-left:auto;margin-right:auto;}

/* Hide small screen menus on tablet screens */
.button-group-small-screen {display:none;text-align:left;}
.top-nav-small-screen {display:none;}
.protocol-menu-small-screen {display:none;}

.float-right {float:right;}
.pointer{cursor:pointer}

.damage-guide h2{font-size:15px}
.damage-guide img{max-width:540px}
#divUnacceptable, #divCostGuideLine{border-top:2px solid #f68f44}

@media screen and (max-width:699px) {
    /* Mobile header */
    .header-container {display:none;} /* hides header on small screens */
    /* From here and below, old styles before mobile header was hidden
    .company-name-container{display:block; float:none;}
    .begtest-logo-container{display:block; float:none;}
    */
    /* Mobile main menu */
    .button-group-small-screen {display:block;}
    .button-group-big-screen {display:none;}
    .top-nav {display:none;}
    .top-nav-small-screen {display:block;margin-top:0;}
    .mobile-menu .group-panel{padding-bottom:12px}
    .mobile-menu h1{margin:7px 0 0 0;font-size:22px;line-height:26px}

    /* Create test header & image */
    .create-test-header-text, .create-test-header-image {display:none;}
    .step-heading {margin-top:5px;margin-bottom:5px;}

    /* Test protocol menu */
    .protocol-menu {display:none;}
    .button-row .protocol-menu-small-screen {display:block;float:none;width:100%;}
    .button-row .protocol-menu-small-screen .ui-btn-inline {display:block}
    .vehicle-header-image{float:none;margin-bottom:10px}
    .vehicle-header{float:none;width:100%!important}
    .vehicle-header .ui-grid-a{width:100%}
    .vehicle-header h3 {margin-top: 10px;}

    /* Testprotocol */
    /*.testprotocol.testprotocol-test .header h1,.testprotocol.testprotocol-test .header h4,.testprotocol.testprotocol-test .header img{display:block;float:none;width:100%;text-align:left;margin-top:0;margin-bottom:10px}*/
    .testprotocol.testprotocol-test .header img{float:right}
    .testprotocol-test .header{margin-bottom:20px;height:auto}
    .testprotocol-test .customer_info td,.testprotocol-test .car-details td{display:block;width:100%;float:none}
    .testprotocol-test .customer_info .hide-small-screen{display:none}
    .testprotocol-test .hide-small-screen{display:none}
    .testprotocol-test .car-details{margin-top:20px;margin-bottom:15px}
    .testprotocol-test .span4{display:none}
    .testprotocol-test .span8{width:100%}
    .testprotocol-test .car-remarks{margin-bottom:20px}
    .testprotocol-test .total{margin-bottom:20px}
    .testprotocol-test .car-remarks th{vertical-align:top}
    .testprotocol-test .tp-additional-info{margin-top:40px;margin-bottom:20px}
    .testprotocol-test .italics {font-style:italic}

    /*Create test page*/
    .reg-container{background:none;height:auto;margin-right:5px}
    .reg-container input{background-color:#fff;width:100%;max-width:300px;text-indent:0;text-align:center;margin-left:0;line-height:60px;font-size:38px;padding:0 0 0 0;margin:0 0 0 0;border:3px solid #000;border-radius:10px}

}
@media screen and (min-width:400px) and (max-width:699px) {
    .testprotocol-test .customer_info tr,.testprotocol-test .car-details tr{display:block}
    .testprotocol-test .customer_info td,.testprotocol-test .car-details td{display:inline-block;width:210px;min-height:45px}
    .testprotocol-test .car-details{margin-top:10px}
}
@media screen and (max-width:447px) {
    /*Condition page*/
    .condition .condition-image-upload {float:right;width:100%;}
    .condition .condition-heading {display:block;width:100%;margin-right:0;margin-top:0;}
    .condition .file-show {display:block;width:100%;}
    .condition .ui-field-contain {padding-bottom:16px;padding-top:10px;}

    /*Testprotocol*/
    .testprotocol.testprotocol-test .header h4, .testprotocol.testprotocol-test .header img {display:none;}
}

/* NEW STYLE */

#order_manage_work h2 {
    padding-left:13px;
    font-size:20px;
    padding:10px 10px;
    background:#e87822;
    color:#fff;
    text-shadow: none;
    margin-top:0;
}

.work_order {
    padding:20px 10px;
}

 #order_manage_work h4 {
    font-size:16px;
    margin:0;
}

  #order_manage_work .order_manage_work__inner table tr{
    display: block;
}

  #order_manage_work .order_manage_work__inner table tr:after {
    display:block;
    content:'';
    clear:both;
}

  #order_manage_work .order_manage_work__inner table td{
    display: block !important;
    float:left;
    width:30% !important;
    min-height:30px;
    margin:0 1%;
}
  #order_manage_work .order_manage_work__inner table tr.columns_4 td{
    width:25% !important;
}

  #order_manage_work .order_manage_work__inner table tfoot td small {
    display: block;
}

  #order_manage_work .order_manage_work__inner table td .buttons a {
    float:left;
    display:block;
    width:47.9%;
    margin:0 1% 5px 0;
    padding:10px 0;
    font-size:13px;
    text-shadow: none;
}

  #order_manage_work .order_manage_work__inner table tr td label small{
    display: block;
}

  #order_manage_work .order_manage_work__inner table tr td .check_list {
    margin:0;
    padding: 0;
}

  #order_manage_work .order_manage_work__inner table tr td .check_list li .ui-radio {
    margin-top:0;
    margin-bottom:5px;
}

  #order_manage_work .order_manage_work__inner table tr td .check_list li  {
    list-style: none;
    width:61%;
    margin:0 1%;
    float:left;
}

  #order_manage_work .order_manage_work__inner table tr td .check_list li.short_label {
    width:35%;
}

  #order_manage_work .order_manage_work__inner table tr td .check_list li .ui-radio .ui-btn {
    display: block;
    width:100%;
    padding:10px 0;
    text-indent: 38px;
    font-size:13px;
}

  #order_manage_work .order_manage_work__inner table tr td p {
    margin-top:0;
    margin-bottom:5px;
}

  #order_manage_work .order_manage_work__inner table tr td .checkbox_full{
    padding:0;
    list-style: none;
}

  #order_manage_work .order_manage_work__inner table tr td .checkbox_full label {
    font-size:13px;
    padding-left:35px;
}

  #order_manage_work .order_manage_work__inner table tr td .save_button {
    width:100%;
    padding:20px 0px;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #F47920 ),to( #F47920 ));
    background-image: -webkit-linear-gradient(top,#F47920,#F47920 );
    background-image: -moz-linear-gradient(top,#F47920,#F47920 );
    background-image: -ms-linear-gradient(top,#F47920,#F47920 );
    background-image: -o-linear-gradient(top,#F47920,#F47920 );
    background-image: linear-gradient(top,#F47920,#F47920 );
    font-size:24px;
    color:#fff;
    margin-top:0;
}

  #order_manage_work .order_manage_work__inner table tr td.double_td {
    width:62.2% !important;
}

  #order_manage_work .order_manage_work__inner table tr td.double_td textarea {
    margin-top:0;
}

  #order_manage_work .order_manage_work__inner table tfoot td {
    width:47.5% !important;
}

  #order_manage_work .order_manage_work__inner table td .buttons a.white{
    background:#fff;
    color:#000;
    text-shadow: none;
}

  #order_manage_work .order_manage_work__inner table td .buttons a.red { 
    background:#ff0000;
}

  #order_manage_work .order_manage_work__inner table .total .total_summ>div {
    width:48%;
    float:left;
}

 #order_manage_work .order_manage_work__inner table .total .total_summ>div .text-right{
    text-align: right;
}

 #order_manage_work .order_manage_work__inner table .total .total_summ:after {
    display:block;
    clear:both;
    content: '';
}
 .rbtnListWorkOrderAction tbody tr td {min-width:47%;} /*TODO: se över denna*/
 .workOrderStatusText{font-weight: bold; font-size:large !important}
 
@media screen and (max-width:1281px){
       .rbtnListWorkOrderAction tbody tr td{min-width:100% !important;}        
 }

@media screen and (max-width:421px) {
     #order_manage_work .order_manage_work__inner table tr td { 
        width:100% !important;
        margin:0;
    }
    
     #order_manage_work .order_manage_work__inner table tr {
        margin-bottom:30px;
    }
    
     #order_manage_work .order_manage_work__inner table tr.work_manage__header {
        margin-bottom:0;
    }
     #order_manage_work .order_manage_work__inner table td .buttons a {
        width: 48.4%;
    }
    #order_manage_work p {
        font-size:14px;
    }
    #order_manage_work .order_manage_work__inner table tr td.double_td {
        width:100% !important;
    }
    
     #order_manage_work .order_manage_work__inner table tr.total .col_2 {
        width:50% !important;
    }
    
    #order_manage_work .order_manage_work__inner table tr td .save_button {
        margin-top:20px;
    }
    
    #order_manage_work .order_manage_work__inner table tr th h3 {
        margin-top:0;
    }
      .rbtnListWorkOrderAction tbody tr td{min-width:100% !important;}
}

@media screen and (max-width:321px) { 
     #order_manage_work .order_manage_work__inner table td .buttons a {
        width:48%;
    }
    #order_manage_work .order_manage_work__inner table tr th h3 {
        text-align:left;
    }
    #order_manage_work .order_manage_work__inner table tr.total .col_2 {
        width:49% !important;
    }
   .rbtnListWorkOrderAction tbody tr td {min-width:100% !important;}  
}