$color-one:#002c5b;
$color-two:#ffb70d;
$color-two:#1a6bac;
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: arial;
    min-width: 370px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

.clearfix {
    clear: both;
}

.branch-box {
    margin: 0px auto;
    max-width: 1000px;
    padding: 0px 0px 100px 0px;

    .branch-line {
        margin: 150px 0px 0px 0px;
        height: 10px;
        background-color: #aba9ae;
        float: left;
        @media screen and (max-width: 991px) {
            float: none;
            height: auto;
            width: 10px;
            margin: 50px 0px 0px 20px;
        }
        .branch-item {
            float: left;
            position: relative;
            margin: 0px 50px 0px 0px;
            @media screen and (max-width: 991px) {
                float: none;
                margin: 0px 0px 50px 0px;
            }
            &.last {
                margin: 0px;

            }
            &.last-line-one {
                &:before {
                    content: "";
                    display: block;


                    height: 10px;
                    width: 80px;
                    background-color: #aba9ae;
                    position: absolute;
                    -moz-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 26px;
                    left: 0px;
                    z-index: 1;
                    @media screen and (max-width: 991px) {
                        top: 46px;
                        left: 0px;
                    }
                }
            }

            .bi-square {
                width: 30px;
                height: 30px;
                border: 2px solid #003069;
                background-color: #003069;
                line-height: 26px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                float: left;
                margin: -10px 0px 0px 0px;
                font-weight: bold;
                position: relative;
                z-index: 2;
                @media screen and (max-width: 991px) {
                    margin:0px 0px 0px -10px;
                }
            }
            .bi-text {
                width: 130px;
                position: absolute;
                top: -80px;
                left: -5px;
                font-size: 14px;
                padding: 0px 0px 0px 0px;
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                font-size: 14px;
                white-space: nowrap;
                @media screen and (max-width: 991px) {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                    position: relative;
                    width: auto;
                    top: unset;
                    left: unset;

                    padding: 5px 0px 0px 30px;
                }
                p {
                    margin: 0px;
                    color: #002c5b;

                }

            }
            &.active {
                .bi-square {
                    border: 2px solid #003069;
                    background-color: #fdb913;

                    color: #003069;
                }
                .bi-text {
                    p {

                        font-weight: 600;

                        color: #1a6bac;
                    }
                }
            }
        }
        &.line-two {
            margin: 50px 0px 0px 223px;
            @media screen and (max-width: 991px) {
                margin: 30px 0px 0px 80px;
            }
        }
    }
}
