/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
@import "scss/variables";
@import "scss/mixins";

/*==========Setting=========*/
html {
    font-size: 10px;
}

body {
    font-family: $font-family;

    min-width: 370px;
    font-size: 1.4rem;
    color: $text-color;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;

}

dt,
dd {
    line-height: 1.5;
}

body,
html {
    overflow: auto;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {}

iframe {
    width: 100%;
    border: none;
}

::selection {
    background: $active-color;
    color: #fff;
}

a {
    &:active {}
}

/*==========Components=========*/
.my-btn {
    display: inline-block;
    line-height: 36px;
    padding: 0px 20px;
    color: #fff;
    background-color: $active-color;
    border-radius: 50px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    border: none;
    transition: all ease 0.3s;
    font-size: 1.4rem;

    &:hover {
        background-color: $active-color-second;
        outline: none;
        color: #fff;
    }

    &.active {
        background-color: $active-color;
        outline: none;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }
    }
}

.sb-btn {
    display: inline-block;
    line-height: 40px;
    padding: 0px 30px;
    font-family: $font-family-heading;
    color: #fff;
    background-color: $active-color;
    border-radius: 4px;
    margin: 0px 0px 0px 0px;
    font-weight: 600;
    border: none;
    @include transition();

    &:hover {
        background-color: $active-color;
        outline: none;
        color: #fff;
    }

    &.active {
        background-color: $active-color;
        outline: none;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }
    }

    &.cancel {
        background-color: $border-color;
        margin: 0px 0px 0px 15px;
        color: $base-color;

        &:hover {
            opacity: 0.8;
        }
    }

    &:active {
        color: inherit;
    }
}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;

    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1210px;
    }
}

@media (min-width: 1600px) {
    .container1400 {
        max-width: 1430px;
    }
}

.dropdown-menu {
    font-size: inherit;
    top: 100% !important;
    transform: none !important;
}

.dropdown-toggle::after {
    display: none;
}

.clearfix {
    clear: both;
}

#page-loader {
    background-color: $active-color;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

.header {
    height: 80px;
    overflow: hidden;

    .header-left {
        float: left;
    }

    .header-right {
        float: right;
    }



    .logo {
        float: left;
        margin: 10px 0px 0px 0px;

        @media screen and (max-width: 767px) {
            float: left;
            margin: 17px 0px 0px 0px;

            img {

                height: 40px;
            }
        }


    }

    .header-right {
        float: right;

        .share {
            margin: 25px 0px 0px 0px;
            float: left;

            a {
                margin: 0px 0px 0px 20px;
            }

            @media screen and (max-width: 767px) {
                float: none;
                text-align: right;
                margin: 5px 0px 0px 10px;

                a {

                    img {
                        height: 25px;

                    }
                }

            }
        }

        .hotline {
            float: left;
            margin: 25px 0px 0px 0px;
            font-size: 24px;
            font-weight: bold;
            color: $active-color;

            @media screen and (max-width: 767px) {
                float: none;
                display: block;
                margin: 10px 0px 0px 0px;
                font-size: 18px;

            }

            span {
                float: left;
                background-image: url(../images/phone.png);
                width: 17px;
                height: 18px;

                margin: 2px 5px 0px 0px;

            }
        }
    }



}


.main-menu {
    height: 40px;

    background-color: $active-color;
    position: relative;
    z-index: 100;
    background-image: linear-gradient(to right, #53bb50 0%, #298e3d 100%);


    .menu {
        float: right;
        margin: 0px;
        padding: 0px;
        list-style: none;

        @media screen and (min-width: 768px) {
            display: block !important;

        }




        li {
            float: left;
            margin: 0px 0px 0px 20px;

            list-style: none;

            a {
                display: block;
                line-height: 40px;
                color: #fff;
                font-style: italic;
                font-size: 15px;
                font-weight: 600;
                padding: 0px 15px;

                text-transform: uppercase;
                transition: all ease 0.3s;

                &:hover {
                    background-color: darken($active-color, 5%);
                }
            }
        }

        @media screen and (max-width: 767px) {
            display: none;
            position: absolute;
            top: 100%;
            left: 0px;
            right: 0px;
            background-color: lighten($active-color, 5%);

            li {
                margin: 0px;
                padding: 0px;
                float: none;
                display: block;
                text-align: right;

                a {

                    padding: 0px 20px 0px 0px;
                    text-align: right;
                }
            }
        }
    }

    .menu-icon {
        float: right;

        cursor: pointer;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        display: none;

        i {
            font-size: 25px;
            margin: 0px 10px 0px 0px;
            float: left;
            line-height: 40px;
        }

        @media screen and (max-width: 767px) {
            display: block;
        }


    }
}




.banner {
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media screen and (max-width: 991px) {
        min-height: 400px;

    }

    @media screen and (max-width: 767px) {
        min-height: 250px;
    }

    .banner-content {
        padding: 150px 0px 50px 0px;

        text-align: center;

        h1 {
            font-family: $font-family-heading;
            color: #fff;
            font-size: 56px;
            margin: 0px 0px 10px 0px;
            font-weight: bold;
            text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);


            @media screen and (max-width: 991px) {
                font-size: 35px;
            }

            @media screen and (max-width: 767px) {
                font-size: 25px;
            }
        }

        p {

            color: #fff;
            font-size: 20px;
            font-style: italic;
            text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);


            @media screen and (max-width: 991px) {
                font-size: 18px;
            }

            @media screen and (max-width: 767px) {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 991px) {
            padding: 70px 0px 50px 0px;

        }
    }
}







.section {
    padding: 80px 0px 0px 0px;

    @media screen and (max-width: 991px) {
        padding: 60px 0px 0px 0px;

    }

    .section-caption {
        margin: 0px 0px 60px 0px;
        text-align: center;

        @media screen and (max-width: 991px) {
            margin: 0px 0px 40px 0px;

        }

        h2 {
            font-family: $font-family-heading;
            color: $active-color;
            font-size: 48px;
            margin: 0px 0px 10px 0px;
            font-weight: bold;

            @media screen and (max-width: 991px) {
                font-size: 35px;
            }

            @media screen and (max-width: 767px) {
                font-size: 23px;
            }
        }

        p {
            color: $text-color;
            font-size: 17px;
            margin: 0px;
            font-style: italic;

            @media screen and (max-width: 767px) {
                font-size: 16px;
            }
        }
    }
}

.offer-col1 {
    float: left;
    width: 55%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.offer-col2 {
    float: left;
    width: 45%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.offer-col1 {
    float: left;
    width: 55%;

    @media screen and (max-width: 767px) {
        float: none;
        width: 100%;
        min-height: 250px;
    }
}

.offer-col2 {
    float: left;
    width: 45%;

    @media screen and (max-width: 767px) {
        float: none;
        width: 100%;
        min-height: 250px;

    }
}


.fc2-content {
    max-width: 390px;
    margin: 0px auto;
    padding: 110px 20px;
    text-align: center;

    @media screen and (max-width: 767px) {
        padding: 40px 20px;

    }

    h3 {
        font-size: 26px;
        color: #fff;
        margin: 0px 0px 15px 0px;
        font-family: $font-family-heading;
        font-weight: bold;

        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }

    p {
        color: #fff;
        font-size: 15px;
        margin: 0px;
        font-family: $font-family-heading;
        font-weight: bold;
    }

}

.fc2-content-left {
    max-width: 500px;
    margin: 0px auto;
    padding: 50px 20px;

    div {
        margin: 0px 0px 15px 0px;
    }

    h3 {
        font-size: 26px;
        color: #fff;
        margin: 0px 0px 5px 0px;
        font-family: $font-family-heading;
        font-weight: bold;

        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }

    p {
        color: #fff;
        font-size: 15px;
        margin: 0px;
        font-family: $font-family-heading;
        font-weight: bold;
    }

}



.block-star {
    text-align: center;
    padding: 0px 15px;
    margin: 20px auto 0px auto;
    max-width: 1350px;

    br {
        @media screen and (max-width: 1350px) {
            display: none;

        }

    }

    .star-item {
        display: inline-block;
        margin: 0px 20px 30px 20px;
        font-size: 20px;
        font-family: $font-family-heading;
        line-height: 60px;

        span {

            background-image: url(../images/star.png);
            width: 60px;
            height: 58px;
            background-repeat: no-repeat;

            float: left;
            margin: 0px 10px 0px 0px;

        }

        @media screen and (max-width: 1350px) {
            font-size: 15px;
            margin: 0px 10px 10px 10px;
            line-height: 30px;

            span {

                width: 30px;
                height: 30px;
                background-size: 30px 30px;
            }

        }
    }
}

.slider-one {
    position: relative;

    .owl-prev {
        width: 45px;
        height: 45px;
        background-color: $active-color;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 10px;
        margin: -25px 0px 0px 0px;
        transition: all ease 0.3s;
        background-image: url(../images/prev.png);
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -99999px;


        &:hover {
            background-color: lighten($active-color, 10%);
        }

        @media screen and (max-width: 767px) {
            width: 30px;
            height: 30px;
            background-size: 7px auto;
        }

    }

    .owl-next {
        width: 45px;
        height: 45px;
        background-color: $active-color;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 10px;
        margin: -25px 0px 0px 0px;
        transition: all ease 0.3s;
        background-image: url(../images/next.png);
        text-indent: -99999px;
        background-repeat: no-repeat;
        background-position: center center;

        @media screen and (max-width: 767px) {
            width: 30px;
            height: 30px;
            background-size: 7px auto;
        }


        &:hover {
            background-color: lighten($active-color, 10%);
        }
    }


}

.slider-one-caption {
    background-color: $active-color;
    padding: 50px 0px;
    background-image: url(../images/slider_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    p {
        font-size: 16px;
        font-family: $font-family-heading;
        margin: 0px 0px 15px 0px;
        padding: 0px 0px 0px 35px;
        color: #fff;

        span {
            background-image: url(../images/star_white.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 25px;
            height: 24px;
            float: left;
            margin: -3px 0px 0px -35px;
        }

    }

}


.box-three {

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .bt-wrap {
        max-width: 1600px;

        margin: 0px auto;

    }

    .bt-box {
        float: right;
        margin: 0px 100px 0px 0px;
        width: 700px;
        min-height: 400px;
        background-image: url(../images/8_bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 70px;

        @media screen and (max-width: 991px) {
            margin: 0px auto;
            padding: 30px 60px;
        }

        @media screen and (max-width: 767px) {
            width: 100%;

        }


        h3 {
            font-size: 30px;
            color: #fff;
            margin: 0px 0px 15px 0px;
            font-family: $font-family-heading;
            font-weight: bold;

            @media screen and (max-width: 767px) {
                font-size: 20px;

            }
        }

        p {
            color: #fff;
            font-size: 16px;
            margin: 0px 0px 30px 0px;
            font-family: $font-family-heading;
            font-weight: bold;
        }



    }
}


.slider-two {
    position: relative;

    .owl-prev {
        width: 40px;
        height: 40px;
        background-color: $active-color;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: -50px;
        margin: -20px 0px 0px 0px;
        transition: all ease 0.3s;
        background-image: url(../images/prev.png);
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -99999px;


        &:hover {
            background-color: lighten($active-color, 10%);
        }

        @media screen and (max-width: 767px) {
            width: 30px;
            height: 30px;
            background-size: 7px auto;
        }

    }

    .owl-next {
        width: 40px;
        height: 40px;
        background-color: $active-color;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        top: 50%;
        right: -50px;
        margin: -20px 0px 0px 0px;
        transition: all ease 0.3s;
        background-image: url(../images/next.png);
        text-indent: -99999px;
        background-repeat: no-repeat;
        background-position: center center;

        @media screen and (max-width: 767px) {
            width: 30px;
            height: 30px;
            background-size: 7px auto;
        }


        &:hover {
            background-color: lighten($active-color, 10%);
        }
    }


}










.w960 {
    max-width: 960px;
    margin: 0px auto;
}


.w900 {
    max-width: 900px;
    margin: 0px auto;
}

.section-contact {
    background-image: url(../images/contact_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;


}


.service {
    margin: 0px 0px 30px 0px;

    .service-item {
        text-align: center;
        margin: 15px 0px 0px 0px;

        img {}

        p {

            margin: 20px 0px 10px 0px;
            font-size: 1.5rem;
        }
    }
}

.contact-page {
    padding: 30px 0px 100px 0px;

    p {

        font-size: 1.5rem;
        margin: 0px 0px 20px 0px;
    }
}

.c-feild {
    margin: 15px 0px 0px 0px;

    p {

        font-size: 1.5rem;
        margin: 0px 0px 5px 0px;

        b {
            color: $active-color;
        }
    }

    .my-text {
        display: block;
        border: none;
        outline: none;
        padding: 0px 10px;
        font-size: 1.5rem;
        color: #000;
        width: 100%;
        background-color: #f0f0f0;
        height: 35px;
        line-height: 35px;
    }

    .my-select {
        display: block;
        border: none;
        outline: none;
        padding: 0px 0px 0px 10px;
        font-size: 1.5rem;
        color: #000;
        width: 100%;
        background-color: #f0f0f0;
        height: 35px;
        line-height: 35px;
    }

    .my-textarea {
        display: block;
        border: none;
        outline: none;
        padding: 10px 10px;
        font-size: 1.5rem;
        color: #000;
        width: 100%;
        background-color: #f0f0f0;
        height: 105px;
        line-height: 35px;
    }
}

.c-flex {
    display: flex;

    .c-text {
        display: inline-block;
        width: 45px;
        height: 35px;
        background-color: #f0f0f0;
        margin: 0px 0px 0px 10px;
        line-height: 35px;
        text-align: center;
        font-size: 1.5rem;
        cursor: pointer;

        &.active {
            background-color: $active-color;
            color: #fff;
        }
    }

    .captcha {
        height: 35px;
        margin: 0px 0px 0px 10px;

        img {
            height: 35px;
        }
    }

    .refesh {
        width: 35px;
        height: 35px;
        background-image: url(../images/icon_refesh.png);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        margin: 0px 0px 0px 3px;
    }
}

.c-button {
    line-height: 35px;
    height: 35px;
    margin: 0px 0px 0px 15px;
    font-size: 1.5rem;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    padding: 0px 40px;
    color: #fff;
    background-color: $active-color;
    @include transition();

    &:hover {
        cursor: pointer;
        opacity: 0.9;
        color: #fff;
    }

    &.border {
        border: 1px solid #232121;
        background-color: #fff;
        color: #232121;

        &:hover {
            color: #232121;
        }
    }
}

.map {
    margin: 0px 0px -10px 0px;
}



.company-overview {
    margin: 0px 0px 40px 0px;

    p {
        font-size: 1.5rem;
        color: $text-color-second;
    }
}

.footer {
    color: #fff;
    padding: 20px 10px 10px 10px;

    background-color: $active-color;
    text-align: center;

    p {
        margin: 0px;
        display: inline-block;
        margin: 0px 10px 10px 0px;
        font-size: 14px;
    }

    a {
        font-size: 14px;
        color: #fff;
        opacity: 0.8;
    }

    .share {
        margin: 0px 0px 0px 10px;
        position: relative;
        top: -4px;

        display: inline-block;

        a {
            margin: 0px 10px;

        }

    }
}
