/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
-------------------------------------------------------------------
-------------------------------------------------------------------*/
/*==========Setting=========*/
html {
  font-size: 10px; }

body {
  min-width: 360px;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5; }

dt,
dd {
  line-height: 1.5; }

body,
html {
  overflow: auto; }

a:hover {
  text-decoration: none;
  color: inherit; }

a {
  color: inherit; }

a:active,
a:focus {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

iframe {
  width: 100%;
  border: none; }

::selection {
  background: #dc577c;
  color: #fff; }

/*==========Components=========*/
.co-btn {
  display: inline-block;
  line-height: 40px;
  padding: 0px 30px;
  color: #fff;
  background-color: #000000;
  letter-spacing: 2px;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
  border: none;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .co-btn:hover {
    background-color: #dc577c;
    outline: none;
    color: #fff; }
  .co-btn.active {
    background-color: #dc577c;
    outline: none;
    color: #fff; }
    .co-btn.active:hover {
      opacity: 0.8; }

.dropdown-menu {
  font-size: inherit;
  top: 100% !important;
  transform: none !important; }

.dropdown-toggle::after {
  display: none; }

#page-loader {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999; }

.topbar {
  min-height: 40px;
  border-bottom: 1px solid #dddddd; }
  .topbar .link-text {
    display: inline-block;
    line-height: 41px;
    font-size: 1.2rem;
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    transition: color ease 0.3s; }
    .topbar .link-text:hover {
      color: #dc577c; }
  .topbar .user-control {
    float: left; }
    .topbar .user-control .link-text {
      margin: 0px 0px 0px 30px; }
  .topbar .search-box {
    height: 40px;
    float: left;
    position: relative;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 30px;
    width: 200px; }
    .topbar .search-box button {
      border: none;
      background-color: transparent;
      outline: none;
      width: 30px;
      height: 40px;
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: url(../images/icon/ico-search.svg);
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: center center; }
    .topbar .search-box input {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0px 0px;
      font-size: 1.2rem;
      color: #000000;
      border: none; }

.header {
  padding: 80px 0px 180px 0px; }
  @media screen and (max-width: 1400px) {
    .header {
      padding: 40px 0px 130px 0px; } }
  @media screen and (max-width: 991px) {
    .header {
      padding: 40px 0px 100px 0px; } }
  @media screen and (max-width: 767px) {
    .header {
      padding: 40px 0px 40px 0px; } }
  .header .logo-wrap {
    text-align: center; }
  .header .main-menu {
    text-align: center;
    margin: 40px 0px 0px 0px; }
    .header .main-menu ul {
      list-style: none;
      padding: 0px; }
      .header .main-menu ul li {
        display: inline-block;
        padding: 0px 20px; }
        @media screen and (max-width: 991px) {
          .header .main-menu ul li {
            padding: 0px 10px; } }
        .header .main-menu ul li a {
          font-size: 1.3rem;
          font-weight: 700;
          text-transform: uppercase;
          transition: color ease 0.3s; }
          @media screen and (max-width: 991px) {
            .header .main-menu ul li a {
              font-size: 12px; } }
          .header .main-menu ul li a:hover {
            color: #dc577c; }
        .header .main-menu ul li.current a {
          color: #dc577c; }

.review-box {
  max-width: 700px;
  margin: 0px auto 120px auto; }
  .review-box h1 {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 10px 0px; }
    @media screen and (max-width: 991px) {
      .review-box h1 {
        font-size: 4rem; } }
    @media screen and (max-width: 767px) {
      .review-box h1 {
        font-size: 3rem; } }
  .review-box .review-search {
    margin: 0px 20px 30px 20px;
    border: 1px solid #c1c1c1;
    height: 38px;
    position: relative;
    padding: 0px 50px 0px 0px; }
    .review-box .review-search input {
      width: 100%;
      height: 36px;
      padding: 0px 10px;
      font-size: 1.2rem;
      border: none;
      outline: none;
      background-color: transparent; }
    .review-box .review-search button {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 50px;
      height: 36px;
      border: none;
      border-left: 1px solid #c1c1c1;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      background-image: url(../images/icon/ico-search.svg);
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all ease 0.3s; }
      .review-box .review-search button:hover {
        color: #fff; }
  .review-box .review-menu {
    position: relative; }
    .review-box .review-menu ul {
      list-style: none;
      padding: 0px;
      text-align: center; }
      .review-box .review-menu ul li {
        display: inline-block;
        padding: 0px 30px; }
        @media screen and (max-width: 991px) {
          .review-box .review-menu ul li {
            padding: 0px 20px; } }
        @media screen and (max-width: 767px) {
          .review-box .review-menu ul li {
            padding: 0px 10px; } }
        .review-box .review-menu ul li a {
          font-size: 1.3rem;
          font-weight: 700;
          transition: color ease 0.3s; }
          @media screen and (max-width: 991px) {
            .review-box .review-menu ul li a {
              font-size: 12px; } }
        .review-box .review-menu ul li.current a {
          color: #dc577c; }
        .review-box .review-menu ul li:hover > a {
          color: #dc577c; }
        .review-box .review-menu ul li .mega-menu {
          position: absolute;
          top: 100%;
          left: 0px;
          right: 0px;
          min-height: 300px;
          background-color: #fff;
          z-index: 999;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          margin: 20px 0px 0px 0px; }

.menu {
  position: relative;
  z-index: 10; }
  .menu .container {
    position: static; }

@media screen and (max-width: 991px) {
  .open-menu {
    overflow: hidden; }
    .open-menu .menu-res {
      transform: translateX(0px); }
    .open-menu .header .container {
      left: -280px; }
    .open-menu .page {
      height: 100%;
      left: -280px; }
  .header .container {
    position: relative;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s; }
  .menu-res {
    width: 280px;
    background-color: #111;
    position: fixed;
    top: 0px;
    z-index: 99999;
    overflow: auto;
    bottom: 0px;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    right: 0px;
    transform: translateX(280px); }
  .page {
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    position: relative; }
  .menu-res-inner {
    padding: 30px 20px 20px 20px; }
    .menu-res-inner ul {
      padding: 0px;
      list-style: none; }
      .menu-res-inner ul > li {
        border-bottom: 1px solid #222;
        position: relative; }
        .menu-res-inner ul > li .fa-home {
          margin: 0px 5px 0px 0px; }
        .menu-res-inner ul > li i {
          margin: 0px 5px 0px 0px; }
        .menu-res-inner ul > li a {
          color: #999;
          display: block;
          line-height: 40px;
          font-family: arial;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s; }
          .menu-res-inner ul > li a:hover {
            color: #fff; }
        .menu-res-inner ul > li.menu-item-has-children:before {
          display: block;
          content: "\f489";
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0px;
          right: 0px;
          font-family: "Ionicons";
          font-size: 20px;
          text-align: center;
          cursor: pointer;
          line-height: 40px;
          color: #999; }
        .menu-res-inner ul > li.open-submenu-active:before {
          content: "\f462"; }
        .menu-res-inner ul > li > ul {
          padding: 0px 0px 10px 10px; }
          .menu-res-inner ul > li > ul li {
            border-top: 1px solid #222;
            border-bottom: none !important; }
            .menu-res-inner ul > li > ul li a {
              display: block;
              line-height: 35px;
              text-transform: none;
              color: #666;
              padding: 0px 0px;
              font-weight: 400;
              -moz-transition: all ease 0.2s;
              -o-transition: all ease 0.2s;
              -webkit-transition: all ease 0.2s;
              transition: all ease 0.2s;
              text-transform: uppercase; }
              .menu-res-inner ul > li > ul li a:hover {
                color: #fff; }
            .menu-res-inner ul > li > ul li > ul {
              padding: 0px 0px 0px 20px; } }

/*# sourceMappingURL=main.css.map */