.add-product-caption {
    margin-bottom: 30px;

    h2 {
        font-weight: 700;
        margin: 0px 0px 10px 0px;
        font-size: 24px;
        color: $text-color-second;

        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }

    p {
        font-size: 14px;
        margin: 0px 0px 35px 0px;
        color: $text-color-second;

        strong {
            font-weight: 700;
            color: $text-color-second;
        }

        a {
            color: $text-color-second;
        }
    }
}




.paints-table {
    border: 1px solid $border-color;
    border-radius: 3px;
    margin-bottom: 30px;


    .pt-caption {
        background-color: #CBD6E2;
        padding: 0px 5px;

        .column {
            padding-bottom: 0px;
        }

        span {
            font-size: 16px;
            font-weight: 700;
            display: inline-block;
            padding: 10px 5px;

            text-transform: uppercase;

            @media screen and (max-width: 991px) {
                font-size: 14px;
                font-weight: 500;

            }

            @media screen and (max-width: 767px) {
                font-size: 12px;

            }

        }

    }

    .pt-content {
        padding: 10px;

        .pt-row {
            padding: 10px 0px;

        }

        span {
            font-size: 14px;
            padding: 5px 0px;


        }

        .db-dropdown {

            width: 100%;

            .dropdown {
                width: 100%;
            }

            .dropdown-trigger {
                width: 100%;

            }

            span {
                width: 100%;
                padding: 0px 15px;

                i {
                    float: right;
                    margin: 12px 0px 0px 0px;
                }

            }
        }
    }
}

.color-palette {
    padding-left: 10px;

    .cp-item {
        float: left;
        width: 65px;
        height: 65px;
        border-radius: 3px;
        border: 1px solid #33475B;
        margin: 0px 7px 7px 0px;

    }
}
