.page {
    padding-top: 60px;
}

.page-header {
    height: 60px;
    border-bottom: 1px solid $border;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    padding: 0px 15px;

    .user-signup {

        padding: 10px 0px 0px 0px;

        .button {
            margin-left: 8px;
        }
    }

    .logo {
        float: left;
        padding: 13px 0px 12px 0px;

        img {
            height: 35px;
        }
    }

    .icon-setting {
        float: left;
        line-height: 60px;
        font-size: $font-size-h1;
        color: $theme-dkgreyblue;

        width: 30px;
        height: 60px;
        background-size: 25px auto;
        background-position: center center;
        transition: all ease 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    .edicator {
        float: left;
        height: 40px;
        margin: 10px 10px 0px 10px;
        width: 1px;
        opacity: 0.7;

        background-color: $theme-dkgreyblue;
    }

    .user-dropdown {
        float: left;

        .dropdown-menu {
            width: 200px;
            left: auto;

            right: 0px;
            margin-top: -4px;

        }
    }

    .dropdown-trigger .user-toggle {

        cursor: pointer;
        padding: 13px 0px 7px 0px;

        img {
            float: left;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin: 0px 5px 0px 0px;

        }

        span {
            display: inline-block;
            line-height: 35px;
            font-size: $font-size-h5; //  color: $text;
            border: none;
            padding: 0px 0px 0px 10px;
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }


            i {
                font-size: $font-size-h3;
                margin: 0px 5px 0px 5px;
                width: 20px;
                position: relative;
                top: 6px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 16px auto;
                transform: rotate(-180deg);
                height: 20px;

                border: none;

            }
        }

    }


}


.page-content {
    padding: 25px 15px;


}
