.setting {
    padding: 0px 0px 0px 195px;

    @media screen and (max-width: 991px) {
        padding: 0px 0px 0px 160px;
    }

    .setting-left {
        width: 165px;
        float: left;
        margin: 0px 0px 0px -195px;

        @media screen and (max-width: 991px) {
            width: 140px;
            margin: 0px 0px 0px -160px;
        }
    }

    .setting-right {
        width: 100%;
        float: none;
    }

    h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0px 0px 30px 0px;

        @media screen and (max-width: 991px) {
            font-size: 25px;
        }
    }

    .setting-nav {
        > ul {
            margin: 0px;
            padding: 0px;
            line-height: none;

            > li {
                > a {
                    display: block;
                    line-height: 40px;
                    font-size: 17px;
                    color: $text-color;
                }

                > ul {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;

                    > li {
                        > a {
                            display: block;
                            border-radius: 2px;
                            line-height: 40px;
                            color: $text-color;
                            padding: 0px 5px 0px 15px;
                        }

                        &.active {
                            > a {
                                background-color: #F6F8FA;
                            }
                        }
                        &:hover {
                            > a {
                                background-color: #F6F8FA;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sr-caption {
    margin: 0px 0px 20px 0px;

    h3 {
        margin: 0px;
        font-size: 24px;

        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }
}

.sr-control {
    .db-button {
        margin: 0px 7px 0px 0px;
    }
}

.tag-wrap {
    margin-bottom: 20px;

    .db-tag {
        display: inline-block;
        margin: 0px 10px 10px 0px;
        border-radius: 4px;
        background-color: #CBD6E2;
        padding: 0px 25px;
        height: 25px;
        line-height: 25px;

        &.low {
            opacity: 0.6;
        }
    }
}

.sr-password {
    margin: 0px;
    margin-bottom: 20px;

    p {
        font-size: 16px;
        font-weight: 700;
        margin: 25px 0px 5px 0px;
    }

    .field {
        &.has-icon {
            position: relative;

            .icon {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 0px;
                left: 0px;
                background-repeat: no-repeat;
                background-position: center center;

                &.icon-password {
                    background-image: url(../images/icon_password.svg);
                }

                &.icon-viewpass {
                    background-image: url(../images/icon_eye.svg);
                    left: unset;
                    right: 0px;
                }
            }
        }

        &.error {
            .db-input {
                border: 1px solid $error-color;
            }

            .icon {
                &.icon-password {
                    background-image: url(../images/icon_password_red.svg);
                }
            }
        }
    }

    .error-mess {
        color: $error-color;
        font-size: 14px;
        display: block;
        margin: -5px 0px 0px 0px;
    }
}
