.menu-label {
    font-size: 17px;
    color: $text;
    letter-spacing: 0px;
    text-transform: none;
}

.menu-list {
    margin: 0px;
    padding: 0px;
    line-height: none;
    > li {
        > a {
            display: block;
            border-radius: $radius-small;
            line-height: 40px;
            color: $text;
            padding: 0px 5px 0px 15px;
            /*
            &:hover {
                background-color: $background;
            }
            &.is-active {
                background-color: $theme-dkgreyblue;
            }
            */
        }

    }
}

.setting {
    padding: 0px 0px 0px 195px;

    @media screen and (max-width: 991px) {
        padding: 0px 0px 0px 160px;
    }
}

.setting-left {
    width: 165px;
    float: left;
    margin: 0px 0px 0px -195px;

    @media screen and (max-width: 991px) {
        width: 140px;
        margin: 0px 0px 0px -160px;
    }
}
