.footer {
    border-top: 1px solid $border;
    height: 70px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: $background;
    z-index: 100;
    padding: 18px 15px;

    .button {
        i {
            margin: 0px 0px;
            width: 11px;
            height: 11px;
            background-size: 7px auto;
            display: inline-block;
            background-position: center;

        }

        &.is-outlined {}

    }
}


.header {
    padding: 20px 15px;
    text-align: center;
    position: relative;
    z-index: 3;

    .header-left {
        float: left;
        padding: 10px 0px 0px 0px;

        @media screen and (max-width: 991px) {
            display: block;
            text-align: center;
            float: none;
            padding: 0px;
        }

        p {
            font-size: $font-size-h5;
        }
    }

    .header-right {
        float: right;
        padding: 10px 0px 0px 0px;

        @media screen and (max-width: 991px) {
            display: block;
            text-align: center;
            float: none;
            padding: 10px 0px 10px 0px;
        }

        p {
            font-size: $font-size-h5;
        }
    }
}

.page-interior-furniture {
    .header {
        @media screen and (max-width: 767px) {
            height: 40px;
            padding: 8px 15px;
            position: fixed;

            top: 0px;
            left: 0px;
            right: 0px;


        }

        .header-left {

            @media screen and (max-width: 767px) {

                float: left;

            }

        }


        .header-right {
            @media screen and (max-width: 767px) {
                float: right;
                padding: 0px;
            }


        }
    }


    .field-search {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .ds-header {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .step-section {
        @media screen and (max-width: 767px) {
            padding: 0px 15px 0px 15px;
        }

    }

    .step-section {
        .container {
            position: static;
        }

    }

}

@media screen and (max-width: 767px) {
    .if-col {

        position: fixed;
        top: 40px;
        bottom: 82px;
        left: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;

    }

    .if-col-left {

        flex-grow: 0 !important;


    }

    .if-col-right {

        position: relative;
        flex-basis: 100%;
        flex-grow: 1 !important;



        .simple-scroll {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            margin: 0px;
            max-height: 1000px;
            overflow: inherit;
            padding: 0px 15px;



        }

    }
}

.icon-info {
    display: inline-block;
    height: 15px;
    width: 15px;
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px auto;
    background-image: url(#{$assetPath}/icon-info.svg);
    top: 3px;

    &:hover {
        cursor: pointer;
    }
}
