body{
    padding-bottom: 120px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
            .text-center{
                text-align: center;
            }
            #header{
                background: #071a41;
                margin: 0;
                padding: 14px;
                width: 100%;
                border-bottom: 1px solid #162e61;
            }
            #header .logo{
                max-width: 100%;
                height: auto;
                width:230px;
            }

#fixed-counter{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.4em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* background: orange; */
    background: -webkit-linear-gradient(#fb7202,#fb9802);
    padding: 8px;
    z-index: 9999;
    border-top: 2px solid orange;
    padding: 8px;
    z-index: 9999;
    border-top:2px solid orange;
}

#fixed-counter .counterx{
    margin: 0;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bold;
}

#fixed-counter .counterx .number{
    font-size: 16px;
    border-width: 2px;
    text-align: center;
    padding: 10px;
}

.countP{
    margin:4px !important;
    font-size: 10px
}

.bitP{
    margin:4px !important;
    font-size: 10px
}