/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
-------------------------------------------------------------------
-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";
/*==========Setting=========*/

html {
    font-size: 10px;
}

body {

    min-width: 360px;
    font-size: 1.4rem;
    font-family: $font-family;
    line-height: 1.5;
}

dt,
dd {
    line-height: 1.5;
}

body,
html {

    overflow: auto;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {}

iframe {
    width: 100%;
    border: none;
}

::selection {
    background: $active-color;
    color: #fff;
}

a {
    &:active {}
}

/*==========Components=========*/

.co-btn {
    display: inline-block;
    line-height: 40px;
    padding: 0px 30px;

    color: #fff;
    background-color: $base-color;
    letter-spacing: 2px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    border: none;
    @include transition();
    &:hover {
        background-color: $active-color;
        outline: none;
        color: #fff;
    }
    &.active {
        background-color: $active-color;
        outline: none;
        color: #fff;
        &:hover {
            opacity: 0.8;
        }
    }
}



.dropdown-menu {
    font-size: inherit;
    top: 100% !important;
    transform: none !important;
}

.dropdown-toggle::after {
    display: none;
}

#page-loader {
    background-color: $base-color;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}


.topbar {
    min-height: 40px;
    border-bottom: 1px solid $border-color;
    .link-text {
        display: inline-block;
        line-height: 41px;
        font-size: 1.2rem;
        float: left;
        font-weight: 700;
        text-transform: uppercase;
        transition: color ease 0.3s;
        &:hover {
            color: $active-color;
        }
    }
    .user-control {
        float: left;
        .link-text {
            margin: 0px 0px 0px 30px;
        }
    }

    .search-box {

        height: 40px;
        float: left;


        position: relative;
        padding: 0px 0px 0px 30px;
        margin: 0px 0px 0px 30px;
        width: 200px;
        button {
            border: none;
            background-color: transparent;
            outline: none;
            width: 30px;
            height: 40px;
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: url(../images/icon/ico-search.svg);
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        input {
            width: 100%;
            height: 40px;
            line-height: 40px;
            border: none;
            outline: none;
            background-color: transparent;
            padding: 0px 0px;
            font-size: 1.2rem;
            color: $base-color;
            border: none;


        }
    }
}

.header {

    padding: 80px 0px 180px 0px;




    @media screen and (max-width: 1400px) {

        padding: 40px 0px 130px 0px;
    }
    @media screen and (max-width: 991px) {

        padding: 40px 0px 100px 0px;
    }
    @media screen and (max-width: 767px) {

        padding: 40px 0px 40px 0px;
    }

    .logo-wrap {
        text-align: center;
    }

    .main-menu {
        text-align: center;
        margin: 40px 0px 0px 0px;
        ul {
            list-style: none;
            padding: 0px;
            li {
                display: inline-block;
                padding: 0px 20px;
                @media screen and (max-width: 991px) {
                    padding: 0px 10px;
                }

                a {
                    font-size: 1.3rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    transition: color ease 0.3s;
                    @media screen and (max-width: 991px) {
                        font-size: 12px;
                    }

                    &:hover {
                        color: $active-color;
                    }
                }
                &.current {
                    a {
                        color: $active-color;
                    }
                }

            }
        }
    }
}


.review-box {
    max-width: 700px;
    margin: 0px auto 120px auto;
    h1 {
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        padding: 0px;
        margin: 0px 0px 10px 0px;
        @media screen and (max-width: 991px) {
            font-size: 4rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 3rem;
        }
    }
    .review-search {
        margin: 0px 20px 30px 20px;

        border: 1px solid $search-border-color;
        height: 38px;
        position: relative;
        padding: 0px 50px 0px 0px;
        input {
            width: 100%;
            height: 36px;
            padding: 0px 10px;
            font-size: 1.2rem;
            border: none;
            outline: none;
            background-color: transparent;
        }
        button {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 50px;
            height: 36px;
            border: none;
            border-left: 1px solid $search-border-color;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            background-image: url(../images/icon/ico-search.svg);
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center center;
            transition: all ease 0.3s;
            &:hover {
                color: #fff;
            }

        }
    }

    .review-menu {
        position: relative;

        ul {
            list-style: none;
            padding: 0px;
            text-align: center;
            li {
                display: inline-block;
                padding: 0px 30px;
                @media screen and (max-width: 991px) {
                    padding: 0px 20px;
                }
                @media screen and (max-width: 767px) {
                    padding: 0px 10px;
                }


                > a {
                    font-size: 1.3rem;
                    font-weight: 700;
                    display: block;
                    position: relative;
                    line-height: 40px;
                    transition: color ease 0.3s;
                    @media screen and (max-width: 991px) {
                        font-size: 12px;
                    }

                    &:before {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 0px;
                        border: 10px solid transparent;
                        border-width: 10px 8px;
                        border-style: solid;

                        border-color: transparent transparent #fff #fff;
                        z-index: 999;
                        transform: rotate(135deg);

                        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.1);
                        position: absolute;
                        bottom: -21px;
                        left: 50%;
                        margin: 0px 0px 0px -8px;
                    }


                }
                &.current {
                    a {
                        color: $active-color;
                    }
                }
                &:hover {
                    > a {
                        color: $active-color;
                    }
                }
                .mega-menu {
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    right: 0px;

                    background-color: #fff;
                    z-index: 998;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                    margin: 10px 0px 0px 0px;

                    .mega-brand {

                        padding: 30px 35px;

                        @media screen and (max-width: 767px) {
                            padding: 20px 15px;
                        }
                        .mb-search {

                            height: 30px;

                            position: relative;
                            padding: 0px 40px 0px 0px;
                            margin: 0px 0px 20px 0px;
                            width: 100%;
                            border: 1px solid $search-border-color;

                            button {
                                border: none;
                                background-color: transparent;
                                outline: none;
                                width: 40px;
                                height: 28px;
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                background-image: url(../images/icon/ico-search.svg);
                                background-size: 20px 20px;
                                background-repeat: no-repeat;
                                background-position: center center;
                                border-left: 1px solid $search-border-color;
                            }
                            input {
                                width: 100%;
                                height: 28px;
                                line-height: 28px;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                padding: 0px 10px;
                                font-size: 1.2rem;
                                color: $base-color;
                                border: none;


                            }
                        }
                        .md-abc {
                            margin-right: -13%;
                            span {
                                float: left;
                                width: 14.28%;
                                text-align: left;
                                display: block;
                                line-height: 30px;
                                font-size: 1.4rem;
                                font-weight: 700;
                                cursor: pointer;
                                transition: color ease 0.3s;
                                &:hover {
                                    color: $active-color;
                                }

                            }
                        }
                        .md-brand-group {
                            padding: 0px 0px 0px 50px;
                            @media screen and (max-width: 767px) {
                                padding: 0px 0px 0px 10px;
                            }
                            .md-brand-group-scroll {
                                max-height: 330px;
                                overflow: auto;
                                text-align: left;

                                @media screen and (max-width: 767px) {
                                    max-height: 200px;
                                }

                                h3 {
                                    font-size: 2rem;
                                    font-weight: 700;
                                    margin: 10px 0px 2px 0px;
                                }
                                p {
                                    margin: 0px 0px 5px 0px;
                                    a {
                                        font-size: 1.4rem;
                                        transition: color ease 0.3s;
                                        &:hover {
                                            color: $active-color;
                                        }

                                    }
                                }
                            }

                        }


                    }
                }

            }
        }
    }

}


.menu {

    position: relative;
    z-index: 10;
    .container {
        position: static;
    }
}

@media screen and (max-width:991px) {
    .open-menu {
        overflow: hidden;
        .menu-res {
            transform: translateX(-0px);
        }
        .header .container {
            left: -280px;

        }
        .page {

            height: 100%;
            left: -280px;
        }
    }
    .header .container {
        position: relative;
        @include transition();
    }
    .menu-res {
        width: 280px;
        background-color: #111;
        position: fixed;
        top: 0px;
        z-index: 99999;
        overflow: auto;
        bottom: 0px;
        @include transition();
        right: 0px;
        transform: translateX(280px);
    }
    .page {
        // transform: translateX(0px);
        @include transition();
        position: relative;
    }
    .menu-res-inner {
        padding: 30px 20px 20px 20px;
        ul {
            padding: 0px;
            list-style: none;
            > li {
                border-bottom: 1px solid #222;
                position: relative;
                .fa-home {
                    margin: 0px 5px 0px 0px;
                }
                i {
                    margin: 0px 5px 0px 0px;
                }
                a {
                    color: #999;
                    display: block;
                    line-height: 40px;
                    font-family: arial;
                    @include transition();
                    &:hover {
                        color: #fff;
                    }
                }
                &.menu-item-has-children {
                    &:before {
                        display: block;
                        content: "\f489";
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        font-family: "Ionicons";
                        font-size: 20px;
                        text-align: center;
                        cursor: pointer;
                        line-height: 40px;
                        color: #999;
                    }
                }
                &.open-submenu-active {
                    &:before {
                        content: "\f462";
                    }
                }
                > ul {
                    padding: 0px 0px 10px 10px;
                    li {
                        border-top: 1px solid #222;
                        border-bottom: none !important;

                        a {
                            display: block;
                            line-height: 35px;
                            text-transform: none;
                            color: #666;
                            padding: 0px 0px;
                            font-weight: 400;

                            @include transition();
                            text-transform: uppercase;
                            &:hover {
                                color: #fff;
                            }
                        }
                        > ul {
                            padding: 0px 0px 0px 20px;
                        }
                    }
                }
            }
        }
    }
}
