// Buttons

.btn {
  @include media-breakpoint-down(sm) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  border-radius: 0;
  border-width: 1.5px;
  box-shadow: none !important;
  font-size: 13px;
  font-weight: 600;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
}

.btn-light {
  background: none;
  border: 0;
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  text-transform: none;

  &:hover,
  &:active {
    background: none !important;
  }
}

.btn-link {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 !important;
  text-transform: none;
}

.btn-link-grey {
  background: none;
  color: $grey-3;
  cursor: pointer;

  &:hover {
    color: $grey-4;
    text-decoration: underline;
  }
}

.btn-outline-primary {
  &:hover,
  &:focus,
  &:active {
    color: $white !important;
  }
}

.btn-primary {
  color: $white;
}

.btn-add-to-cart {
  font-size: .8rem;
}

.btn-quickview {
  @extend .btn-white;
  font-size: .8rem;
  opacity: 0;
  transition: opacity .25s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: $black !important;
    border-color: $black !important;
    color: $white !important;
  }
}

.btn-sorting {
  align-items: center;
  background-color: $white;
  border: 1px solid $grey-2;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding: 4px 15px;
  text-transform: none;

  i {
    color: $grey-3;
    margin-left: .5rem;
  }
}

.btn-grey-full {
  background-color: $grey-3;
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-transparent {
  background: 0;
  border: 0;
  outline: 0 !important;
}

.btn-twitter {
  @include btn-share-twitter;
}

.btn-facebook {
  @include btn-share-facebook;
}

.btn-amazon {
  background: none repeat scroll 0 0 $amazon-bottom;
  background: linear-gradient(to bottom, $amazon-top, $amazon-bottom);
  border-color: $amazon-border-top $amazon-border-horinzontal $amazon-border-bottom;

  &:hover {
    background: linear-gradient(to bottom, $amazon-hover-top, $amazon-hover-bottom) !important;
  }
}
