img {
  max-width: 100%; }

@media (min-width: 1400px) {
  .container-fix {
    max-width: 1300px; } }

.menubar-white {
  background-color: #fff; }

.talk-page {
  min-height: 500px;
  margin: 60px 0px 0px 0px;
  background-color: #eff9ff;
  padding-bottom: 100px; }

.tp-top {
  min-height: 200px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding: 50px 0px 80px 0px;
  border-bottom: 2px solid #0076bc; }
  .tp-top .container-fluid {
    max-width: 1380px; }
  .tp-top .tp-top-flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 1199px) {
      .tp-top .tp-top-flex {
        flex-wrap: wrap; } }
    .tp-top .tp-top-flex .left {
      max-width: 350px; }
      @media screen and (max-width: 1199px) {
        .tp-top .tp-top-flex .left {
          width: 100%; } }
      @media screen and (max-width: 575px) {
        .tp-top .tp-top-flex .left {
          text-align: center;
          max-width: 100%; } }
      .tp-top .tp-top-flex .left h2 {
        font-size: 42px;
        font-weight: 700;
        margin: 0px 0px 10px 0px; }
        @media screen and (max-width: 1199px) {
          .tp-top .tp-top-flex .left h2 {
            font-size: 30px; } }
        @media screen and (max-width: 767px) {
          .tp-top .tp-top-flex .left h2 {
            text-transform: uppercase; } }
      .tp-top .tp-top-flex .left p {
        font-size: 18px;
        margin: 0px; }
        @media screen and (max-width: 1199px) {
          .tp-top .tp-top-flex .left p {
            font-size: 15px; } }
    .tp-top .tp-top-flex .right {
      padding: 20px 0px 0px 0px; }
      .tp-top .tp-top-flex .right .map-flex {
        display: flex; }
        @media screen and (max-width: 767px) {
          .tp-top .tp-top-flex .right .map-flex {
            flex-wrap: wrap; } }
        .tp-top .tp-top-flex .right .map-flex .item {
          margin: 0px 0px 0px 40px;
          display: flex;
          align-content: center; }
          @media screen and (max-width: 1199px) {
            .tp-top .tp-top-flex .right .map-flex .item {
              margin: 0px 30px 0px 0px; } }
          @media screen and (max-width: 767px) {
            .tp-top .tp-top-flex .right .map-flex .item {
              width: 100%;
              margin: 0px 0px 15px 0px; } }
          .tp-top .tp-top-flex .right .map-flex .item .icon {
            flex-shrink: 0;
            margin: 0px 20px 0px 0px;
            text-align: right; }
            @media screen and (max-width: 767px) {
              .tp-top .tp-top-flex .right .map-flex .item .icon {
                width: 80px;
                flex-shrink: 0;
                text-align: center; } }
            .tp-top .tp-top-flex .right .map-flex .item .icon img {
              max-width: 100%; }
          .tp-top .tp-top-flex .right .map-flex .item .des p {
            font-size: 18px;
            margin: 0px 0px 0px 0px; }
            @media screen and (max-width: 1199px) {
              .tp-top .tp-top-flex .right .map-flex .item .des p {
                font-size: 15px; } }
          .tp-top .tp-top-flex .right .map-flex .item .des a {
            font-size: 18px;
            font-weight: 700;
            color: #0076bc;
            white-space: nowrap; }
            @media screen and (max-width: 1199px) {
              .tp-top .tp-top-flex .right .map-flex .item .des a {
                font-size: 15px; } }

.tp-content {
  position: relative;
  z-index: 3;
  margin: -35px 0px 0px 0px; }
  .tp-content .contact-box {
    min-height: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 570px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 0px auto 0px auto; }
    .tp-content .contact-box h3 {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0px 0px 10px 0px; }
    .tp-content .contact-box .des p {
      font-size: 15px;
      color: #848484;
      font-style: italic;
      font-weight: 300; }
      .tp-content .contact-box .des p strong {
        color: #000;
        font-weight: normal;
        font-style: normal; }
    .tp-content .contact-box .row {
      margin-left: -5px;
      margin-right: -5px; }
      .tp-content .contact-box .row .col-md-6 {
        padding-left: 5px;
        padding-right: 5px; }
    .tp-content .contact-box .line {
      height: 1px;
      background-color: #ddd;
      margin: 10px 0px 20px 0px; }

.select {
  height: 55px;
  display: block;
  border: 1px solid #e0e0e0;
  transition: all ease 0.3s;
  border-radius: 4px;
  padding: 0px 0px 0px 20px;
  width: 100%;
  color: #666;
  font-size: 15px; }
  .select:focus {
    border: 1px solid #006cfa; }

.button {
  background-color: #006cfa;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: block;
  height: 55px;
  border-radius: 4px;
  border: none;
  outline: none;
  display: inline-block;
  color: #fff;
  transition: all ease 0.3s; }
  .button:hover {
    background-color: #157aff;
    cursor: pointer; }

.input {
  height: 55px;
  display: block;
  border: 1px solid #e0e0e0;
  transition: all ease 0.3s;
  border-radius: 4px;
  padding: 0px 20px;
  font-size: 15px;
  line-height: 55px;
  position: relative;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  transition: all ease 0.3s;
  outline: none;
  color: #006cfa; }
  .input::placeholder {
    color: transparent; }
  .input:focus {
    border: 1px solid #006cfa; }

.textarea {
  height: 190px;
  display: block;
  border: 1px solid #e0e0e0;
  transition: all ease 0.3s;
  border-radius: 4px;
  padding: 20px 20px;
  font-size: 15px;
  position: relative;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  transition: all ease 0.3s;
  outline: none;
  color: #006cfa; }
  .textarea::placeholder {
    color: transparent; }
  .textarea:focus {
    border: 1px solid #006cfa; }

.db-field {
  margin: 0px 0px 15px 0px; }
  .db-field .wrap {
    position: relative; }
  .db-field .cap {
    font-size: 15px;
    color: #000;
    margin: 0px 0px 5px 0px; }
  .db-field label {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 15px 20px;
    font-size: 15px;
    transition: all ease 0.3s;
    z-index: 1;
    opacity: 0.6; }
  .db-field .input:not(:placeholder-shown) {
    padding-top: 10px; }
  .db-field .input:not(:placeholder-shown) ~ label {
    line-height: 25px;
    padding: 0px 20px;
    font-size: 12px;
    opacity: 0.6; }
  .db-field .input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333; }
  .db-field .textarea:not(:placeholder-shown) ~ label {
    padding: 7px 20px;
    font-size: 12px;
    opacity: 0.6; }
  .db-field .textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333; }

.wrap.phone .phone-dropdown {
  position: absolute;
  z-index: 10;
  top: 17px;
  left: 10px; }
  .wrap.phone .phone-dropdown .dropdown-toggle img {
    float: left;
    margin: 5px 2px 0px 0px; }
  .wrap.phone .phone-dropdown .dropdown-menu {
    min-width: 10px;
    padding: 0px 0px;
    left: -20px !important; }
    .wrap.phone .phone-dropdown .dropdown-menu:before {
      display: none; }
    .wrap.phone .phone-dropdown .dropdown-menu .language-item {
      cursor: pointer;
      padding: 5px 10px; }
      .wrap.phone .phone-dropdown .dropdown-menu .language-item:hover {
        background-color: #eee; }

.wrap.phone .input {
  padding-left: 60px !important; }

.wrap.phone label {
  padding: 15px 20px 15px 80px; }

.wrap.phone .input:not(:placeholder-shown) {
  padding-top: 0px; }

.wrap.phone .input:not(:placeholder-shown) ~ label {
  padding: 0px 20px 0px 60px; }

.range-slider {
  margin: 10px 0px 30px 0px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .db-field label {
    display: none !important; } }

.company-page {
  min-height: 500px;
  margin: 100px 0px 0px 0px;
  background-color: #fff;
  padding-bottom: 100px; }
  .company-page .com-caption {
    text-align: center;
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #fbe4e5;
    text-align: center; }
    .company-page .com-caption a {
      display: inline-block;
      margin: 0px 10px;
      bottom: -2px;
      padding: 7px 0px;
      border-bottom: 2px solid transparent;
      font-size: 16px;
      color: #404141;
      position: relative; }
      @media screen and (max-width: 767px) {
        .company-page .com-caption a {
          margin: 0px 5px;
          font-size: 14px; } }
      .company-page .com-caption a:before {
        content: "";
        display: block;
        height: 2px;
        transition: all ease 0.3s;
        position: absolute;
        bottom: 0px;
        left: 50%;
        right: 50%;
        background-color: #ff4d50; }
      .company-page .com-caption a:hover:before {
        left: 0px;
        right: 0px; }
      .company-page .com-caption a.active:before {
        left: 0px;
        right: 0px; }
  .company-page .company-caption {
    text-align: center; }
    .company-page .company-caption h2 {
      font-size: 42px;
      font-weight: bold;
      margin: 0px 0px 10px 0px; }
      @media screen and (max-width: 991px) {
        .company-page .company-caption h2 {
          font-size: 25px; } }
    .company-page .company-caption p {
      font-size: 18px;
      text-align: center;
      margin: 0px auto 30px auto;
      max-width: 870px; }
      @media screen and (max-width: 991px) {
        .company-page .company-caption p {
          font-size: 15px; } }
  .company-page .company-banner {
    padding: 40px 0px;
    background-image: url(../images/our-company-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px 0px 30px 0px; }
    .company-page .company-banner .item {
      margin: 10px 0px; }
      .company-page .company-banner .item strong {
        display: block;
        font-weight: bold;
        color: #ffbe37;
        font-size: 27px; }
        @media screen and (max-width: 767px) {
          .company-page .company-banner .item strong {
            font-size: 20px; } }
      .company-page .company-banner .item p {
        color: #fff;
        font-size: 22px; }
        @media screen and (max-width: 991px) {
          .company-page .company-banner .item p {
            font-size: 16px; } }
        @media screen and (max-width: 767px) {
          .company-page .company-banner .item p {
            font-size: 14px; } }
  .company-page .gallery-row {
    text-align: center; }
    @media screen and (max-width: 767px) {
      .company-page .gallery-row br {
        display: none; } }
    .company-page .gallery-row .item {
      max-width: 24%;
      display: inline-block;
      padding: 3px; }
      @media screen and (max-width: 767px) {
        .company-page .gallery-row .item {
          max-width: 49%; } }
      .company-page .gallery-row .item img {
        width: 100%; }
  .company-page .com-des {
    padding: 50px 0px 0px 0px; }
    .company-page .com-des h3 {
      font-size: 36px;
      margin: 0px 0px 10px 0px;
      font-weight: bold; }
      @media screen and (max-width: 991px) {
        .company-page .com-des h3 {
          font-size: 25px; } }
      @media screen and (max-width: 767px) {
        .company-page .com-des h3 {
          font-size: 20px; } }
    .company-page .com-des p {
      font-size: 16px; }
      @media screen and (max-width: 991px) {
        .company-page .com-des p {
          font-size: 14px; } }

.hiw-one {
  padding: 0px 0px 50px 0px; }
  .hiw-one h3 {
    font-size: 36px;
    margin: 0px 0px 10px 0px;
    font-weight: bold; }
    @media screen and (max-width: 991px) {
      .hiw-one h3 {
        font-size: 25px; } }
    @media screen and (max-width: 767px) {
      .hiw-one h3 {
        font-size: 20px; } }
  .hiw-one p {
    font-size: 18px; }
    @media screen and (max-width: 991px) {
      .hiw-one p {
        font-size: 16px; } }

.hiw-content {
  padding: 40px 0px;
  background-color: #f4f9fd; }
  .hiw-content .caption {
    text-align: center; }
    .hiw-content .caption h3 {
      font-size: 36px;
      margin: 0px 0px 10px 0px;
      color: #0077be;
      text-transform: uppercase;
      font-weight: bold; }
      @media screen and (max-width: 991px) {
        .hiw-content .caption h3 {
          font-size: 25px; } }
      @media screen and (max-width: 767px) {
        .hiw-content .caption h3 {
          font-size: 20px; } }
    .hiw-content .caption p {
      max-width: 900px;
      font-size: 18px;
      margin: 0px auto 30px auto; }
      @media screen and (max-width: 991px) {
        .hiw-content .caption p {
          font-size: 16px; } }

.time-line {
  position: relative;
  min-height: 500px; }
  @media screen and (max-width: 991px) {
    .time-line {
      padding: 0px 0px 0px 60px; } }
  .time-line:before {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    top: 200px;
    bottom: 150px;
    left: 50%;
    background-color: #b8daf0; }
    @media screen and (max-width: 1199px) {
      .time-line:before {
        top: 150px;
        bottom: 100px; } }
    @media screen and (max-width: 991px) {
      .time-line:before {
        left: 20px; } }
  .time-line .tl-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 30px 0px;
    position: relative; }
    @media screen and (max-width: 991px) {
      .time-line .tl-row {
        display: block; } }
    .time-line .tl-row.fix {
      flex-direction: row-reverse; }
    .time-line .tl-row .number {
      border: 1px solid #b8daf0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      top: 50%;
      left: 50%;
      z-index: 10;
      margin: 0px 0px 0px -15px;
      border-radius: 50%;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      background-color: #eaf3f9;
      position: absolute;
      color: #0077be; }
      @media screen and (max-width: 991px) {
        .time-line .tl-row .number {
          left: -41px;
          top: 120px; } }
    .time-line .tl-row .left {
      width: 50%; }
      @media screen and (max-width: 991px) {
        .time-line .tl-row .left {
          width: 100%; } }
    @media screen and (max-width: 1299px) {
      .time-line .tl-row .tl-img img {
        max-width: 500px; } }
    @media screen and (max-width: 1199px) {
      .time-line .tl-row .tl-img img {
        max-width: 400px; } }
    @media screen and (max-width: 767px) {
      .time-line .tl-row .tl-img img {
        max-width: 100%; } }
    .time-line .tl-row .tl-des {
      max-width: 350px;
      margin: 0px auto; }
      @media screen and (max-width: 991px) {
        .time-line .tl-row .tl-des {
          margin: 0px 0px 20px 0px; } }
      .time-line .tl-row .tl-des span {
        display: inline-block;
        background-color: #d7f0ff;
        padding: 5px 15px;
        border-radius: 3px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        color: #0077be; }
      .time-line .tl-row .tl-des h4 {
        text-transform: uppercase;
        font-size: 21px;
        font-weight: bold;
        margin: 10px 0px 10px 0px; }
      .time-line .tl-row .tl-des p {
        margin: 0px;
        font-style: italic;
        font-size: 16px; }

.hiw-cta {
  padding: 40px 0px 50px 0px;
  margin-bottom: 50px;
  background-color: #097bbf; }
  .hiw-cta .text-center {
    max-width: 750px;
    margin: 0px auto; }
  .hiw-cta h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0px auto 10px auto; }
    @media screen and (max-width: 991px) {
      .hiw-cta h3 {
        font-size: 20px; } }
  .hiw-cta p {
    color: #fff;
    font-size: 18px;
    max-width: 600px;
    font-weight: 300;
    margin: 0px auto 30px auto; }
    @media screen and (max-width: 991px) {
      .hiw-cta p {
        font-size: 16px; } }

.why-one {
  padding: 0px 0px 50px 0px;
  text-align: center; }
  .why-one h3 {
    font-size: 42px;
    margin: 0px 0px 10px 0px;
    font-weight: bold; }
    @media screen and (max-width: 991px) {
      .why-one h3 {
        font-size: 30px; } }
    @media screen and (max-width: 767px) {
      .why-one h3 {
        font-size: 20px; } }
  .why-one p {
    max-width: 1050px;
    margin: 0px auto 0px auto;
    font-size: 18px; }
    @media screen and (max-width: 991px) {
      .why-one p {
        font-size: 16px; } }

.why-block {
  padding: 70px 0px 70px 0px;
  background-color: #2c0a72;
  background-image: linear-gradient(to right, #2c0a72 0%, #0c0553 100%); }
  @media screen and (max-width: 991px) {
    .why-block {
      padding: 40px 0px; } }
  .why-block .img {
    text-align: center;
    padding: 0px 20px; }
    @media screen and (max-width: 767px) {
      .why-block .img {
        padding: 0px; } }
  @media screen and (max-width: 991px) {
    .why-block .des {
      margin: 20px 0px 0px 0px; } }
  .why-block .des label {
    display: inline-block;
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ff4d50; }
  .why-block .des h3 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin: 0px 0px 10px 0px; }
    @media screen and (max-width: 767px) {
      .why-block .des h3 {
        font-size: 24px; } }
  .why-block .des p {
    color: #fff;
    font-size: 16px;
    margin: 0px 0px 20px 0px; }
    .why-block .des p em {
      font-style: italic; }
    @media screen and (max-width: 767px) {
      .why-block .des p {
        font-size: 14px; } }
  .why-block .des .list {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style: inside; }
    .why-block .des .list li {
      float: left;
      width: 50%;
      margin: 0px 0px 7px 0px;
      font-size: 16px;
      color: #fff;
      list-style: none;
      padding: 0px 0px 0px 18px;
      position: relative;
      font-weight: bold; }
      .why-block .des .list li:before {
        content: "";
        width: 8px;
        height: 8px;
        display: block;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        left: 0px;
        top: 50%;
        margin: -5px 0px 0px 0px; }
      @media screen and (max-width: 767px) {
        .why-block .des .list li {
          font-size: 14px; } }
  .why-block.white {
    background-image: none;
    background-color: #fff; }
    .why-block.white .row {
      flex-direction: row-reverse; }
    .why-block.white .img {
      text-align: center; }
    @media screen and (max-width: 991px) {
      .why-block.white .des {
        margin: 20px 0px 0px 0px; } }
    .why-block.white .des label {
      background-color: #0076bc; }
    .why-block.white .des h3 {
      color: #333333; }
    .why-block.white .des p {
      color: #333333; }
    .why-block.white .des .list li {
      color: #0076bc; }
      .why-block.white .des .list li:before {
        background-color: #0076bc; }

.why-partner {
  border-radius: 20px;
  margin: 130px 0px 60px 0px;
  padding: 40px;
  position: relative;
  background-color: #050752; }
  @media screen and (max-width: 991px) {
    .why-partner {
      padding: 20px; } }
  .why-partner .img {
    position: absolute;
    top: -105px;
    right: 50px; }
    @media screen and (max-width: 991px) {
      .why-partner .img {
        display: none; } }
  .why-partner .des {
    max-width: 600px;
    padding: 40px 0px 20px 50px; }
    @media screen and (max-width: 1199px) {
      .why-partner .des {
        padding: 40px 0px 20px 0px; } }
    @media screen and (max-width: 991px) {
      .why-partner .des {
        padding: 0px; } }
    .why-partner .des h3 {
      color: #fff;
      font-size: 36px;
      margin: 0px 0px 10px 0px;
      font-weight: bold; }
      @media screen and (max-width: 1199px) {
        .why-partner .des h3 {
          font-size: 25px; } }
    .why-partner .des p {
      font-size: 16px;
      color: #fff; }
      @media screen and (max-width: 1199px) {
        .why-partner .des p {
          font-size: 14px; } }
    .why-partner .des .text-center {
      max-width: 350px;
      padding: 20px 0px 0px 0px; }
      .why-partner .des .text-center a {
        font-size: 13px;
        color: #fff;
        text-decoration: underline; }

.menubar-transparent {
  background-color: transparent; }
  .menubar-transparent .logo-light {
    display: none; }
  .menubar-transparent.scrolled {
    background-color: #fff; }
    .menubar-transparent.scrolled .logo-light {
      display: inline-block; }
    .menubar-transparent.scrolled .logo-dark {
      display: none; }
    .menubar-transparent.scrolled .nav-link {
      color: #000 !important; }
    .menubar-transparent.scrolled .menubar__items .dropdown-toggle:before {
      content: url(../images/chevron-down.png) !important; }
    .menubar-transparent.scrolled .menubar__right .dropdown-toggle:after {
      content: url(../images/chevron-down.png); }
  .menubar-transparent .nav-link {
    color: #fff !important; }
  .menubar-transparent .menubar__items .dropdown-toggle:before {
    content: url(../images/chevron-down-white.png) !important; }
  .menubar-transparent .menubar__right .dropdown-toggle:after {
    content: url(../images/chevron-down-white.png); }

.video-background {
  min-height: 650px;
  background-color: #000;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 1500px) {
    .video-background {
      min-height: 550px; } }
  @media screen and (max-width: 991px) {
    .video-background {
      min-height: 400px; } }
  @media screen and (max-width: 767px) {
    .video-background {
      min-height: 350px; } }
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .video-background .overlay {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  .video-background .vb-content {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0; }
  .video-background .vb-content-inner {
    padding: 250px 0px 0px 0px;
    margin: 0px auto;
    max-width: 780px;
    text-align: center; }
    @media screen and (max-width: 1500px) {
      .video-background .vb-content-inner {
        padding: 210px 0px 0px 0px; } }
    @media screen and (max-width: 1199px) {
      .video-background .vb-content-inner {
        padding: 200px 0px 0px 0px; } }
    @media screen and (max-width: 991px) {
      .video-background .vb-content-inner {
        padding: 100px 0px 0px 0px; } }
    .video-background .vb-content-inner h2 {
      font-size: 48px;
      font-weight: bold;
      color: #fff;
      margin: 0px 0px 10px 0px; }
      .video-background .vb-content-inner h2 span {
        color: #0076bc; }
      @media screen and (max-width: 991px) {
        .video-background .vb-content-inner h2 {
          font-size: 25px; } }
    .video-background .vb-content-inner p {
      font-size: 18px;
      color: #fff; }
      @media screen and (max-width: 991px) {
        .video-background .vb-content-inner p {
          font-size: 14px; } }

.ip-tech {
  position: relative;
  z-index: 2;
  min-height: 500px; }
  .ip-tech .tech1 {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: -20px auto 0px auto; }
  .ip-tech .tech2 {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0px auto 0px auto;
    max-width: 1000px;
    transform: translateY(-20px); }
  .ip-tech .tech3 {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0px auto 0px auto;
    max-width: 800px;
    transform: translateY(-20px);
    padding: 30px; }
    @media screen and (max-width: 767px) {
      .ip-tech .tech3 {
        padding: 15px; } }
    .ip-tech .tech3 h2 {
      text-align: center;
      margin: 0px 0px 20px 0px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 37px;
      color: #4d4d4d; }
      @media screen and (max-width: 991px) {
        .ip-tech .tech3 h2 {
          font-size: 25px; } }
      .ip-tech .tech3 h2 b {
        font-weight: bold; }
    .ip-tech .tech3 .tech-flex {
      display: flex;
      flex-wrap: wrap; }
      .ip-tech .tech3 .tech-flex .item-col {
        width: 50%;
        padding: 5px; }
        @media screen and (max-width: 767px) {
          .ip-tech .tech3 .tech-flex .item-col {
            width: 100%; } }
        .ip-tech .tech3 .tech-flex .item-col .item {
          display: flex;
          min-height: 70px;
          padding: 10px;
          background-color: #f3faff;
          border-radius: 5px;
          align-items: center; }
          .ip-tech .tech3 .tech-flex .item-col .item .dot-outer {
            width: 38px;
            height: 38px;
            border: 1px solid rgba(255, 77, 80, 0.5);
            border-radius: 50%;
            padding: 3px;
            flex-shrink: 0;
            margin: 0px 10px 0px 0px; }
            .ip-tech .tech3 .tech-flex .item-col .item .dot-outer .dot-inner {
              border: 1px solid rgba(255, 77, 80, 0.6);
              border-radius: 50%;
              padding: 3px; }
              .ip-tech .tech3 .tech-flex .item-col .item .dot-outer .dot-inner .dot {
                background-color: #ff4d50;
                border-radius: 50%;
                height: 22px; }
          .ip-tech .tech3 .tech-flex .item-col .item p {
            margin: 0px;
            font-size: 18px; }
            @media screen and (max-width: 767px) {
              .ip-tech .tech3 .tech-flex .item-col .item p {
                font-size: 16px; } }

.ip-solution {
  min-height: 300px;
  margin: 0px 0px 0px 0px;
  margin-bottom: 50px;
  position: relative; }
  @media screen and (max-width: 1199px) {
    .ip-solution {
      padding: 40px 0px; } }
  .ip-solution:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 60px;
    bottom: 60px;
    left: 0px;
    right: 0px;
    background-color: #1677b4;
    background-image: linear-gradient(to right, #32a5ee 0%, #1677b4 100%); }
    @media screen and (max-width: 1199px) {
      .ip-solution:before {
        top: 0px;
        bottom: 0px; } }
  .ip-solution:after {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 206px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/iptv-bg.png);
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 2; }
  .ip-solution .container {
    position: relative;
    z-index: 3; }
  .ip-solution .ip-flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 1199px) {
      .ip-solution .ip-flex {
        flex-wrap: wrap; } }
    .ip-solution .ip-flex .left {
      max-width: 400px;
      flex-shrink: 0;
      margin: 0px 20px 0px 0px; }
      @media screen and (max-width: 1199px) {
        .ip-solution .ip-flex .left {
          max-width: 100%;
          text-align: center;
          width: 100%;
          margin: 0px 0px 20px 0px; } }
      .ip-solution .ip-flex .left h2 {
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        margin: 0px 0px 10px 0px; }
        @media screen and (max-width: 991px) {
          .ip-solution .ip-flex .left h2 {
            font-size: 25px; } }
      .ip-solution .ip-flex .left p {
        font-size: 18px;
        margin: 0px;
        color: #fff; }
        @media screen and (max-width: 991px) {
          .ip-solution .ip-flex .left p {
            font-size: 16px; } }
    .ip-solution .ip-flex .right {
      max-width: 800px; }
      @media screen and (max-width: 1199px) {
        .ip-solution .ip-flex .right {
          max-width: 100%; } }
      .ip-solution .ip-flex .right .right-flex {
        display: flex;
        flex-wrap: wrap; }
        .ip-solution .ip-flex .right .right-flex .flex-col {
          width: 33.33%;
          padding: 15px 15px; }
          @media screen and (max-width: 991px) {
            .ip-solution .ip-flex .right .right-flex .flex-col {
              width: 50%; } }
          @media screen and (max-width: 575px) {
            .ip-solution .ip-flex .right .right-flex .flex-col {
              width: 100%; } }
          .ip-solution .ip-flex .right .right-flex .flex-col .item {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }
            .ip-solution .ip-flex .right .right-flex .flex-col .item h4 {
              font-size: 20px;
              font-weight: bold;
              margin: 0px 0px 10px 0px;
              line-height: 1; }
              .ip-solution .ip-flex .right .right-flex .flex-col .item h4 strong {
                border-radius: 50%;
                color: #ff4d50;
                font-family: monospace;
                font-size: 30px; }
              @media screen and (max-width: 767px) {
                .ip-solution .ip-flex .right .right-flex .flex-col .item h4 {
                  font-size: 17px; } }
            .ip-solution .ip-flex .right .right-flex .flex-col .item p {
              margin: 0px;
              font-size: 14px; }
              @media screen and (max-width: 767px) {
                .ip-solution .ip-flex .right .right-flex .flex-col .item p {
                  font-size: 13px; } }

.ip-operator {
  margin-bottom: 50px; }
  .ip-operator .operator-box {
    position: relative; }
    @media screen and (max-width: 991px) {
      .ip-operator .operator-box {
        padding: 20px; } }
    .ip-operator .operator-box:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 40px;
      bottom: 40px;
      left: 0px;
      right: 0px;
      background-color: #f1faff;
      border-radius: 5px; }
      @media screen and (max-width: 1199px) {
        .ip-operator .operator-box:before {
          top: 0px;
          bottom: 0px; } }
    .ip-operator .operator-box .ob-flex {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media screen and (max-width: 991px) {
        .ip-operator .operator-box .ob-flex {
          flex-wrap: wrap;
          text-align: center; } }
      .ip-operator .operator-box .ob-flex .left {
        width: 50%;
        flex-shrink: 0; }
        .ip-operator .operator-box .ob-flex .left img {
          transform: translateX(-50px);
          width: 100%; }
          @media screen and (max-width: 991px) {
            .ip-operator .operator-box .ob-flex .left img {
              transform: translateX(0px); } }
        @media screen and (max-width: 991px) {
          .ip-operator .operator-box .ob-flex .left {
            width: 100%;
            max-width: 400px;
            margin: 0px auto; } }
        @media screen and (max-width: 575px) {
          .ip-operator .operator-box .ob-flex .left {
            max-width: 100%; } }
      .ip-operator .operator-box .ob-flex .right {
        padding: 30px 30px 30px 0px; }
        @media screen and (max-width: 991px) {
          .ip-operator .operator-box .ob-flex .right {
            text-align: center; } }
        .ip-operator .operator-box .ob-flex .right h3 {
          font-weight: bold;
          margin: 0px 0px 10px 0px;
          font-size: 36px; }
          @media screen and (max-width: 1199px) {
            .ip-operator .operator-box .ob-flex .right h3 {
              font-size: 25px; } }
        .ip-operator .operator-box .ob-flex .right p {
          font-size: 15px;
          margin: 0px 0px 10px 0px; }
          @media screen and (max-width: 1199px) {
            .ip-operator .operator-box .ob-flex .right p {
              font-size: 13px; } }
    .ip-operator .operator-box .btn-outline-primary.color {
      border-color: #ff4d50;
      color: #ff4d50; }
      .ip-operator .operator-box .btn-outline-primary.color:hover {
        background-color: #ff4d50;
        color: #fff; }

footer ul li {
  margin: 0px 0px 0px 0px; }
  footer ul li a {
    display: inline-block;
    transition: all ease 0.3s;
    position: relative;
    padding: 0px 0px 5px 0px; }
    footer ul li a:before {
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      left: auto;
      bottom: 0;
      background-color: #1677b4;
      left: 50%;
      right: 50%;
      transition: all ease 0.3s; }
    footer ul li a:hover:before {
      left: 0px;
      right: 0px; }

.menubar__items .nav-item .nav-link {
  position: relative; }
  .menubar__items .nav-item .nav-link:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    left: auto;
    width: auto !important;
    bottom: 0;
    border: none !important;
    background-color: #1677b4;
    left: 50%;
    right: 50%;
    transition: all ease 0.3s; }

.menubar__items .nav-item:hover .nav-link:after {
  left: 0px;
  right: 0px; }

.menubar__right .nav-item .nav-link {
  position: relative; }
  .menubar__right .nav-item .nav-link:before {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    left: auto;
    width: auto !important;
    bottom: 0;
    border: none !important;
    background-color: #1677b4;
    left: 50%;
    right: 50%;
    transition: all ease 0.3s; }

.menubar__right .nav-item:hover .nav-item:before {
  left: 0px;
  right: 0px; }

.dropdown-menu {
  transition: all ease 0.3s;
  margin-top: 10px;
  display: block;
  visibility: hidden;
  opacity: 0; }

.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0px;
  visibility: visible;
  opacity: 1; }

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none; }

.websiteContent {
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */