.font-10,
.size-10 {
    font-size: 10px;
}

.font-11,
.size-11 {
    font-size: 11px;
}

.font-12,
.size-12 {
    font-size: 12px;
}

.font-13,
.size-13 {
    font-size: 13px;
}

.font-14,
.size-14 {
    font-size: 14px;
}


.font-15,
.size-15 {
    font-size: 15px;
}

.font-16,
.size-16 {
    font-size: 16px;
}

.font-17,
.size-17 {
    font-size: 17px;
}

.font-18,
.size-18 {
    font-size: 18px;
}

.font-19,
.size-19 {
    font-size: 19px;
}

.font-20,

.size-20 {
    font-size: 20px;
}

.font-sm {
    font-size: 13px;
}


.text-primary {
    color: $active-color;
}

.text-white {
    color: #fff;
}

.text-color {
    color: $text-color;
}

.text-error {
    color: $red;
}

.text-success {
    color: $green;
}

.text-color-heading {
    color: $text-color-heading;
}

.text-color-meta {
    color: $text-color-meta;
}


.bg-primary {
    background-color: $active-color;
}

.bg-white {
    background-color: #fff;
}

.font-italic {
    font-style: italic;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semi {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.hidden {
    display: none !important;
}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;

    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .3 !important;
    box-shadow: none;
}

.db-scroll {
    overflow: auto;
}

.full-width {
    width: 100%;
}
