$green:#6abd45;
$blue:#1e92d0;
$blue-dark:#0f3459;
.conferences-banner {
    height: auto;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media screen and (max-width: 767px) {
        min-height: 300px;
    }
}

.cb-inner {
    height: 100%;
    padding: 100px 0px 50px 0px;
    .more_info_form {
        background-color: rgba(0, 0, 0, 0.7);
        margin-bottom: 20px;
        color: #fff;
        padding: 15px;
        .button_light_blue {
            background-color: $green;
        }
    }
    .home_feature_banner_content {
        text-align: left;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    h1 {
        margin-bottom: 30px;
    }
}

.clearfix {
    clear: both;
}

.db-btn-green {
    background-color: $green;
}

.db-small-size {
    width: auto !important;
}

.conferences-one {
    padding: 70px 0px;
    @media screen and (max-width: 991px) {
        padding: 30px 0px;
    }
    text-align: center;
    p {
        font-size: 1.4rem;
        color: #65584b;
        font-family: "Dobra";
        font-weight: normal;
        @media screen and (max-width: 991px) {
            font-size: 1rem;
        }
    }
}

.co-content {
    max-width: 900px;
    margin: 0px auto;
}

.conferences-two {
    padding: 40px 0px 40px 0px;
    background-color: $blue;
    .ct-images {
        display: flex;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
        .cti-item {
            overflow: hidden;
            width: 25%;
            @media screen and (max-width: 767px) {
                width: 50%;
            }
            img {
                width: 100%;
            }
            p {
                padding: 10px 0px;
                margin: 0px;
                text-align: center;
                background-color: $green;
            }
            a {
                color: #fff;
                font-size: 1.4rem;
                font-family: "Dobra";
                color: #fff;
                font-weight: normal;
                @media screen and (max-width: 991px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.ct-content {
    padding: 40px 0px;
    text-align: center;
    max-width: 950px;
    margin: 0px auto;
    h3 {
        font-size: 3rem;
        color: #fff;
        font-family: "Dobra";
        font-weight: normal;
        margin: 0px 0px 20px 0px;
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }
    p {
        font-size: 1.4rem;
        color: #fff;
        font-family: "Dobra";
        font-weight: normal;
        @media screen and (max-width: 991px) {
            font-size: 1rem;
        }
    }
}

.section-control {
    margin-top: 40px;
    text-align: center;
}

.db-btn {
    display: inline-block;
    line-height: 35px;
    padding: 0px 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    vertical-align: text-bottom;
    background-color: $blue-dark;
    transition: all ease 0.3s;
    font-size: 1.25rem;
    margin-top: 10px;
    min-width: 180px;
    @media screen and (max-width: 991px) {
        min-width: 150px;
    }
    &.blue {
        background-color: $blue;
    }
    &.green {
        background-color: $green;
    }
    &.gray {
        background-color: #857364;
    }
    @media screen and (max-width: 991px) {
        font-size: 1rem;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
        opacity: 0.8;
    }
}

.conferences-three {
    padding: 40px 0px 40px 0px;
    background-color: $blue-dark;
    &.fix {
        padding: 0px;
    }
    &.gray {
        background-color: #857364;
        .ct-builder {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-wrap: wrap;
            }
            .cti-item {
                width: 100%;
            }
        }
    }
    .ct-builder {
        display: flex;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
        .cti-item {
            overflow: hidden;
            width: 50%;
            position: relative;
            @media screen and (max-width: 767px) {
                width: 100%;
            }
            img {
                width: 100%;
                position: relative;
                z-index: 1;
            }
            .cti-des {
                position: absolute;
                z-index: 2;
                top: 50px;
                left: 50px;
                right: 10px;
                bottom: 10px;
                max-width: 500px;
                @media screen and (max-width: 991px) {
                    top: 15px;
                    left: 15px;
                }
            }
            p {
                font-size: 1.4rem;
                color: #fff;
                font-family: "Dobra";
                font-weight: 500;
                @media screen and (max-width: 991px) {
                    font-size: 1rem;
                }
            }
            span {
                font-size: 1.4rem;
                color: #fff;
                font-family: "Dobra";
                font-weight: bold;
                text-transform: uppercase;
                @media screen and (max-width: 991px) {
                    font-size: 1rem;
                }
            }
            h3 {
                text-shadow: #000 0 0 10px;
                font-size: 3rem;
                font-weight: bold;
                color: #fff;
                @media screen and (max-width: 991px) {
                    font-size: 1.7rem;
                }
            }
        }
        &.one-item {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-wrap: nowrap;
            }
            .cti-item {
                overflow: hidden;
                width: 100%;
                position: relative;
                img {
                    width: 100%;
                    position: relative;
                    z-index: 1;
                }
                .cti-des {
                    position: absolute;
                    z-index: 2;
                    top: 100px;
                    left: 50px;
                    right: 10px;
                    bottom: 10px;
                    max-width: 500px;
                    @media screen and (max-width: 991px) {
                        top: 15px;
                        left: 15px;
                    }
                }
                p {
                    font-size: 1.4rem;
                    color: #fff;
                    font-family: "Dobra";
                    font-weight: 500;
                    @media screen and (max-width: 991px) {
                        font-size: 1rem;
                    }
                }
                h3 {
                    text-shadow: #000 0 0 10px;
                    font-size: 3rem;
                    font-weight: bold;
                    color: #fff;
                    @media screen and (max-width: 991px) {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}

/*************retirement-one"**************/

.retirement-one {
    padding: 10px 0px;
    background-color: $blue;
    span {
        color: #fff;
        font-size: 1.3rem;
        display: inline-block;
        &.second {
            color: $green;
            margin: 0px 0px 0px 20px;
            font-weight: 500;
        }
    }
}

.retirement-two {
    padding: 40px 0px;
    background-color: #ebe9e7;
    text-align: center;
    p {
        font-size: 1.6rem;
        display: inline-block;
        margin: 0px;
        color: #4c4d4f;
        margin: 0px;
        @media screen and (max-width: 991px) {
            font-size: 1.4rem;
        }
    }
}

.retirement-three {
    padding: 40px 0px 40px 0px;
    h3 {
        font-size: 3rem;
        color: $blue-dark;
        font-family: "Dobra";
        font-weight: normal;
        text-align: center;
        margin: 0px 0px 20px 0px;
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }
    .rt-item {
        max-width: 250px;
        margin: 20px auto 0px auto;
        text-align: center;
        .rti-icon {
            margin: 0px auto 10px auto;
            img {
                width: 150px;
            }
        }
        h4 {
            font-weight: bold;
            font-size: 1.5rem;
            color: $green;
        }
        p {
            font-size: 1rem;
            color: #15486b;
            font-family: "Dobra";
            font-weight: normal;
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
        }
    }
}

.retirement-content {
    .rc-caption {
        text-align: center;
        h3 {
            font-size: 3rem;
            color: #fff;
            font-family: "Dobra";
            font-weight: normal;
            margin: 0px 0px 20px 0px;
            @media screen and (max-width: 991px) {
                font-size: 2rem;
            }
        }
        span {
            font-size: 1.4rem;
            color: #fff;
            font-family: "Dobra";
            font-weight: normal;
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
        }
    }
    .rc-content {
        p {
            font-size: 1.4rem;
            color: #fff;
            font-family: "Dobra";
            font-weight: normal;
            text-align: center;
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
        }
    }
}

.prind-hard {
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Dobra";
    font-weight: normal;
    text-align: center;
    margin: 10px 0px 0px 0px;
    @media screen and (max-width: 991px) {
        font-size: 1rem;
    }
}

.retirement-for {
    padding: 30px 0px 30px 0px;
    background-color: $blue;
    .tf-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
        max-width: 800px;
        margin: 20px auto;
        li {
            float: left;
            width: 50%;
            margin: 0px 0px 0px 0px;
            @media screen and (max-width: 767px) {
                float: none;
                width: 100%;
            }
            p {
                font-size: 1.4rem;
                color: #fff;
                font-family: "Dobra";
                font-weight: normal;
                text-align: center;
                text-align: left;
                @media screen and (max-width: 991px) {
                    font-size: 1.2rem;
                }
                @media screen and (max-width: 767px) {
                    text-align: center;
                }
                strong {
                    font-weight: bold;
                }
            }
        }
    }
}

.retirement-five {
    padding: 30px 0px 30px 0px;
    background-color: #857364;
    .tfive-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin: 20px auto;
        li {
            padding: 0px 0px 0px 15px;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                background-color: #fff;
                position: absolute;
                left: 0px;
                top: 12px;
            }
            @media screen and (max-width: 767px) {
                float: none;
                width: 100%;
            }
            p {
                font-size: 1.4rem;
                color: #fff;
                font-family: "Dobra";
                font-weight: normal;
                text-align: center;
                text-align: left;
                @media screen and (max-width: 991px) {
                    font-size: 1.2rem;
                }
                strong {
                    font-weight: bold;
                }
            }
        }
    }
}

.retirement-six {
    padding: 30px 0px 30px 0px;
    background-color: $blue-dark;
}

.retirement-seven {
    padding: 40px 0px 40px 0px;
    h3 {
        font-size: 3rem;
        color: $blue-dark;
        font-family: "Dobra";
        font-weight: normal;
        text-align: center;
        margin: 0px 0px 20px 0px;
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }
    .rt-item {
        max-width: 250px;
        margin: 20px auto 0px auto;
        text-align: center;
        .rti-icon {
            margin: 0px auto 10px auto;
            img {
                width: 120px;
            }
        }
        h4 {
            font-weight: bold;
            font-size: 1.5rem;
            color: $green;
        }
        p {
            font-size: 1.3rem;
            color: #15486b;
            font-family: "Dobra";
            font-weight: normal;
            margin: 0px 0px 20px 0px;
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
        }
    }
}

.retirement-eight {
    padding: 40px 0px 40px 0px;
    background-color: #857364;
    .teight-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
        max-width: 800px;
        margin: 20px auto;
        li {
            padding: 0px 0px 0px 15px;
            position: relative;
            float: left;
            width: 50%;
            @media screen and (max-width: 767px) {
                float: none;
                width: 100%;
            }
            &:before {
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                background-color: #fff;
                position: absolute;
                left: 0px;
                top: 12px;
            }
            @media screen and (max-width: 767px) {
                float: none;
                width: 100%;
            }
            p {
                font-size: 1.4rem;
                color: #fff;
                font-family: "Dobra";
                font-weight: normal;
                text-align: center;
                text-align: left;
                margin: 0px 0px 0px 0px;
                @media screen and (max-width: 991px) {
                    font-size: 1.2rem;
                }
                @media screen and (max-width: 767px) {
                    text-align: center;
                }
                strong {
                    font-weight: bold;
                }
            }
        }
    }
}

.rt-small {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-family: "Dobra";
    font-weight: normal;
    text-align: center;
    padding: 10px 0px;
    @media screen and (max-width: 991px) {
        font-size: 1rem;
    }
}

.mw-900 {
    margin: 0px auto;
    max-width: 900px;
}

.retreats-content {
    h3 {
        font-size: 3rem;
        color: #fff;
        font-family: "Dobra";
        font-weight: normal;
        margin: 0px 0px 20px 0px;
        text-align: center;
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
        &.gray {
            color: #857364;
        }
    }
    p {
        font-size: 1.4rem;
        color: #fff;
        font-family: "Dobra";
        font-weight: normal;
        text-align: center;
        @media screen and (max-width: 991px) {
            font-size: 1rem;
        }
        &.sapo {
            margin: -15px 0px 20px 0px;
            font-size: 1.2rem;
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
        }
    }
}

.retreats-one {
    padding: 15px 0px;
    background-color: $blue;
    text-align: center;
    p {
        color: #fff;
        font-size: 1.8rem;
        margin: 0px;
        @media screen and (max-width: 991px) {
            font-size: 1.3rem;
        }
    }
}

.rt-control {
    padding-top: 20px;
    text-align: center;
    &.fix {
        padding: 0px;
    }
    .db-btn {
        @media screen and (max-width: 767px) {
            margin:5px 10px !important;
        }
    }
}

.retreats-two {
    padding: 30px 0px;
}

.retreats-three {
    background-color: $blue;
    padding: 30px 0px;
    &.blue-dark {
        background-color: $blue-dark;
    }
    &.gray {
        background-color: #857364;
    }
    &.white {
        background-color: #fff;
    }
}

.retreats-for {
    background-color: #857364;
    padding: 30px 0px;
}

.db-quote {
    max-width: 650px;
    border-top: 2px solid #fff;
    padding: 10px 0px;
    margin: 0px auto;
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 73px;
        height: 73px;
        background-image: url(../images/quote_left.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 0px;
        left: -90px;
        @media screen and (max-width: 991px) {
            width: 30px;
            height: 30px;
            width: 30px;
            background-size: 30px auto;
            left: -40px;
            top: 0px;
        }
    }
    &:after {
        content: "";
        display: block;
        width: 73px;
        height: 73px;
        background-image: url(../images/quote_right.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        bottom: 50px;
        right: -90px;
        @media screen and (max-width: 991px) {
            width: 30px;
            height: 30px;
            background-size: 30px auto;
            right: -40px;
            bottom: 20px;
        }
    }
    p {
        font-weight: bold;
        text-align: left;
    }
    em {
        display: block;
        font-size: 1.4rem;
        color: #fff;
        @media screen and (max-width: 991px) {
            font-size: 1rem;
        }
    }
}

.db-schedule {
    text-align: left;
    .schedule-item {
        margin: 0px 0px 20px 0px;
        p {
            text-align: left;
            margin: 0px 0px 0px 0px;
        }
    }
}

.dac-who {
    background-color: $blue;
    padding: 30px 0px;
    .dac-who-item {
        margin: 0px 0px 50px 0px;
    }
    h3 {
        font-size: 3rem;
        color: #fff;
        font-family: "Dobra";
        font-weight: normal;
        margin: 0px 0px 20px 0px;
        text-align: center;
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
        &.gray {
            color: #857364;
        }
    }
    p {
        font-size: 1.4rem;
        color: #fff;
        font-family: "Dobra";
        font-weight: normal;
        text-align: center;
        @media screen and (max-width: 991px) {
            font-size: 1rem;
        }
    }
}

.dac-partner {
    background-color: #fff;
    padding: 30px 0px;
    text-align: center;
    .dac-partner-item {
        margin: 0px 0px 50px 0px;
    }
    h3 {
        font-size: 3rem;
        color: #857364;
        font-family: "Dobra";
        font-weight: normal;
        margin: 0px 0px 20px 0px;
        text-align: center;
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }
}

.ce-one {
    padding: 10px 0px;
    background-color: $blue;
    p {
        margin: 0px;
        text-align: center;
        color: #fff;
        font-size: 2.8rem;
        @media screen and (max-width: 1199px) {
            font-size: 2rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.6rem;
        }
    }
}

.ce-one-content {
    padding: 20px 0px 0px 0px;
    text-align: center;
    .text-center {
        padding: 15px 0px;
    }
    h5 {
        text-transform: uppercase;
        line-height: 1.1;
        border-bottom: 1px solid #857364;
        font-size: 2rem;
        color: #857364;
        display: inline-block;
        font-weight: normal;
        @media screen and (max-width: 991px) {
            font-size: 1.2rem;
        }
    }
    h4 {
        text-transform: uppercase;
        line-height: 1.1;
        font-weight: normal;
        font-size: 3rem;
        color: #857364;
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }
    p {
        font-size: 1.4rem;
        color: #857364;
        font-family: "Dobra";
        font-weight: normal;
        text-align: center;
        @media screen and (max-width: 991px) {
            font-size: 1rem;
        }
        &.small {
            font-size: 1.2rem;
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
        }
    }
}

.ce-two {
    padding: 30px 0px;
    background-color: $blue;
    .ce-two-item {
        margin: 20px 0px;
        text-align: left;
        .db-btn {
            min-width: 100px;
        }
        h3 {
            font-size: 1.3rem;
            color: #fff;
            margin: 0px 0px 2px 0px;
            font-weight: bold;
        }
        p {
            font-size: 1.4rem;
            color: #fff;
            font-family: "Dobra";
            font-weight: normal;
            margin: 0px;
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
            &.small {
                font-size: 1.2rem;
                @media screen and (max-width: 991px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.detail-agenda {
    text-align: left;
    .da-item {
        margin: 0px 0px 20px 0px;
        position: relative;
        padding: 0px 0px 0px 140px;
        text-align: left;
        @media screen and (max-width: 767px) {
            padding: 0px;
        }
        .date {
            position: absolute;
            left: 0px;
            top: 0px;
            display: inline-block;
            font-size: 1.4rem;
            color: #fff;
            font-weight: bold;
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
            @media screen and (max-width: 767px) {
                display: block;
                position: relative;
                left: unset;
                top: unset;
                margin: 0px 0px 3px 0px;
            }
        }
        p {
            font-size: 1.4rem;
            color: #fff;
            font-family: "Dobra";
            font-weight: normal;
            margin: 0px 0px 3px 0px;
            text-align: left;
            margin: 0px;
            strong {
                font-weight: bold;
            }
            @media screen and (max-width: 991px) {
                font-size: 1rem;
            }
        }
        &.green {
            .date {
                color: $green;
                font-weight: bold;
            }
            p {
                color: $green;
            }
        }
        ul {
            margin: 0px;
            padding: 0px;
            li {
                list-style: none;
            }
        }
    }
}
