.page-preload {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}


.header {
    padding: 20px 0px;
    position: relative;
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: all ease 0.3s;
    &.header-scrolled {
        background-color: rgba(10, 31, 52, 0.7);
        padding: 15px 0px;
    }
    @media screen and (max-width: 991px) {
        padding: 10px 0px 10px 0px !important;
        background-color: rgba(10, 31, 52, 0.7) !important;
        height: 70px;
    }
    a.logo {
        float: left;
        @media screen and (max-width: 991px) {
            float: right;
        }
        img {
            height: 40px;
            @media screen and (max-width: 991px) {
                height: 30px;
                margin: 10px 0px 0px 0px;
            }
            @media screen and (max-width: 575px) {
                height: 25px;
                margin: 13px 0px 0px 0px;

            }
        }
    }
    .menu {
        float: left;
        margin: 15px 0px 0px 0px;
        @media screen and (max-width: 991px) {
            display: none;
        }
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                float: left;
                margin: 0px 0px 0px 20px;
                &:first-child {
                    a {
                        span {
                            display: none;
                        }
                    }
                }
                a {
                    display: block;
                    line-height: 40px;
                    color: #fff;
                    font-size: 14px;
                    transition: all ease 0.3s;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-family: $font-family-heading;
                    letter-spacing: 1px;
                    span {
                        display: block;
                        line-height: 1.1;
                        border-bottom: 1px solid transparent;
                    }
                    .icon-home {
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        display: block;
                        position: relative;
                        background-image: url(../images/icon-home.png);
                    }
                    &.active {
                        span {
                            border-bottom: 1px solid $active-color;
                            color: $active-color;
                        }
                    }
                }
            }
        }
    }
    .float-left {
        @media screen and (max-width: 991px) {
            float: right !important;

        }
    }

    .float-right {
        @media screen and (max-width: 991px) {
            float: left !important;
        }
    }

}

.page {
    transition: all ease 0.3s;
    position: relative;
    left: 0px;
    @media screen and (min-width: 992px) {
        left: 0px !important;
    }
}

.menu-icon {
    width: 32px;

    height: 32px;
    padding: 15px 0px 0px 0px;
    margin: 0px 0px 0px 5px;
    float: left;

    display: none;
    @media screen and (max-width: 991px) {
        display: block;
        cursor: pointer;
    }

    > span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin: 0px 0px 5px 0px;
    }
}

.menu-mobile {
    position: absolute;
    width: 220px;
    top: 100%;
    left: 0px;

    transition: all ease 0.3s;
    background-color: rgba(10, 31, 52, 0.7);
    display: none;
    margin: 0px !important;
    .icon-home {
        display: none !important;

    }
    .menu {
        display: block !important;
    }


    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            margin: 0px 0px 10px 0px;
            float: none !important;
            &:first-child {
                a {

                    span {
                        display: block !important;
                    }
                }
            }
            a {
                padding: 10px 20px 10px 0px;
                font-size: 14px;
                font-family: $font-family-heading;
                font-weight: 500;
                color: #fff;

                &:hover {
                    opacity: 1;
                    color: $active-color;
                }
                &.active {
                    span {
                        border: none !important;
                    }

                }
            }
            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
                padding: 10px 0px 0px 0px;
                li {
                    a {
                        text-transform: none;
                        padding: 10px 10px 10px 40px;
                    }
                }
            }
            &.active {
                a {
                    color: $active-color;
                    span {
                        border: none !important;
                    }
                }
            }
        }
    }
    .language {
        margin: 20px 0px 0px 20px;
        min-height: 30px;
        display: none;
        @media screen and (max-width: 575px) {
            display: block;
        }
        a {
            float: left;
            color: $text-color;
            font-weight: 600;
            font-size: 14px;
            &.active {
                color: $active-color;
            }
            &:hover {
                color: $active-color;
                cursor: pointer;
            }
        }
        span {
            float: left;
            margin: 0px 5px;
            opacity: 0.6;
        }
    }
}

@media screen and (max-width: 991px) {



    .open-menu {


        .menu-mobile {
            display: block !important;
        }
    }
}

.home-slider {
    position: relative;
    .home-slider-item {
        position: relative;
        min-height: 650px;
        background-size: cover;
        overflow: hidden;
        background-position: center center;
        @media screen and (max-width: 1400px) {
            min-height: 575px;
        }
        @media screen and (max-width: 1199px) {
            min-height: 505px;
        }
        @media screen and (max-width: 991px) {
            min-height: 350px;
        }
        .slider-caption {
            position: absolute;
            bottom: 50px;
            left: 0px;
            right: 0px;
            min-height: 50px;
            @media screen and (max-width: 991px) {
                bottom: 40px;
            }
            .sc {
                transform: skewX(30deg);
                max-width: 920px;
                background-color: rgba(0, 0, 0, 0.4);
                min-height: 100px;
                position: relative;
                @media screen and (max-width: 1199px) {
                    max-width: 700px;
                }
                @media screen and (max-width: 991px) {
                    max-width: 400px;
                    min-height: 40px;
                }
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0px;
                    right: 100%;
                    bottom: 0px;
                    width: 1000px;
                    background-color: rgba(0, 0, 0, 0.4);
                }
                .sc-inner {
                    transform: skewX(-30deg);
                    padding: 30px 0px;
                    @media screen and (max-width: 991px) {
                        padding: 15px 0px;
                    }
                }
                .sc-text {
                    border-left: 5px solid $active-color;
                    padding: 0px 0px 0px 40px;
                    @media screen and (max-width: 991px) {
                        padding: 0px 0px 0px 20px;
                        border-left-width: 3px;

                    }
                    p {
                        font-size: 43px;
                        font-weight: 700;
                        line-height: 1.2;
                        color: #fff;
                        margin: 0px 0px 0px 0px;
                        font-family: $font-family-heading;
                        &:last-child {
                            padding-left: 50px;
                            @media screen and (max-width: 991px) {
                                padding-left: 10px;
                            }
                        }
                        @media screen and (max-width: 1199px) {
                            font-size: 30px;
                        }
                        @media screen and (max-width: 991px) {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
    .owl-nav {
        width: 140px;
        height: 45px;
        position: absolute;
        right: 100px;
        bottom: 80px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 45px;
        @media screen and (max-width: 991px) {
            height: 20px;
            right: 10px;
            bottom: 10px;
            height: 20px;
            width: 60px;
        }
    }
    .owl-prev {
        background-image: url(../images/icon-prev.png);
        width: 45px;
        height: 45px;
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;
        background-repeat: no-repeat;
        @media screen and (max-width: 991px) {
            width: 20px;
            height: 20px;
            background-size: 20px auto;
        }
    }
    .owl-next {
        background-image: url(../images/icon-next.png);
        width: 45px;
        height: 45px;
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;
        background-repeat: no-repeat;
        @media screen and (max-width: 991px) {
            width: 20px;
            height: 20px;
            background-size: 20px auto;
        }
    }
}

.middle {
    padding: 40px 0px;
}

.section {
    padding: 60px 0px;
    background-color: $bg-color;
    @media screen and (max-width: 991px) {
        padding: 40px 0px;
    }
    .section-caption {
        margin-bottom: 60px;
        text-align: center;
        @media screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
        h2 {
            font-weight: 600;
            font-size: 34px;
            font-family: $font-family-heading;
            text-transform: uppercase;
            position: relative;
            @media screen and (max-width: 991px) {
                font-size: 25px;
            }
            &:before {
                content: "";
                width: 100px;
                height: 5px;
                display: block;
                bottom: -7px;
                left: 50%;
                position: absolute;
                margin: 0px 0px 0px -50px;
                background-color: $active-color;
            }
        }
    }
}

.about {
    .about-des {
        p {
            margin: 0px 0px 20px 0px;
            font-size: 15px;
            strong {
                font-weight: normal;
                font-family: $font-bold;
            }
        }
    }
    .about-img {
        text-align: center;
    }
}

.mission {
    background-color: #fff;
    .mission-des {
        text-align: center;
        p {
            margin: 0px 0px 20px 0px;
            font-size: 15px;
            strong {
                font-weight: normal;
                font-family: $font-bold;
            }
        }
    }
}

.services {

    padding: 0px !important; // background-color: #08192a;
    @media screen and (max-width: 991px) {
        padding: 0px 0px !important;


    }
    .services-inner {
        padding: 60px 0px;
        background-color: $active-color-second;

        @media screen and (max-width: 991px) {
            padding: 40px 0px;


        }
        position: relative;
        .owl-prev {
            left: -20px;
            position: absolute;
            top: 50%;
            color: #fff;
            font-size: 14px;
        }
        .owl-next {
            right: -20px;
            position: absolute;
            top: 50%;
            color: #fff;
            font-size: 14px;
        }
    }
    .section-caption {
        h2 {
            color: #fff;
        }
    }
    .service-item {
        max-width: 300px;
        margin: 20px auto;
        text-align: center;
        h3 {
            font-size: 24px;
            font-family: $font-family-heading;
            font-weight: 600;
            color: #fff;
            margin: 10px 0px 20px 0px;
        }
        p {
            text-align: left;
            color: #fff;
            opacity: 0.6;
        }
        img {
            width: auto;
            margin: 0px auto;

        }
    }
}

.how-it-work {
    .hiw-des {
        p {
            margin: 0px 0px 20px 0px;
            font-size: 15px;
            strong {
                font-weight: normal;
                font-family: $font-bold;
            }
        }
    }
    .hiw-img {
        text-align: center;
    }
}

.contact {
    background-color: #fff;
    text-align: center;
    .contact-item {
        padding: 0px 0px 0px 60px;
        display: inline-block;
        margin: 0px auto;
        @media screen and (max-width: 991px) {
            display: block;
            text-align: left;
            max-width: 300px;
            margin: 0px auto;
        }
        .ci-img {
            width: 50px;
            height: 53px;
            float: left;
            margin: 0px 0px 0px -60px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 991px) {
                margin: 0px 0px 0px -60px;
                img {
                    height: 50%;
                }
            }
        }
        p {
            padding: 15px 0px 0px 0px;
            font-size: 15px;
        }
    }
}

.footer {
    background-color: $active-color-second;
    background-image: url(../images/footer.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    margin-top: 30px;
    .menu-footer {
        padding: 20px 0px;
        background-color: rgba(255, 255, 255, 0.03);
        @media screen and (max-width: 991px) {
            display: none;
        }
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            @media screen and (max-width: 991px) {
                text-align: center;
            }
            li {
                display: inline-block;
                margin: 0px 20px 0px 0px;
                @media screen and (max-width: 991px) {
                    margin: 0px 10px;
                }
                a {
                    display: block;
                    line-height: 40px;
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-family: $font-family-heading;
                    &:hover {
                        text-decoration: underline;
                    }
                    @media screen and (max-width: 991px) {
                        font-size: 13px;
                        letter-spacing: 0px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
    .allright {
        padding: 20px 0px;
        @media screen and (max-width: 991px) {
            text-align: center;
        }
        p {
            margin: 0px;
            color: #a9b5c7;
            font-size: 15px;
        }
    }
}
