.db-content {
  min-height: 600px;
  line-height: 1.4;
  color: #545554; }

.db-container {
  margin: 0px auto;
  padding: 0px 10px; }
  @media only screen and (min-width: 991px) {
    .db-container {
      width: 950px; } }
  @media only screen and (min-width: 1150px) {
    .db-container {
      width: 1100px; } }

.db-banner {
  background-image: url(../images/product_bg1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .db-banner .db-container {
    position: relative;
    height: 500px; }
    @media screen and (max-width: 991px) {
      .db-banner .db-container {
        height: 300px; } }
    .db-banner .db-container .db-banner-caption {
      position: absolute;
      bottom: 70px;
      right: 170px;
      font-size: 55px;
      color: #fff;
      margin: 0px;
      line-height: 1.3;
      font-weight: normal;
      text-align: left; }
      @media screen and (max-width: 991px) {
        .db-banner .db-container .db-banner-caption {
          bottom: 50px;
          right: 50px;
          font-size: 30px; } }

.db-pre {
  padding: 60px 0px 60px 0px;
  text-align: center; }
  @media screen and (max-width: 991px) {
    .db-pre {
      padding: 40px 0px 40px 0px; } }
  .db-pre p {
    max-width: 970px;
    font-size: 25px;
    text-align: center;
    margin: 0px auto 60px auto; }
    @media screen and (max-width: 991px) {
      .db-pre p {
        font-size: 15px; } }
  .db-pre .btn {
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    width: 450px;
    line-height: 50px;
    background-color: #0071b9;
    border-radius: 30px;
    transition: all ease 0.3s;
    font-weight: bold; }
    .db-pre .btn:hover {
      background-color: #005286; }
    @media screen and (max-width: 991px) {
      .db-pre .btn {
        width: 250px;
        font-size: 16px;
        line-height: 40px; } }

.clearfix {
  clear: both; }

.db-pre-menu {
  margin: 0px 0px 80px 0px; }
  @media screen and (max-width: 991px) {
    .db-pre-menu {
      margin: 0px 0px 40px 0px; } }
  .db-pre-menu .pre-menu-item {
    float: left;
    width: 16.666%;
    margin: 0px 0px 20px 0px;
    text-align: center; }
    @media screen and (max-width: 991px) {
      .db-pre-menu .pre-menu-item {
        width: 33.333%; } }
    @media screen and (max-width: 575px) {
      .db-pre-menu .pre-menu-item {
        width: 50%; } }
    .db-pre-menu .pre-menu-item .pre-menu-icon {
      height: 65px;
      overflow: hidden; }
      .db-pre-menu .pre-menu-item .pre-menu-icon img {
        max-height: 60px; }
    .db-pre-menu .pre-menu-item p {
      font-size: 20px;
      margin: 0px 0px 0px 0px;
      line-height: 1.2;
      min-height: 60px; }
      @media screen and (max-width: 991px) {
        .db-pre-menu .pre-menu-item p {
          font-size: 15px;
          min-height: 40px; } }

.db-banner1 {
  margin: 0px 0px 80px 0px;
  position: relative;
  height: 550px;
  background-image: url(../images/product_bg2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media screen and (max-width: 991px) {
    .db-banner1 {
      margin: 0px 0px 40px 0px; } }
  @media screen and (max-width: 991px) {
    .db-banner1 {
      height: 300px; } }
  .db-banner1 h2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    text-align: center;
    padding: 30px 10px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    background-color: rgba(75, 158, 208, 0.7); }
    @media screen and (max-width: 991px) {
      .db-banner1 h2 {
        font-size: 17px;
        padding: 10px; } }

.db-app {
  margin: 0px 0px 80px 0px; }
  @media screen and (max-width: 991px) {
    .db-app {
      margin: 0px 0px 40px 0px; } }
  .db-app .db-app-left {
    float: left;
    width: 60%;
    padding: 30px 0px 0px 0px; }
    @media screen and (max-width: 991px) {
      .db-app .db-app-left {
        float: none;
        width: 100%;
        padding: 30px 0px 0px 0px; } }
  .db-app .db-app-right {
    text-align: left;
    float: right;
    width: 40%; }
    @media screen and (max-width: 991px) {
      .db-app .db-app-right {
        float: none;
        width: 100%;
        padding: 0px 0px 20px 80px; } }
    @media screen and (max-width: 767px) {
      .db-app .db-app-right {
        padding: 0px 0px 20px 30px; } }
    .db-app .db-app-right .appright-caption {
      padding: 0px 0px 20px 90px; }
      .db-app .db-app-right .appright-caption span {
        float: left;
        margin: 0px 0px 0px -90px;
        background-image: url(../images/p_icon1.png);
        width: 60px;
        height: 60px;
        background-repeat: no-repeat; }
      .db-app .db-app-right .appright-caption p {
        margin: 0px;
        font-size: 25px;
        font-weight: bold; }
        @media screen and (max-width: 991px) {
          .db-app .db-app-right .appright-caption p {
            padding: 10px 0px 0px 0px; } }
        @media screen and (max-width: 767px) {
          .db-app .db-app-right .appright-caption p {
            font-size: 20px; } }
    .db-app .db-app-right .appright-item {
      padding: 0px 0px 20px 90px; }
      .db-app .db-app-right .appright-item span {
        float: left;
        margin: 0px 0px 0px -85px;
        background-image: url(../images/p_icon7.png);
        background-size: 50px auto;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat; }
        .db-app .db-app-right .appright-item span.icon2 {
          background-image: url(../images/p_icon8.png); }
        .db-app .db-app-right .appright-item span.icon3 {
          background-image: url(../images/p_icon9.png); }
      .db-app .db-app-right .appright-item p {
        margin: 0px;
        font-size: 15px;
        padding: 10px 0px 0px 0px; }

.db-app1 {
  margin: 0px 0px 80px 0px; }
  @media screen and (max-width: 991px) {
    .db-app1 {
      margin: 0px 0px 40px 0px; } }
  .db-app1 .db-app1-left {
    float: left;
    max-width: 270px;
    width: 30%;
    padding: 0px 0px 0px 40px; }
    @media screen and (max-width: 991px) {
      .db-app1 .db-app1-left {
        max-width: 100%;
        float: none;
        width: 100%;
        padding: 0px 0px 0px 0px; } }
    .db-app1 .db-app1-left .db-logo {
      text-align: left;
      margin: 0px 0px 10px 0px;
      padding: 0px 0px 0px 40px; }
      @media screen and (max-width: 991px) {
        .db-app1 .db-app1-left .db-logo {
          text-align: left; } }
      .db-app1 .db-app1-left .db-logo img {
        width: 80px; }
    .db-app1 .db-app1-left h3 {
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      margin: 0px 0px 20px 0px; }
      @media screen and (max-width: 991px) {
        .db-app1 .db-app1-left h3 {
          font-size: 18px; } }
    .db-app1 .db-app1-left p {
      font-size: 20px;
      text-align: left;
      margin: 0px 0px 20px 0px; }
      @media screen and (max-width: 991px) {
        .db-app1 .db-app1-left p {
          font-size: 16px; } }
  .db-app1 .db-app1-right {
    text-align: left;
    float: right;
    width: 70%; }
    @media screen and (max-width: 991px) {
      .db-app1 .db-app1-right {
        float: none;
        width: 100%; } }

.db-vote-banner {
  background-image: url(../images/product_bg3.png);
  background-repeat: no-repeat;
  background-position: centercenter;
  background-size: cover; }
  @media screen and (max-width: 991px) {
    .db-vote-banner {
      background-position: 30% center; } }
  .db-vote-banner .db-container {
    position: relative;
    height: 500px; }
    @media screen and (max-width: 991px) {
      .db-vote-banner .db-container {
        height: 300px; } }
    .db-vote-banner .db-container .db-banner-caption {
      position: absolute;
      bottom: 70px;
      right: 170px;
      font-size: 55px;
      color: #fff;
      margin: 0px;
      line-height: 1.3;
      font-weight: normal;
      text-align: left; }
      @media screen and (max-width: 991px) {
        .db-vote-banner .db-container .db-banner-caption {
          bottom: 50px;
          right: 50px;
          font-size: 30px; } }

.db-vote-box {
  position: relative;
  max-width: 1020px;
  margin: 0px auto;
  z-index: 99;
  padding: 60px 10px; }
  .db-vote-box .vote-left {
    float: left;
    text-align: left;
    width: 50%; }
    @media screen and (max-width: 767px) {
      .db-vote-box .vote-left {
        width: 100%;
        float: none; } }
    .db-vote-box .vote-left h3 {
      font-size: 25px;
      font-weight: normal;
      margin: 0px 0px 20px 0px; }
      .db-vote-box .vote-left h3 strong {
        font-weight: 600;
        font-style: italic; }
      @media screen and (max-width: 991px) {
        .db-vote-box .vote-left h3 {
          font-size: 20px; } }
    .db-vote-box .vote-left p {
      font-size: 14px;
      color: #111;
      margin: 0px 0px 30px 0px; }
  .db-vote-box .vote-right {
    float: right;
    width: 45%; }
    @media screen and (max-width: 767px) {
      .db-vote-box .vote-right {
        width: 100%;
        float: none; } }

.vote-box {
  min-height: 500px;
  position: relative;
  top: -330px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  max-width: 475px;
  padding: 30px;
  margin-bottom: -200px;
  text-align: left; }
  @media screen and (max-width: 767px) {
    .vote-box {
      top: 0px;
      padding: 20px;
      margin: 0px auto; } }
  .vote-box .vb-logo {
    padding: 10px;
    text-align: right;
    margin: 0px 0px 20px 0px; }
  .vote-box h2 {
    font-size: 55px;
    font-weight: 500;
    margin: 0px 0px 30px 0px;
    line-height: 1.1;
    color: #A6A8AB; }
    @media screen and (max-width: 991px) {
      .vote-box h2 {
        font-size: 40px; } }
    @media screen and (max-width: 767px) {
      .vote-box h2 {
        font-size: 30px; } }

.vote-options {
  padding: 0px 0px 40px 0px; }

.co-radio {
  margin: 0px 0px 10px 0px; }
  .co-radio label {
    cursor: pointer;
    display: block;
    font-size: 35px;
    padding: 0px 50px 0px 0px;
    position: relative;
    margin: 0px 0px 20px 0px; }
    @media screen and (max-width: 767px) {
      .co-radio label {
        font-size: 20px; } }
    .co-radio label span {
      display: block;
      font-weight: 300;
      color: #71C3EC;
      text-transform: uppercase;
      line-height: 40px; }
    .co-radio label input {
      display: none; }
      .co-radio label input + span:before {
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 9px;
        right: 0px;
        border: 1px solid #ddd;
        border-radius: 50%; }
      .co-radio label input:checked + span:after {
        content: "";
        display: block;
        height: 14px;
        width: 14px;
        position: absolute;
        top: 13px;
        right: 4px;
        border-radius: 50%;
        background-color: #71C3EC; }

.vote-field {
  display: flex;
  margin: 0px 0px 10px 0px; }
  .vote-field span {
    min-width: 85px;
    font-size: 20px; }
    @media screen and (max-width: 767px) {
      .vote-field span {
        font-size: 16px; } }
  .vote-field input {
    width: 100%;
    height: 25px;
    font-style: italic;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #ccc;
    font-size: 20px; }
    @media screen and (max-width: 767px) {
      .vote-field input {
        font-size: 16px; } }

.vote-check {
  margin: 40px 0px 40px 10px; }
  .vote-check label {
    cursor: pointer;
    display: block;
    font-size: 15px;
    padding: 0px 0px 0px 40px;
    position: relative; }
    .vote-check label span {
      display: block; }
    .vote-check label input {
      display: none; }
      .vote-check label input + span:before {
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        border: 1px solid #ddd;
        border-radius: 50%; }
      .vote-check label input:checked + span:after {
        content: "";
        display: block;
        height: 14px;
        width: 14px;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 50%;
        background-color: #71C3EC; }

.vote-note {
  font-size: 12px;
  margin: 0px 0px 40px 0px; }

.vote-control {
  text-align: center;
  margin: 0px 0px 30px 0px; }
  .vote-control .btn {
    display: block;
    width: 330px;
    margin: 0px auto;
    padding: 0px 10px;
    line-height: 40px;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #0071b9;
    border-radius: 30px;
    transition: all ease 0.3s;
    font-weight: bold;
    font-size: 15px; }
    .vote-control .btn:hover {
      background-color: #005286; }
    @media screen and (max-width: 991px) {
      .vote-control .btn {
        width: 250px; } }

#cboxOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999; }

#colorbox {
  z-index: 999999; }

#cboxClose {
  position: absolute;
  top: 20px;
  right: 20px;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  display: block;
  z-index: 2;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer; }
  @media screen and (max-width: 991px) {
    #cboxClose {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
      top: 10px;
      right: 10px; } }

.modal-result {
  width: 1100px;
  position: relative; }
  @media screen and (max-width: 1199px) {
    .modal-result {
      width: 900px; } }
  @media screen and (max-width: 991px) {
    .modal-result {
      width: 600px; } }
  @media screen and (max-width: 767px) {
    .modal-result {
      width: 400px; } }
  @media screen and (max-width: 575px) {
    .modal-result {
      width: 300px; } }
  .modal-result .mr-caption {
    text-align: center;
    padding: 100px 0px;
    background-image: url(../images/product_bg4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .modal-result .mr-caption p {
      margin: 0px;
      font-size: 70px;
      color: #fff; }
      @media screen and (max-width: 1199px) {
        .modal-result .mr-caption p {
          font-size: 60px; } }
      @media screen and (max-width: 991px) {
        .modal-result .mr-caption p {
          font-size: 30px; } }
      @media screen and (max-width: 767px) {
        .modal-result .mr-caption p {
          font-size: 20px; } }
    @media screen and (max-width: 1199px) {
      .modal-result .mr-caption {
        padding: 60px 10px; } }
    @media screen and (max-width: 991px) {
      .modal-result .mr-caption {
        padding: 50px 10px; } }
    @media screen and (max-width: 767px) {
      .modal-result .mr-caption {
        padding: 40px 10px; } }
  .modal-result .mr-content {
    padding: 50px 30px;
    max-width: 550px;
    margin: 0px auto; }
    @media screen and (max-width: 991px) {
      .modal-result .mr-content {
        padding: 30px 15px; } }
    .modal-result .mr-content h3 {
      font-size: 48px;
      margin: 20px 0px 50px 0px;
      text-align: center;
      font-weight: 300;
      color: #A6A8AB; }
      @media screen and (max-width: 767px) {
        .modal-result .mr-content h3 {
          font-size: 25px;
          margin: 0px 0px 20px 0px; } }

.mr-item {
  margin: 0px 0px 20px 0px; }
  .mr-item .mr-item-des span {
    float: left;
    color: #71C3EC;
    margin: 0px 15px 0px 0px;
    font-size: 20px;
    font-weight: 300; }
    @media screen and (max-width: 575px) {
      .mr-item .mr-item-des span {
        font-size: 14px;
        margin: 0px 10px 0px 0px; } }
  .mr-item .mr-item-des em {
    float: left;
    font-size: 15px;
    color: #A6A8AB;
    font-style: normal; }
    @media screen and (max-width: 575px) {
      .mr-item .mr-item-des em {
        font-size: 14px; } }
  .mr-item .mr-item-des strong {
    float: right;
    font-size: 15px;
    color: #A6A8AB;
    font-style: normal;
    font-weight: 600; }
    @media screen and (max-width: 575px) {
      .mr-item .mr-item-des strong {
        font-size: 14px; } }
  .mr-item .mr-item-des i {
    float: right;
    font-size: 15px;
    color: #A6A8AB;
    font-style: normal;
    margin: 0px 15px 0px 0px; }
    @media screen and (max-width: 575px) {
      .mr-item .mr-item-des i {
        font-size: 14px;
        margin: 0px 10px 0px 0px; } }
  .mr-item .mr-progress {
    margin: 5px 0px 0px 0px;
    position: relative;
    height: 25px;
    border: 1px solid #A6A8AB;
    border-radius: 25px; }
    .mr-item .mr-progress div {
      background-color: #71C3EC;
      position: absolute;
      border-radius: 20px;
      top: 4px;
      left: 3px;
      bottom: 3px; }

.db-notify {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 30px 0px;
  background-color: #0171bb; }
  .db-notify .db-notify-wrap {
    padding: 0px 15px;
    max-width: 850px;
    margin: 0px auto;
    position: relative; }
    .db-notify .db-notify-wrap .db-notify-close {
      background-image: url(../images/closex.png);
      width: 32px;
      height: 32px;
      position: absolute;
      top: 0px;
      right: 5px;
      cursor: pointer;
      opacity: 0.8;
      z-index: 99; }
      .db-notify .db-notify-wrap .db-notify-close:hover {
        opacity: 1; }
  .db-notify .db-notify-left {
    float: left;
    width: 50%;
    text-align: right; }
    @media screen and (max-width: 767px) {
      .db-notify .db-notify-left {
        float: none;
        width: 100%; } }
    .db-notify .db-notify-left p {
      margin: 0px;
      font-size: 56px;
      font-weight: bold;
      color: #fff;
      text-align: right;
      line-height: 1.1; }
      @media screen and (max-width: 991px) {
        .db-notify .db-notify-left p {
          font-size: 30px; } }
      @media screen and (max-width: 767px) {
        .db-notify .db-notify-left p {
          font-size: 20px;
          text-align: center; } }
      @media screen and (max-width: 767px) {
        .db-notify .db-notify-left p br {
          display: none; } }
  .db-notify .db-notify-right {
    width: 50%;
    float: left;
    padding: 0px 60px 0px 40px;
    position: relative;
    text-align: left; }
    @media screen and (max-width: 767px) {
      .db-notify .db-notify-right {
        float: none;
        width: 100%;
        text-align: center; } }
    .db-notify .db-notify-right p {
      font-size: 12px;
      color: #fff;
      margin: 0px 0px 10px 0px;
      padding: 10px 0px 0px 0px; }
    .db-notify .db-notify-right .vote-now {
      display: inline-block;
      padding: 0px 50px;
      line-height: 30px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #57c3cf;
      border-radius: 30px; }
      .db-notify .db-notify-right .vote-now:hover {
        opacity: 0.8;
        cursor: pointer; }

.fix-footer {
  margin-bottom: 260px; }

/*# sourceMappingURL=main.css.map */