html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}




@font-face {
    font-family: kiabold;
    src: url(../fonts/kia_bold.woff);
}

@font-face {
    font-family: kiamedium;
    src: url(../fonts/kia_medium.woff);
}

@font-face {
    font-family: kiam;
    src: url(../fonts/kiaM.woff);
}

body {
    font-family: kiamedium;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    line-height: 1.1;
    font-family: kiabold;
    font-weight: normal;



}

.main-container {
    width: 880px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.3;



}

img {
    max-width: 100%;
    display: block;
    margin: 0px;
}

@media print {

    .pagebreak {
        page-break-before: always;
    }
}

.first-page {
    background-color: #F0F0F0;
    margin-bottom: 0px;


}

.banner {
    position: relative;
}

.banner-des {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 10;
    max-width: 600px;

}

.banner-des h1 {
    color: #000;
    font-size: 36px;
}

.f-content {


    width: 630px;
    margin: 30px auto;
}

.f-content p {
    font-size: 18px;
    color: #555;
}

.f-content ul {
    list-style: none;
    margin: 0px 0px 15px 0px;

    padding: 0px;

}

.f-content ul li {
    margin: 0px 0px 4px 0px;
}

.f-content ul li p {
    margin: 0px;
    font-size: 18px;

    font-weight: bold;
    color: #000;
}

.f-content ul li p span {
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.certifikat {
    width: 620px;
    margin: 0px auto;
    min-height: 200px;
    background-image: url(../images/bg.png);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 12px 20px 20px 20px;
}

.certifikat h2 {
    font-size: 30px;
    color: #000;
    opacity: 0.3;

    margin: 0px 0px 10px 0px;

}

.cer-flex {
    display: flex;
    align-items: center;
    margin: 0px 0px 2px 0px;
    width: 100%;

}

.cer-row {
    display: flex;

}

.cer-row > div {
    width: 50%;
}

.cer-row > div:nth-child(2) {
    margin-left: 20px;
}

.cer-flex .cap {
    flex-grow: 0;
    font-size: 16px;
    line-height: 30px;
    margin: 0px 10px 0px 0px;
    white-space: nowrap;
    opacity: 0.7;



}

.cer-flex input {
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #888;
    outline: none;
    background-color: transparent;
    width: 100%;

}

.kia-logo {
    text-align: right;
    padding: 30px 120px 0px 0px;

}

.kia-logo img {
    display: inline-block;
}

.s-header {
    position: relative;
    margin: 0px 0px 30px 0px;

}

.s-header h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.s-header img {
    float: right;
    margin: -50px 0px 0px 0px;
}

.s-header p {
    font-size: 16px;
    max-width: 800px;
    color: #555;


}

.s-cols {
    display: flex;
}

.s-col {
    width: 33.333%;
    padding: 0px 20px 0px 0px;

    min-height: 400px;

}

.s-box {
    margin: 0px 0px 30px 0px;

}

.s-box ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.s-box h3 {
    margin: 0px 0px 10px 0px;
    font-size: 18px;
}

.s-box li {
    margin: 0px 0px 5px 0px;
    display: flex;
}

.flex-inner {
    display: flex;
}

.s-box li p {
    color: #555;
    font-size: 13px;
    margin: 0px;

}

.s-box-flex {
    margin: 0px 0px 2px 15px;
    font-size: 13px;
    color: #555;
    display: flex;


}

.s-box-flex div {

    line-height: 20px;
    padding: 0px 10px;

}

.s-box-flex input {
    line-height: 20px;
    border: none;
    border-bottom: 1px solid #888;
    display: block;
    width: 100%;
    height: 20px;


    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 0px;
    width: 50px;
}

.s-box li span {
    color: #555;
    font-size: 13px;
    width: 24px;
    flex-shrink: 0;
}

.s-bottom {}

.s-bottom p {
    margin: 5px 0px 20px 0px;
    font-size: 12px;
}

.s-bottom input {
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #888;
    display: block;
    width: 100%;

    outline: none;
    background-color: transparent;
    width: 100%;
}

.second-page {
    padding: 60px 0px 0px 0px;
}
