/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";
/*==========Setting=========*/

html {
    font-size: 10px;
}

body {
    font-family: $font-family;
    min-width: 370px;
    font-size: 1.5rem;
    color: $text-color;
    line-height: 1.5;
    padding: 100px 0px 0px 0px;

    @media screen and (max-width: 991px) {
        padding: 80px 0px 0px 0px;

    }

    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover;



}

dt,
dd {
    line-height: 1.5;
}


body,
html {}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}



h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.4;
}

iframe {
    width: 100%;
    border: none;
}

::selection {
    background: $active-color;
    color: #fff;
}

a {
    &:active {}
}

/*==========Components=========*/

.my-btn {
    display: inline-block;
    line-height: 36px;
    padding: 0px 20px;


    color: #fff;
    background-color: $active-color;
    border-radius: 50px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    border: none;
    transition: all ease 0.3s;
    font-size: 1.4rem;

    &:hover {
        background-color: $active-color-second;
        outline: none;
        color: #fff;
    }

    &.active {
        background-color: $active-color;
        outline: none;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }
    }
}

.sb-btn {
    display: inline-block;
    line-height: 40px;
    padding: 0px 30px;
    font-family: $font-family-heading;
    color: #fff;
    background-color: $active-color;
    border-radius: 4px;
    margin: 0px 0px 0px 0px;
    font-weight: 600;
    border: none;
    @include transition();

    &:hover {
        background-color: $active-color;
        outline: none;
        color: #fff;
    }

    &.active {
        background-color: $active-color;
        outline: none;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }
    }

    &.cancel {
        background-color: $border-color;
        margin: 0px 0px 0px 15px;
        color: $base-color;

        &:hover {
            opacity: 0.8;
        }
    }

    &:active {
        color: inherit;
    }
}

.page {
    overflow: hidden;

}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;

    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
}



.dropdown-menu {
    font-size: inherit;
    top: 100% !important;
    transform: none !important;
}

.dropdown-toggle::after {
    display: none;
}

#page-loader {
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}




.header {
    height: 100px;
    position: fixed;

    z-index: 999;
    top: 0px;
    right: 0px;
    width: 100%;
    left: 0px;

    background-color: $base-color;

    .container {
        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media (min-width: 1400px) {
            max-width: 1300px;
        }

    }

    @media screen and (max-width: 991px) {
        height: 80px;
    }



    .logo {
        float: left;
        margin: 15px 0px 0px 0px;

        img {
            height: 75px;
        }

        @media screen and (max-width: 991px) {
            margin: 13px 0px 0px 0px;

            img {
                height: 60px;
            }
        }


    }

    .menu-icon {
        float: right;
        background-image: url(../images/icon_menu.png);
        width: 38px;
        height: 34px;
        margin: 23px 0px 0px 0px;
        display: none;
        cursor: pointer;
        transition: all ease 0.3s;


        @media screen and (max-width: 991px) {
            display: block;
        }

    }

}

.menu {
    float: right;

    @media screen and (max-width: 991px) {
        display: none;
    }

    ul {
        margin: 0px;
        padding: 0px;

        li {
            float: left;
            margin: 0px 0px 0px 40px;

            @media screen and (max-width: 1199px) {
                margin: 0px 0px 0px 30px;
            }

            a {
                display: block;
                height: 100px;
                line-height: 100px;
                color: #fff;
                font-size: 2rem;
                font-weight: 300;
                position: relative;

                transition: all ease 0.3s;

                &:before {
                    content: "";
                    display: block;
                    width: 0px;
                    position: absolute;
                    bottom: 30px;
                    left: 0px;
                    z-index: 1;
                    height: 1px;
                    background-color: $active-color;
                    transition: all ease 0.3s;
                }

                &:hover {
                    color: $active-color;

                    &:before {
                        width: 100%;
                    }
                }



            }
        }
    }
}



@media screen and (min-width: 992px) {
    .menu-res {
        display: none !important;
    }

}

@media screen and (max-width:991px) {


    .open-menu {
        .menu-res {
            visibility: visible;
            z-index: 99999;
            opacity: 1;
        }

        .menu-icon {
            opacity: 0;
        }
    }

    .close-menu {

        background-image: url(../images/close.png);
        width: 28px;
        height: 28px;

        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
    }

    .menu-res {

        position: fixed;



        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all ease 0.3s;
        z-index: -1;
        visibility: hidden;
        opacity: 0;



    }



    .menu-res-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;






        ul {
            padding: 0px;
            list-style: none;
            margin: 0px;
            width: 100%;


            > li {


                margin: 30px 0px;

                @media screen and (max-height: 500px) {
                    margin: 10px 0px;

                }


                a {


                    display: inline-block;
                    color: #fff;
                    font-size: 3rem;
                    font-weight: 300;
                    transition: all ease 0.3s;
                    border-bottom: 1px solid transparent;


                    &:hover {

                        color: $active-color;

                        border-bottom-color: $active-color;
                    }

                    @media screen and (max-height: 500px) {
                        font-size: 2rem;

                    }



                }

                &.active {
                    a {
                        color: $active-color;
                        border-bottom-color: $active-color;
                    }
                }


            }

        }


    }


}




.home-slider {
    position: relative;



    .home-slider-item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 100%;

        @media screen and (max-width: 1199px) {
            height: 400px;
        }

        @media screen and (max-width: 991px) {
            height: 300px;
        }

        @media screen and (max-width: 767px) {
            height: 250px;
        }

        @media screen and (max-width: 575px) {
            height: 180px;
        }

        @media screen and (max-width: 450px) {
            height: 180px;
        }





    }


    .owl-prev {
        background-image: url(../images/prev.png);
        width: 29px;
        height: 51px;
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -20px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;
        background-repeat: no-repeat;

        @media screen and (max-width: 991px) {
            width: 15px;
            background-size: 15px auto;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }

    }

    .owl-next {
        background-image: url(../images/next.png);
        width: 29px;
        height: 51px;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -20px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;
        background-repeat: no-repeat;

        @media screen and (max-width: 991px) {
            width: 15px;
            background-size: 15px auto;
        }


        @media screen and (max-width: 767px) {
            display: none;
        }

    }
}


.middle {
    padding: 100px 0px;

    @media screen and (max-width: 991px) {
        padding: 50px 0px;
    }

    @media screen and (max-width: 575px) {
        padding: 30px 0px;
    }
}

.box {
    &-caption {
        border-bottom: 2px solid $border-color;
        margin: 0px 0px 70px 0px;


        @media screen and (max-width: 991px) {
            border-bottom-width: 1px;
            margin: 0px 0px 30px 0px;
        }

        span {
            font-size: 5rem;
            font-weight: bold;

            @media screen and (max-width: 991px) {
                font-size: 3rem;
            }

            @media screen and (max-width: 575px) {
                font-size: 2rem;
            }
        }


        strong {
            font-size: 2rem;
            font-weight: bold;
            float: right;
            letter-spacing: 2px;
            margin: 40px 0px 0px 0px;

            @media screen and (max-width: 991px) {
                font-size: 1.5rem;
                margin: 20px 0px 0px 0px;
            }

            @media screen and (max-width: 575px) {

                margin: 10px 0px 0px 0px;
            }
        }

    }
}

.product-item {
    max-width: 330px;
    margin: 0px auto 50px auto;
    text-align: center;

    @media screen and (max-width: 767px) {
        max-width: 250px;
    }

    .pi-img {
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin: 0px 0px 60px 0px;

        @media screen and (max-width: 991px) {
            margin: 0px 0px 40px 0px;
        }



        &:hover {
            .pi-hover {
                visibility: visible;
                z-index: 9;
                opacity: 1;
            }
        }

        img {
            width: 100%;


        }



        .pi-hover {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;

            background-color: rgba(72, 199, 249, 0.8);
            z-index: 9;
            transition: all ease 0.3s;
            visibility: hidden;
            opacity: 0;

            .pi-h-icon {
                width: 120px;
                height: 120px;
                position: absolute;
                left: 50%;
                top: 50%;

                margin: -60px 0px 0px -60px;
                background-repeat: no-repeat;
                background-position: center center;

                &.type1 {
                    background-image: url(../images/icon1.png);
                }

                &.type2 {
                    background-image: url(../images/icon2.png);
                }

                &.type3 {
                    background-image: url(../images/icon3.png);

                }
            }

            .pi-h-caption {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background-color: rgba(0, 0, 0, 0.7);
                text-align: center;
                padding: 10px 0px;
                font-size: 2.5rem;
                font-weight: bold;
                color: #fff;

                @media screen and (max-width: 767px) {
                    font-size: 2rem;
                }

            }
        }
    }

    h3 {
        font-size: 3rem;
        font-weight: bold;
        margin: 0px;
        color: $text-color;


        @media screen and (max-width: 767px) {
            font-size: 2rem;
        }
    }
}


.totop {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $red;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 17px;
}







.footer {
    padding: 50px 0px 0px 0px;
    background-color: #fff;

    .company {
        p {
            font-size: 1.4rem;
            margin: 0px 0px 15px 0px;
        }
    }

    .footer-col {
        margin: 0px 0px 30px 0px;
        max-width: 318px;

        @media screen and (max-width: 991px) {
            max-width: 1000px;
        }


        h3 {
            font-size: 2.4rem;
            margin: 0px 0px 10px 0px;
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;

            li {
                border-bottom: 1px solid #e8e6e6;
                position: relative;

                padding: 10px 20px 10px 0px;

                &:hover {
                    span {
                        color: $active-color;
                    }
                }

                a {
                    font-size: 1.4rem;
                    transition: all ease 0.3s;

                    &:hover {
                        color: $active-color;
                    }
                }

                span {
                    position: absolute;
                    top: 10px;
                    right: 0px;
                    color: #999;
                    transition: all ease 0.3s;

                }
            }
        }
    }


    .allright {

        border-top: 1px solid #cecece;
        text-align: center;
        padding: 30px 0px;
        margin: 40px 0px 0px 0px;

        p {
            margin: 0px;
            padding: 0px;
            font-size: 1.4rem;
            color: #43454d;
            display: inline-block;
            margin: 0px 10px 0px 0px;


        }

        a {
            color: #43454d;
            opacity: 0.6;


        }
    }




}



/***************pagee******************/




.sitemap {
    padding: 15px 0px;
    margin: 0px 0px 60px 0px;
    text-align: right;

    @media screen and (max-width: 991px) {
        margin: 0px 0px 30px 0px;

    }

    a {
        color: $text-color;

        font-size: 1.4rem;

        &:hover {
            color: $active-color;
        }

    }

    span {
        color: $text-color;
        font-size: 1.4rem;
        display: inline-block;
        margin: 0px 5px;


    }
}


.middle {}






.detail-slider {
    max-width: 500px;
    margin: 0px auto 50px auto;
    position: relative;

    .sr-item {

        position: absolute;
        bottom: 100px;
        right: 0px;
        z-index: 10;

        .sr-zoom {
            width: 30px;
            height: 30px;
            cursor: pointer;
            background-image: url(../images/zoom.png);
            background-repeat: no-repeat;
            background-size: 30px auto;
            border-radius: 2px;



        }
    }


    .slick-slider {
        position: relative;

        .slider-for {
            margin: 0px 0px 40px 0px;

            img {
                width: 100%;
                display: block;
                height: auto;
            }
        }

        .slider-nav {
            position: relative;
            max-width: 270px;
            padding: 0px 30px;
            margin: 0px auto 40px auto;

            .slick-prev {
                width: 30px;
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                border: none;
                background-color: transparent;
                outline: none;
                font-size: 20px;
                cursor: pointer;

            }

            .slick-next {

                width: 30px;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                border: none;
                cursor: pointer;
                background-color: transparent;
                outline: none;
                font-size: 20px;
            }

            .slick-slide {
                outline: none;
                padding: 0px 5px;
                overflow: hidden;

                img {
                    border: 1px solid #ccc;
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                }

                &.slick-current {
                    img {
                        border: 1px solid $active-color;

                    }
                }
            }

            .nav-item {
                border: 1px solid #fff;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.detail-tab-nav {
    border-bottom: 1px solid #cccccc;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: block;
    text-align: center;

    li {
        display: inline-block;

        margin: 0px 30px;
        margin-bottom: -1px;

        @media screen and (max-width: 991px) {
            margin: 0px 10px;

        }

        @media screen and (max-width: 767px) {
            margin: 0px 5px;
            margin-bottom: -1px;

        }


        a {
            display: block;
            line-height: 50px;
            color: $text-color-second;
            font-size: 2rem;
            border-bottom: 1px solid transparent;
            cursor: pointer;

            @media screen and (max-width: 991px) {
                font-size: 1.6rem;
            }

            @media screen and (max-width: 575px) {
                font-size: 1.4rem;
            }



        }

        &.active {

            a {
                color: $active-color;
                border-bottom: 1px solid $active-color;
            }
        }
    }

}

.detail-tab-content {
    display: none;

    &.active {
        display: block;
    }

    padding: 40px 0px;

    p {
        color: $text-color-second;
        font-size: 1.8rem;
        margin: 0px 0px 20px 0px;

        @media screen and (max-width: 991px) {
            font-size: 1.4rem;
        }
    }
}
