/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
@import "scss/variables";
@import "scss/mixins";

/*==========Setting=========*/
html {
    font-size: 10px;
}

body {
    font-family: $font-family;
    min-width: 370px;
    font-size: 14px;
    color: $text-color;
    line-height: 1.4;
}

dt,
dd {
    line-height: 1.4;
}

body,
html {
    overflow: auto;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

.color-active {
    color: $active-color;
}

.font-heading {
    font-family: time new roman;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {}

iframe {
    width: 100%;
    border: none;
}

::selection {
    background: $active-color;
    color: #fff;
}

a {
    &:active {}
}

img {
    max-width: 100%;
}

/*==========Components=========*/
.db-btn {
    display: inline-block;
    line-height: 55px;
    padding: 0px 20px;
    color: #fff;
    background-color: $active-color;
    margin: 0px 0px 0px 0px;
    border: none;
    transition: all ease 0.3s;
    font-size: 22px;

    &:hover {
        background-color: darken($active-color, 10%);
        outline: none;
        color: #fff;
    }

    &.second {
        background-color: $active-color-second;
        outline: none;
        color: #fff;

        &:hover {
            background-color: darken($active-color-second, 10%);
            outline: none;
            color: #fff;
        }
    }

    &.active {
        background-color: $active-color;
        outline: none;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }
    }
}

.page {
    overflow: hidden;
}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;

    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1400px;
    }
}

.dropdown-menu {
    font-size: inherit;
    top: 100% !important;
    transform: none !important;
}

.dropdown-toggle::after {
    display: none;
}

#page-loader {
    background-color: $active-color-second;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

.header {
    border-bottom: 3px solid $active-color-second;

    @media screen and (max-width: 991px) {
        border-bottom-width: 1px;
    }

    .header-inner {
        padding: 0px 0px;
    }

    .logo {
        float: left;
        margin: 15px 0px 15px 0px;

        img {
            height: 75px;

            @media screen and (max-width: 1199px) {
                height: 50px;
            }
        }
    }

    .header-right {
        float: right;
    }

    .menu {
        margin: 70px 0px 0px 0px;
        float: left;

        @media screen and (max-width: 1199px) {
            margin: 50px 0px 0px 0px;
        }

        @media screen and (max-width: 991px) {
            display: none;
        }

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                float: left;
                margin: 0px 0px 0px 50px;

                @media screen and (max-width: 1500px) {
                    margin: 0px 0px 0px 30px;
                }

                @media screen and (max-width: 991px) {
                    margin: 0px 0px 0px 25px;
                }

                @media screen and (max-width: 767px) {
                    margin: 0px;
                }

                a {
                    display: block;
                    line-height: 30px;
                    font-size: 19px;
                    color: #000;
                    transition: color ease 0.3s;

                    @media screen and (max-width: 1199px) {
                        font-size: 15px;
                    }

                    em {
                        font-size: 13px;
                        position: relative;
                        top: -10px;
                        font-style: normal;
                    }
                }

                &:hover {
                    a {
                        color: $active-color;
                    }
                }
            }
        }
    }

    .menu-icon {
        float: left;
        width: 30px;
        height: 30px;
        background-image: url(../images/menu_icon.svg);
        background-size: 30px auto;
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
        margin: 25px 0px 0px 0px;
        cursor: pointer;

        @media screen and (max-width: 991px) {
            display: block;
        }
    }

    .topbar {
        height: 41px;
        padding: 5px 0px;
        background-color: $bg-color;
        border-bottom: 1px solid #d3d3d3;

        .slogan {
            float: left;
            line-height: 30px;
            font-size: 19px;
            color: #000;
            margin: 0px 30px 0px 0px;

            @media screen and (max-width: 1199px) {
                font-size: 15px;
                margin: 0px 15px 0px 0px;
            }
        }

        .language {
            float: left;
            position: relative;

            &.show {
                background-color: #fff;
                box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
            }

            .dropdown-toggle {
                line-height: 30px;
                padding: 0px 0px 0px 5px;
                width: 80px;
                cursor: pointer;

                img {
                    float: left;
                    margin: 6px 10px 0px 0px;
                    width: 32px;
                    height: 18px;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                }

                span {
                    display: inline-block;
                    line-height: 30px;
                    color: #000;
                    font-size: 19px;

                    @media screen and (max-width: 1199px) {
                        font-size: 15px;
                    }
                }
            }

            .dropdown-language {
                width: 80px;
                min-width: 80px;
                border: none;
                background-color: #fff;
                border-radius: 0px;
                left: -5px;
                top: -5px;
                margin-top: -2px;
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);

                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;

                    li {
                        height: 30px;

                        img {
                            float: left;
                            margin: 5px 10px 0px 0px;
                            width: 32px;
                            height: 18px;
                            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                        }

                        a {
                            display: inline-block;
                            line-height: 30px;
                            display: block;
                            color: #000;
                            font-size: 19px;
                            padding: 0px 0px 0px 5px;

                            @media screen and (max-width: 1199px) {
                                font-size: 15px;
                            }

                            &:hover {
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
        }

        .topbar-menu {
            ul {
                margin: 0px;
                list-style: none;
                padding: 0px;

                li {
                    float: left;
                    margin: 0px 0px 0px 50px;

                    @media screen and (max-width: 991px) {
                        margin: 0px 0px 0px 25px;
                    }

                    @media screen and (max-width: 767px) {
                        margin: 0px;
                    }

                    a {
                        display: block;
                        line-height: 30px;
                        font-size: 19px;
                        color: #000;
                        transition: all ease 0.3s;

                        @media screen and (max-width: 1199px) {
                            font-size: 15px;
                        }
                    }

                    &:hover {
                        a {
                            color: $active-color;
                        }
                    }
                }
            }
        }
    }
}

.totop {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $red;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 17px;
}

@media screen and (max-width:991px) {
    .open-menu {
        overflow: hidden;

        .menu-res {
            transform: translateX(-0px);
        }

        .header {
            left: -280px;
        }

        .page {
            height: 100%;
            left: -280px;
        }
    }

    .header .container {
        position: relative;
        @include transition();
    }

    .menu-res {
        width: 280px;
        background-color: #111;
        position: fixed;
        top: 0px;
        z-index: 99999;
        overflow: auto;
        bottom: 0px;
        transition: all ease 0.4s;
        right: 0px;
        transform: translateX(280px);
    }

    .page {
        transition: all ease 0.4s;
        position: relative;
        left: 0px;
    }

    .menu-res-inner {
        padding: 30px 20px 20px 20px;

        ul {
            padding: 0px;
            list-style: none;

            > li {
                border-bottom: 1px solid #222;
                position: relative;

                em {
                    font-size: 10px;
                    position: relative;
                    font-style: normal;
                    top: -10px;
                }

                .fa-home {
                    margin: 0px 5px 0px 0px;
                }

                i {
                    margin: 0px 5px 0px 0px;
                }

                a {
                    color: #999;
                    display: block;
                    line-height: 40px;
                    @include transition();

                    &:hover {
                        color: #fff;
                    }
                }

                &.menu-item-has-children {
                    &:before {
                        display: block;
                        content: "\f489";
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        font-family: "Ionicons";
                        font-size: 20px;
                        text-align: center;
                        cursor: pointer;
                        line-height: 40px;
                        color: #999;
                    }
                }

                &.open-submenu-active {
                    &:before {
                        content: "\f462";
                    }
                }

                > ul {
                    padding: 0px 0px 10px 10px;

                    li {
                        border-top: 1px solid #222;
                        border-bottom: none !important;

                        a {
                            display: block;
                            line-height: 35px;
                            text-transform: none;
                            color: #666;
                            padding: 0px 0px;
                            font-weight: 400;
                            @include transition();
                            text-transform: uppercase;

                            &:hover {
                                color: #fff;
                            }
                        }

                        > ul {
                            padding: 0px 0px 0px 20px;
                        }
                    }
                }
            }
        }
    }
}

.home-slider {
    position: relative;

    .home-slider-item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 700px;
        width: 100%;

        @media screen and (max-width: 1500px) {
            min-height: 600px;
        }

        @media screen and (max-width: 1199px) {
            min-height: 500px;
        }

        @media screen and (max-width: 991px) {
            min-height: 350px;
        }

        @media screen and (max-width: 767px) {
            min-height: 250px;
        }

        .home-slider-text {
            padding-top: 130px;
            padding-bottom: 40px;

            label {
                font-size: 32px;
                font-family: time new roman;
                position: relative;
                display: inline-block;
                color: $active-color-second;
                border-bottom: 3px solid $active-color;
                margin: 0px 0px 40px 0px;
            }

            h2 {
                font-size: 110px;
                font-family: time new roman;
                position: relative;
                display: inline-block;
                color: $active-color-second;
                line-height: 1;
                margin: 0px 0px 30px 0px;

                &.fix-margin {
                    margin-top: 80px;
                    margin-bottom: 80px;

                    @media screen and (max-width: 991px) {
                        margin-top: 40px;
                        margin-bottom: 40px;
                    }
                }

                &:before {
                    content: "";
                    display: block;
                    height: 3px;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 86%;
                    background-color: $active-color;
                }
            }

            p {
                margin: 0px 0px 40px 0px;
                font-size: 25px;
                color: $active-color-second;
            }

            .db-btn {}

            @media screen and (max-width: 1199px) {
                padding-top: 80px;

                label {
                    font-size: 24px;
                    border-bottom: 3px solid $active-color;
                    margin: 0px 0px 20px 0px;
                }

                h2 {
                    font-size: 70px;
                    margin: 0px 0px 20px 0px;
                }

                p {
                    margin: 0px 0px 30px 0px;
                    font-size: 20px;
                }

                .db-btn {
                    font-size: 18px;
                }
            }

            @media screen and (max-width: 991px) {
                padding-top: 50px;

                label {
                    font-size: 18px;
                    border-bottom: 3px solid $active-color;
                    margin: 0px 0px 20px 0px;
                }

                h2 {
                    font-size: 40px;
                    margin: 0px 0px 20px 0px;
                }

                p {
                    margin: 0px 0px 20px 0px;
                    font-size: 18px;
                }

                .db-btn {
                    font-size: 16px;
                    line-height: 40px;
                }
            }
        }
    }

    .owl-prev {
        background-image: url(../images/prev.png);
        width: 40px;
        height: 75px;
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -40px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;

        @media screen and (max-width: 991px) {
            width: 19px;
            height: 47px;
            background-size: 19px 47px;
            left: 5px;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .owl-next {
        background-image: url(../images/next.png);
        width: 40px;
        height: 75px;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -40px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;

        @media screen and (max-width: 991px) {
            width: 19px;
            height: 47px;
            background-size: 19px 47px;
            right: 5px;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
        z-index: 999;
        text-align: center;

        .owl-dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 5px 3px;
            background-color: #fff;
            border-radius: 50%;

            @media screen and (max-width: 991px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                background-color: $active-color;
            }
        }
    }

    &.fix {

        .owl-next,
        .owl-prev,
        .owl-dots {
            display: none;
        }

        .home-slider-item {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 500px;
            width: 100%;

            @media screen and (max-width: 1500px) {
                min-height: 500px;
            }

            @media screen and (max-width: 1199px) {
                min-height: 400px;
            }

            @media screen and (max-width: 991px) {
                min-height: 350px;
            }

            @media screen and (max-width: 767px) {
                min-height: 250px;
            }

            .home-slider-text {
                padding-top: 50px;
                padding-bottom: 40px;

                @media screen and (max-width: 1199px) {
                    padding-top: 40px;
                }

                @media screen and (max-width: 991px) {
                    padding-top: 40px;
                }
            }
        }
    }
}

.fx-about {
    padding: 50px 0px;

    p {
        margin: 0px 0px 20px 0px;
        font-size: 24px;

        @media screen and (max-width: 1199px) {
            font-size: 20px;
        }

        @media screen and (max-width: 991px) {
            font-size: 18px;
        }
    }

    .fx-item {
        text-align: center;
        margin: 20px 0px 0px 0px;

        img {
            @media screen and (max-width: 1400px) {
                width: 100px;
            }
        }

        p {
            margin: 15px 0px 20px 0px;
            font-size: 23px;

            @media screen and (max-width: 1199px) {
                font-size: 20px;
            }

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }
    }

    .fx-card {
        background-color: #05041e;
        margin: 30px 0px 0px 0px;

        .fx-card-inner {
            padding: 30px 25px 30px 25px;
        }

        h3 {
            color: #fff;
            font-size: 55px;
            margin: 0px 0px 20px 0px;

            @media screen and (max-width: 991px) {
                font-size: 35px;
            }
        }

        ul {
            padding: 0px;
            padding-left: 15px;
            color: #fff;
        }

        p {
            color: #fff;
            margin: 0px 0px 10px 0px;

            &.gray {
                color: #cccccc;
            }

            &.color-active {
                color: $active-color;
            }
        }

        .open {
            display: block;
            width: 100%;
            font-size: 25px;
            color: #fff;
            background-color: $active-color;
            transition: all ease 0.3s;
            line-height: 75px;
            text-align: center;

            &.dark {
                background-color: $blue-light;
            }

            &.darker {
                background-color: $blue;
            }

            @media screen and (max-width: 991px) {
                line-height: 50px;
                font-size: 18px;
            }

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
}

.counter {
    background-color: $blue;
    padding: 100px 0px;
    text-align: center;

    @media screen and (max-width: 991px) {
        padding: 20px 0px;
    }

    .counter-item {
        display: inline-block;
        text-align: left;

        @media screen and (max-width: 991px) {
            text-align: center;
            padding: 20px 0px;
        }

        p {
            color: #fff;
            font-size: 25px;
            margin: 0px 0px 0px 0px;
            opacity: 0.7;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }

        h4 {
            font-size: 50px;
            font-weight: bold;
            font-style: italic;
            position: relative;
            color: #fff;
            margin: 10px 0px 15px 0px;

            @media screen and (max-width: 991px) {
                font-size: 40px;
            }

            &:before {
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                position: absolute;
                left: 0px;
                bottom: 0px;
                background-color: #fff;

                @media screen and (max-width: 991px) {
                    left: 50%;
                    margin-left: -50px;
                }
            }
        }
    }
}

.award {
    padding: 50px 0px;
    background-image: url(../images/awards_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    h3 {
        color: #001528;
        font-size: 55px;
        margin: 0px 0px 20px 0px;

        @media screen and (max-width: 991px) {
            font-size: 40px;
        }
    }

    p {
        font-size: 25px;
        color: #000;
        margin: 0px 0px 20px 0px;

        @media screen and (max-width: 991px) {
            font-size: 18px;
        }
    }

    .award-img img {
        @media screen and (max-width: 767px) {
            max-width: 200px;
        }
    }
}

.trading {
    padding: 50px 0px;
    background-color: $blue-dark;

    h3 {
        color: #fff;
        font-size: 55px;
        margin: 0px 0px 20px 0px;

        @media screen and (max-width: 991px) {
            font-size: 40px;
        }

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    p {
        font-size: 25px;
        color: #fff;
        margin: 0px 0px 20px 0px;

        @media screen and (max-width: 991px) {
            font-size: 18px;
        }

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    .trading-download {
        @media screen and (max-width: 767px) {
            text-align: center;
        }

        a {
            display: inline-block;
            margin: 0px 20px 25px 0px;
            transition: all ease 0.3s;

            @media screen and (max-width: 767px) {
                margin: 10px 5px;
            }

            img {
                @media screen and (max-width: 1199px) {
                    height: 60px;
                }

                @media screen and (max-width: 767px) {
                    height: 40px;
                }
            }

            &:hover {
                opacity: 0.9;
            }

            &.d1 {
                margin-right: 46px;

                @media screen and (max-width: 767px) {
                    margin: 10px 5px;
                }
            }
        }
    }

    .trading-img {
        @media screen and (max-width: 991px) {
            text-align: center;
            margin: 0px 0px 20px 0px;
        }
    }
}

.market {
    padding: 50px 0px;

    h3 {
        color: $blue-dark;
        font-size: 55px;
        margin: 0px 0px 40px 0px;
        text-align: center;

        @media screen and (max-width: 991px) {
            font-size: 40px;
        }

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    .partner-brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 30px 0px;

        div {
            padding: 10px;
            display: inline-block;
        }

        @media screen and (max-width: 991px) {
            display: block;
            text-align: center;

            div {
                margin: 0px 10px;
            }
        }
    }

    .indexs {
        .index-item {
            background-color: #000d19;
            margin: 2px 2px;

            p {
                padding: 10px 10px 10px 15px;
                font-size: 22px;
                color: #fff;
                margin: 0px 0px 15px 0px;
                text-transform: uppercase;

                @media screen and (max-width: 991px) {
                    font-size: 18px;
                }

                span {
                    display: inline-block;
                    margin: 0px 0px 0px 20px;
                    padding: 0px 0px 0px 30px;
                    color: $green;
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 0px;
                        position: absolute;
                        border: 13px solid transparent;
                        border-width: 16px 12px;
                        border-bottom-color: $green;
                        bottom: 7px;
                        left: 0px;
                    }

                    &.down {
                        color: $red;

                        &:before {
                            border: 13px solid transparent;
                            border-top-color: $red;
                            bottom: -4px;
                            left: 0px;
                        }
                    }
                }
            }

            .ii-value {
                padding: 5px 10px 10px 10px;
                text-align: center;

                strong {
                    color: #fff;
                    font-size: 40px;
                    display: inline-block;
                    font-weight: normal;

                    @media screen and (max-width: 767px) {
                        font-size: 25px;
                    }
                }

                span {
                    color: $active-color;
                    display: inline-block;
                    font-size: 40px;
                    margin: 0px 15px;

                    @media screen and (max-width: 767px) {
                        font-size: 25px;
                    }
                }
            }

            label {
                padding: 7px 10px 7px 15px;
                font-size: 22px;
                color: #848484;
                display: block;
                background-color: #2c2c2c;
                margin: 0px 0px 20px 0px;
                margin: 0px;

                @media screen and (max-width: 991px) {
                    font-size: 18px;
                }

                span {
                    display: inline-block;
                    margin: 0px 0px 0px 20px;
                    padding: 0px 0px 0px 30px;
                }
            }
        }
    }
}

.investing {
    min-height: 200px;
    position: relative;
    background-color: #f2f2f2;

    .investing-img {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 40%;
        background-image: url(../images/2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media screen and (max-width: 991px) {
            height: 350px;
            position: relative;
            width: 100%;

            @media screen and (max-width: 767px) {
                height: 300px;
            }

            @media screen and (max-width: 575px) {
                height: 200px;
            }
        }
    }

    .investing-content {
        display: inline-block;
        width: 100%;
        max-width: 600px;
        padding: 180px 0px 150px;
        text-align: left;

        @media screen and (max-width: 1199px) {
            max-width: 500px;
        }

        @media screen and (max-width: 991px) {
            max-width: 100%;
            text-align: center;
            padding: 50px 0px;
        }

        h3 {
            color: $blue-dark;
            font-size: 55px;
            margin: 0px 0px 40px 0px;

            @media screen and (max-width: 1199px) {
                font-size: 40px;
            }

            @media screen and (max-width: 991px) {
                margin: 0px 0px 20px 0px;
            }

            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        .db-btn {
            @media screen and (max-width: 991px) {
                font-size: 16px;
                line-height: 50px;
            }
        }
    }
}

.footer {
    background-color: $blue-darker;
    padding: 70px 0px 0px 0px;

    .footer-menu {
        padding: 0px;
        margin: 0px;
        list-style: none;

        li {
            margin: 0px 0px 15px 0px;

            a {
                color: #fff;
                transition: all ease 0.3s;
                font-size: 25px;

                @media screen and (max-width: 991px) {
                    font-size: 18px;
                }

                &:hover {
                    color: $active-color;
                }
            }
        }
    }

    .facebook {
        background-image: url(../images/facebook.png);
        width: 40px;
        height: 40px;
        background-size: 40px;
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }

    .footer-download {
        padding: 20px 0px 0px 0px;

        .fd-item {
            margin: 0px 0px 10px 0px;

            a {
                display: block;

                img {
                    display: block;
                    height: 50px;
                }
            }
        }
    }

    .risk-warning {
        margin: 50px 0px 10px 0px;

        p {
            margin: 0px 0px 15px 0px;
            font-size: 16px;
            color: #dedede;

            @media screen and (max-width: 991px) {
                font-size: 14px;
            }
        }

        label {
            margin: 0px 0px 0px 0px;
            font-size: 16px;
            color: #dedede;
            font-weight: bold;
        }
    }

    .allright {
        padding: 10px 0px;
        background-color: #191919;

        p {
            margin: 0px 0px 0px 0px;
            font-size: 16px;
            color: #dedede;

            @media screen and (max-width: 991px) {
                font-size: 14px;
            }
        }
    }
}

.challenge {
    padding: 50px 0px;
    background-color: #1e1465;

    .challenge-caption {
        margin: 0px 0px 30px 0px;

        h3 {
            font-size: 33px;
            text-transform: uppercase;
            margin: 0px 0px 10px 0px;
            color: #fff;
            font-weight: bold;

            @media screen and (max-width: 991px) {
                font-size: 25px;
            }
        }

        p {
            font-size: 22px;
            color: #fff;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }
    }

    .challenge-note {
        color: #2acba7;
        font-size: 19px;
        font-style: italic;
        margin: 10px 0px;

        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
    }
}

.challenge-section {
    max-width: 620px;

    h4 {
        color: #2acba7;
        border-bottom: 4px solid $active-color;
        margin: 0px 0px 10px 0px;
        font-size: 50px;
        padding: 0px;
        font-weight: bold;

        @media screen and (max-width: 991px) {
            font-size: 30px;
        }
    }

    .cs-text {
        background-color: #fff;
        border: 1px solid #1e1465;
        align-items: center;
        display: flex;
        padding: 10px;

        p {
            font-size: 25px;
            margin: 0px;
            font-weight: bold;
            color: #21204a;
            text-transform: uppercase;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }

        span {
            font-size: 19px;
            margin: 0px;
            color: #21204a;

            @media screen and (max-width: 991px) {
                font-size: 16px;
            }
        }
    }

    &.border-white {
        .cs-text {
            background-color: #f0f0f0;
            border: 1px solid #fff;
        }
    }
}

.hall {
    padding: 50px 0px;

    .hall-caption {
        margin: 0px 0px 20px 0px;

        h3 {
            font-size: 33px;
            text-transform: uppercase;
            margin: 0px 0px 0px 0px;
            color: #21204a;
            font-weight: bold;

            @media screen and (max-width: 991px) {
                font-size: 25px;
            }
        }
    }
}

.hall-tables {
    padding: 10px 0px 0px 0px;

    table {
        margin: 40px 0px 0px 0px;
        width: 100%;

        th {
            padding: 10px 15px;
            background-color: #1fb6f1;
            color: #fff;
            font-weight: bold;
            width: 25%;
            font-size: 25px;

            @media screen and (max-width: 1199px) {
                font-size: 20px;
            }

            strong {
                font-size: 33px;
                display: block;
                text-align: center;
                font-weight: bold;

                @media screen and (max-width: 1199px) {
                    font-size: 25px;
                }
            }
        }

        tr {
            td {
                padding: 10px 15px;

                &.colr1 {
                    background-color: #f0f0f0;
                    font-size: 25px;
                    text-transform: uppercase;
                    color: #21204a;
                    border: 1px solid #fff;

                    @media screen and (max-width: 1199px) {
                        font-size: 20px;
                    }
                }

                &.colr2 {
                    background-color: #21204a;
                    text-align: center;
                    border: 1px solid #fff;
                    color: #fff;

                    p {
                        font-weight: bold;
                        margin: 0px 0px 0px 0px;
                        font-size: 19px;
                    }

                    span {
                        font-size: 19px;
                    }
                }

                &.colr3 {
                    background-color: #146ab3;
                    text-align: center;
                    border: 1px solid #fff;
                    color: #fff;

                    p {
                        font-weight: bold;
                        margin: 0px 0px 0px 0px;
                        font-size: 19px;
                    }

                    span {
                        font-size: 19px;
                    }
                }

                &.colr4 {
                    background-color: #2d99c4;
                    text-align: center;
                    border: 1px solid #fff;
                    color: #fff;

                    p {
                        font-weight: bold;
                        margin: 0px 0px 0px 0px;
                        font-size: 19px;
                    }

                    span {
                        font-size: 19px;
                    }
                }
            }
        }
    }
}

.hall-tables-mobile {
    padding: 10px 0px 0px 0px;

    .htm-item {
        margin: 20px 0px 0px 0px;

        h3 {
            font-size: 18px;
            padding: 10px 15px;
            color: #fff;
            background-color: $active-color;
            margin: 0px;
        }

        h4 {
            font-size: 18px;
            padding: 10px 15px;
            color: #21204a;
            background-color: #cccccc;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            margin: 2px 0px;
        }
    }

    table {
        width: 100%;

        th {
            padding: 10px 10px;
            background-color: #f0f0f0;
            color: #21204a;
            font-size: 16px;
            text-align: center;
            font-weight: normal;
        }

        tr {
            td {
                padding: 10px 10px;
                background-color: #21204a;
                color: #fff;

                p {
                    color: #fff;
                    font-size: 16px;
                    text-align: center;
                    margin: 0px;
                }
            }
        }
    }
}

.risk-note {
    padding: 50px 0px;

    p {
        color: #21204a;
        font-size: 19px;
        margin: 0px 0px 20px 0px;

        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
    }

    strong {
        font-weight: bold;
        color: #21204a;
        font-size: 19px;

        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
    }
}

.page-caption {
    margin: 0px 0px 30px 0px;

    h3 {
        font-size: 33px;
        text-transform: uppercase;
        margin: 0px 0px 10px 0px;
        color: #21204a;
        font-weight: bold;

        @media screen and (max-width: 991px) {
            font-size: 25px;
        }
    }

    p {
        font-size: 22px;
        margin: 0px 0px 30px 0px;
        color: #21204a;

        @media screen and (max-width: 991px) {
            font-size: 18ppx;
        }
    }
}

.academy {
    padding: 50px 0px 100px 0px;

    .academy-item {
        margin: 30px auto 0px auto;
        max-width: 300px;
        background-color: #fff;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        padding: 20px;
        transition: all ease 0.3s;
        text-align: center;

        a {
            display: block;
        }

        .ai-img {
            max-height: 150px;
            text-align: center;
            margin: 10px 0px 0px 0px;

            img {
                @media screen and (max-width: 1199px) {
                    width: 100px;
                }

                @media screen and (max-width: 767px) {
                    width: 80px;
                }
            }
        }

        p {
            margin: 0px;
            color: #21204a;
            font-size: 25px;
            font-weight: bold;
            transition: all ease 0.3s;
            padding: 30px 0px 10px 0px;

            @media screen and (max-width: 1199px) {
                font-size: 20px;
            }
        }

        &:hover {
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);

            p {
                color: $active-color;
            }
        }
    }
}

.what-forex {
    padding: 50px 0px 100px 0px;

    .wf-table {
        max-width: 900px;

        table {
            width: 100%;

            th {
                padding: 10px 15px;
                font-size: 22px;
                color: #fff;
                text-align: center;
                font-weight: bold;
                background-color: #21204a;
                text-transform: uppercase;
                border: 1px solid #fff;

                @media screen and (max-width: 991px) {
                    font-size: 18px;
                }
            }

            td {
                padding: 10px 15px;
                font-size: 22px;
                color: #21204a;
                border: 1px solid #fff;
                text-align: center;
                background-color: #f0f0f0;
                text-transform: uppercase;

                @media screen and (max-width: 991px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
    }

    .wf-block {
        margin: 0px 0px 40px 0px;

        p {
            margin: 0px 0px 30px 0px;
            color: #21204a;
            font-size: 22px;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }

            a {
                color: $active-color;

                &:hover {
                    text-decoration: underline;
                }
            }

            strong {
                font-weight: 600;
            }
        }

        .wfb-caption {
            margin: 0px 0px 20px 0px;

            h4 {
                font-weight: bold;
                font-size: 25px;
                border-bottom: 4px solid $active-color;
                margin: 0px;
                display: inline-block;
                padding: 0px 0px 5px 0px;
                color: #21204a;

                @media screen and (max-width: 991px) {
                    font-size: 21px;
                }
            }
        }
    }
}

.club-img {
    img {
        margin: 20px 0px 20px 0px;
    }
}
