/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
h1,
.h1 {
  font-size: 3.5rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.5rem; }

h4,
.h4 {
  font-size: 2rem; }

h5,
.h5 {
  font-size: 1.8rem; }

h6,
.h6 {
  font-size: 1.5rem; }

@font-face {
  font-family: 'Averta-Bold';
  src: url("../fonts/Averta-Bold.eot");
  src: url("../fonts/Averta-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Bold.woff2") format("woff2"), url("../fonts/Averta-Bold.woff") format("woff"), url("../fonts/Averta-Bold.ttf") format("truetype"), url("../fonts/Averta-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta-Regular';
  src: url("../fonts/Averta-Regular.eot");
  src: url("../fonts/Averta-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Regular.woff2") format("woff2"), url("../fonts/Averta-Regular.woff") format("woff"), url("../fonts/Averta-Regular.ttf") format("truetype"), url("../fonts/Averta-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta-Semibold';
  src: url("../fonts/Averta-Semibold.eot");
  src: url("../fonts/Averta-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Semibold.woff2") format("woff2"), url("../fonts/Averta-Semibold.woff") format("woff"), url("../fonts/Averta-Semibold.ttf") format("truetype"), url("../fonts/Averta-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta-Thin';
  src: url("../fonts/Averta-Thin.eot");
  src: url("../fonts/Averta-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Thin.woff2") format("woff2"), url("../fonts/Averta-Thin.woff") format("woff"), url("../fonts/Averta-Thin.ttf") format("truetype"), url("../fonts/Averta-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==========Setting=========*/
html {
  font-size: 10px; }

body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  min-width: 340px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.4; }

dt,
dd {
  line-height: 1.5; }

a:hover {
  text-decoration: none;
  color: inherit; }

a {
  color: inherit; }

a:active,
a:focus {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

iframe {
  width: 100%;
  border: none; }

::selection {
  background: #10cfbd;
  color: #fff; }

/*==========Components=========*/
.my-btn {
  display: inline-block;
  line-height: 50px;
  padding: 0px 30px;
  font-size: 19px;
  color: #fff;
  background-color: #10cfbd;
  margin: 0px 0px 0px 0px;
  border: none;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  background-image: url(../images/btn_bg.png);
  background-repeat: no-repeat;
  background-position: bottom left; }
  .my-btn:hover {
    background-color: #24eedb;
    cursor: pointer;
    outline: none;
    color: #fff; }
  .my-btn.active {
    background-color: #10cfbd;
    outline: none;
    color: #fff; }
    .my-btn.active:hover {
      opacity: 0.8; }

.row-fix {
  margin-left: -10px;
  margin-right: -10px; }
  .row-fix .col-fix {
    padding-left: 10px;
    padding-right: 10px; }

.row-fix30 {
  margin-left: -30px;
  margin-right: -30px; }
  .row-fix30 .col-fix30 {
    padding-left: 30px;
    padding-right: 30px; }

.logo {
  height: 30px;
  float: left;
  margin: 0px 0px 0px 95px; }

.page-container .page-content-wrapper .content {
  padding-top: 0px; }

.h-filter {
  padding-top: 160px;
  padding-bottom: 100px;
  background-color: rgba(72, 176, 247, 0.6); }

.h-filter-flex {
  max-width: 900px;
  margin: 0px auto;
  display: flex;
  background-color: #fff;
  line-height: 45px;
  height: 45px;
  padding: 0px 45px 0px 0px;
  position: relative;
  justify-content: space-between; }
  .h-filter-flex .btn-search {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    padding: 0px;
    border-radius: 0px; }
  .h-filter-flex > div {
    width: 100%; }
  .h-filter-flex .form-group {
    margin: 0px; }
    .h-filter-flex .form-group.center {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee; }
  .h-filter-flex .select2-container .select2-selection.select2-selection--single {
    height: 43px;
    border-radius: 0px;
    padding: 0px 9px;
    border: none !important; }
  .h-filter-flex .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 43px; }
  .h-filter-flex .select2-container .select2-selection .select2-selection__arrow {
    bottom: 9px; }

.section {
  padding: 70px 0px; }
  .section.white {
    background-color: #fff; }

.section-caption {
  border-bottom: 1px solid #c6c6c6;
  margin: 0px 0px 20px 0px; }
  .section-caption h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    padding: 5px 0px;
    margin-bottom: -1px;
    border-bottom: 1px solid #10cfbd; }

.ui-area-item {
  margin: 0px 0px 30px 0px;
  position: relative;
  overflow: hidden; }
  .ui-area-item img {
    width: 100%;
    transition: all ease 0.5s; }
  .ui-area-item:hover img {
    transform: scale(1.2); }
  .ui-area-item:hover .area-item-hover {
    background-color: rgba(0, 0, 0, 0.1); }
    .ui-area-item:hover .area-item-hover span {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      letter-spacing: 4px; }
  .ui-area-item .area-item-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all ease 0.5s;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    justify-content: center;
    text-transform: uppercase; }
    .ui-area-item .area-item-hover span {
      display: inline-block;
      padding: 2px 5px;
      transition: all ease 0.5s;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent; }

/*# sourceMappingURL=main.css.map */