@page {
  size: 21cm 29.7cm;
  margin: 0mm;
}

@media print {
    .first-page-last-block {
        page-break-inside: avoid;
        page-break-after: always;
    }

    .page-2 {
        page-break-after: always;
    }

    .car-details .info-table li {
      page-break-inside: avoid;
    }
}

@font-face {
    font-family: open-sans-regular;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: open-sans-bold;
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

.main-container {
  font-family: open-sans-regular;
  width: 900px;
  margin: 0 auto;
  word-wrap: break-word;
}
/*Qingxiang added*/
.nobreakinsidebox {
    display: inline-block;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    page-break-inside: avoid;
    page-break-after: always;
}
.nobreakinsidesection {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    page-break-inside: avoid;
    page-break-after: always;
}
/*End*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px;
  margin-top: 20px;
  padding: 0 15px;
  padding-bottom: 25px;
  border-bottom: 2px solid #777;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: .7px;
}

.page-header img {
  max-width: 150px;
  max-height: 40px;
}

.car-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px 20px 60px;
}

.car-model h1 {
  word-spacing: 5px;
  font-size: 37px;
  font-family: open-sans-bold;
  font-weight: bold;
}

.car-model .model-text {
  margin-left: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
}

.customer-version .car-model .model-text {
    /*padding-bottom: 35px;*/
    min-height: 55px;
}

.car-model .model-text h2 {
  letter-spacing: 1.5px;
  font-size: 22px; /*28px*/
  margin-bottom: 7px;
}

.car-model-p1 .model-text h2 {
  margin-right: -136px;
}

.customer-version .car-model .model-text h2 {
  margin-right: -136px;
}

.car-model .model-text h4 {
  color: #444  ;
  font-weight: 400;
  margin-right: 10px;
}

.page1-heading-QR-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page1-heading-QR-block .QR-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 146px;
  margin-bottom: -16px;
  margin-right: -10px;
  /* margin-right: 15px; */
}

.page1-heading-QR-block .QR-link img {
  width: 26px;
  min-width: 26px;
  margin-right: 5px;
}

 .page1-heading-QR-block .QR-link p {
  font-size: 10px;
  width: 100%;
}

.page1-heading-QR-block .heading-QR-code {
  display: none;
}

.page1-heading-QR-block .heading-QR-code img {
  height: 45px;
}

/* ----------------------------customer QR---------------------- */

.customer-version .car-model .heading-QR-block {
  align-items: flex-end;
}

.customer-version .page1-heading-QR-block .QR-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customer-version .page1-heading-QR-block .QR-link p {
  font-size: 10px;
  width: 100%;
}

.customer-version .page1-heading-QR-block .heading-QR-code img {
  height: 45px;
}


/* ----------------------------customer QR---------------------- */


.internal-information-page1top {
  background-image: url("../images/background.png");
  background-size: 70px;
  border-bottom: 1px solid #aaa9a5;
  width: 100%;
  display: flex;
  padding: 0 30px;
  box-sizing: border-box;
}

.internal-information-page1top ul {
  padding-right: 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex: 1;
  margin-top: 8px;
}

.internal-information-page1top ul li {
  font-size: 12px;
  display: flex;
}

.internal-information-page1top ul li:last-child {
}

.internal-information-page1top .QR-code {
  text-align: right;
  width: 120px;
  max-width: 120px;
}

.internal-information-page1top .QR-code img {
  height: 102px;
  width: 102px;
  padding: 5px;
  background-color: #fff;
}

.internal-information-page1top .list-item {
  margin-bottom: 7px;
  line-height: 14px;
  -ms-flex-preferred-size: 175px;
      flex-basis: 175px;
  max-width: 175px;
  min-width: 175px;
}

.internal-information-page1top .list-item:last-child {
  position: relative;
  flex-basis:250px;
  max-width:250px;
}

.internal-information-page1top .list-item p:last-child {
  font-weight: bold;
}

.internal-information-page1top .list-item p {
  padding-right: 10px;
}

.line-matarstallning {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #c2c2bd;
  background-color: #fdfcf0;
}

.line-matarstallning .left-part {
  -webkit-box-flex: 3.3;
      -ms-flex: 3.3;
          flex: 3.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  border-right: 2px solid #c9c8c2;
  padding: 4px 15px 7px 0;
}

.line-matarstallning .middle-part {
  -webkit-box-flex: 7.25;
      -ms-flex: 7.25;
          flex: 7.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  border-right: 2px solid #c9c8c2;
  padding: 4px 15px 7px 0;
}

.line-matarstallning .right-part {
  -webkit-box-flex: 8.75;
      -ms-flex: 8.75;
          flex: 8.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 15px 7px 0;
}

.line-matarstallning img {
  width: 26px;
  margin-right: 12px;
}

.line-matarstallning .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.line-matarstallning .content-item p:last-child {
  margin-top: 3px;
  font-weight: bold;
}

.line-matarstallning .content-item p {
  max-width: 85px;
}

.service-line {
  padding: 10px 30px;
  font-size: 12px;
  background-color: #f3f0e2;
  border-bottom: 1px solid #aaa9a5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service-line .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-line .first-line .left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 155px;
}

.service-line .first-line .left-item img {
  width: 26px;
  margin-right: 10px;
}

/*Qingxiang added*/
.service-line .second-line .left-item img {
        width: 28px;
        margin-right: 10px;
    }

    .service-line .second-line .left-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        /*width: 50px;*/
    }
/*end*/
.service-line .first-line .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-line .first-line .right-item a {
  color: #333;
  text-decoration: underline;
  margin-left: 4px;
}

.service-line .first-line .right-item a:hover {
  opacity: .8;
}

.service-line .first-line .right-item img {
  width: 15px;
  margin-left: 6px;
}

.service-line .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  padding-left: 36px;
}

.service-line .second-line .line-item {
  /* -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
        flex: 1 1 0; */
  max-width: 115px;
  padding-right: 10px;
  -ms-flex-preferred-size: 115px;
      flex-basis: 115px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.warning-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service-line .second-line .line-item:last-child {
  max-width: 200px;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  padding-right: 0;
}

.warning-item img {
  width: 28px;
  margin-right: 5px;
}

.service-line .second-line .line-item p:nth-of-type(2) {
  font-weight: bold;
  margin-top: 2px;
}

.besiktning {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  background-color: #fdfcf0;
  border-bottom: 1px solid #959595;
}

.besiktning .heading-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.besiktning .other-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.besiktning .left-item {
  width: 412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 2px solid #959595;
  padding-right: 10px;
  min-width: 400px;
  padding-bottom: 10px;
}

.besiktning .heading-block img {
  width: 26px;
  margin-right: 10px;
}

.besiktning .left-item .content-item {
  max-width: 120px;
  min-width: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10px;
}

.besiktning .content-item p:nth-of-type(2) {
  font-weight: bold;
  margin-top: 2px;
}

.besiktning .left-item .content-item:last-child {
  max-width: 160px;
  padding-right: 0;
}

.besiktning .left-item .content-item:last-child p {
  width: 107px;
}

.besiktning .right-item {
  width: 437px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.besiktning .right-item .content-item {
  max-width: 60px;
  padding-right: 10px;
}

.besiktning .right-item .content-item:nth-child(2) {
  min-width: 138px;
  max-width: 138px;
}

.besiktning .right-item .content-item:nth-child(4) {
  min-width: 120px;
  max-width: 120px;
}

.time-sheet {
  padding: 15px 0 10px 0;
}

.time-line {
  border-bottom: 2px solid #436eb3;
  width: 75%;
  margin: 0 auto;
}

.testprotocol-timeline-circles {
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: -10px;
}

.circle {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid #436eb3;
}

.empty-circle {
  background-color: #fff;
}

.filled-circle {
  background-color: #436eb3;
}

.timeline-block {
    font-size: 12px;
    /*font-weight: bold;*/
    padding: 15px 0;
}

.up-to-timeline {
  padding-left: 33px;
}

.up-to-timeline .date-item {
  display: inline-block;
  width: 19%;
  text-align: center;
  font-weight:700;
}

    .up-to-timeline .date-item-label {
        font-weight:300;
    }

.down-to-timeline {
  padding-left: 118px;
  padding-right: 100px;
}

    .down-to-timeline .date-item {
        display: inline-block;
        width: 24%;
        text-align: center;
        font-weight: 700;
    }

.down-to-timeline .date-item-label {
    font-weight: 300;
}

.down-to-timeline .date-item p {
  margin-bottom: 2px;
}

.car-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  font-size: 12px;
}

.car-details .left-part-header {
  margin-bottom: 5px;/*10px*/
}

.car-details .left-part {
  -webkit-box-flex: 4.25;
      -ms-flex: 4.25;
          flex: 4.25;
}

.car-details .left-part ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}

.car-details .left-part .empty-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px;
  border-bottom: 1px solid #ddd;
  height: 12px;
}

.car-details .left-part .checked {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.car-details .left-part .empty {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: 1px solid #c1c1c1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.car-details .left-part .warning {
  height: 16px;
  width: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}

.car-details .left-part .warning img {
  height: 100%;
  width: 100%;
}

.car-details .left-part .checked img {
  height: 100%;
  width: 100%;
}

.car-details .right-part {
  -webkit-box-flex: 15;
      -ms-flex: 15;
          flex: 15;
}

.car-details .info-table {
  margin-left: 70px;
  margin-top: 20px;
}

.car-details .table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car-details .info-table ul {
  margin-top: 20px;
}

.car-details .table-header p:nth-child(1) {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.car-details .table-header p:nth-child(2) {
  -webkit-box-flex: 2.2;
      -ms-flex: 2.2;
          flex: 2.2;
  max-width: 80px;
}

.car-details .table-header p:nth-child(3) {
  width: 50px;
  padding-right: 10px;
}

.car-details .table-header p:last-child {
  -webkit-box-flex: 3.25;
      -ms-flex: 3.25;
          flex: 3.25;
  min-width: 134px;
  text-align: right;
}

.car-details .info-table li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0;
  min-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-details .info-table li:nth-child(even) {
  background-color: #f1efeb;
}

.car-details .info-table li p {
  margin-bottom: 3px;
  color: #000;
}

.car-details .info-table li .left-item {
  -webkit-box-flex: 8.17;
      -ms-flex: 8.17;
          flex: 8.17;
}

.car-details .info-table li .left-item .index {
  font-weight: bold;
  display: inline-block;
  width: 35px;
  text-align: right;
}

.car-details .info-table li .left-item p:nth-of-type(1) {
  font-weight: bold;
  display: inline-block;
}

.car-details .info-table li .left-item p:nth-of-type(2) {
  margin-left: 38px;
  margin-bottom: 0;
}

.car-details .info-table li .middle-item {
  -webkit-box-flex: 1.8;
      -ms-flex: 1.8;
          flex: 1.8;
          max-width: 80px;
          min-width: 80px;
}

.car-details .info-table li .third-item {
  width: 50px;
  padding-right: 10px;
}

.car-details .info-table li .right-item {
  -webkit-box-flex: 3.1;
      -ms-flex: 3.1;
          flex: 3.1;
          min-width: 104px;
  padding-right: 15px;
  text-align: right;
}

.car-details .info-table .bottom-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.car-details .info-table .bottom-lines b {
  margin-left: 20px;
}

.car-details .info-table .bottom-lines .left-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.car-details .info-table .bottom-lines .right-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  margin-right: 15px;
}

.car-details .info-table .bottom-lines .right-text p {
  margin-bottom: 13px;
}

.car-details .info-table .bottom-lines .right-text p:last-child {
  margin-bottom: 0;
}

.pink-block {
  padding: 12px 30px;
  margin-top: 12px;
  background-color: #fdfcf0;
}

.pink-block p:first-child {
  font-size: 11px;
  margin-bottom: 8px;
}

.pink-block p:last-child {
  font-size: 12px;
  color: #e84373;
}

.internal-information-page1bottom {
  padding: 10px 30px;
  background-image: url(../images/background.png);
  background-size: 70px;
}

.internal-information-page1bottom .inputs-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.internal-information-page1bottom .input-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
}

.internal-information-page1bottom .input-block:first-child {
  padding: 0;
}

.internal-information-page1bottom .input-block:last-child {
  min-width: 100%;
  padding: 0;
  margin-top: 10px;
}

.internal-information-page1bottom .inputs-line p {
  font-size: 12px;
  margin-bottom: 5px;
}

.internal-information-page1bottom .input-block input {
  width: 100%;
  border: none;
  padding: 2px 4px;
}

.gdpr-policy {
  font-size: 9px;
  margin-top: 3px;
  font-weight: 400;
  text-align:right;
}




/* -----------------------------------page 2-------------------------------- */

.page-2 {
    /* margin-top: 50px; */
}

.heading-QR-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading-QR-block .QR-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading-QR-block .QR-link img {
  width: 26px;
  min-width: 26px;
  margin-right: 5px;
}

 .heading-QR-block .QR-link p {
  font-size: 10px;
  width: 100%;
}

.heading-QR-block .heading-QR-code img {
  height: 45px;
}

.fabriksutrustning {
  font-size: 12px;
  padding: 20px 30px;
  background-color: #fdfcf0;
  border-top: 2px solid #afaeab;
}

.fabriksutrustning .fabrik-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fabriksutrustning .fabrik-header img {
  width: 26px;
  min-width: 26px;
  margin-right: 10px;
}

.fabriksutrustning .protocol-equipment p {
  line-height: 15px;
}

.fabriksutrustning .protocol-equipment p:first-child {
    margin-bottom: 8px;
}

.fabriksutrustning .cell-contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -17px;
  margin-top: 15px;
  margin-bottom: -10px;
}

.fabriksutrustning .cell-contents ul li {
  width: calc(25% - 17px);
  margin-left: 17px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 17px;
  padding: 4px 7px;
  min-height: 47px;
}

.fabriksutrustning .cell-contents ul li p:last-child {
  font-weight: bold;
  margin-top: 3px;
}

.dack {
  font-size: 12px;
  padding: 15px 30px 10px 30px;
  border-top: 2px solid #959595;
}

.dack-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.dack-header img {
  width: 26px;
  margin-right: 10px;
}

.dack-header p {
  font-weight: bold;
}

.dack-header p:nth-of-type(2) {
  margin-left: 50px;
  margin-right: 180px;
}

.dack .left-car .item-1 {
  margin-left: 36px;
}

.dack .item-car img {
  width: 140px;
}

.dack .left-car,
.dack .right-car {
  width: 45%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dack .item-1 p:last-child {
  margin-top: 8px;
  color: #444;
  font-weight: bold;
}

.dack .item-car {
  position: relative;
}

.dack .item-car .car-body {
  padding: 6px;
  position: relative;
}

.dack .item-car .car-body .tyre-1 {
  position: absolute;
  left: 91.5px;
  top: 21px;
  height: 7.2px;
  width: 18.6px;
  border-radius: 2px;
}

.dack .item-car .car-body .tyre-2 {
  position: absolute;
  left: 91.8px;
  bottom: 25.6px;
  height: 7.2px;
  width: 18.6px;
  border-radius: 2px;
}

.dack .item-car .car-body .tyre-3 {
  position: absolute;
  left: 21px;
  top: 21px;
  height: 7.2px;
  width: 18.6px;
  border-radius: 2px;
}

.dack .item-car .car-body .tyre-4 {
  position: absolute;
  left: 21px;
  bottom: 25.6px;
  height: 7.2px;
  width: 18.6px;
  border-radius: 2px;
}

.dack .item-car .tyre-1-text {
  position: absolute;
  top: 0;
  left: 120px;
}

.dack .item-car .tyre-2-text {
  position: absolute;
  bottom: 5px;
  left: 120px;
}

.dack .item-car .tyre-3-text {
  position: absolute;
  top: 0;
  right: 140px;
}

.dack .item-car .tyre-4-text {
  position: absolute;
  bottom: 5px;
  right: 140px;
}

.dack .right-car {
  margin-left: 60px;
}

.last-actions {
  padding: 15px 30px;
  font-size: 12px;
  border-top: 2px solid #959595;
  background-color: #fdfcf0;
}

.last-actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.last-actions-header img {
  width: 26px;
  margin-right: 10px;
}

.last-actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.last-actions ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-actions ul .checked {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.last-actions ul .empty {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: 1px solid #c1c1c1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.last-actions ul .checked img {
  height: 100%;
  width: 100%;
}

.last-actions ul li p {
  margin-top: 10px;
}

.damage-images {
  padding: 20px 30px;
  border-top: 1px solid #959595;
  font-size: 12px;
  padding-bottom: 10px;
}

.damage-images-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.damage-images-header img {
  width: 26px;
  margin-right: 10px;
}

.damage-images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 36px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.damage-images ul li {
		/*
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
	  */
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-bottom: 15px;
}

.damage-images ul li img {
  padding: 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 3px;
}

.damage-images ul li p {
  margin-left: 1px;
}

.damage-item {
  font-weight:700;
}


.damage-images ul li p:last-child {
  margin-top: 2px;
}

.incoming-delivery {
  padding: 20px 30px;
  font-size: 12px;
  background-color: #fdfcf0;
}

.incoming-delivery .incoming-delivery-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.incoming-delivery .left-item-header {
  -webkit-box-flex: 7.3;
      -ms-flex: 7.3;
          flex: 7.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.incoming-delivery .left-item-header img {
  width: 26px;
  margin-right: 10px;
}

.incoming-delivery .middle-item-header {
  -webkit-box-flex: 5.8;
      -ms-flex: 5.8;
          flex: 5.8;
}

.incoming-delivery .right-item-header {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.incoming-delivery .list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.incoming-delivery .left-list {
  -webkit-box-flex: 7.3;
      -ms-flex: 7.3;
          flex: 7.3;
}

.incoming-delivery .left-list ul {
  width: 276px;
  margin-left: 36px;
}

.incoming-delivery .middle-list ul {
  width: 200px;
}

.incoming-delivery .right-list ul {
  width: 200px;
}

.incoming-delivery .middle-list {
  -webkit-box-flex: 5.8;
      -ms-flex: 5.8;
          flex: 5.8;
}

.incoming-delivery .right-list {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.incoming-delivery .left-list li {
  margin-bottom: 8px;
}

.incoming-delivery .left-list li p {
  margin-bottom: 2px;
}

.incoming-delivery .middle-list li,
.incoming-delivery .right-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}

.incoming-delivery .empty-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px;
  border-bottom: 1px solid #ddd;
  height: 12px;
}

.incoming-delivery .middle-list .checked,
.incoming-delivery .middle-list .close,
.incoming-delivery .right-list .checked,
.incoming-delivery .right-list .close {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.incoming-delivery .middle-list img,
.incoming-delivery .right-list img {
  height: 100%;
  width: 100%;
}

.incoming-delivery .signatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 36px;
  margin-top: 20px;
}

.incoming-delivery .signatures .sign-item {
  width: 330px;
}

.incoming-delivery .signatures .sign-item img {
  width: 100%;
  margin: 5px 0;
}

.incoming-delivery .signatures .sign-item p:last-child {
  font-size: 10px;
  color: #555;
}

.incoming-delivery .page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 140px;
  margin-left: 36px;
}

.incoming-delivery .page-footer p {
  width: 310px;
  margin-top: 5px;
  font-size: 8px;
}

.incoming-delivery .page-footer img {
  width: 180px;
}
