@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?-rdnm34');
	src:url('fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

div.cs-skin-border { color:#333;
	background: transparent;
	font-size: 15px;
	max-width: 100%;
}

@media screen and (max-width: 30em) {
	div.cs-skin-border { font-size: 18px; }
}

.cs-skin-border > span {
	border: 1px solid #ddd; background:#fff;
	-webkit-transition: background 0.2s, border-color 0.2s;
	transition: background 0.2s, border-color 0.2s; border-radius:5px;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
	font-family: 'icomoon';
	content: '\e007';
}

.cs-skin-border ul span::after {
	content: '';
	opacity: 0;
}

.cs-skin-border .cs-selected span::after {
	content: '\e00e';
	color: #ddd9c9;
	font-size: 18px;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
	background: #fff;
	color: #333;
}

.cs-skin-border .cs-options {
	color: #333;
	font-size: 15px;
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s; border-radius:5px; border:1px solid #ddd; margin-top:-1px;
}

.cs-skin-border ul span {
	padding: 3px 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
	background: #d4dfe3;
}
