//background
.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.bg {
    background-color: $bg-color;
}

.color-primary {
    color: $active-color;
}

.color-second {

    color: $text-color-second;
}

.color-meta {
    color: $text-color-meta;
}

//font-weight
.font-bold {
    font-weight: 700;
}


.font-regular {
    font-weight: 400;
}

.font-semi {
    font-weight: 600;
}
