//Reset
html {}

body {
    min-width: 370px;
    color: $text-color;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    font-family: $font-family;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background-color: $bg-color;

}

h1,
h2,
h3,
h4,
h5,
h6 {}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}
