/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
h1,
.h1 {
  font-size: 3.5rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.5rem; }

h4,
.h4 {
  font-size: 2rem; }

h5,
.h5 {
  font-size: 1.8rem; }

h6,
.h6 {
  font-size: 1.5rem; }

@font-face {
  font-family: 'DINRoundOT';
  src: url("../fonts/DINRoundOT.eot");
  src: url("../fonts/DINRoundOT.eot?#iefix") format("embedded-opentype"), url("../fonts/DINRoundOT.woff2") format("woff2"), url("../fonts/DINRoundOT.woff") format("woff"), url("../fonts/DINRoundOT.ttf") format("truetype"), url("../fonts/DINRoundOT.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINRoundOT-Bold';
  src: url("../fonts/DINRoundOT-Bold.eot");
  src: url("../fonts/DINRoundOT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINRoundOT-Bold.woff2") format("woff2"), url("../fonts/DINRoundOT-Bold.woff") format("woff"), url("../fonts/DINRoundOT-Bold.ttf") format("truetype"), url("../fonts/DINRoundOT-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINRoundOT-Light';
  src: url("../fonts/DINRoundOT-Light.eot");
  src: url("../fonts/DINRoundOT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINRoundOT-Light.woff2") format("woff2"), url("../fonts/DINRoundOT-Light.woff") format("woff"), url("../fonts/DINRoundOT-Light.ttf") format("truetype"), url("../fonts/DINRoundOT-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINRoundOT-Medium';
  src: url("../fonts/DINRoundOT-Medium.eot");
  src: url("../fonts/DINRoundOT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINRoundOT-Medium.woff2") format("woff2"), url("../fonts/DINRoundOT-Medium.woff") format("woff"), url("../fonts/DINRoundOT-Medium.ttf") format("truetype"), url("../fonts/DINRoundOT-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==========Setting=========*/
html {
  font-size: 10px; }

body {
  background-color: #fff;
  font-family: "DINRoundOT", sans-serif;
  min-width: 360px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5; }

dt,
dd {
  line-height: 1.5; }

body,
html {
  height: 100%; }

a:hover {
  text-decoration: none;
  color: inherit; }

a {
  color: inherit; }

a:active,
a:focus {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "DINRoundOT-Bold", sans-serif;
  font-weight: 700; }

iframe {
  width: 100%;
  border: none; }

::selection {
  background: #103a71;
  color: #fff; }

/*==========Components=========*/
.my-btn {
  display: inline-block;
  line-height: 40px;
  padding: 0px 30px;
  font-family: "DINRoundOT-Bold", sans-serif;
  color: #fff;
  background-color: #48464f;
  letter-spacing: 2px;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
  border: none;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .my-btn:hover {
    background-color: #103a71;
    outline: none;
    color: #fff; }
  .my-btn.active {
    background-color: #103a71;
    outline: none;
    color: #fff; }
    .my-btn.active:hover {
      opacity: 0.8; }

.row-fix {
  margin-left: -10px;
  margin-right: -10px; }
  .row-fix .col-fix {
    padding-left: 10px;
    padding-right: 10px; }

#page-loader {
  background-color: #103a71;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999; }

.header {
  height: 60px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99; }
  .header a.logo {
    float: left;
    margin: 5px 0px 0px 0px; }
  .header .menu {
    float: right; }
    .header .menu > ul {
      padding: 0px;
      margin: 0px;
      list-style: none; }
      .header .menu > ul > li {
        float: left;
        margin: 0px 0px 0px 40px;
        position: relative; }
        @media screen and (max-width: 991px) {
          .header .menu > ul > li {
            margin: 0px 0px 0px 10px; } }
        .header .menu > ul > li > a {
          display: block;
          line-height: 60px;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
          color: #103a71;
          font-family: "DINRoundOT-Medium", sans-serif; }
          .header .menu > ul > li > a:hover {
            color: #ba5c1a; }
          .header .menu > ul > li > a i {
            margin: 0px 5px 0px 0px; }
        .header .menu > ul > li.current a {
          color: #103a71; }
        .header .menu > ul > li .submenu {
          position: absolute;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
          visibility: hidden;
          opacity: 0;
          margin-top: 15px;
          background-color: #103a71;
          top: 100%;
          left: 0px;
          width: 200px;
          list-style: none;
          padding: 0px; }
          .header .menu > ul > li .submenu li {
            display: block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
            .header .menu > ul > li .submenu li a {
              display: block;
              padding: 10px 10px;
              font-weight: 500;
              color: #fff;
              font-size: 13px; }
              .header .menu > ul > li .submenu li a:hover {
                opacity: 0.8; }
        .header .menu > ul > li:hover .submenu {
          opacity: 1;
          margin-top: 0px;
          visibility: visible; }
    @media screen and (max-width: 767px) {
      .header .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: -15px;
        right: 0px;
        height: auto;
        background-color: #fff; }
        .header .menu > ul > li {
          float: none;
          margin: 0px; }
          .header .menu > ul > li a {
            line-height: 40px;
            border-top: 1px solid #eee;
            padding: 0px 10px 0px 30px; }
        .header .menu.open-menu.menu {
          display: block; } }

.menu-icon {
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px 0px 0px 0px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #103a71;
  cursor: pointer; }

#video-background {
  /*  making the video fullscreen  */
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; }

.section-one {
  padding: 70px 0px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .section-one h2 {
    text-align: center;
    font-size: 2.6rem;
    color: #ba5c1a;
    max-width: 750px;
    line-height: 1.4;
    margin: 0px auto 50px auto; }
    @media screen and (max-width: 991px) {
      .section-one h2 {
        font-size: 1.8rem; } }
  .section-one .slider-one {
    position: relative;
    padding: 0px 20px; }
    .section-one .slider-one .owl-prev {
      position: absolute;
      top: 35%;
      left: -20px;
      color: #103a71;
      font-size: 18px; }
    .section-one .slider-one .owl-next {
      position: absolute;
      top: 35%;
      right: -20px;
      color: #103a71;
      font-size: 18px; }
  .section-one .one-item {
    text-align: center;
    padding: 20px 10px; }
    .section-one .one-item img {
      margin: 0px auto;
      max-width: 300px;
      transition: all ease 0.5s; }
    .section-one .one-item:hover img {
      transform: scale(1.1); }
    .section-one .one-item p {
      margin: 20px 0px 10px 0px;
      text-align: center;
      color: #103a71;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-family: "DINRoundOT-Bold", sans-serif; }
      @media screen and (max-width: 991px) {
        .section-one .one-item p {
          font-size: 1.6rem; } }

.section-two {
  padding: 50px 0px 0px 0px;
  min-height: 250px;
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden; }

.two-item {
  text-align: center; }
  .two-item .ti-box {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .two-item .ti-box img {
        max-width: 100px; } }
    .two-item .ti-box .ti-des {
      text-align: left;
      padding: 0px 20px 0px 0px; }
      .two-item .ti-box .ti-des strong {
        color: #103a71;
        font-size: 3.7rem; }
        @media screen and (max-width: 767px) {
          .two-item .ti-box .ti-des strong {
            font-size: 2rem; } }
      .two-item .ti-box .ti-des h3 {
        color: #103a71;
        font-size: 3.7rem; }
        @media screen and (max-width: 767px) {
          .two-item .ti-box .ti-des h3 {
            font-size: 2rem; } }
      .two-item .ti-box .ti-des p {
        color: #103a71;
        font-size: 2.5rem; }
        @media screen and (max-width: 767px) {
          .two-item .ti-box .ti-des p {
            font-size: 1.6rem; } }
      .two-item .ti-box .ti-des a {
        color: #103a71;
        font-size: 1.7rem;
        -moz-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        -webkit-transition: all ease 0.2s;
        transition: all ease 0.2s; }
        .two-item .ti-box .ti-des a i {
          font-size: 1.3rem; }
        .two-item .ti-box .ti-des a:hover {
          color: #ba5c1a; }
        @media screen and (max-width: 767px) {
          .two-item .ti-box .ti-des a {
            font-size: 1.3rem; } }

.two-des {
  padding: 20px 0px;
  margin: 30px 0px 0px 0px;
  text-align: center;
  background-color: #ba5c1a;
  position: relative;
  margin-right: -15px; }
  @media screen and (max-width: 767px) {
    .two-des {
      margin: 10px 0px 40px 0px;
      padding: 10px 0px; } }
  .two-des:before {
    content: "";
    display: block;
    width: 1000px;
    top: 0px;
    bottom: 0px;
    right: 100%;
    position: absolute;
    background-color: #ba5c1a; }
    @media screen and (max-width: 767px) {
      .two-des:before {
        display: none; } }
  .two-des.right {
    background-color: #c68503;
    margin-left: -15px;
    margin-right: 0px; }
    .two-des.right:before {
      content: "";
      display: block;
      width: 1000px;
      top: 0px;
      bottom: 0px;
      left: 100%;
      right: unset;
      position: absolute;
      background-color: #c68503; }
      @media screen and (max-width: 767px) {
        .two-des.right:before {
          display: none; } }
  .two-des span {
    margin: 0px 20px;
    font-size: 2.2rem;
    font-family: "DINRoundOT-Bold", sans-serif;
    color: #fff; }
    .two-des span i {
      margin: 0px 0px 0px 0px;
      font-size: 18px; }
    @media screen and (max-width: 991px) {
      .two-des span {
        font-size: 1.6rem;
        margin: 0px 5px; }
        .two-des span i {
          font-size: 1.4rem; } }

.section-three {
  padding: 50px 0px 70px 0px;
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .section-three h2 {
    text-align: center;
    font-size: 2.6rem;
    color: #ba5c1a;
    max-width: 750px;
    line-height: 1.4;
    margin: 0px auto 50px auto; }
    @media screen and (max-width: 991px) {
      .section-three h2 {
        font-size: 1.8rem; } }

.three-item {
  margin: 0px 5px 20px 5px; }
  .three-item .t-img {
    overflow: hidden;
    position: relative; }
    .three-item .t-img img {
      transition: all ease 0.5s;
      width: 100%;
      display: block; }
    .three-item .t-img .square {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      z-index: 99; }
      .three-item .t-img .square .t-top {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 0px;
        height: 1px;
        background-color: #fff;
        display: block;
        transition: all ease 0.6s; }
      .three-item .t-img .square .t-right {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1px;
        height: 0px;
        background-color: #fff;
        display: block;
        transition: all ease 0.6s; }
      .three-item .t-img .square .t-bottom {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 0px;
        height: 1px;
        background-color: #fff;
        display: block;
        transition: all ease 0.6s; }
      .three-item .t-img .square .t-left {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 1px;
        height: 0px;
        background-color: #fff;
        display: block;
        transition: all ease 0.6s; }
  .three-item:hover .t-img img {
    transform: scale(1.1); }
  .three-item:hover .t-img .square .t-top {
    width: 100%; }
  .three-item:hover .t-img .square .t-right {
    height: 100%; }
  .three-item:hover .t-img .square .t-bottom {
    width: 100%; }
  .three-item:hover .t-img .square .t-left {
    height: 100%; }
  .three-item p {
    background-color: #ba5c1a;
    padding: 10px 10px;
    text-align: center;
    margin: 0px;
    font-size: 1.5rem;
    font-family: "DINRoundOT-Medium", sans-serif; }
    .three-item p a {
      color: #fff; }

.footer-content {
  max-width: 720px;
  margin: 0px auto; }

.footer {
  min-height: 293px;
  background-color: #fafafa;
  background-image: url(../images/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 70px 0px; }
  @media screen and (max-width: 776px) {
    .footer {
      padding: 40px 0px; } }
  .footer .footer-menu {
    float: left; }
    @media screen and (max-width: 776px) {
      .footer .footer-menu {
        float: none; } }
    .footer .footer-menu .fm-item {
      float: left;
      padding: 0px 30px;
      border-left: 1px solid #d3d3d3;
      text-align: center; }
      .footer .footer-menu .fm-item.no-border {
        border: none;
        padding-left: 0px; }
      .footer .footer-menu .fm-item a {
        font-size: 1.2rem;
        font-family: "DINRoundOT-Bold", sans-serif;
        text-transform: uppercase;
        color: #103a71;
        -moz-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        -webkit-transition: all ease 0.2s;
        transition: all ease 0.2s; }
        .footer .footer-menu .fm-item a:hover {
          color: #ba5c1a; }
      @media screen and (max-width: 776px) {
        .footer .footer-menu .fm-item {
          width: 33.33%;
          padding: 0px 10px; } }
  .footer .footer-social {
    float: right;
    margin: -4px 0px 0px 0px; }
    .footer .footer-social a {
      margin: 0px 10px;
      -moz-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      -webkit-transition: all ease 0.2s;
      transition: all ease 0.2s; }
      .footer .footer-social a:hover {
        opacity: 0.9; }
    @media screen and (max-width: 776px) {
      .footer .footer-social {
        float: none;
        text-align: center;
        margin: 20px 0px 0px 0px; } }

.company {
  margin: 60px 0px 0px 0px; }
  @media screen and (max-width: 776px) {
    .company {
      margin: 0px 0px 0px 0px; } }
  .company p {
    margin: 5px 0px 0px 0px;
    font-size: 1.5rem;
    color: #103a71; }

.home-img img {
  width: 100%; }

/*# sourceMappingURL=main.css.map */