/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       DesignBold Template
    Version:        2.0.1
    Author:         Danh Cong
    Skype:          congnd91
    Author URI:     https://danhcong.com    
-------------------------------------------------------------------
-------------------------------------------------------------------*/
@import "config_path";
@import "variables";
@import "mixins";
@import "icon_fonts";
@import "reset";
@import "components/components";
@import "shared/header";
@import "shared/footer";
@import "pages/home";
