/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       Website Name
    Version:        1.0
    Author:         congnd91
-------------------------------------------------------------------*/

//
// Base
@import "base/variables";
@import "base/reset";
@import "base/helpers";

// Pages
@import "pages/home";
