/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       DB Template
    Version:        1.0
    Author:         congnd91
-------------------------------------------------------------------*/
@import "scss/base/all.scss";
@import "scss/components/all.scss";
@import "scss/shared/all.scss";
@import "scss/pages/all.scss";
