img {
    max-width: 100%;
}

.clearfix {
    clear: both;
}

.row-fix {

    margin-left: -10px;
    margin-right: -10px;

    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
}


.txt {
    display: block;
    width: 100%;

    height: 42px;
    border-radius: 5px;
    border: solid 2px #f1f1f1;
    background-color: #ffffff;
    outline: none;
    padding: 0px 10px;
    font-size: 16px;
    transition: all ease 0.3s;
    color: $text-color;

    &:hover {
        border: 2px solid #eee;

    }
}

.area {
    display: block;
    width: 100%;

    padding: 10px 10px;
    height: 208px;
    border-radius: 5px;
    border: solid 2px #f1f1f1;
    background-color: #ffffff;
    outline: none;
    font-size: 16px;
    transition: all ease 0.3s;
    color: $text-color;

    &:hover {
        border: 2px solid #eee;

    }
}



.seclect {
    display: block;
    width: 100%;

    height: 42px;
    border-radius: 5px;
    border: solid 2px #f1f1f1;
    background-color: #ffffff;
    outline: none;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    transition: all ease 0.3s;
    color: $text-color;

    &:hover {
        border: 2px solid #eee;

    }
}

.db-radio {
    display: inline-block;
    position: relative;
    min-height: 35px;
    margin: 0px 20px 0px 0px;

    label {
        margin: 0px;
        padding: 0px;
        display: block;

        input {
            width: 1px;
            height: 1px;
            position: absolute;
            z-index: -1;
            visibility: hidden;
            opacity: 0;


        }

        span {
            display: block;
            line-height: 30px;
            padding: 0px 0px 0px 30px;
            font-size: 16px;
            color: $text-color;
            cursor: pointer;
            transition: all ease 0.3s;
            line-height: 26px;


            &:before {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                border: 2px solid #f1f1f1;
                border-radius: 50%;
                position: absolute;
                top: 0px;
                left: 0px;


            }

            &:hover {
                color: $active-color;
            }
        }

        input:checked ~ span {
            &:after {

                content: "";
                display: block;
                width: 7px;
                height: 7px;
                background-color: #333;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                left: 10px;

            }
        }
    }
}


.db-checkbox {
    display: inline-block;
    position: relative;

    label {
        margin: 0px;
        padding: 0px;
        display: block;


        input {
            width: 1px;
            height: 1px;
            position: absolute;
            z-index: -1;
            visibility: hidden;
            opacity: 0;


        }

        span {
            display: block;
            line-height: 30px;
            padding: 0px 0px 0px 30px;
            font-size: 16px;
            color: #999;
            font-weight: 300;
            cursor: pointer;
            transition: all ease 0.3s;


            &:before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                border: 1px solid #999;

                position: absolute;
                top: 5px;
                left: 0px;


            }

            &:hover {
                color: $active-color;
            }
        }

        input:checked ~ span {
            &:after {
                background-color: #999;
            }

            &:after {

                content: "";
                display: block;
                width: 18px;
                height: 18px;
                position: absolute;
                z-index: 2;
                top: 6px;
                background-repeat: no-repeat;
                background-position: center center;

                left: 1px;
                background-image: url(../images/check.png);


            }
        }
    }
}

.db-btn {
    border-radius: 4px;
    background-color: $active-color;
    text-align: center;
    line-height: 48px;
    display: inline-block;
    padding: 0px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all ease 0.3s;

    &:hover {

        cursor: pointer;
        background-color: lighten($active-color, 10%);
        color: #fff;
    }
}

//db-text
.db-text {
    display: block;
    width: 100%;
    padding: 0px 10px;
    background: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 2px;
    transition: all ease 0.3s;
    height: 40px;
    font-size: 14px;
    outline: none;

    &:focus {
        border: 1px solid $active-color;
    }

    &::-webkit-input-placeholder {
        color: #aaa;
    }

    &:-ms-input-placeholder {
        color: #aaa;
    }

    &::placeholder {
        color: #aaa;
    }

}

.db-area {
    display: block;
    width: 100%;
    padding: 10px 10px;
    background: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 2px;

    transition: all ease 0.3s;
    height: 100px;
    font-size: 14px;
    outline: none;

    &:focus {

        border: 1px solid $active-color;
    }

    &::-webkit-input-placeholder {
        color: #aaa;
    }

    &:-ms-input-placeholder {
        color: #aaa;
    }

    &::placeholder {
        color: #aaa;
    }
}

//db-field
.db-field {
    margin: 0px 0px 20px 0px;
    position: relative;


    p {
        margin: 0px 0px 8px 0px;
        font-size: 12px;
        font-weight: 500;
    }
}

.db-warning {
    color: $active-color-second;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;

    .icon-warning {
        display: inline-block;
        width: 14px;
        height: 14px;

        margin: 0px 5px 0px 0px;
        background-size: 14px auto;
        position: relative;

    }

}
