/****************************************************************/
/**********************Authentication***************************/
.auth-page {

  padding: 50px 0px;

  @media screen and (max-width: 991px) {
    padding: 30px 0px;
  }
}

.auth-box {
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(51, 51, 51, 0.2);
  background-color: #ffffff;
  border-radius: 2px;
  padding: 30px 0px;
  width: 100%;
  min-height: 100px;
  margin-bottom: 50px;
  display: flex;

  // flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  .left {
    width: 100%;
    padding: 0px 30px;

  }

  .button.is-large {
    padding-left: 30px;
    padding-right: 30px;
  }

  .right {
    width: 360px;
    flex-shrink: 0;
    padding: 15px 30px 0px 30px;
    border-left: 1px dashed $border-color;

    @media screen and (max-width: 991px) {
      width: 320px;
      padding-top: 20px;

    }

    @media screen and (max-width: 767px) {
      width: 100%;
      border-left: none;
      border-top: 1px solid $border-color;
      margin-top: 20px;

    }

    &.right-fix {
      padding-top: 0px;

      @media screen and (max-width: 991px) {
        padding-top: 20px;
      }

      .social {
        margin-top: 0px !important;
      }
    }
  }

  .auth-form {

    h3 {
      font-size: 24px;
      margin: 0px 0px 20px 0px;
    }

    .db-field {
      margin-bottom: 15px;
    }

    .remember-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;


      .checkbox {
        label {
          display: flex;
          align-items: center;


          input {
            margin-right: 5px;
          }
        }
      }

      label {
        margin: 0px;
        font-size: 13px;
      }

      .text-primary {
        font-size: 13px;
      }
    }
  }

  .social {
    margin-top: 0px;
    padding-bottom: 10px;

    @media screen and (max-width: 767px) {
      margin-top: 0px;
    }

    a {
      display: block;
      line-height: 40px;
      border-radius: 3px;
      background-color: $brand-google;
      font-size: 14px;
      color: #fff;
      display: block;
      width: 100%;
      padding: 0px 18px;
      font-weight: bold;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;

      border-radius: $border-radius;
      margin-bottom: 20px;
      transition: all ease 0.3s;

      &:hover {
        background-color: lighten($brand-google, 10%);
      }

      i {
        margin: 0px 10px 0px 0px;
      }

      &.facebook {
        background-color: $brand-facebook;

        &:hover {
          background-color: lighten($brand-facebook, 10%);
        }
      }
    }
  }

  .note-other {
    padding: 15px 15px;
    border-radius: 8px;
    // border: 1px solid #6891c2;
    //display: flex;
    background-color: #e1e9f3;
    ///align-items: center;
    color: #333;

    p {
      margin: 0px;
    }
  }

}

.setting-page {
  padding: 20px 0px 50px 0px;

  @media screen and (max-width: 991px) {
    padding: 0px 0px 50px 0px;
  }
}

.setting-inner {
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
    display: block;
  }

  .sidebar {
    background-color: $border-color;
    flex-shrink: 0;
    margin: 0px 40px 0px 0px;

    width: 220px;
    background-color: #fafafa;
    // border: 1px solid $border-color;
    box-shadow: 0 2px 6px 0 rgba(51, 51, 51, .1);
    padding: 10px 30px;
    border: 1px solid $border-color;
    border-radius: 2px;

    @media screen and (max-width: 991px) {
      width: 140px;
      margin: 0px 20px 0px 0px;

    }

    @media screen and (max-width: 991px) {
      width: 100%;
      margin: 0px 0px 20px 0px;
      padding: 0px;
      border: none;
      background-color: transparent;
      box-shadow: none;

    }

    ul {
      margin: 0px;
      padding: 0px;

      li {
        border-bottom: 1px dashed $border-color;
        padding: 15px 0px;

        &:last-child {
          border: none;
        }

        @media screen and (max-width: 991px) {
          padding: 0px;
          border: none;
          display: inline-block;
          padding: 0px;
          margin: 0px 10px 0px 0px;

          &:last-child {
            margin: 0px;
          }
        }


        a {
          display: block;
          color: $text-color;
          font-size: 14px;

          @media screen and (max-width: 991px) {
            padding: 8px 0px;
            border-bottom: 3px solid transparent;
          }

          @media screen and (max-width: 575px) {
            font-size: 12px;

          }
        }

        &.active {
          a {
            color: $active-color-second;

            @media screen and (max-width: 991px) {
              border-bottom-color: $active-color-second;

            }
          }
        }
      }
    }

  }

  .content {
    width: 100%;


    box-shadow: 0 2px 6px 0 rgba(51, 51, 51, .1);
    background-color: #fff;
    padding: 20px 30px 30px 30px;

    @media screen and (max-width: 767px) {
      margin: 0px -15px;
      width: auto;
    }


    @media screen and (max-width: 991px) {
      padding: 15px 15px;
    }

    .content-caption {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;

      @media screen and (max-width: 991px) {
        margin-bottom: 10px;
      }

      &.delete {
        color: $red;
      }
    }
  }
}

.db-table {

  margin-bottom: 30px;

  .scroll {
    overflow: auto;
  }

  table {
    min-width: 370px;
    width: 100%;
  }

  tr {
    th {
      padding: 10px;
      background-color: $border-color;
      font-size: 11px;
      text-transform: uppercase;
      color: $text-color-second;

      @media screen and (max-width: 991px) {
        font-size: 10px;
      }

      &:last-child {
        text-align: center;
        border-radius: 0px 4px 4px 0px;
      }

      &:first-child {
        border-radius: 4px 0px 0px 4px;
      }

      &:nth-child(1) {
        @media screen and (max-width: 991px) {
          width: 60%;
        }
      }

      &:nth-child(2) {
        @media screen and (max-width: 991px) {}
      }

      &:nth-child(3) {
        @media screen and (max-width: 991px) {
          display: none;
        }
      }

      &:nth-child(4) {
        @media screen and (max-width: 991px) {
          display: none;
        }
      }

      &:nth-child(5) {
        @media screen and (max-width: 991px) {
          // display: none;
          border-radius: 0px 4px 4px 0px;
        }
      }

      &:nth-child(6) {
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
    }
  }

  tr {
    td {
      &:nth-child(3) {
        @media screen and (max-width: 991px) {
          display: none;
        }
      }

      &:nth-child(4) {
        @media screen and (max-width: 991px) {
          display: none;
        }
      }

      &:nth-child(5) {
        @media screen and (max-width: 991px) {
          //  display: none;
        }
      }

      &:nth-child(6) {
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
    }
  }

  &.table-alert {
    tr {
      th {
        padding: 10px;
        background-color: $border-color;
        font-size: 11px;
        text-transform: uppercase;
        color: $text-color-second;

        @media screen and (max-width: 991px) {
          font-size: 10px;
        }

        &:last-child {
          text-align: center;
          border-radius: 0px 4px 4px 0px;
        }

        &:first-child {
          border-radius: 4px 0px 0px 4px;
        }

        &:nth-child(1) {
          @media screen and (max-width: 991px) {
            width: 50%;
          }
        }

        &:nth-child(2) {
          @media screen and (max-width: 991px) {}
        }

        &:nth-child(3) {
          @media screen and (max-width: 991px) {
            display: none;
          }
        }

        &:nth-child(4) {
          @media screen and (max-width: 991px) {
            display: none;
          }
        }

        &:nth-child(5) {
          @media screen and (max-width: 991px) {
            display: none;
            border-radius: 0px 4px 4px 0px;
          }
        }

        &:nth-child(6) {
          @media screen and (max-width: 991px) {
            display: table-cell;
            border-radius: 0px 4px 4px 0px;
          }
        }
      }
    }

    tr {
      td {
        &:nth-child(3) {
          @media screen and (max-width: 991px) {
            display: none;
          }
        }

        &:nth-child(4) {
          @media screen and (max-width: 991px) {
            display: none;
          }
        }

        &:nth-child(5) {
          @media screen and (max-width: 991px) {
            display: none;
          }
        }

        &:nth-child(6) {
          @media screen and (max-width: 991px) {
            display: table-cell;
          }
        }
      }
    }
  }

  td {
    padding: 15px 10px;
    font-size: 13px;

    @media screen and (max-width: 991px) {
      font-size: 12px;
    }

    a {
      color: $active-color;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #666;
    }

    p.language {
      margin: 0px;
      color: #666;
      display: flex;
      align-items: center;

      span {
        flex-shrink: 0;
        width: 20px !important;
        height: 20px !important;
        border: 1px solid #eee;
        border-radius: 50%;
        margin: 0 5px 0 0;
        background-size: cover;
      }
    }

    .control {
      text-align: center;
      display: flex;
      justify-content: center;


      a {
        display: inline-block;
        font-size: 11px;
        color: $text-color;
        padding: 2px 6px;
        border-radius: 15px;
        border: 1px solid $border-color;
        margin: 0px 5px 0px 0px;
        color: #666;

        &:hover {
          color: $active-color;
          text-decoration: none;
          cursor: pointer;
        }
      }

      .icon {
        margin: 0px 5px;

        cursor: pointer;

        .fa-trash-alt {
          &:hover {
            cursor: pointer;
            color: $red;
          }
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #fafafa;
    }
  }

  .more-caption {
    display: inline-block;
    color: $active-color;
    cursor: pointer;
    display: none;
    padding: 0px 5px;

    @media screen and (max-width: 991px) {
      display: inline-block;
    }
  }

  .more-info {

    font-size: 12px;

    display: none;


    @media screen and (max-width: 991px) {
      display: block;
    }


  }

  .hide-des {
    padding: 5px 0px 0px 0px;
    display: none;

    p {
      margin: 0px 0px 0px 0px;
      color: #000;
    }

    .control {
      padding: 5px 0px 0px 0px;
      text-align: left;
      justify-content: flex-start;
    }
  }
}


.my-starred-jobs {
  .list-result .result-item {
    margin: 0px;

    &:last-child {
      border: none;
    }
  }
}

.my-account {
  .head {

    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .avatar {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin: 0px 15px 0px 0px;

      .text {
        background-color: $active-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .des {
      p {
        margin: 0px;
        font-weight: bold;

        span {
          font-weight: normal;
        }
      }
    }
  }

  .my-account-content {
    max-width: 400px;
    border-top: 1px dashed $border-color;

    .item {
      border-bottom: 1px dashed $border-color;
      padding: 10px 0px;

      p {
        margin: 0px;

        strong {
          display: inline-block;
          min-width: 80px;
        }

        a {
          color: $active-color;
          display: inline-block;
          margin: 0px 0px 0px 10px;
          font-size: 13px;
        }
      }
    }
  }
}

.my-alerts {}

.ma-note {
  padding: 15px 15px;
  border-radius: 8px;
  // border: 1px solid #6891c2;
  //display: flex;
  background-color: #e1e9f3;
  ///align-items: center;
  color: #333;

  p {
    margin: 0px;
  }

  strong {
    display: block;
    margin-bottom: 10px;
  }
}

.create-job-alert {
  border-radius: $border-radius;
  background-color: #fff;
  border: 1px solid $border-color;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fafafa;

  .db-field {
    .caption {
      font-weight: normal;
      font-size: 13px;
    }
  }

}

.edit-password {
  max-width: 400px;

  .db-field {
    margin-bottom: 15px;
  }
}

.delete-block {
  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  .item {

    .db-radio {
      span {
        font-size: 14px;

        &:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          border: 2px solid #f1f1f1;
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: 0px;
        }

        &:after {
          left: 7px;
        }
      }

    }
  }
}

@keyframes mymove {
  0% {
    transform: translateY(100%)
  }

  100% {
    transform: translateY(0%)
  }
}

.cookie-notify {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background-color: #fff3cd;
  border-color: #ffeeba;
  padding: 20px 0px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  animation-delay: 1.5s;
  animation-name: mymove;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .inner {
    display: flex;
    justify-content: space-between;


    align-items: center;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }

    .left {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    .right {
      flex-shrink: 0;
      margin: 0px 0px 0px 120px;

      @media screen and (max-width: 991px) {
        margin: 0px 0px 0px 30px;

      }

      @media screen and (max-width: 767px) {
        margin: 10px 0px 0px 0px;


      }
    }
  }

  &.v2 {
    background-color: #000;

    .inner {
      color: #fff;

      .button {
        background-color: rgba(255, 255, 255, 0.9);
        color: #222;

        &:hover {
          background-color: #fff;
        }
      }
    }
  }

  &.v3 {
    background-color: #fff;

    .left {
      display: flex;
      align-items: center;

      .icon {
        width: 40px;
        height: 40px;
        margin: 0px 15px 0px 0px;
      }

      .des {
        width: 100%;
      }
    }

    .inner {
      color: $text-color;

      .button {
        background-color: #fff;
        color: #222;
        box-shadow: none;
        text-transform: none;
        text-decoration: underline;

        &:hover {
          background-color: #fff;
        }
      }
    }
  }

  &.v4 {
    background-color: #e1e9f3;

    .left {
      display: flex;
      align-items: center;

      .icon {
        width: 40px;
        height: 40px;
        margin: 0px 15px 0px 0px;
      }

      .des {
        width: 100%;
      }
    }

    .inner {
      color: $text-color;

      .button {
        background-color: #fff;
        color: #222;
        box-shadow: none;
        text-transform: none;
        text-decoration: none;

        &:hover {
          background-color: #fff;
        }
      }
    }
  }


}
