/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
h1,
.h1 {
  font-size: 3.5rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.5rem; }

h4,
.h4 {
  font-size: 2rem; }

h5,
.h5 {
  font-size: 1.8rem; }

h6,
.h6 {
  font-size: 1.5rem; }

/*==========Setting=========*/
html {
  font-size: 10px; }

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  min-width: 360px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000; }

dt,
dd {
  line-height: 1.5; }

body,
html {
  height: 100%; }

a:hover {
  text-decoration: none;
  color: inherit; }

a {
  color: inherit; }

a:active,
a:focus {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Bangers", cursive;
  font-weight: normal; }

iframe {
  width: 100%;
  border: none; }

::selection {
  background: #a7c850;
  color: #fff; }

/*==========Components=========*/
.my-btn {
  font-family: "Bangers", cursive;
  text-transform: uppercase;
  background-color: #a7c850;
  color: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  opacity: 0.9; }
  .my-btn:hover {
    cursor: pointer;
    opacity: 1;
    color: #fff; }

.row-fix {
  margin-left: -10px;
  margin-right: -10px; }
  .row-fix .col-fix {
    padding-left: 10px;
    padding-right: 10px; }

#page-loader {
  background-color: #a7c850;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999; }

.page {
  min-height: 100%;
  height: 100%;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

@media screen and (max-width: 991px) {
  .open-menu {
    overflow: hidden; }
    .open-menu .menu-res {
      -moz-transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -o-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px); }
    .open-menu .page {
      -moz-transform: translateX(-280px);
      -webkit-transform: translateX(-280px);
      -o-transform: translateX(-280px);
      -ms-transform: translateX(-280px);
      transform: translateX(-280px);
      overflow: hidden; }
    .open-menu .menu-icon i {
      font-family: 'IcoMoon-Ultimate' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      letter-spacing: 0;
      -webkit-font-feature-settings: "liga";
      -ms-font-feature-settings: "liga" 1;
      -o-font-feature-settings: "liga";
      font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased; }
      .open-menu .menu-icon i:before {
        content: "\ed6d"; }
  .menu-res {
    width: 280px;
    background-color: #000;
    position: fixed;
    top: 0px;
    z-index: 999;
    overflow: auto;
    bottom: 0px;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    right: 0px;
    -moz-transform: translateX(280px);
    -webkit-transform: translateX(-80px);
    -o-transform: translateX(280px);
    -ms-transform: translateX(280px);
    transform: translateX(280px); } }
  @media screen and (max-width: 991px) and (max-width: 991px) {
    .menu-res {
      display: block !important; } }

@media screen and (max-width: 991px) {
  .menu-res-inner {
    padding: 30px 20px 20px 20px; }
    .menu-res-inner ul {
      padding: 0px;
      list-style: none; }
      .menu-res-inner ul > li {
        border-bottom: 1px solid #111;
        position: relative; }
        .menu-res-inner ul > li .fa-home {
          margin: 0px 5px 0px 0px; }
        .menu-res-inner ul > li a {
          color: #fff;
          display: block;
          line-height: 40px;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
          font-family: "Bangers", cursive; }
          .menu-res-inner ul > li a:hover {
            color: #fff; }
        .menu-res-inner ul > li.menu-item-has-children:before {
          display: block;
          content: "\f489";
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0px;
          right: 0px;
          font-family: "Ionicons";
          font-size: 20px;
          text-align: center;
          cursor: pointer;
          line-height: 40px;
          color: #999; }
        .menu-res-inner ul > li.open-submenu-active:before {
          content: "\f462"; }
        .menu-res-inner ul > li > ul {
          padding: 0px 0px 10px 10px;
          display: none; }
          .menu-res-inner ul > li > ul li {
            border: none;
            border-bottom: 1px solid #111; }
            .menu-res-inner ul > li > ul li:last-child {
              border: none; }
            .menu-res-inner ul > li > ul li a {
              display: block;
              line-height: 35px;
              text-transform: none;
              color: #666;
              padding: 0px 0px;
              font-weight: 400;
              font-family: "Bangers", cursive;
              -moz-transition: all ease 0.2s;
              -o-transition: all ease 0.2s;
              -webkit-transition: all ease 0.2s;
              transition: all ease 0.2s;
              text-transform: uppercase; }
              .menu-res-inner ul > li > ul li a:hover {
                color: #fff; }
            .menu-res-inner ul > li > ul li > ul {
              padding: 0px 0px 0px 20px; } }

.topbar {
  height: 40px;
  background-color: #a7c850;
  color: #fff; }
  .topbar .social {
    float: right; }
    .topbar .social a {
      float: left;
      line-height: 40px;
      margin: 0px 0px 0px 10px; }
      .topbar .social a span {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        margin: 7px 5px 0px 0px; }
      .topbar .social a em {
        font-style: normal; }
        @media screen and (max-width: 767px) {
          .topbar .social a em {
            display: none; } }
      .topbar .social a.shopee span {
        background-image: url(../images/shopee.png); }
      .topbar .social a.lazada span {
        background-image: url(../images/lazada.png); }
      .topbar .social a i {
        display: block;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        color: #3b5998; }
  .topbar a.phone {
    display: inline-block;
    line-height: 40px;
    font-weight: 600; }
    .topbar a.phone i {
      margin: 0px 6px 0px 0px; }

.header {
  background-color: #fff;
  position: relative;
  z-index: 99;
  height: 100px; }
  @media screen and (max-width: 991px) {
    .header {
      height: 80px; } }
  .header:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    margin: 0px 0px 0px 0px;
    z-index: 1;
    background-image: url(../images/wave.png);
    height: 7px;
    background-position: center center;
    right: 0px; }
  .header a.logo {
    float: left;
    margin: 20px 0px 0px 0px; }
    @media screen and (max-width: 767px) {
      .header a.logo {
        margin: 30px 0px 0px 0px; }
        .header a.logo img {
          width: 170px; } }
  .header .menu {
    float: right; }
    .header .menu ul {
      padding: 0px;
      list-style: none; }
      .header .menu ul li {
        float: left;
        padding: 0px 15px;
        margin: 0px 5px; }
        @media screen and (max-width: 1199px) {
          .header .menu ul li {
            margin: 0px;
            padding: 0px 10px; } }
        .header .menu ul li a {
          display: block;
          position: relative;
          font-family: "Bangers", cursive;
          line-height: 95px;
          font-size: 2rem;
          padding: 0px 0px;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
          border-top: 4px solid transparent;
          opacity: 0.8; }
          .header .menu ul li a:hover {
            opacity: 1; }
          .header .menu ul li a.active a {
            border-top: 5px solid #fb6b47; }
        .header .menu ul li.orange a {
          color: #fb6b47; }
        .header .menu ul li.orange.active a {
          border-top: 5px solid #fb6b47; }
        .header .menu ul li.cyan a {
          color: #5bc4db; }
        .header .menu ul li.cyan.active a {
          border-top: 5px solid #5bc4db; }
        .header .menu ul li.green a {
          color: #a7c850; }
        .header .menu ul li.green.active a {
          border-top: 5px solid #a7c850; }
        .header .menu ul li.violet a {
          color: #7a8ed9; }
        .header .menu ul li.violet.active a {
          border-top: 5px solid #7a8ed9; }
  .header .cart {
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    margin: 30px 0px 0px 20px; }
    .header .cart span {
      font-weight: 600;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      line-height: 16px;
      text-align: center;
      background-color: red;
      color: #fff;
      position: absolute;
      top: 3px;
      right: -2px;
      font-size: 1.2rem; }
    .header .cart i {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 25px;
      color: #636b77; }
    @media screen and (max-width: 991px) {
      .header .cart {
        margin: 25px 0px 0px 0px; } }
  .header .menu-icon {
    float: right;
    width: 30px;
    height: 40px;
    margin: 25px 0px 0px 20px;
    text-align: center; }
    .header .menu-icon i {
      font-size: 20px;
      cursor: pointer;
      color: #636b77;
      display: block;
      width: 30px;
      height: 20px;
      text-align: center;
      line-height: 40px; }
  .header.header-fill {
    background-color: #060a7a; }

.middle {
  min-height: 500px;
  padding: 40px 0px; }

.home-slider {
  position: relative; }
  .home-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    text-align: center; }
    .home-slider .owl-dots .owl-dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0px 10px; }
      .home-slider .owl-dots .owl-dot.active {
        background-color: #a7c850; }

.box-cate {
  margin: 0px 0px 70px 0px; }
  .box-cate .box-cate-caption h2 {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 4rem; }
    .box-cate .box-cate-caption h2 span {
      color: #fb6b47; }
      .box-cate .box-cate-caption h2 span.cyan {
        color: #5bc4db; }
      .box-cate .box-cate-caption h2 span.green {
        color: #a7c850; }
      .box-cate .box-cate-caption h2 span.violet {
        color: #7a8ed9; }
    @media screen and (max-width: 1400px) {
      .box-cate .box-cate-caption h2 {
        font-size: 3rem; } }
    @media screen and (max-width: 991px) {
      .box-cate .box-cate-caption h2 {
        font-size: 2rem; } }

.product-item {
  background-color: #fff;
  background-color: #FFF;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  overflow: hidden;
  border-radius: 4px;
  transform: translateZ(0);
  margin: 30px 0px 0px 0px;
  border: 1px solid #ddd; }
  .product-item:hover {
    opacity: 1 !important;
    box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
    transform: translate(0, -4px);
    z-index: 999; }
  .product-item img {
    width: 100%; }
  .product-item .pi-des {
    padding: 10px 15px; }
    .product-item .pi-des h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 10px 0px 0px 0px;
      min-height: 50px; }
    .product-item .pi-des .price {
      text-align: right;
      padding: 0px 0px 5px 0px; }
      .product-item .pi-des .price span {
        color: #fb6b47;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600; }
        .product-item .pi-des .price span.old {
          color: #636b77;
          float: left;
          font-weight: 300;
          font-size: 1.3rem;
          text-decoration: line-through; }

.footer {
  background-color: #3483c5;
  padding: 0px 0px; }

.footer-bg {
  background-image: url(../images/footer_bg.png);
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.box-contact {
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 60px 0px;
  color: #fff;
  text-align: center; }
  .box-contact h2 {
    font-size: 3rem; }
  .box-contact p {
    font-weight: 600;
    margin: 20px 0px;
    font-size: 1.9rem; }
    .box-contact p i {
      margin: 0px 5px 0px 0px 0px; }

/*# sourceMappingURL=main.css.map */