/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
/*==========Setting=========*/
dt,
dd {
  line-height: 1.5; }

body,
html {
  height: 100%; }

a:hover {
  text-decoration: none;
  color: inherit; }

a {
  color: inherit; }

a:active,
a:focus {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

.db-page {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  min-width: 320px; }
  .db-page .db-section-one {
    background-color: #f7f7f7;
    padding: 30px 0px;
    height: 270px;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 991px) {
      .db-page .db-section-one {
        height: auto; } }
    .db-page .db-section-one .db-one-img {
      text-align: right; }
      @media screen and (max-width: 450px) {
        .db-page .db-section-one .db-one-img {
          padding: 60px 0px 0px 0px; } }
    @media screen and (max-width: 767px) {
      .db-page .db-section-one .db-one-des {
        margin-left: -20px; } }
    .db-page .db-section-one .db-one-des img {
      margin: 0px 0px 30px 0px; }
      @media screen and (max-width: 767px) {
        .db-page .db-section-one .db-one-des img {
          width: 115px;
          margin: 0px 0px 10px 0px; } }
      @media screen and (max-width: 400px) {
        .db-page .db-section-one .db-one-des img {
          width: 100px;
          margin: 0px 0px 10px 0px; } }
    .db-page .db-section-one .db-one-des p {
      margin: 0px 0px 0px 0px;
      font-size: 16px; }
      @media screen and (max-width: 767px) {
        .db-page .db-section-one .db-one-des p {
          font-size: 14px; } }
  .db-page .db-section-two {
    padding: 160px 0px 0px 0px; }
    @media screen and (max-width: 991px) {
      .db-page .db-section-two {
        padding: 30px 0px 0px 0px; } }
    .db-page .db-section-two h2 {
      text-align: center;
      color: #000;
      font-weight: normal;
      font-size: 40px;
      text-transform: uppercase;
      margin: 0px 0px 80px 0px; }
      .db-page .db-section-two h2 strong {
        color: #ec6224;
        font-weight: 700; }
      @media screen and (max-width: 991px) {
        .db-page .db-section-two h2 {
          font-size: 30px;
          margin: 0px 0px 40px 0px; } }
      @media screen and (max-width: 767px) {
        .db-page .db-section-two h2 {
          font-size: 20px; } }
    .db-page .db-section-two .db-two-item {
      margin: 0px 0px 30px 0px;
      min-height: 340px;
      text-align: center;
      padding: 40px 30px;
      background-color: #ffffff;
      box-shadow: 5.2px 6px 18px 0 rgba(0, 0, 0, 0.08);
      transition: all ease 0.4s; }
      .db-page .db-section-two .db-two-item:hover {
        box-shadow: 5.2px 6px 18px 0 rgba(0, 0, 0, 0.2); }
      @media screen and (max-width: 1199px) {
        .db-page .db-section-two .db-two-item {
          padding: 30px 15px;
          min-height: 280px; } }
      .db-page .db-section-two .db-two-item img {
        width: 85px;
        display: inline-block;
        margin: 0px 0px 25px 0px; }
      .db-page .db-section-two .db-two-item h3 {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        text-transform: uppercase;
        color: #000;
        font-weight: 700; }
        @media screen and (max-width: 767px) {
          .db-page .db-section-two .db-two-item h3 {
            font-size: 16px; } }
      .db-page .db-section-two .db-two-item p {
        font-size: 14px;
        color: #000;
        margin: 0px 0px 10px 0px; }

.db-section-three {
  margin: 30px 0px 0px 0px;
  text-align: center; }
  .db-section-three h2 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px 0px 80px 0px;
    color: #ec6224;
    font-weight: 700; }
    @media screen and (max-width: 991px) {
      .db-section-three h2 {
        font-size: 30px;
        margin: 0px 0px 40px 0px; } }
    @media screen and (max-width: 767px) {
      .db-section-three h2 {
        font-size: 20px; } }
  @media screen and (max-width: 767px) {
    .db-section-three img {
      max-width: 400px; } }
  @media screen and (max-width: 575px) {
    .db-section-three img {
      max-width: 100%; } }

.db-section-for {
  background-color: #f6f6f6;
  margin: 50px 0px 0px 0px;
  background-image: url(../images/4.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 130px 0px 130px 0px;
  background-size: cover; }
  @media screen and (max-width: 1199px) {
    .db-section-for {
      padding: 50px 0px; } }
  @media screen and (max-width: 767px) {
    .db-section-for {
      background-position: 30px 0px;
      padding: 20px 0px;
      margin-left: -15px;
      margin-right: -15px; } }
  @media screen and (max-width: 575px) {
    .db-section-for {
      background-position: 30px 0px;
      padding: 20px 0px; } }
  @media screen and (max-width: 535px) {
    .db-section-for {
      background-position: -20px 0px;
      padding: 20px 0px; } }
  @media screen and (max-width: 400px) {
    .db-section-for {
      background-position: -120px 0px;
      padding: 20px 0px; } }
  @media screen and (max-width: 370px) {
    .db-section-for {
      background-position: -170px 0px; } }
  @media screen and (max-width: 345px) {
    .db-section-for {
      background-position: -230px 0px; } }
  @media screen and (max-width: 340px) {
    .db-section-for {
      background-position: -235px 0px; } }
  .db-section-for .db-for-des {
    max-width: 400px; }
    @media screen and (max-width: 991px) {
      .db-section-for .db-for-des {
        padding: 0px 0px 0px 15px; } }
    @media screen and (max-width: 575px) {
      .db-section-for .db-for-des {
        padding: 0px 50px 0px 15px; } }
    @media screen and (max-width: 535px) {
      .db-section-for .db-for-des {
        padding: 0px 30px 0px 15px; } }
    .db-section-for .db-for-des h2 {
      font-size: 40px;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0px 0px 20px 0px;
      color: #ec6224;
      font-weight: 700; }
      @media screen and (max-width: 991px) {
        .db-section-for .db-for-des h2 {
          font-size: 30px;
          margin: 0px 0px 15px 0px; } }
      @media screen and (max-width: 767px) {
        .db-section-for .db-for-des h2 {
          font-size: 20px;
          margin: 0px 0px 10px 0px; } }
    .db-section-for .db-for-des p {
      margin: 2px 0px;
      font-size: 16px; }
      .db-section-for .db-for-des p strong {
        font-weight: 700; }
      @media screen and (max-width: 991px) {
        .db-section-for .db-for-des p {
          font-size: 14px; } }

.db-section-five {
  margin: 50px 0px 0px 0px;
  text-align: center; }
  .db-section-five h2 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px auto 20px auto;
    max-width: 540px;
    color: #ec6224;
    font-weight: 700; }
    @media screen and (max-width: 991px) {
      .db-section-five h2 {
        font-size: 30px;
        margin: 0px auto 20px auto; } }
    @media screen and (max-width: 767px) {
      .db-section-five h2 {
        font-size: 20px; } }
  .db-section-five .db-five-des {
    text-align: center; }
    .db-section-five .db-five-des .db-five-des-flex {
      display: flex;
      align-items: center;
      margin: 0px auto;
      justify-content: center; }
      @media screen and (max-width: 767px) {
        .db-section-five .db-five-des .db-five-des-flex {
          align-items: baseline; } }
      .db-section-five .db-five-des .db-five-des-flex > div {
        padding: 0px 20px;
        text-align: center; }
        @media screen and (max-width: 991px) {
          .db-section-five .db-five-des .db-five-des-flex > div {
            padding: 10px; } }
        @media screen and (max-width: 767px) {
          .db-section-five .db-five-des .db-five-des-flex > div {
            padding: 0px 2px; } }
        .db-section-five .db-five-des .db-five-des-flex > div span {
          font-size: 16px;
          text-transform: uppercase; }
          @media screen and (max-width: 991px) {
            .db-section-five .db-five-des .db-five-des-flex > div span {
              font-size: 14px; } }
        @media screen and (max-width: 767px) {
          .db-section-five .db-five-des .db-five-des-flex > div img {
            width: 70px;
            max-width: 70px; } }
        .db-section-five .db-five-des .db-five-des-flex > div .db-five-list {
          text-align: left; }
          .db-section-five .db-five-des .db-five-des-flex > div .db-five-list p {
            margin: 2px 0px;
            font-size: 16px;
            white-space: nowrap; }
            .db-section-five .db-five-des .db-five-des-flex > div .db-five-list p i {
              color: #ec6224; }
            @media screen and (max-width: 991px) {
              .db-section-five .db-five-des .db-five-des-flex > div .db-five-list p {
                font-size: 14px; } }
      @media screen and (max-width: 767px) {
        .db-section-five .db-five-des .db-five-des-flex .after {
          display: block;
          transform: translateX(20px); } }

.db-section-six {
  margin: 130px 0px 100px 0px;
  background-color: #ec6224;
  height: 287px; }
  @media screen and (max-width: 1199px) {
    .db-section-six {
      height: 270px; } }
  @media screen and (max-width: 767px) {
    .db-section-six {
      margin: 60px 0px 100px 0px; } }
  @media screen and (max-width: 767px) {
    .db-section-six {
      height: 140px; } }
  @media screen and (max-width: 600px) {
    .db-section-six {
      height: 180px; } }
  @media screen and (max-width: 400px) {
    .db-section-six {
      height: 145px; } }
  .db-section-six .db-six-img {
    margin-top: -60px; }
    @media screen and (max-width: 767px) {
      .db-section-six .db-six-img {
        margin-top: -20px; } }
    @media screen and (max-width: 600px) {
      .db-section-six .db-six-img {
        margin-left: -30px; } }
  .db-section-six .db-six-des {
    padding: 40px 0px 0px 0px; }
    @media screen and (max-width: 767px) {
      .db-section-six .db-six-des {
        padding: 20px 0px 0px 0px; } }
    @media screen and (max-width: 600px) {
      .db-section-six .db-six-des {
        max-width: 200px;
        padding: 5px 0px 0px 0px; } }
    .db-section-six .db-six-des p {
      font-size: 28px;
      margin: 0px;
      color: #fff; }
      @media screen and (max-width: 1199px) {
        .db-section-six .db-six-des p {
          font-size: 24px; } }
      @media screen and (max-width: 991px) {
        .db-section-six .db-six-des p {
          font-size: 18px; } }
      @media screen and (max-width: 767px) {
        .db-section-six .db-six-des p {
          font-size: 14px; } }
      @media screen and (max-width: 400px) {
        .db-section-six .db-six-des p {
          font-size: 13px;
          line-height: 1.2; } }
    .db-section-six .db-six-des .db-six-price {
      display: flex;
      align-items: center;
      margin: 0px 0px 5px 0px; }
      .db-section-six .db-six-des .db-six-price span {
        font-size: 23px;
        color: #000;
        text-decoration: line-through; }
        @media screen and (max-width: 991px) {
          .db-section-six .db-six-des .db-six-price span {
            font-size: 16px; } }
        @media screen and (max-width: 600px) {
          .db-section-six .db-six-des .db-six-price span {
            font-size: 14px; } }
        @media screen and (max-width: 400px) {
          .db-section-six .db-six-des .db-six-price span {
            font-size: 13px;
            margin: 0px 0px 2px 0px; } }
      .db-section-six .db-six-des .db-six-price strong {
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        padding: 0px 20px;
        white-space: nowrap; }
        @media screen and (max-width: 991px) {
          .db-section-six .db-six-des .db-six-price strong {
            font-size: 20px; } }
        @media screen and (max-width: 600px) {
          .db-section-six .db-six-des .db-six-price strong {
            font-size: 16px; } }
        @media screen and (max-width: 400px) {
          .db-section-six .db-six-des .db-six-price strong {
            font-size: 15px;
            padding: 0px 0px 0px 10px; } }
    .db-section-six .db-six-des .btn-buynow {
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ec6224;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      padding: 0px 50px;
      background-color: #ffffff;
      box-shadow: 5.2px 6px 18px 0 rgba(0, 0, 0, 0.08);
      transition: all ease 0.3s; }
      @media screen and (max-width: 767px) {
        .db-section-six .db-six-des .btn-buynow {
          font-size: 18px;
          height: 40px;
          padding: 0px 20px;
          line-height: 40px; } }
      @media screen and (max-width: 400px) {
        .db-section-six .db-six-des .btn-buynow {
          font-size: 15px; } }
      .db-section-six .db-six-des .btn-buynow:hover {
        box-shadow: 5.2px 6px 18px 0 rgba(0, 0, 0, 0.4);
        cursor: pointer; }

/*# sourceMappingURL=main.css.map */