/*------------------------------------------------------------------

    [Main Style Stylesheet]
    Project:       CIZ NEWS | Magagize HTML5 Template
    Version:        1.2
    Author:         Congnd91
    Last change:    01/12/2016
-------------------------------------------------------------------

    [Table of contents]
    01. Setting
    02. Components 
    03. Header
    04. Menu
    05. SlideBar
    07. Footer 
    08. Page Home
    09. Page Category
    10. Page Detail
    11. Page 404 
    12. Page Contact 

-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";


/*==========Setting=========*/

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 320px;
    font-size: 12px;
    line-height: 1.71428571 !important;
    color: $text-color;
    background-color: #f3f3f3;
}

body,
html {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

p {
    font-size: 13px;
}

ul,
li {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.4;
    font-weight: 600;
}

.page-wrap {
    border: 2px solid $base-color;
    margin: 30px auto;
    padding: 0px 20px;
}


/*==========Components=========*/

::selection {
    background: $active-color;
    color: #fff;
}

.dropdown-customer {
    display: block;
    visibility: hidden;
    @include transition();
    margin-top: 15px;
    opacity: 0;
}

.open > .dropdown-menu {
    visibility: visible;
    margin-top: 0px;
    opacity: 1;
}

.row-fix {
    margin-left: -5px;
    margin-right: -5px;

    .col-fix {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        //   max-width: 390px;
    }
}

#page-loader {
    width: 100%;
    height: 100%;
    background: #222;
    color: #5c453f;
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    z-index: 999999;

    .loading-wrapper {
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;

        p {
            text-align: center;
            text-transform: uppercase;
            margin: 0px;
            color: #fff;
            font-size: 12px;
            opacity: 0.8;
            letter-spacing: 3px;

            span {
                font-size: 15px;
                animation-name: dots;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            span:nth-child(2) {
                animation-delay: .2s;
            }

            span:nth-child(3) {
                animation-delay: .4s;
            }
        }
    }
}




.font-heading {
    font-family: $font-family-heading;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.my-btn {
    height: 40px;
    padding: 0px 20px;
    line-height: 40px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: none;
    background-color: $active-color;
    @include transition();

    &:hover {
        background-color: $hover-color;
        outline: none;
        color: #fff;
    }

    &:focus {
        outline: none;
        color: #fff;
    }

    &.my-btn-dark {
        background-color: $base-color;

        &:hover {
            background-color: $active-color;
        }
    }
}



/*==========Topbar=========*/

.topbar {
    min-height: 30px;
    background-color: $black;
    font-size: 13px;
    p {
        margin: 0px;
        padding: 0px;
        line-height: 30px;
        display: inline-block;
        color: #fff;
        margin: 0px 30px 0px 0px;
        float: left;
    }
    .language {
        line-height: 30px;
        display: inline-block;
        float: left;
        color: #fff;
        margin: 0px 30px 0px 0px;
    }
    .social {
        display: inline-block;
        line-height: 30px;
        float: left;
        margin: 0px;
        a {
            float: left;
            line-height: 30px;
            margin: 0px 10px;
            font-size: 15px;
            color: #fff;
            @include transition();
            @media screen and (max-width: 1000px) {
                margin: 0px 6px;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .topbar-right {
        float: right;
        padding: 2px 0px 0px 0px;
        a {
            float: left;
            font-size: 20px;
            margin: 0px 0px 0px 10px;
            @include transition();
            color: #fff;
            &:hover {
                color: $green;
            }
        }
    }
}

.section-middle {}

.global-nav {
    padding: 10px 0px;
    background-color: #e9e9e9;
    max-height: 100px;
    .owl-stage-outer {
        height: 100px;
    }
    .slider-demo {
        position: relative;
        padding: 0px 30px;
        li {
            div {
                width: 80px;
                margin: 0px auto;
                text-align: center;
                @include radius(3px);
                position: relative;
                @include transition();
                img {
                    width: auto !important;
                    margin: 0px auto;
                    opacity: 0.6;
                    cursor: pointer;
                    @include transition();
                }
                b {
                    font-size: 15px;
                    display: block;
                    font-weight: normal;
                }
            }
            &.active,
            &:hover {
                div {
                    background-color: #fff;
                    img {
                        opacity: 1;
                    }
                    a {
                        color: #333;
                    }
                }
            }
        }
        .owl-prev {
            position: absolute;
            background-image: url(../images/prev.png);
            width: 24px;
            height: 47px;
            position: absolute;
            top: 50%;
            left: -30px;
            margin: -23px 0px 0px 0px;
            cursor: pointer;
            font-size: 1px;
            text-indent: -9999px;
        }
        .owl-next {
            position: absolute;
            background-image: url(../images/next.png);
            width: 24px;
            height: 47px;
            position: absolute;
            top: 50%;
            right: -30px;
            margin: -23px 0px 0px 0px;
            cursor: pointer;
            font-size: 1px;
            text-indent: -9999px;
        }
    }
}

/*==========Header=========*/

.header {
    padding: 0px 0px;
    text-align: center;
    a.logo {
        float: left;
        margin: 0px 0px 0px 100px;
    }
    .weather {
        float: right;
        p {
            margin: 20px 0px 0px 0px;
        }
    }
}

/*==========Menu=========*/

.menu-icon {
    height: 35px;
    line-height: 35px;
    float: left;
    color: #fff;
    position: relative;
    z-index: 999;
    i {
        font-size: 30px;
        cursor: pointer;
        color: #fff;
        float: left;
        line-height: 35px;
        margin: 0px 0px 0px 0px;
    }
    span {
        color: #fff;
        cursor: pointer;
        line-height: 35px;
        font-size: 14px;
        font-weight: bold;
        float: left;
        margin: 0px 0px 0px 10px;
    }
}

.contact-menu {
    float: right;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    &:hover {
        color: #fff;
    }
}

.phone-menu {
    position: absolute;
    left: 50%;
    right: 0px;
    line-height: 35px;
    margin: 0px 0px 0px -16px;
    display: inline-block;
}

.menu {
    position: relative;
    background-color: $black;
    height: 35px;
    @include transition();
    &.fixed {
        position: fixed;
        z-index: 9999;
        display: block;
        top: 0px;
        left: 0px;
        right: 0px;
    }
    ul {
        margin: 0px;
        position: relative;
        padding: 0px;
        float: left;
        li {
            display: inline-block;
            position: relative;
            float: left;
            &.active {
                > a {
                    color: #fff;
                }
            }
            > a {
                display: block;
                float: left;
                line-height: 35px;
                color: #b5b5b5;
                font-size: 14px;
                cursor: pointer;
                font-weight: 500;
                margin: 0px 40px 0px 0px;
                @include transition();
                &:hover {
                    color: #fff;
                }
                @media screen and (max-width:1200px) {
                    font-size: 14px;
                    margin: 0px 30px 0px 0px;
                }
            }
        }
    }
}


.global-nav-icon {
    height: 35px;
    float: left;
    color: #fff;
    line-height: 35px;
    cursor: pointer;
    i {
        font-size: 18px;
        margin: 6px 5px 0px 0px;
    }

}


.global-nav-hidden {
    display: none;
    overflow: hidden;
}

.callus {
    float: right;

    p {
        margin: 0px;
        line-height: 35px;
        color: #fff;
        font-weight: bold;
        font-size: 17px;

        @media screen and (max-width: 1200px) {
            font-size: 12px;
        }
    }
}

@media screen and (max-width:991px) {

    .close-menu {
        height: 30px;
        width: 30px;
        border: 1px solid #fff;
        color: #fff;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        cursor: pointer;
        z-index: 9999;

        i {
            line-height: 28px;
            text-align: center;
            font-size: 14px;
        }
    }

    .menu-res {
        width: 280px;
        background-color: #000;
        position: fixed;
        top: 0px;
        z-index: 999;
        overflow: auto;
        bottom: 0px;
        @include transition();
        left: -280px;
    }

    .page {

        @include transition();
        position: relative;
        left: 0px;
    }

    .menu-res-inner {
        padding: 20px;

        ul {

            > li {
                border-bottom: 1px solid #111;
                position: relative;


                a {
                    font-size: 14px;
                    color: #999;
                    display: block;
                    line-height: 40px;

                    @include transition();


                    &:hover {
                        color: #fff;
                    }
                }

                &.menu-item-has-children {
                    &:before {
                        display: block;
                        content: "\f107";
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: 20px;
                        text-align: center;
                        cursor: pointer;
                        line-height: 40px;
                        color: #999;
                    }
                }

                &.open-submenu-active {
                    &:before {
                        content: "\f106";
                    }
                }



                > ul {
                    padding: 0px 0px 20px 0px;
                    display: none;

                    li {
                        border: none;

                        a {
                            display: block;
                            line-height: 35px;
                            text-transform: none;
                            color: #666;
                            padding: 0px 10px;
                            font-weight: bold;

                            @include transition();


                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .open-menu {
        overflow: hidden;

        .page {
            left: 280px;
        }

        .menu-res {
            right: 0px;
            left: 0px;
        }

        .menu {
            left: 0px;
            min-width: 320px;


            &.fixed {
                left: 280px;
            }
        }
    }
}




.footer-nav {
    background-color: $base-color;
    padding: 10px 0px;
    margin-bottom: 15px;
    h3 {
        float: left;
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        margin: 0px;
    }
    .ex {
        float: right;
        margin: 0px 10px 0px 0px;
        color: #fff;
        font-size: 18px;
    }
    .subcribe {
        width: 250px;
        position: relative;
        margin: 0px 0px 0px 0px;
        padding: 0px 70px 0px 0px;
        float: right;
        input {
            width: 100%;
            height: 30px;
            background-color: #fff;
            outline: none;
            padding: 0px 10px;
            font-size: 14px;
        }
        button {
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: $base-color;
            color: #fff;
            height: 30px;
            border: none;
            width: 70px;
            cursor: pointer;
            background-image: -webkit-linear-gradient(top, #232323, #464646);
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.footer {}

.footer-content {
    padding-top: 10px;
    .company {
        float: left;
        margin-bottom: 15px;
        @media screen and (max-width: 991px) {
            float: none;
        }
    }
    .our-website {
        float: right;
        margin-bottom: 15px;
        @media screen and (max-width: 991px) {
            float: none;
        }
    }
    h3 {
        font-size: 17px;
        color: #666;
    }
    p {
        color: #666;
        margin: 5px 0px;
        margin: 0px;
        strong {
            font-weight: bold;
        }
    }
}

.pay-logo {
    padding: 10px 0px 10px 0px;
    text-align: left;
    .pay-item {
        display: inline-block;
        width: 70px;
        height: 40px;
        border: 1px solid #999;
        @include radius(3px);
        overflow: hidden;
        margin: 0px 10px 0px 0px;
        &:hover {
            opacity: 0.8;
        }
        img {
            width: 100% !important;
            height: 50px !important;
        }
        @media screen and (max-width:991px) {
            width: 60px;
            height: 38px;
            margin: 0px 5px;
            img {
                width: 100% !important;
                height: 36px !important;
            }
        }
    }
}

.nav-footer {
    text-align: center;
    margin: 10px 0px 10px 0px;
    li {
        display: inline-block;
        a {
            font-size: 13px;
            color: #666;
            font-weight: bold;
        }
        span {
            margin: 0px 25px;
            color: #999;
            @media screen and (max-width: 991px) {
                margin: 0px 10px;
            }
        }
    }
}

.note {
    text-align: center;
    color: red !important;
    padding: 0px 0px 30px 0px;
    margin: 0px;
}

.back-top {
    background-image: url(../images/back-top.png);
    width: 35px;
    height: 55px;
    position: fixed;
    bottom: 50px;
    right: 0px;
    cursor: pointer;
}

.contactus {
    h3 {
        margin: 0px;
        font-size: 15px;
        font-weight: normal;
        padding: 10px 0px 5px 20px;
    }
    p {
        font-size: 13px;
        padding: 0px 0px 0px 20px;
        margin: 5px 0px;
        i {
            width: 20px;
            float: left;
            margin: 2px 0px 0px -20px;
        }
    }
}

.mobile-app {
    a {
        margin: 10px 0px 25px 0px;
        display: block;
        img {
            max-width: 140px;
        }
    }
}

.footer-cols {
    h3 {
        font-size: 15px;
        margin-bottom: 20px;
        margin: 0px;
    }
    ul {
        li {
            margin: 9px 0px;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


.middle {
    min-height: 600px;
}

.intro {
    padding: 80px 0px;

    min-height: 500px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    &:before {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 9;
        display: block;
        content: "";
        background: linear-gradient(to left, rgba(255, 255, 255, .8) 0, rgba(234, 234, 234, 0.1) 70%);
    }
}

.my-select {
    width: 100%;
    height: 35px;
    padding: 0px 10px;

    border: none;
    outline: none;
    display: block;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: all ease 0.3s;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 1;

    &:focus {
        border: 1px solid rgba(255, 255, 255, 0.7);
    }

}

.form-book {
    background-color: rgba(#000, 0.7);

    max-width: 420px;
    padding: 20px;
    position: relative;
    z-index: 999;
    font-family: $font-family-heading;

    @media screen and (max-width: 991px) {
        margin: 0px auto;
    }

    h2 {
        text-align: center;
        margin: 0px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0px;
    }

    input {
        width: 100%;

        height: 35px;
        padding: 0px 10px;
        border: none;
        outline: none;
        display: block;
        font-size: 14px;

        border: 1px solid rgba(255, 255, 255, 0.4);
        transition: all ease 0.3s;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        opacity: 1;

        &:focus {
            border: 1px solid rgba(255, 255, 255, 0.7);
        }


    }

    label {
        min-height: 15px;
        font-size: 13px;
        color: #fff;
        font-weight: 300;
        margin: 0px;
        display: block;
        margin-bottom: 5px;
    }

    .form-row {
        margin-bottom: 10px;
    }

    .form-row-wrap {
        overflow: hidden;
        margin-bottom: 10px;
    }

    .form-row-wrap-inner {
        margin: 0px -10px;
    }

    .form-row-50 {
        float: left;
        width: 50%;
        padding: 0px 10px;
    }
}

.btn-going {
    height: 35px;
    width: 100%;
    background-color: #f3760b;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    text-align: center;
    display: block;
    @include transition();
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.intro-content {
    font-family: $font-family-heading;
    padding: 0px 0px 0px 80px;
    position: relative;
    z-index: 99;

    h1 {
        color: #333;
        margin: 0px;
        margin-top: 50px;
        line-height: 70px;
        font-size: 60px;
        font-weight: 400;
    }

    h3 {
        color: #333;
        margin: 0px;
        font-weight: 300;
        font-size: 40px;
    }

    p {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 300;
        color: #333;
    }
}


.featured-bar {
    background-color: $base-color;
    padding: 20px 0px;

    ul {
        li {
            display: inline-block;
            width: 20%;
            float: left;

            @media screen and (max-width: 991px) {
                width: 50%;
            }

            @media screen and (max-width:480px) {
                width: 100%;

                a {
                    padding-right: 0px;
                }
            }


            a {
                display: block;
                min-height: 65px;
                line-height: 17px;
                padding: 15px 20px 0px 65px;
                font-size: 14px;
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }

                span {
                    display: block;
                    height: 64px;
                    width: 64px;
                    float: left;
                    margin: -15px 0px 0px -65px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url(../images/i1.png);
                }
            }

            &.icon2 {
                a {
                    span {
                        background-image: url(../images/i2.png);
                    }
                }
            }

            &.icon3 {
                a {
                    span {
                        background-image: url(../images/i3.png);
                    }
                }
            }

            &.icon4 {
                a {
                    span {
                        background-image: url(../images/i2.png);
                    }
                }
            }

            &.icon5 {
                a {
                    span {
                        background-image: url(../images/i5.png);
                    }
                }
            }
        }
    }
}

.section-title {
    font-size: 35px;
    text-align: center;
    margin: 0px 0px 30px 0px;
    font-weight: 400;
    font-family: $font-family-heading;
    color: #333;

    a {
        color: #01b715;

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width:991px) {
        font-size: 25px;
    }
}

.why-word {
    font-family: $font-family-heading;
    padding: 60px 0px;

    ul {
        margin-top: 20px;

        li {
            color: #333;

            i {
                margin: 0px 10px 0px 0px;
                color: #01b715;
            }

            p {
                font-size: 18px;
                font-weight: 300;

                @media screen and (max-width: 991px) {
                    font-size: 15px;
                }
            }
        }
    }
}

.why-should {
    background-color: #f0f1f2;
    font-family: $font-family-heading;
    padding: 60px 0px;

    h4 {
        font-size: 22px;
        font-weight: 300;
        text-align: center;

        @media screen and (max-width: 991px) {
            font-size: 18px;
        }
    }
}

.icon-should {
    text-align: center;
    margin-bottom: 30px;

    img {
        width: 64px;
        height: 64px;
        display: inline-block;
        margin-top: -45px;
    }

    hr {
        display: inline-block;
        width: 150px;
        height: 2px;
        background-color: #ccc;
        margin: 30px;
        width: 25%;
    }
}

.when-should {
    background-color: #f0f1f2;
    font-family: $font-family-heading;
    padding: 60px 0px;
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.when-shoud-list {
    li {
        padding: 0px 20px 0px 50px;
        margin: 30px 0px;

        span {
            float: left;
            width: 30px;
            height: 30px;
            background-image: url(../images/s1.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin: 5px 0px 0px -50px;

            &.s2 {
                background-image: url(../images/s2.svg);
            }

            &.s3 {
                background-image: url(../images/s3.svg);
            }

            &.s4 {
                background-image: url(../images/s4.svg);
            }

            &.s5 {
                background-image: url(../images/s5.svg);
            }

            &.s6 {
                background-image: url(../images/s6.svg);
            }
        }

        p {
            color: #333;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.top20-virtual {
    background-color: #f0f1f2;
    font-family: $font-family-heading;
    padding: 60px 0px;


    .list-top20 {
        li {
            margin: 20px 0px;
            color: #333;
            font-size: 18px;
            font-weight: 300;

            span {
                display: inline-block;
                width: 20px;
                color: #01b715;
                margin: 0px 5px 0px 0px;
                text-align: left;
                font-weight: 700;
            }
        }
    }
}

.stories {
    background-color: #fff;
    font-family: $font-family-heading;
    padding: 60px 0px;
}

.slider-member {
    position: relative;
    padding: 0px 30px 0px 30px;

    .member-item {
        padding: 20px 0px 0px 0px;
        text-align: center;


        img {
            width: 100px;
            height: 100px;
            @include radius(50%);
            margin: 0px auto;
            display: block;
            border: 3px solid #fff;
        }

        p {
            color: #333;
            font-size: 20px;
            font-weight: 300;
            max-width: 900px;
            margin: 10px auto;
        }

        em {
            font-size: 15px;
            color: #01b715;
            font-weight: 300;
        }
    }

    .owl-prev {
        position: absolute;
        width: 20px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: -20px;
        margin: -23px 0px 0px 0px;
        cursor: pointer;
        font-size: 50px;
        text-align: center;
        line-height: 30px;
        color: #666;

        &:hover {
            color: #444;
        }
    }

    .owl-next {
        position: absolute;
        width: 20px;
        height: 40px;
        position: absolute;
        top: 50%;
        right: -20px;
        margin: -23px 0px 0px 0px;
        cursor: pointer;
        font-size: 50px;
        text-align: center;
        line-height: 30px;
        color: #666;

        &:hover {
            color: #444;
        }
    }
}

.read {
    background-color: #f0f1f2;
    font-family: $font-family-heading;
    padding: 60px 0px;
}

.read-item {
    margin: 60px 0px 0px 30px 0px;
    padding: 30px;
    @include transition();
    @include radius(10px);
    margin: 0px auto;
    background-color: #fff;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        border: 20px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -20px;
    }

    a {
        color: #333;
        font-size: 18px;
        font-weight: 300;

        &:hover {
            text-decoration: underline;
        }
    }
}

.trust-box {
    padding: 30px 0px;
    background-color: #eeeded;
}

.sitemap {
    margin: 10px 0px 20px 0px;

    a {
        font-size: 14px;
        &:hover {

            color: #222;
        }

    }
    span {
        display: inline-block;
        margin: 0px 6px;
        font-size: 14px;

        i {
            color: #aaa;
        }
    }
}

.step {
    height: 20px;
    position: relative;
    margin: 30px auto 50px auto;
    max-width: 800px;
    &:before {
        content: "";
        display: block;
        left: 20px;
        right: 20px;
        top: 16px;
        position: absolute;
        height: 3px;
        z-index: 1;
        background-color: $border-color;
    }
    &:after {
        content: "";
        display: block;
        left: 20px;
        width: 0px;
        top: 16px;
        position: absolute;
        height: 3px;
        z-index: 2;
        background-color: $green;
    }
    &.active2 {
        &:after {
            width: 30%;
        }
    }
    &.active3 {
        &:after {
            width: 60%;
        }
    }
    &.active4 {
        &:after {
            right: 20px;
            width: auto;
        }
    }
    &.active5 {
        &:after {
            right: 20px;
            width: auto;
        }
    }
    .step-item {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0px 10px 0px 0px;
        z-index: 3;
        position: absolute;
        top: 0px;
        left: 0px;
        p {
            display: block;
            span {
                display: block;
                margin: 0px auto -10px auto;
                width: 35px;
                height: 35px;
                border: 1px solid $border-color;
                @include radius(50%);
                line-height: 35px;
                background-color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 35px;
            }
            line-height:40px;
            margin:0px;
        }
        &.active {
            p {
                span {
                    background-color: $green;
                    border: 1px solid $green;
                    color: #fff;
                }
            }
        }
    }
    .step-item2 {
        left: 29%;
        padding: 0px 10px;
    }
    .step-item3 {
        padding: 0px 10px;
        left: 58%;
    }
    .step-item4 {
        left: auto;
        right: 0px;
        padding: 0px 0px 0px 10px;
    }
}


.step-fix {
    height: 20px;
    position: relative;
    margin: 30px auto 50px auto;
    max-width: 800px;
    &:before {
        content: "";
        display: block;
        left: 20px;
        right: 20px;
        top: 16px;
        position: absolute;
        height: 3px;
        z-index: 1;
        background-color: $border-color;
    }
    &:after {
        content: "";
        display: block;
        left: 20px;
        width: 0px;
        top: 16px;
        position: absolute;
        height: 3px;
        z-index: 2;
        background-color: $green;
    }
    &.active2 {
        &:after {
            width: 23%;
        }
    }
    &.active3 {
        &:after {
            width: 45%;
        }
    }
    &.active4 {
        &:after {
            width: 70%;
        }
    }
    &.active5 {
        &:after {
            right: 20px;
            width: auto;
        }
    }
    .step-item {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0px 10px 0px 0px;
        z-index: 3;
        position: absolute;
        top: 0px;
        left: 0px;
        p {
            display: block;
            span {
                display: block;
                margin: 0px auto -10px auto;
                width: 35px;
                height: 35px;
                border: 1px solid $border-color;
                @include radius(50%);
                line-height: 35px;
                background-color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 35px;
            }
            line-height:40px;
            margin:0px;
        }
        &.active {
            p {
                span {
                    background-color: $green;
                    border: 1px solid $green;
                    color: #fff;
                }
            }
        }
    }
    .step-item2 {
        left: 23%;
        padding: 0px 10px;
    }
    .step-item3 {
        padding: 0px 10px;
        left: 45%;
    }
    .step-item4 {
        padding: 0px 10px;
        left: 70%;
        right: auto;

    }
    .step-item5 {
        left: auto;
        right: 0px;
        padding: 0px 0px 0px 10px;
    }
}

.box-infomation {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    h3 {
        border-bottom: 1px solid $border-color;
        line-height: 35px;
        padding: 5px 10px;
        margin: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    ul {
        padding: 0px 10px 10px 10px;
        li {
            display: inline-block;
            width: 50%;
            margin: 6px 0px;
            padding: 0px 0px 0px 15px;
            float: left;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 4px;
                height: 4px;
                background-color: $text-color;
                position: absolute;
                top: 8px;
                left: 3px;
            }
            a {
                font-size: 13px;
            }
        }
    }
}

.static-content {
    padding-bottom: 60px;

    h1 {
        margin-top: 0px;
    }
    p {
        font-size: 15px;
    }
    h5 {
        margin-top: 30px;
        font-size: 15px;
    }
    ul {
        padding-left: 10px;
    }
    th {
        font-size: 15px;

    }
    td {
        font-size: 15px;
    }
}

.content-caption {

    h1 {

        background-color: $border-color;
        line-height: 35px;
        padding: 0px 10px;
        margin: 0px;
        font-size: 15px;
        color: $text-color;
        font-weight: bold;

    }
}

.news-card-caption {
    padding: 3px 0px;
    margin: 40px 0px 20px 0px;
    border-bottom: 1px solid $border-color;
    span {
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }


}

.news-card-item {

    a {
        @include transition();
        &:hover {
            color: $text-color;
            opacity: 0.9;
        }
    }
    margin-bottom:30px;
    img {
        width: 100%;
    }
    h3 {
        font-size: 14px;
        margin: 10px 0px;
    }
    p {
        margin: 0px;
        font-size: 13px;
    }
}

.news-card-more {
    width: 100%;
    height: 40px;
    clear: both;
    width: 100%;
    background: #e9e9e9;
    display: block;
    line-height: 38px;
    @include transition();
    text-align: center;
    border: solid 1px #CCC;
    outline: none;
    color: $text-color;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 40px;
    cursor: pointer;
    &:hover {
        background-color: #eee;
    }


}

.list-keywords {
    li {
        display: inline-block;
        width: auto;
        padding: 0px !important;
        margin: 0px !important;
        float: left !important;
        width: auto !important;


        &:before {
            display: none !important;


        }

        a {
            display: block;
            background: #e9e9e9;
            display: block;
            line-height: 23px;
            padding: 4px 10px;
            text-align: left !important;

            margin: 0px 5px 5px 0px;
            @include radius(3px);
            @include transition();
            text-align: center;
            border: solid 1px #CCC;

        }
    }

}



.select-faq {
    float: left;
    border: 1px solid #ccc;
    height: 30px;
    @include radius(1px);
    margin-top: 20px;

    width: 100%;
}

.find-help {
    margin-top: 20px;
    padding: 0px 0px 0px 100px;
    position: relative;
    @media screen and (max-width: 991px) {

        padding:0px 0px 0px 90px;

    }
    span {
        position: absolute;
        left: 0px;
        width: 90px;
        height: 30px;
        line-height: 30px;
        text-align: right;

        @media screen and (max-width: 991px) {


            text-align:left;

            width: 80px;

        }
    }
    input {
        border: 1px solid #ccc;
        height: 30px;
        @include radius(1px);

        width: 100%;
        padding: 0px 10px;
    }


}

.acc-faq {
    margin: 40px 0px;
    border: 1px solid #ccc;
}

.faq-caption {
    min-height: 40px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    p {
        padding: 10px;
        margin: 0px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 75%;
        float: left;
        font-size: 13px;
    }
    em {
        display: block;
        float: left;
        width: 5%;
        text-align: center;
        padding: 10px 10px;
        font-size: 13px;
        @media screen and (max-width: 991px) {
            text-align: center;
            padding: 20px 0px 0px 0px;
        }
    }
    .minus {
        display: none;
    }
    span {
        float: left;
        width: 19%;
        text-align: center;
        padding: 10px 10px;
        font-size: 13px;
        @media screen and (max-width: 767px) {
            font-size: 12px;
            padding: 10px 5px;
        }
    }
    &.acc-active {
        .minus {
            display: block;
        }
        .plus {
            display: none;
        }
        p {
            font-weight: bold;
        }
        span {
            font-weight: bold;
        }
    }
}

.faq-content {
    min-height: 100px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: none;
    p {
        font-size: 13px;
        margin: 4px 0px;

    }
}

.send-caption {
    margin: 40px 0px 20px 0px;
    padding: 6px 10px;
    background-color: $base-color;
    span {
        font-size: 13px;
        color: #fff;
    }
}

.my-textbox {
    border: 1px solid #ccc;
    height: 30px;
    @include radius(1px);
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 20px;
    outline: none;


}



.my-texarea {
    border: 1px solid #ccc;
    height: 100px;
    @include radius(1px);
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 20px;
    outline: none;
}

.sent-now {
    height: 35px;
    padding: 0px 20px;
    display: inline-block;
    line-height: 35px;
    margin: 0px 0px 20px 0px;
    color: #fff;
    background-color: $base-color;
    @include radius(1px);
    @include transition();
    color: #fff;
    font-size: 13px;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.planbox {

    background-color: $base-color;


    padding: 20px 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

    h3 {

        color: $green;
        margin: 0px 0px 10px 0px;
        font-size: 20px;
    }

    h4 {
        color: #eee;
        margin: 0px 0px 20px 0px;
        color: #fff;
        font-size: 35px;
        span {
            font-weight: normal;
            font-size: 15px;
            color: #eee;
        }
    }

    p {
        margin: 2px 0px;
        padding: 0px;
        font-size: 12px;
        color: #777;
        line-height: 18px;
        a {

            text-decoration: underline;
            &:hover {
                color: #eee;
            }
        }
    }
}

.buy-now {
    display: block;
    height: 40px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #f3760b;
    @include transition();
    width: 100%;
    margin: 30px 0px 0px 0px;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

.my-table {
    background-color: #fff;

    width: 100%;
    border: 1px solid $border-color;
    margin: 0px 0px 30px 0px;

    td {
        border: 1px solid $border-color;
        padding: 5px 10px;


        h3 {
            text-align: center;
            margin: 0px;
            padding: 0px;
        }
        p {
            margin: 0px;
        }
        .green {
            color: $green;
        }
    }
}

.table-scroll {
    margin-top: 30px;

    overflow: auto;
    width: 100%;
}

.block {
    display: block;

}

.plan-item {
    text-align: center;
    strong {
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        font-size: 13px;
        color: $green;

    }

    p {
        font-size: 13px;
        span {
            font-weight: bold;
            font-size: 18px;
        }
    }
    button {

        display: inline-block;
        height: 30px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        background-color: #f3760b;
        @include transition();
        padding: 0px 0px;
        text-align: center;
        width: 100px;
        margin: 0px 0px 10px 0px;

        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }

    }
}

.box-infor {
    border: 1px solid #e4e4e4;
    min-height: 100px;
    margin-bottom: 30px;
    background-color: #fff;

    h2 {

        line-height: 35px;
        padding: 0px 10px;
        margin: 10px;
        font-size: 15px;

        border-bottom: 1px solid #e4e4e4;
        font-weight: bold;
    }
}

.box-infor-content {
    padding: 15px;
}

p.red {
    color: red;
}

.row-info {

    margin-top: 10px;

    span {
        display: inline-block;
        line-height: 30px;
        @media screen and (max-width: 991px) {
            font-weight:bold;
        }

    }
    .my-textbox {
        margin-bottom: 5px;

    }
    .my-select {
        margin-bottom: 5px;
    }
}

.box-infor-content-confirm {
    .row-info {



        span {

            @media screen and (max-width: 991px) {
                font-weight:normal;
            }

        }

    }
}

.row-billing {
    span {


        display: inline-block;
        line-height: 30px;
    }
}

.agree {
    font-weight: normal;
    input {
        margin: 0px 3px 0px 0px;

    }
    a {
        color: #3a6eea;
        font-weight: bold;
    }
}

.my-btn-agree {
    padding: 0px 20px;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0px;
}

.you-order {
    border: 1px solid #e4e4e4;
}


.you-order-content {
    padding: 10px;
    p {
        min-height: 20px;
        margin-bottom: 10px;
        span {
            float: right;
            font-weight: bold;
            em {
                font-weight: normal;
                font-style: normal;
                margin-left: 4px;
            }
        }
        &.total {

            border-top: 1px solid #e4e4e4;
            line-height: 20px;
            padding: 10px 0px;
            margin-top: 20px;
            margin-bottom: 10px;
            span {
                font-size: 20px;
            }
        }
    }

}

.grand-total {
    padding: 10px 0px;
    margin: 20px 0px 0px 0px;
    border-bottom: 1px dotted #eee;
    border-top: 1px dotted #eee;
    text-align: right;
    p {
        margin: 0px;
        font-weight: bold;
        font-size: 15px;
        span {
            font-size: 25px;
            margin-left: 20px;
        }
    }
}

.grand-note {
    text-align: right;
    color: red;
    padding: 10px 0px;
    p {
        margin: 0px;
        font-size: 12px;
        padding: 0px;
        font-weight: bold;
    }
}

.row-billing {
    a {
        color: #3a6eea;
        font-weight: bold;
    }
}

.note-payment {
    text-align: center;

    a {
        color: #3a6eea;
    }
}

.payment-logos {
    text-align: center;
    padding: 30px 0px;

    a {
        margin: 0px 20px;
    }
}

.you-reservation-content {
    padding: 10px 10px;
    p {
        font-weight: bold;
        min-height: 20px;
        margin: 10px 0px;
        span {
            float: right;
            color: red;
        }
    }
}

.pd-box-content {
    padding: 20px;
}

.pd-item {
    margin-bottom: 10px;
    p {
        font-size: 12px;
        margin: 0px 0px 5px 0px;
        font-weight: bold;
        min-height: 40px;
        display: flex;
        align-items: flex-end;
        line-height: 1.2;
    }
    strong {
        font-weight: bold;
        font-size: 12px;
        display: block;
        line-height: 30px;
        em {
            display: inline-block;
            width: 15px;
            font-style: normal;
        }
    }
    .gender-icon {
        border: 1px solid #9e9e9e;
        height: 30px;
        width: 60px;
        border-radius: 2px;
        overflow: hidden;
        div {
            float: left;
            height: 28px;
            width: 29px;
            background-repeat: no-repeat;
            background-size: 23px 23px;
            background-position: center center;
            &.active {
                background-color: #aaa;
            }
            cursor:pointer;
            &.male {
                background-image: url(../images/male_icon.png);
            }
            &.female {
                background-image: url(../images/female_icon.png);
            }
            &.child-male {
                background-image: url(../images/child_male_icon.png);
            }
            &.child-female {
                background-image: url(../images/child_female_icon.png);
            }
            &.infant-male {
                background-image: url(../images/infant_male_icon.png);
            }
            &.infant-female {
                background-image: url(../images/infant_female_icon.png);
            }
        }
    }
}

.txt-bf {
    width: 100%;
    display: block;
    padding: 0px 10px;
    height: 30px;
    outline: none;
    background-color: #fff;
    border: 1px solid #9e9e9e;
}

.select-bf {
    width: 100%;
    display: block;
    padding: 0px 0px;
    height: 30px;
    outline: none;
    background-color: #fff;
    border: 1px solid #9e9e9e;
}

.select-mr {
    margin-right: -20px;
    min-width: 45px;
}



.payer-item {
    margin-bottom: 10px;
    p {
        font-size: 12px;
        margin: 0px 0px 5px 0px;
        font-weight: bold;
    }
    em {
        display: block;
        line-height: 30px;
    }
    textarea {
        width: 100%;
        display: block;
        padding: 10px 10px;
        height: 110px;
        outline: none;
        background-color: #fff;
        border: 1px solid #9e9e9e;
    }
}

.payer-mobile {
    padding: 0px 0px 0px 120px;
    height: 30px;
    .flag {
        float: left;
        width: 120px;
        height: 30px;
        margin: 0px 0px 0px -120px;
        select {
            border-right: none !important;
        }
    }
}


.checkbox-control {
    display: inline-block;
    position: relative;
    .rating {
        display: inline-block;
        i {
            color: #feba02;
        }
    }
    &.block {
        display: block;
    }
    input[type=checkbox] {
        display: none;
    }
    label {
        font-weight: normal;
        padding: 0px 0px 0px 20px;
        position: relative;
        min-height: 25px;
        display: block;
        margin: 0px;
        font-size: 12px;
        cursor: pointer;
    }
    input[type=checkbox] + label:before {
        font-family: 'FontAwesome';
        display: inline-block;
        position: absolute;
        top: -3px;
        font-size: 14px;
        left: 0px;
    }
    input[type=checkbox] + label:before {
        content: "\f096";
    }
    input[type=checkbox] + label:before {}
    input[type=checkbox]:checked + label {}
    input[type=checkbox]:checked + label:before {
        content: "\f046";
        color: $green;
    }
    input[type=checkbox]:checked + label:before {
        letter-spacing: 5px;
        color: $green;
    }
}

.payer-control {
    .checkbox-control {
        display: block;
    }
    .my-btn {
        margin: 20px 0px 0px 0px;
        text-transform: none;
        background-color: $green;
        letter-spacing: 1px;
        @media screen and (max-width: 767px) {
            width:100%;
            text-align: center;
        }
    }
}







.bag-box-table {
    overflow: auto;
}

.b-row {
    .b-col1 {
        float: left;
        width: 10%;
        @media screen and (max-width: 767px) {
            width:20%;
        }
    }
    .b-col2 {
        float: left;
        width: 10%;
        @media screen and (max-width: 767px) {
            width:50%;
        }
    }
    .b-col3 {
        float: left;
        width: 20%;
        @media screen and (max-width: 767px) {
            width:40%;
        }
        @media screen and (max-width: 767px) {
            &.b-col3-mobile {
                width: 100%;
            }
            &.b-col3-mobile50 {
                width: 50%;
            }
        }
    }
    .b-col34 {
        float: left;
        width: 40%;
        @media screen and (max-width: 767px) {
            width: 50%;
        }
    }

    .b-col100 {

        width: 100%;
        @media screen and (max-width: 767px) {
            width:100%;
        }
    }
    .b-col4 {
        float: left;
        width: 20%;
        @media screen and (max-width: 767px) {
            width:50%;
        }
    }
    .b-col5 {
        float: left;
        width: 20%;
        @media screen and (max-width: 767px) {
            width:50%;
        }
        &.b-col5-fix {
            @media screen and (max-width: 767px) {
                width:40%;
            }
        }
        @media screen and (max-width: 767px) {
            &.b-col3-mobile {
                width: 100%;
            }
            &.b-col3-mobile50 {
                width: 50%;
            }
        }
    }
    .b-col6 {
        float: left;
        width: 20%;
        @media screen and (max-width: 767px) {
            width:50%;
        }
        &.b-col6-fix {
            width: 30%;
            @media screen and (max-width: 767px) {
                width:50%;
                white-space: nowrap;
            }
        }
    }
    .col-hide {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

.bag-box-table.five {
    .b-row {
        .b-col1 {
            float: left;
            width: 20%;
            @media screen and (max-width: 767px) {
                width:30%;
            }
        }
        .b-col2 {
            float: left;
            width: 20%;
            @media screen and (max-width: 767px) {
                width:35%;
            }
        }
        .b-col3 {
            float: left;
            width: 20%;
            @media screen and (max-width: 767px) {
                width:35%;
            }


        }
        .b-col4 {
            float: left;
            width: 20%;
            @media screen and (max-width: 767px) {
                width:50%;
            }
        }
        .b-col5 {
            float: left;
            width: 20%;
            @media screen and (max-width: 767px) {
                width:50%;
            }
        }

    }
}

.b-item {
    min-height: 40px;
    background-color: #fff;
    padding: 5px 10px;
    p {
        margin: 0px;
        padding: 0px;
        line-height: 30px;
        font-size: 12px;
    }
}

.b-item-bg {
    min-height: 40px;
    background-color: #eee;
    padding: 5px 10px;
    p {
        padding: 0px;
        margin: 0px;
        line-height: 30px;
    }
}

.b-item-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0px 0px 0px 20px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    &.adult {
        background-image: url(../images/male_icon.png);
    }
    &.child {
        background-image: url(../images/child_female_icon.png);
    }
    &.infant {
        background-image: url(../images/infant_male_icon.png);
    }
}

.term-fare {
    padding: 10px;
    p {
        font-size: 14px;
        margin: 0px;
        a {
            color: #0bf;
        }
    }
}

.b-row-mobile {
    .b-col-mobile3 {
        float: left;
        width: 33.33%;
    }
    .b-col-mobile2 {
        float: left;
        width: 50%;
    }
}

.payment-method {
    text-align: center;
    a {
        display: inline-block;
        border-radius: 5px;
        margin: 10px 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        img {
            max-height: 45px;
        }
    }
}

.my-table-mobile {
    border: 1px solid $border-color;
    margin: 0px 0px 20px 0px;
    background-color: #fff;
    .mtm-item {
        float: left;
        padding: 0px 10px;
        width: 50%;
        &.w100 {
            width: 100%;
        }
    }
    p.caption {
        font-weight: 600;
        border-top: 1px solid $border-color;
        padding: 10px 0px 0px 0px;

    }
    p {
        margin: 0px 0px 10px 0px;
    }
}


.covered {
    margin: 20px 0px 0px;
    h2 {
        font-size: 20px;
        font-weight: 600;

        text-align: center;
        margin: 10px 0px;
    }
}

.covered-plan {
    border: 1px solid $green;
    margin: 10px 0px 15px 0px;

    span {
        float: left;
        width: 33.33%;
        padding: 3px 0px;

        font-size: 12px;
        font-weight: 600;
        text-align: center;
        border-left: 1px solid $green;
        cursor: pointer;
        &:last-child {
            border: none;

        }
        &.active {
            color: #fff;
            background-color: $green;
        }
    }
}

#plan_b,
#plan_c {
    display: none;
}

.cp-detail {}
