.db-setting {
    background-color: #f3f5f5;
}

.section-setting {
    min-height: 500px;
    border: 1px solid red;


}



.setting-left {
    position: fixed;

    width: 300px;
    top: 55px;
    left: 0px;
    bottom: 0px;
    background-color: #f3f5f5;
    background-color: #fff;
    border-right: 1px solid $border-color;



    label {
        text-transform: uppercase;
        color: $text-color-meta;
        font-size: 11px;
        font-weight: 600;
        display: block;
        margin: 0px 0px 10px 17px;



    }


    .setting-menu {
        margin-bottom: 0px;


        > ul {
            list-style: none;
            margin: 0px;
            padding: 0px;


            > li {


                margin: 0px 0px 0px 0px;




                > .wm-item {

                    padding: 0px 30px 0px 0px;
                    border-left: 3px solid transparent;
                    position: relative;

                    .arrow {
                        width: 30px;
                        height: 30px;

                        line-height: 30px;
                        position: absolute;
                        top: 3px;
                        right: 3px;
                        line-height: 30px;
                        text-align: center;
                        color: $text-color;
                        font-size: 15px;
                        border-radius: 2px;
                        cursor: pointer;


                    }



                    > a {

                        display: block;
                        color: $text-color;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 40px;

                        padding: 0px 0px 0px 10px;

                    }

                    .icon {
                        float: left;
                        width: 30px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        margin: 0px 5px 0px 0px;
                        font-size: 17px;



                    }


                }


                &.active {

                    > .wm-item {
                        border-left: 3px solid $active-color;
                        //  background-color: #fff;



                        .arrow {
                            transform: rotate(180deg);

                        }

                        > a {

                            color: $active-color;
                        }
                    }



                }

                &:hover {
                    background-color: #fff;
                }


            }
        }

        .submenu {

            //  background-color: #fff;
            border-left: 3px solid $active-color;
            padding-bottom: 10px;


            .submenu {
                border: none;
                padding-bottom: 0px;

            }


            ul {

                margin: 0px;
                padding: 0px;
                list-style: none;
                position: relative;
                padding: 0px 0px 0px 45px;

                li {

                    .wm-item {

                        display: block;


                        .icon {
                            width: 20px;
                            height: 35px;

                            float: left;
                            margin: 0px 0px 0px 0px;
                            font-size: 15px;
                        }

                        a {
                            display: block;
                            line-height: 35px;
                            color: $text-color;
                            font-size: 14px;
                            position: relative;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;


                        }



                    }

                    &.active {
                        > .wm-item {



                            > a {

                                color: $active-color;



                            }

                            > .arrow {
                                transform: rotate(180deg);

                            }



                        }
                    }

                    &:hover {
                        > .wm-item {


                            > a {

                                color: $active-color;


                            }


                        }
                    }

                }

            }

            .wm-item {
                padding-right: 30px;
                position: relative;

                .arrow {
                    width: 30px;
                    height: 30px;

                    line-height: 30px;
                    position: absolute;
                    top: 0px;
                    right: 3px;

                    line-height: 30px;
                    text-align: center;
                    color: $text-color;
                    font-size: 15px;
                    border-radius: 2px;
                    cursor: pointer;


                }


            }
        }
    }
}

.setting-right {
    position: fixed;
    top: 55px;
    right: 0px;
    left: 320px;
    bottom: 0px;
    background-color: #f3f5f5;
}


.setting-scroll {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.sr-caption {


    margin: 30px 0px 40px 0px;

    h2 {

        font-size: 30px;
        font-weight: 700;
        margin: 0px;
    }

}
