//Tool

.tool-page {
    background-color: rgba(0, 0, 0, 0.05);
    user-select: none;

    svg {
        stroke: none;
        stroke-width: 1;
        fill: none;
        fill-rule: evenodd;

    }

    &.dark-theme {
        background-color: #1d1f21;

        svg {
            g {

                stroke: #fff !important;

            }
        }

        .tool-header {

            background-color: #323639;

            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .th-left {}

            .th-menu {


                p {
                    color: #eee;

                    i {
                        margin: 0px 0px 0px 5px;
                    }
                }

            }

            .design-name {


                .dn-text {



                    p {

                        color: #eee;

                    }

                    .dn-icon-edit {
                        color: #eee;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);

                        }


                    }

                }


                input[type="text"] {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border: 1px solid rgba(0, 0, 0, 0);
                    display: block;
                    padding: 0px 10px;
                    height: 35px;
                    border-radius: 2px;
                    width: auto;
                    font-size: 12px;
                    outline: none;
                    transition: all ease 0.3s;

                    &:hover {
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }

            .logo {
                float: left;
                width: 70px;
                text-align: center;
                height: 70px;
                padding: 10px 0px 10px 0px;
                border-right: 1px solid rgba(0, 0, 0, 0.1);


                img {
                    height: 35px;
                }
            }

            .th-right {
                float: right;

                .user-control {
                    margin: 12px 30px 0px 20px;
                }
            }

        }

        .gc-line {

            border-left: 1px solid rgba(0, 0, 0, 0.1);

        }

        .global-control {


            .gc-item {


                .gc-icon {
                    margin: 5px 0px 2px 0px;

                    .gc-icon-inner {


                        svg {}

                    }
                }

                p {
                    color: #eee;
                }

                &:active {
                    .gc-icon {
                        margin: 5px 0px 2px 0px;

                        .gc-icon-inner {

                            background-color: rgba(0, 0, 0, 0.1);


                        }
                    }
                }


            }

        }

        /***********************************************************/


        .tool-menu {
            padding: 55px 0px 0px 0px;
            z-index: 90;
            width: 70px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #323639;

            position: fixed;
            top: 0px;
            left: 0px;
            bottom: 0px;

            .tm-tab {
                padding: 0px;
                margin: 0px;
                list-style: none;

                li {


                    text-align: center;

                    .tab-item {
                        height: 70px;
                        cursor: pointer;

                        .tab-icon {
                            margin: 5px 0px 2px 0px;

                            .ti-inner {
                                width: 40px;
                                height: 40px;
                                margin: 0px auto;
                                // background-color: rgba(0, 0, 0, 0.1);
                                border-radius: 50%;
                                line-height: 40px;
                                text-align: center;
                                transition: all ease 0.3s;

                                svg {

                                    height: 20px;
                                }

                            }
                        }

                        p {
                            text-transform: uppercase;
                            font-size: 10px;
                            font-weight: 600;
                            margin: 0px 0px 0px 0px;

                        }


                    }

                    &.active-tab {
                        .tab-item {
                            .tab-icon {


                                .ti-inner {

                                    background-color: rgba(0, 0, 0, 0.1);


                                    svg {

                                        g {
                                            stroke: $brand-color;
                                        }

                                    }

                                }
                            }

                            p {
                                color: $brand-color;
                            }
                        }
                    }

                    &:hover {
                        .tab-item {
                            .tab-icon {


                                .ti-inner {

                                    background-color: rgba(0, 0, 0, 0.05);




                                }
                            }


                        }
                    }
                }
            }

            .tm-tab-bottom {
                padding: 0px;
                margin: 0px;
                list-style: none;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;

                li {


                    text-align: center;

                    .tab-item {
                        height: 45px;
                        cursor: pointer;

                        .tab-icon {
                            margin: 5px 0px 5px 0px;

                            .ti-inner {
                                width: 35px;
                                height: 35px;
                                margin: 0px auto;
                                // background-color: rgba(0, 0, 0, 0.1);
                                border-radius: 50%;
                                line-height: 35px;
                                text-align: center;
                                transition: all ease 0.3s;

                                svg {

                                    height: 20px;
                                }

                            }
                        }




                    }

                    &.active-tab {
                        .tab-item {
                            .tab-icon {


                                .ti-inner {




                                    svg {

                                        g {
                                            stroke: $brand-color;
                                        }

                                    }

                                }
                            }

                            p {
                                color: $brand-color;
                            }
                        }
                    }

                    &:hover {
                        .tab-item {
                            .tab-icon {


                                .ti-inner {

                                    svg {

                                        g {
                                            stroke: $brand-color;
                                        }

                                    }




                                }
                            }


                        }
                    }
                }
            }
        }


        .tool-panel {
            z-index: 90;
            box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.1);
            background-color: lighten(#323639, 5%);

            position: fixed;
            top: 0px;
            left: 70px;
            bottom: 0px;
            width: 320px;
            padding: 55px 0px 0px 0px;




        }

        .tp-tab {

            position: absolute;
            top: 55px;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;

            .tab-head {}

            .tab-content {

                flex-grow: 1;
                position: relative;

            }



        }

        .tc-scroll {
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            overflow: auto;



        }

        .tc-wrap {
            width: 280px;
            margin: 0px 0px 0px 20px;
        }


        /***********************************************************/
        .tool-workspace {
            position: fixed;
            top: 55px;
            left: 380px;
            right: 0px;
            bottom: 0px;


            .tool-workspace-scroll {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: auto;

            }

        }
    }
}

/***********************************************************/


.page {

    .page-info {
        margin: -30px 0px 0px 0px;
        height: 30px;


        .pi-left {
            float: left;

            .pi-name {
                margin: 0px;
                font-size: 12px;
                font-weight: 500;
                margin: 0px;
                line-height: 30px;
            }
        }

        .pi-right {
            float: right;
        }
    }

    .page-control {

        .pc-item {
            float: left;
            margin: 0px 0px 0px 5px;


            .pi-icon {
                width: 22px;
                height: 25px;
                margin: 0px auto;

                line-height: 25px;
                text-align: center;
                transition: all ease 0.3s;

                cursor: pointer;
                border-radius: 2px;



                svg {
                    height: 15px;
                    opacity: 0.7;
                }
            }

            &:hover {
                .pi-icon {
                    background-color: rgba(0, 0, 0, 0.05);

                    svg {
                        opacity: 1
                    }
                }
            }
        }
    }

}

/*************************/


.template-item {
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
    transition-delay: .1s;
    border-radius: 1px;

    transform: translateZ(0);
    background-color: #fff;
    overflow: hidden;
    height: 100%;

    .ti-transparent-bg {
        background-image: linear-gradient(45deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
        background-size: 10px 10px;

    }

    .ti-img {

        text-align: center;
        position: relative;
        overflow: hidden;
        background-color: #fff;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        .ti-hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 20;
            background-color: rgba(0, 0, 0, 0.4);

            transition: all ease 0.3s;
            visibility: hidden;
            opacity: 0;

            a.fill {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                display: flex;
                align-items: center;
                justify-content: center;
            }

        }

        .ti-generating {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 20;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;

            .generating-text {
                font-weight: 600;
                color: #fff;
            }

            a {
                color: #fff;
                font-style: italic;

            }




        }

        .number-page {

            z-index: 10;

            line-height: 20px;
            padding: 0px 10px;
            letter-spacing: 1px;
            color: #fff;
            line-height: 20px;
            text-transform: uppercase;
            font-size: 10px;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 20px;
            display: inline-block;
        }

        .ti-info {
            position: absolute;
            top: 8px;
            left: 8px;
            z-index: 30;

            .stock-premium {
                float: left;
                margin: 0px 10px 0px 0px;

                .icon {
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-image: url(#{$path_default}/images/money.svg);
                    background-repeat: no-repeat;
                    background-size: 8px auto;

                    background-position: center center;
                }


            }


            .template-premium {
                float: left;
                margin: 0px 10px 0px 0px;

                .icon {
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-image: url(#{$path_default}/images/premium.svg);
                    background-repeat: no-repeat;
                    background-size: 14px auto;

                    background-position: center center;
                }

            }







            &.float-right {
                left: unset;
                right: 8px;
            }
        }




        img {
            max-width: 100%;
            width: 100%;
        }
    }

    .ti-caption {
        padding: 10px 10px;
        position: relative;

        .multi-badge {
            z-index: 10;
            display: inline-block;
            padding: 0px 2px;
            letter-spacing: 1px;
            color: #fff;
            line-height: 15px;
            text-transform: uppercase;
            font-size: 10px;
            background-color: $pro-color;
            border-radius: 2px;
        }

        p {
            margin: 0px;
        }

        .view-detail {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            background-color: $box-color;

            font-family: Georgia, 'Times New Roman';
            transition: all ease 0.4s;
            font-style: italic;

            color: $text-color-meta;

            &:hover {
                color: #fff;

                background-color: $active-color;
            }
        }
    }

    &:hover {
        box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;

        /*.ci-img {
            .ci-hover {
                visibility: visible;
                opacity: 1;
            }
        }*/

    }
}
