//Tool

.tool-page {
    //  background-color: rgba(0, 0, 0, 0.05);


    svg {
        stroke: none;
        stroke-width: 1;
        fill: none;
        fill-rule: evenodd;

    }

    &.dark-mode {
        background-color: #1d1f21;

        svg {

            stroke: none;
            stroke-width: 1.5;
            fill: none;
            fill-rule: evenodd;

            g {

                stroke: #fff !important;

            }
        }

        .tool-header {

            background-color: #323639;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .th-left {}

            .th-menu {


                .th-menu-inner {

                    p {
                        color: #eee;

                    }
                }

            }

            .design-name {


                .dn-text {



                    p {

                        color: #eee;

                    }

                    .dn-icon-edit {
                        color: #eee;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);

                        }


                    }

                }


                input[type="text"] {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border: 1px solid rgba(0, 0, 0, 0);
                    display: block;
                    padding: 0px 10px;
                    height: 35px;
                    border-radius: 2px;
                    width: auto;
                    font-size: 12px;
                    outline: none;
                    transition: all ease 0.3s;

                    &:hover {
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }

            .logo {
                float: left;
                width: 70px;
                text-align: center;
                height: 70px;
                padding: 10px 0px 10px 0px;
                border-right: 1px solid rgba(0, 0, 0, 0.1);


                img {
                    height: 35px;
                }
            }

            .th-right {
                float: right;

                .user-control {}

                .notification-headway {



                    .fa-bell {

                        color: #eee;



                    }

                }

            }

        }

        .gc-line {

            border-left: 1px solid rgba(0, 0, 0, 0.1);

        }

        .global-control {


            .gc-item {


                .gc-icon {
                    margin: 5px 0px 2px 0px;

                    .gc-icon-inner {


                        svg {}

                    }
                }

                p.gc-text {
                    color: #eee;
                }


                &:active {
                    .gc-icon {
                        margin: 5px 0px 2px 0px;

                        .gc-icon-inner {

                            background-color: rgba(0, 0, 0, 0.1);


                        }
                    }
                }


            }

        }




        .tool-menu {

            border-right: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #323639;


            .tm-tab {


                li {




                    .tab-item {


                        .tab-icon {


                            .ti-inner {


                                svg {}

                            }
                        }

                        p {
                            color: #eee;

                        }


                    }

                    &.active-tab {
                        .tab-item {
                            .tab-icon {


                                .ti-inner {

                                    background-color: rgba(0, 0, 0, 0.1);


                                    svg {

                                        g {
                                            stroke: $brand-color !important;
                                        }

                                    }

                                }
                            }

                            p {
                                color: $brand-color;
                            }
                        }
                    }

                    &:hover {
                        .tab-item {
                            .tab-icon {


                                .ti-inner {

                                    background-color: rgba(0, 0, 0, 0.05);




                                }
                            }


                        }
                    }
                }
            }

            .tm-tab-bottom {
                padding: 0px;
                margin: 0px;
                list-style: none;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;

                li {


                    text-align: center;

                    .tab-item {
                        cursor: pointer;

                        .tab-icon {

                            .ti-inner {


                                svg {}

                            }
                        }




                    }

                    &.active-tab {
                        .tab-item {
                            .tab-icon {


                                .ti-inner {




                                    svg {

                                        g {
                                            stroke: $brand-color;
                                        }

                                    }

                                }
                            }

                            p {
                                color: $brand-color;
                            }
                        }
                    }

                    &:hover {
                        .tab-item {
                            .tab-icon {


                                .ti-inner {

                                    svg {

                                        g {
                                            stroke: $brand-color;
                                        }

                                    }




                                }
                            }


                        }
                    }
                }
            }
        }


        .tool-panel {
            z-index: 90;
            box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.1);
            background-color: lighten(#323639, 5%);

            position: fixed;
            top: 0px;
            left: 70px;
            bottom: 0px;
            width: 320px;
            padding: 55px 0px 0px 0px;




        }

        .tp-tab {

            position: absolute;
            top: 55px;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;

            .tab-head {}

            .tab-content {

                flex-grow: 1;
                position: relative;

            }



        }

        .tc-scroll {
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            overflow: auto;



        }

        .tc-wrap {
            width: 280px;
            margin: 0px 0px 0px 20px;
        }


        .tool-search {

            background-color: #323639;

            input {
                color: #fff;

                &::placeholder {
                    color: #ddd;
                }

            }

            .ts-icon {
                color: #ddd;
            }

            .ts-close {


                &:hover {

                    color: $red;
                }
            }

        }



        /***********************************************************/
        .tool-workspace {



            .tool-workspace-scroll {}

        }


        .tool-setting {


            background-color: #1d1f21;



            h2 {
                color: #eee;



            }

            .setting-row {

                display: flex;
                align-items: center;

                .cap {

                    color: #eee;

                }
            }


        }


        .page {

            .page-info {



                .pi-left {

                    .pi-name {
                        color: #eee;
                    }
                }


            }

            .page-control {

                .pc-item {
                    float: left;
                    margin: 0px 0px 0px 5px;


                    .pi-icon {
                        width: 22px;
                        height: 25px;
                        margin: 0px auto;

                        line-height: 25px;
                        text-align: center;
                        transition: all ease 0.3s;

                        cursor: pointer;
                        border-radius: 2px;



                        svg {
                            height: 15px;
                            opacity: 0.7;
                        }
                    }

                    &:hover {
                        .pi-icon {
                            background-color: rgba(0, 0, 0, 0.05);

                            svg {
                                opacity: 1
                            }
                        }
                    }
                }
            }

        }


    }

    &.less-text {









        .global-control {


            .gc-item {

                .gc-icon {
                    margin: 12px 0px 2px 0px;
                }

                p.gc-text {
                    display: none;
                }

                &:active {
                    .gc-icon {
                        margin: 12px 0px 2px 0px;


                        .gc-icon-inner {

                            background-color: rgba(0, 0, 0, 0.1);


                        }
                    }
                }




            }

        }

        /***********************************************************/


        .tool-menu {



            .tm-tab {


                li {




                    .tab-item {




                        p {

                            display: none;

                        }


                    }




                }
            }


        }






    }
}
