<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="congnd91">
    <title>SPEC - News, Blog, Shop Special Template</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Chonburi&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- Vender -->
    <link href="https://unpkg.com/ionicons@4.4.8/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" />
    <!-- Main CSS (SCSS Compile) -->
    <link href="css/main.css" rel="stylesheet" />
    <!-- JavaScripts -->
    <!--<script src="js/modernizr.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--preload-->
    <div class="loader" id="page-loader">
        <div class="loading-wrapper">
            <p>Loading<span>.</span><span>.</span><span>.</span></p>
        </div>
    </div>
    <!--menu-->
    <div class="menu-overlay">
        <span class="close-menu">
            Close
        </span>
        <div class="mo-image">
        </div>
        <div class="mo-flex">
            <div class="mo-flex-inner">
                <nav class="menu">
                    <ul>
                        <li class="active"><a href="index.html">Home</a><i class="icon ion-ios-arrow-round-forward"></i>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="index.html">Default style</a></li>
                                    <li><a href="index-no-sidebar.html">No sidebar</a></li>
                                    <li><a href="index-dark-mode.html">Dark mode</a></li>
                                    <li><a href="index-grid.html">Grid mode</a></li>
                                    <li><a href="index-grid-large.html">Grid large</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li><a href="category.html">Category</a>
                            <i class="icon ion-ios-arrow-round-forward"></i>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="category.html">Default style</a></li>
                                    <li><a href="category-thumbnails.html">Thumbnails mode</a></li>
                                    <li><a href="category-grid.html">Grid mode</a></li>
                                    <li><a href="category-grid-large.html">Grid large</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li><a href="single.html">Single</a>
                            <i class="icon ion-ios-arrow-round-forward"></i>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="single.html">Default style</a></li>
                                    <li><a href="single-no-sidebar.html">No sidebar</a></li>
                                    <li><a href="single-special.html">Special mode</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li><a href="shop.html">Shop</a>
                            <i class="icon ion-ios-arrow-round-forward"></i>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="shop.html">Product list</a></li>
                                    <li><a href="shop-no-sidebar.html">No sidebar</a></li>
                                    <li><a href="shop-single.html">Product detail</a></li>
                                    <li><a href="cart.html">Checkout</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li><a href="404.html">Pages</a>
                            <i class="icon ion-ios-arrow-round-forward"></i>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="404.html">404 page</a></li>
                                    <li><a href="contact.html">Contact page</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--search-->
    <div class="search-overlay">
        <span class="close-search">
            Close
        </span>
        <div class="so-flex">
            <div class="so-flex-inner">
                <div class="search-box">
                    <input type="text" placeholder="Enter your text here...">
                    <button>Search</button>
                </div>
            </div>
        </div>
    </div>
    <!--page-->
    <div class="page">
        <!--wrapper-->
        <div class="wrapper">
            <header class="header">
                <a href="#" class="logo">
                    <img alt="" src="images/logo.png">
                </a>
                <div class="header-right">
                    <div class="icon-search">
                        <span class="round">
                        </span>
                        <span class="line"></span>
                    </div>
                    <div class="icon-menu">
                        <span class="im-line"></span>
                        <span class="im-line second"></span>
                        <span class="im-line three"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </header>
            <div class="page-caption">
                <h2><span>Shop</span></h2>
            </div>
            <div class="col-wrap">
                <div class="colleft">
                    <div class="box">
                        <div class="shopbar">
                            <h3>Showing 1-9 of 23 results</h3>
                            <div class="sortby">
                                <p data-toggle="dropdown">
                                    Sort by popularity
                                    <i class="fa fa-caret-down"></i>
                                </p>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Default sorting</a></li>
                                    <li class="current"><a href="#">Sort by popularity</a></li>
                                    <li><a href="#">Sort by average rating</a></li>
                                    <li><a href="#">Sort by price: low to high</a></li>
                                    <li><a href="#">ort by price: high to low</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="shop-item">
                                    <div class="shop-img">
                                        <span class="like">
                                            <i class="fa fa-heart-o"></i>
                                        </span>
                                        <a href="shop-single.html"> <img alt="" src="images/shop1.jpg" /></a>
                                        <a href="shop-single.html" class="add-to-cart">Add to cart </a>
                                    </div>
                                    <div class="shop-des">
                                        <h3><a href="shop-single.html">Le parc minoti chair</a></h3>
                                        <div class="price">
                                            <span>€169.00</span>
                                        </div>
                                        <div class="votes">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="shop-item">
                                    <div class="shop-img">
                                        <span class="like">
                                            <i class="fa fa-heart-o"></i>
                                        </span>
                                        <strong class="sale">
                                            -25%
                                        </strong>
                                        <a href="shop-single.html">
                                            <img alt="" src="images/shop2.jpg" />
                                        </a>
                                        <a href="shop-single.html" class="add-to-cart">Add to cart</a>
                                    </div>
                                    <div class="shop-des">
                                        <h3><a href="shop-single.html">Dsr eiffel chair</a></h3>
                                        <div class="price">
                                            <span>€135.00</span> <span class="old">€169.00</span>
                                        </div>
                                        <div class="votes">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-1">
                                <div class="shop-item">
                                    <div class="shop-img">
                                        <span class="like">
                                            <i class="fa fa-heart-o"></i>
                                        </span>
                                        <a href="shop-single.html">
                                            <img alt="" src="images/shop3.jpg" />
                                        </a>
                                        <a href="shop-single.html" class="add-to-cart">Add to cart</a>
                                    </div>
                                    <div class="shop-des">
                                        <h3><a href="shop-single.html">Pendant light </a></h3>
                                        <div class="price">
                                            <span>€45.00</span>
                                        </div>
                                        <div class="votes">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-1">
                                <div class="shop-item">
                                    <div class="shop-img">
                                        <span class="like">
                                            <i class="fa fa-heart-o"></i>
                                        </span>
                                        <a href="shop-single.html"> <img alt="" src="images/shop4.jpg" /></a>
                                        <a href="shop-single.html" class="add-to-cart">Add to cart</a>
                                    </div>
                                    <div class="shop-des">
                                        <h3><a href="shop-single.html">3D laser cut modals</a></h3>
                                        <div class="price">
                                            <span>€250.00</span>
                                        </div>
                                        <div class="votes">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="paging">
                            <a href="#" class="prev">«</a>
                            <a href="#">1</a>
                            <span>2</span>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#" class="next">»</a>
                        </div>
                    </div>
                </div>
                <div class="colright">
                    <!--box-->
                    <div class="box">
                        <div class="box-caption">
                            <span>Cart</span>
                        </div>
                        <div class="box-content">
                            <div class="box-shopping-cart">
                                <div class="sc-item">
                                    <h4>Le parc minotti chair</h4>
                                    <p>1 x €169.00</p>
                                </div>
                                <div class="sc-item">
                                    <h4>Pendant lights</h4>
                                    <p>2 x €135.00</p>
                                </div>
                                <h5>Subtotal: <span>$208</span></h5>
                                <a href="#" class="my-btn btn-view-cart">View Cart</a>
                                <a href="#" class="my-btn">Checkout</a>
                            </div>
                        </div>
                    </div>
                    <!--box-->
                    <div class="box">
                        <div class="box-caption">
                            <span>Popular</span>
                        </div>
                        <div class="box-content">
                            <div class="list-popular-product">
                                <div class="pp-item">
                                    <div class="shop-img">
                                        <a href="shop-single.html">
                                            <img alt="" src="images/shop3.jpg" />
                                        </a>
                                    </div>
                                    <div class="shop-des">
                                        <h3><a href="shop-single.html"> Pendant lights</a></h3>
                                        <div class="price">
                                            <span>€45.00</span>
                                            <span class="old">€65.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pp-item">
                                    <div class="shop-img">
                                        <a href="shop-single.html">
                                            <img alt="" src="images/shop4.jpg" />
                                        </a>
                                    </div>
                                    <div class="shop-des">
                                        <h3><a href="shop-single.html"> Le parc minotti chair</a></h3>
                                        <div class="price">
                                            <span>€250.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pp-item">
                                    <div class="shop-img">
                                        <a href="shop-single.html">
                                            <img alt="" src="images/shop5.jpg" />
                                        </a>
                                    </div>
                                    <div class="shop-des">
                                        <h3><a href="shop-single.html">Carl hansen ch25</a></h3>
                                        <div class="price">
                                            <span>€120.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pp-item">
                                    <div class="shop-img">
                                        <a href="shop-single.html">
                                            <img alt="" src="images/shop1.jpg" />
                                        </a>
                                    </div>
                                    <div class="shop-des">
                                        <h3><a href="shop-single.html">Le parc minotti chair</a></h3>
                                        <div class="price">
                                            <span>€169.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
            <!--footer-->
            <footer class="footer">
                <div class="wrapper">
                    <div class="allright">
                        <p> © 2018 All right reserved. <span>|</span> Designed by <a href="#">Cizthemes</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--go to top-->
    <!--scrip file-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.matchHeight.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
