.register-content{
    padding-top: 70px;
    padding-bottom: 54px;
}

.register-form img{
    max-width: 124px;
    max-height: 124px;
}
.register-form select{
    font-size:2.25rem;
    border:2px solid transparent;
    border-bottom: 2px solid rgba(2, 22, 38,0.1);
    line-height: 52px;
    padding-bottom: 0.5rem;
    height:66px;
    font-family: "Merriweather";
    padding-left: 0px !important;
    width: 100%;
    outline: none;
    background: url("../img/Vector.png") no-repeat right;
    -webkit-appearance: none;
}

.register-form select option{
    background-color: #FBF9FD;
}

.register-form input[type=text] {
    padding-left: 0px !important;
}

.register-form .btn-custom{
    padding-top: 10px;
    padding-bottom: 13px;
}

/* Register Inite */
.register-invite .step-back{
    bottom: 50%;
}
.register-invite .register-invite-buttons{
    display: flex;
}
.register-invite .register-invite-buttons a{
    align-self: center;
}
.register-invite .register-invite-buttons .btn-skip{
    margin-left: auto;
    margin-right: 20px;
    padding-top: 14px;
    padding-bottom: 16px;
    color: #6A2CD8;
    border: 1px solid #6A2CD8;
    background: #fff;
}
.register-invite .register-invite-buttons .btn-skip:hover{
    color: #fff;
}
@media (max-width:767px) {
    .register-invite .register-invite-buttons{
        flex-wrap: wrap;
    }
    .register-invite .register-invite-buttons a,
    .register-invite .register-invite-buttons .btn-skip,
    .register-invite .register-invite-buttons .btn-custom{
        width: 100%;
        margin: 0 0 20px 0;
    }
}

/* Sign up - Verify */
.signup-verify .step-back{
    bottom: 50%;
}
.signup-verify-content{
    padding-top: 70px;
    padding-bottom: 54px;
}
.signup-verify-content .btn-custom{
    margin-top: 52px;
    padding-top: 10px;
    padding-bottom: 13px;
}