@font-face {
    font-family: 'Hello Valentica';
    src: url('HelloValentica-Regular.woff2') format('woff2'),
        url('HelloValentica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

