.timeline {
  margin: 0px 0px 0px 40px;
  padding: 0px 0px 0px 50px;
  border-left: 4px solid #eee; }
  @media screen and (max-width: 991px) {
    .timeline {
      margin-left: 20px; } }
  .timeline .item {
    background-color: #eee;
    border-radius: 5px;
    padding: 15px;
    min-height: 100px;
    margin: 0px 0px 30px 0px;
    position: relative;
    font-size: 13px; }
    .timeline .item.green .head {
      background-color: #1fc370;
      margin: -15px -15px 5px;
      padding: 20px 15px;
      border-radius: 5px 5px 0px 0px; }
      .timeline .item.green .head h3 {
        color: #fff;
        margin: 0px; }
    .timeline .item.green:before {
      border-right-color: #1fc370; }
    .timeline .item.blue .head {
      background-color: #259eee;
      margin: -15px -15px 5px;
      padding: 20px 15px;
      border-radius: 5px 5px 0px 0px; }
      .timeline .item.blue .head h3 {
        color: #fff;
        margin: 0px; }
    .timeline .item.blue:before {
      border-right-color: #259eee; }
    .timeline .item.item-primary {
      background-color: #cce5ff; }
      .timeline .item.item-primary:before {
        border-right-color: #cce5ff; }
    .timeline .item.item-info {
      background-color: #d1ecf1; }
      .timeline .item.item-info:before {
        border-right-color: #d1ecf1; }
    .timeline .item.item-success {
      background-color: #d4edda; }
      .timeline .item.item-success:before {
        border-right-color: #d4edda; }
    .timeline .item.item-danger {
      background-color: #f8d7da; }
      .timeline .item.item-danger:before {
        border-right-color: #f8d7da; }
    .timeline .item.item-warning {
      background-color: #fff3cd; }
      .timeline .item.item-warning:before {
        border-right-color: #fff3cd; }
    .timeline .item:last-child {
      margin: 0px; }
    .timeline .item:before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      border: 10px solid transparent;
      border-right-color: #eee;
      position: absolute;
      top: 15px;
      left: -20px; }
    .timeline .item .icon {
      width: 50px;
      height: 50px;
      border: 3px solid #eee;
      border-radius: 50%;
      background-color: #1fc370;
      color: #fff;
      line-height: 46px;
      text-align: center;
      position: absolute;
      top: -2px;
      left: -78px; }
      .timeline .item .icon i {
        line-height: 46px;
        display: block;
        font-size: 16px; }
      .timeline .item .icon.icon-blue {
        background-color: #259eee; }
      .timeline .item .icon.icon-orange {
        background-color: #f9a65f; }
      .timeline .item .icon.icon-cyan {
        background-color: #00fefe; }
      .timeline .item .icon.icon-red {
        background-color: red; }
      .timeline .item .icon.icon-dark {
        background-color: #222; }
      .timeline .item .icon.icon-brown {
        background-color: brown; }
      .timeline .item .icon.icon-green-dark {
        background-color: #215a3d; }
      .timeline .item .icon.icon-primary {
        background-color: #007bff; }
      .timeline .item .icon.icon-success {
        background-color: #28a745; }
      .timeline .item .icon.icon-danger {
        background-color: #dc3545; }
      .timeline .item .icon.icon-warning {
        background-color: #ffc107; }
      .timeline .item .icon.icon-info {
        background-color: #17a2b8; }
  .timeline h3 {
    font-weight: bold;
    font-size: 15px;
    margin: 0px 0px 5px 0px; }
  .timeline p {
    font-size: 13px;
    margin: 0px 0px 10px 0px; }

.clear {
  color: red;
  cursor: pointer; }

.date-frame {
  position: relative; }
  .date-frame .date-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 35px;
    text-align: center;
    width: 35px;
    color: #777;
    line-height: 35px;
    font-size: 16px;
    cursor: pointer; }

.alert {
  color: #111; }

.btn-sm {
  font-size: 12px; }

.btn-brand {
  background-color: #3A5740;
  color: #fff; }
  .btn-brand:hover {
    color: #fff;
    opacity: 0.9; }

.card-acc {
  border-radius: 0px;
  border: none;
  border: 1px solid #e4e5e6; }
  .card-acc .card-header {
    background-color: #fafafa;
    border-radius: 0px;
    border: none;
    padding: 10px 10px; }
    .card-acc .card-header h6 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer; }

/*# sourceMappingURL=timline.css.map */