
/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
@import "scss/variables";
@import "scss/mixins";
/*==========Setting=========*/
html {
    font-size: 100%;
}

body {
    background-color: #fff;
    font-family: $font-family-base;
    min-width: 320px;
    font-size: $font-size-base;
    line-height: 1.5;

    &.bg {
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
}

dt, dd {
    line-height: 1.5;
}

body, html {
    height: 100%;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

    a:active, a:focus {
        text-decoration: none;
        color: inherit;
    }

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.3;
    font-family: $font-family-heading;
    font-weight: 700;
}

iframe {
    width: 100%;
    border: none;
}

::selection {
    background: $active-color;
    color: #fff;
}


/*==========Components=========*/

.my-btn {
    display: inline-block;
    line-height: 40px;
    padding: 0px 30px;
    font-family: $font-family-heading;
    color: #fff;
    background-color: $base-color;
    letter-spacing: 2px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    border: none;

    @include transition();

    &:hover {
        background-color: $active-color;
        outline: none;
        color: #fff;
    }

    &.active {
        background-color: $active-color;
        outline: none;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }
    }
}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;

    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .container {
    }
}

#page-loader {
    background-color: #7549c2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

/*==========intro=========*/
.intro {
    background-image: url(../images/bg1.jpg);
    min-height: 630px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media screen and (max-width: 991px) {
        min-height: 550px;
    }

    h1 {
        color: #fff;
        text-align: center;
        margin: 140px auto 10px auto;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;

        @media screen and (max-width: 991px) {
            margin: 40px auto 10px auto;
            font-size: 30px;
        }

        @media screen and (max-width: 767px) {
            margin: 40px auto 10px auto;
            font-size: 20px;
        }
    }

    .des-intro {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        max-width: 800px;
        text-align: center;
        margin: 0px auto;

        @media screen and (max-width: 991px) {
            font-size: 14px;
        }
    }
}

.intro-fix {
    min-height: 80px;
    padding-bottom: 10px;

    @media screen and (max-width: 991px) {
        min-height: 80px;
        background-size: auto;
    }
}

/*==========Header=========*/
.header {
    min-height: 40px;
    margin: 20px 0px 0px 0px;

    @media screen and (max-width: 991px) {
        margin: 10px 0px 0px 0px;
    }

    a.logo {
        float: left;
    }


    .user-panel {
        float: right;
        position: relative;
        height: 40px;
        z-index: 999;

        &.show-user-menu {
            .user-menu {
                display: block;
            }
        }

        .user-menu {
            position: absolute;
            top: 50px;
            right: -7px;
            width: 200px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
            display: none;
            z-index: 999;

            &:before {
                content: "";
                display: block;
                width: 0px;
                height: 0px;
                border: 10px solid transparent;
                border-bottom-color: #fff;
                right: 2px;
                top: -20px;
                position: absolute;
            }

            ul {
                padding: 5px 0px;
                margin: 0px;
                list-style: none;

                li {
                    display: block;
                    margin: 0px;

                    a {
                        display: block;
                        line-height: 30px;
                        @include transition();
                        padding: 0px 15px;
                    }

                    &:hover {
                        background-color: #fefefe;

                        a {
                            background-color: #eee;
                        }
                    }

                    &.current {
                        a {
                            background-color: $active-color;
                            color: #fff;
                        }
                    }
                }
            }
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #fff;
            float: left;
            margin: 0px 10px 0px 0px;
        }

        span {
            display: block;
            line-height: 40px;
            color: #fff;
            float: left;
        }
    }

    .user-control {
        float: right;

        a {
            line-height: 38px;
            color: #fff;
            border-radius: 50px;
            padding: 0px 30px;
            border: 1px solid #fff;
            @include transition();
            display: inline-block;

            &:hover {
                background-color: #fff;
                color: $base-color;
            }

            @media screen and (max-width: 991px) {
                font-size: 13px;
                padding: 0px 20px;
            }
        }
    }

    .menu {
        float: left;
        margin: 0px 0px 0px 50px;

        @media screen and (max-width: 991px) {
            float: left;
            clear: both;
            min-width: 100%;
            margin: 15px -15px 0px -15px;
            text-align: center;
            border-top: 1px solid rgba(255,255,255,0.3);
        }

        ul {
            padding: 0px;
            margin: 0px;
        }

        li {
            padding: 0px;
            display: inline-block;
            list-style: none;

            a {
                display: block;
                line-height: 38px;
                color: #fff;
                opacity: 0.8;
                font-weight: 400;
                padding: 0px 30px;
                @include transition();

                @media screen and (max-width: 1199px) {
                    padding: 0px 15px;
                }

                @media screen and (max-width: 991px) {
                    padding: 0px 15px;
                    font-size: 13px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }








    .logo-wrap {
        float: left;
        position: absolute;
        left: -20px;
        bottom: 0px;
        z-index: 2;
        box-shadow: 5px 1px 5px 0px rgba(0,0,0,0.4);
        height: 80px;
        background-color: darken($active-color,5%);
        padding: 10px 10px 10px 10px;

        @media screen and (max-width:767px) {
            left: 0px;
            line-height: 60px;

            img {
                width: 100px;
            }
        }
    }


    .header-right {
        float: right;
        position: absolute;
        top: 0px;
        right: 5px;
        z-index: 0;


        .search-box {
            width: 200px;
            padding: 15px 0px;
            position: relative;
            float: left;
            z-index: 1;

            .search-icon {
                width: 40px;
                height: 30px;
                border: none;
                outline: none;
                float: right;
                background-color: transparent;
                cursor: pointer;

                i {
                    color: #fff;
                    font-size: 25px;
                    line-height: 30px;
                    text-align: center;
                    @include transition();
                }

                &:hover {
                    i {
                    }
                }
            }

            input {
                height: 30px;
                line-height: 30px;
                background-color: #fff;
                border-radius: 3px;
                position: absolute;
                top: 15px;
                right: 40px;
                display: block;
                width: 0px;
                @include transition();
                font-weight: 300;
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 1px;
                border: none;
                outline: none;
                padding: 0px 0px;
                padding: 0px 0px;
            }
        }

        &.show-search {
            z-index: 2;

            .search-box {
                z-index: 3;

                input {
                    width: 160px;
                    padding: 0px 10px;
                }
            }
        }

        .menu-icon {
            float: left;
            background-color: $hover-color;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            z-index: 999999;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 10px 0px 0px 0px;

            i {
                @include transition();
                color: #fff;
            }

            &:hover {
                i {
                    color: #fff;
                }
            }
        }
    }
}


/*==========service=========*/
.service {
    position: relative;
    min-height: 500px;
    margin: -150px 0px 0px 0px;
    padding: 0px 0px 40px 0px;

    .service-item {
        -moz-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        transition: all ease 0.5s;
        border-radius: 10px;
        background-color: #92ebf9;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
        text-align: center;
        min-height: 250px;
        padding: 20px;
        margin-bottom: 20px;

        &:hover {
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
        }

        .si-img {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            margin: 0px auto;
            background-color: #fff;
            background-image: url(../images/icon1.png);
            background-repeat: no-repeat;
            background-position: center center;
        }

        h3 {
            margin: 10px 0px 15px 0px;
            font-size: 24px;
            font-weight: 400;
        }

        a {
            display: inline-block;
            line-height: 38px;
            background-color: #fff;
            padding: 0px 40px;
            text-align: center;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
            border-radius: 30px;
            font-weight: 400;
        }

        &.service-item2 {
            background-color: #b1bef3;

            .si-img {
                background-image: url(../images/icon2.png);
            }
        }

        &.service-item3 {
            background-color: #fee9cf;

            .si-img {
                background-image: url(../images/icon3.png);
            }
        }
    }
}

.service-caption {
    text-align: center;
    margin: 120px 0px 80px 0px;
    overflow: hidden;

    @media screen and (max-width: 991px) {
        margin: 30px 0px 20px 0px;
    }

    span {
        text-align: center;
        position: relative;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
            font-size: 20px;
        }

        &:before {
            content: "";
            width: 40px;
            height: 2px;
            position: absolute;
            display: block;
            background-color: $border-color;
            left: -100px;
            top: 45%;

            @media screen and (max-width: 991px) {
                display: none;
            }
        }

        &:after {
            content: "";
            width: 40px;
            height: 2px;
            position: absolute;
            display: block;
            background-color: $border-color;
            right: -100px;
            top: 45%;

            @media screen and (max-width: 991px) {
                display: none;
            }
        }
    }
}

.service-small-item {
    padding: 0px 0px 0px 90px;
    margin: 0px 0px 30px 0px;
    min-height: 90px;

    img {
        width: 70px;
        height: 70px;
        float: left;
        margin: 0px 0px 0px -90px;
    }

    h3 {
        margin: 0px;
        padding: 10px 0px 0px 0px;
        font-size: 16px;
        font-weight: 500;
    }

    p {
        font-size: 13px;
        margin: 0px;
        font-weight: 300;
        color: $text-color-second;
    }
}

/*==========contest=========*/
.contest {
    background-image: url(../images/bg2.jpg);
    min-height: 780px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 40px;
}

.contest-content {
    padding: 200px 0px 0px 0px;

    @media screen and (max-width: 767px) {
        padding: 130px 0px 0px 0px;
    }
}

.owl-contest-wrap {
    position: relative;

    .owl-dots {
        position: absolute;
        left: -30px;
        top: 40%;

        .owl-dot {
            display: block;
            width: 9px;
            height: 9px;
            margin: 6px 0px !important;
            background-color: transparent;
            border: 1px solid $text-color-second;
            border-radius: 50%;

            &.active, &:hover {
                border: 1px solid $active-color;
                background-color: $active-color;
            }
        }

        @media screen and (max-width: 767px) {
            position: absolute;
            left: 0px;
            right: 0px;
            top: auto;
            bottom: -40px;
            text-align: center;

            .owl-dot {
                display: inline-block;
                margin: 3px 5px !important;
            }
        }
    }

    img {
        width: auto !important;
        max-width: 100%;
        height: auto !important;
    }

    .slide-contest-des {
        padding-top: 80px;

        @media screen and (max-width: 767px) {
            padding: 0px;
        }

        h3 {
            font-size: 30px;
            font-weight: 500;
            max-width: 450px;

            @media screen and (max-width: 767px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 13px;
            font-weight: 300;
            margin: 0px 0px 30px 0px;
            max-width: 380px;
        }

        a {
            display: inline-block;
            line-height: 38px;
            padding: 0px 30px;
            color: #fff;
            background-color: $active-color;
            @include transition();
            border-radius: 30px;

            &:hover {
                background-color: $hover-color;
            }
        }
    }
}


.contest2 {
    background-color: #f8f8f8;
    background-image: none !important;
    min-height: 300px;

    .contest-content {
        padding: 100px 0px 0px 0px;
    }
}
/*==========footer=========*/
.footer {
    background-image: url(../images/bg3.png);
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 160px;
    background-color: #f8f8f8;

    &.footer-fix {
        background-image: url(../images/bg5.png);
    }

    &.footer-transparent {
        background-color: transparent;
    }

    .footer-col {
        h3 {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            margin: 0px 0px 15px 0px;
        }

        ul {
            list-style: none;
            padding: 0px;
            margin-bottom: 30px;

            li {
                margin: 15px 0px;

                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 300;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .company {
        margin-bottom: 30px;

        p {
            color: #fff;
            margin: 10px 0px;
        }
    }

    .social {
        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0px 5px 0px 0px;
            border-radius: 50%;
            @include transition();
            background-color: $brand-facebook;
            color: #fff;
            line-height: 30px;
            text-align: center;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }

            &.twitter {
                background-color: $brand-twitter;
            }

            &.google {
                background-color: $brand-google;
            }
        }
    }

    .language {
        .dropdown {
            span {
                font-size: 14px;
                font-weight: 300;
                color: #fff;
            }
        }

        .dropdown-menu {
            overflow: hidden;

            li {
                margin: 0px;

                a {
                    padding: 10px 10px;
                    color: $base-color;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.list-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.mini-test {
    h2 {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin: 40px 0px 0px 0px;

        @media screen and (max-width:991px) {
            font-size: 30px;
        }
    }

    p.sapo {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin: 15px 0px 20px 0px;
    }
}


.mini-item {
    overflow: hidden;
    position: relative;
    padding: 0px 200px 0px 140px;
    min-height: 140px;
    background-color: #fff;
    max-width: 1000px;
    margin: 20px auto 40px auto;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    min-height: 200px;


    &:hover {
        box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.4);
    }

    @media screen and (max-width: 767px) {
        padding: 0px;
    }

    .mini-left {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 140px;
        text-align: center;
        background-color: #f8f8f8;
        padding: 20px;

        @media screen and (max-width: 767px) {
            position: relative;
            width: 100%;
        }

        .mini-icon {
            background-image: url(../images/icon10.png);
            width: 70px;
            height: 57px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 10px auto 0px auto;

            &.mini-icon2 {
                background-image: url(../images/icon11.png);
            }

            &.mini-icon3 {
                background-image: url(../images/icon12.png);
            }

            &.mini-icon4 {
                background-image: url(../images/icon13.png);
            }

            &.mini-icon5 {
                background-image: url(../images/icon14.png);
            }

            &.mini-icon6 {
                background-image: url(../images/icon15.png);
            }

            &.mini-icon7 {
                background-image: url(../images/icon16.png);
            }
        }

        .mini-process {
            max-width: 200px;
            position: relative;
            margin: 10px auto 0px auto;

            p {
                margin: 0px;
                text-align: right;
                font-size: 13px;
                color: $text-color-second;
            }

            .mini-process-bar {
                position: relative;
                height: 8px;
                border-radius: 10px;
                overflow: hidden;
                background-color: #ebebeb;

                span {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    bottom: 0px;
                    background-color: #3ccfcf;
                    border-radius: 0px 10px 10px 0px;
                    display: block;
                }
            }
        }
    }

    .mini-right {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 200px;
        text-align: center;
        background-color: #ebebeb;
        text-align: center;
        padding: 25px;

        @media screen and (max-width: 767px) {
            position: relative;
            width: 100%;
        }

        .c100 {
            float: none !important;
            margin: 0px auto !important;
        }

        a {
            margin-top: 25px;
            display: inline-block;
            line-height: 38px;
            padding: 0px 30px;
            font-size: 16px;
            color: #fff;
            border-radius: 30px;
            background-color: #4257b2;
            box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
            @include transition();

            &:hover {
                background-color: $active-color;
            }

            @media screen and (max-width: 767px) {
                margin-top: 15px;
            }
        }
    }
}

.mini-content {
    padding: 20px;

    h3 {
        color: #4257b2;
        font-size: 18px;
        font-weight: 700;
        margin: 0px;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        margin: 10px 0px 0px 0px;
    }
}

/*********full-test*/
.full-test {
    background-image: url(../images/bg4.png);
    min-height: 690px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 100px 0px 0px 0px;
    text-align: center;
    padding-bottom: 40px;

    h2 {
        font-size: 49px;
        font-weight: 700;

        @media screen and (max-width: 991px) {
            font-size: 30px;
        }
    }

    p.sapo {
        font-size: 16px;
        font-weight: 300;
    }

    .full-item {
        background-color: #fff;
        margin: 40px auto 0px auto;
        border-radius: 5px;
        overflow: hidden;
        max-width: 440px;
        padding: 30px 0px 0px 0px;

        h3 {
            margin: 35px 0px 0px 0px;
            font-size: 18px;
            font-weight: 500;
        }

        p {
            margin: 10px 0px 50px 0px;
            font-weight: 300;
        }
    }

    .full-item-control {
        background-color: #ebebeb;
        padding: 0px 0px 30px 0px;
        margin: 0px 0px 0px 0px;

        .btn-frame {
            margin-top: -20px;
            float: left;
            width: 100%;
            clear: both;
        }

        a {
            display: inline-block;
            line-height: 38px;
            padding: 0px 40px;
            font-size: 16px;
            color: #fff;
            border-radius: 30px;
            background-color: #4257b2;
            box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
            @include transition();

            &:hover {
                background-color: $active-color;
            }
        }

        .mini-process {
            max-width: 140px;
            position: relative;
            margin: 20px auto 0px auto;
            position: relative;
            padding: 0px 30px 0px 0px;

            em {
                margin: 0px;
                text-align: right;
                font-size: 13px;
                color: $text-color-second;
                position: absolute;
                right: 0px;
                top: -2px;
                font-style: normal;
                line-height: 10px;
            }

            .mini-process-bar {
                position: relative;
                height: 8px;
                border-radius: 10px;
                overflow: hidden;
                background-color: #fff;

                span {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    bottom: 0px;
                    background-color: #3ccfcf;
                    border-radius: 0px 10px 10px 0px;
                    display: block;
                }
            }
        }
    }
}

/******************login-page*/
.modal {
    text-align: center;
}

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-login {
    min-height: 200px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 7px;
    margin: 0px auto;

    .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.7;
        @include transition();

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .modal-dialog {
        width: auto;
    }
}

.login-page {



    h2 {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin: 40px auto 30px auto;

        @media screen and (max-width:991px) {
            font-size: 30px;
        }
    }
}

.login-box {
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0px;
    position: relative;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    position: relative;


    @media screen and (max-width:991px) {
        padding: 20px;
    }

    .login-left {
        width: 40%;
        float: left;

        @media screen and (max-width:767px) {
            width: 100%;
            float: none;
        }

        .login-feild {
            margin: 0px 0px 20px 0px;

            p {
                font-size: 16px;
                margin: 5px 0px;
                font-weight: 400;
            }

            .text-feild {
                position: relative;
                width: 100%;
                height: 40px;
                padding: 0px 0px 0px 0px;

                input {
                    border: 1px solid $border-color;
                    background-color: transparent;
                    padding: 0px 0px 0px 40px;
                    width: 100%;
                    height: 40px;
                    outline: none;
                    border-radius: 50px;
                }

                i {
                    display: block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: $text-color-second;
                }
            }
        }

        .btn-login {
            display: block;
            width: 100%;
            background-color: #4257b2;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            line-height: 40px;
            border: none;
            border-radius: 30px;
            text-align: center;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
            @include transition();

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }

        .remember {
            padding: 15px 10px;

            label {
                float: left;
                font-weight: 300;
                font-size: 15px;
            }

            a {
                float: right;
                font-weight: 300;
                color: #4257b2;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .login-right {
        width: 40%;
        float: right;
        padding: 90px 0px 0px 0px;

        @media screen and (max-width:767px) {
            width: 100%;
            float: none;
            padding: 10px 0px 0px 0px;
        }

        a {
            display: block;
            margin: 0px 0px 30px 0px;
            height: 45px;
            width: 100%;
            border-radius: 30px;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
            @include transition();
            color: #fff;
            font-weight: 500;
            text-align: center;
            font-size: 12px;
            line-height: 45px;
            background-color: $brand-google;

            i {
                margin: 0px 10px 0px 0px;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }

            &.facebook {
                background-color: $brand-facebook;
            }

            @media screen and (max-width:767px) {
                font-size: 13px;
            }
        }
    }

    .login-line {
        position: absolute;
        top: 40px;
        bottom: 40px;
        width: 1px;
        background-color: $border-color;
        left: 50%;

        span {
            position: absolute;
            width: 60px;
            height: 60px;
            border: 1px solid $border-color;
            background-color: #fff;
            display: block;
            line-height: 60px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: -30px;
            margin-top: -30px;
            border-radius: 50%;
        }

        @media screen and (max-width:767px) {
            position: relative;
            margin: 30px 0px 40px auto !important;
            top: auto;
            width: 100%;
            height: 1px;
            left: auto;
            bottom: auto;

            span {
                left: 50%;
                margin: -30px 0px 0px -30px;
            }
        }
    }
}

/**************test*/
.page-test * {
    font-family: Arial;

    .fa {
        font-family: FontAwesome;
    }
}

.test-topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    height: 65px;
    background-color: $active-color-second;
    padding: 0px 15px;
    position: relative;

    h1 {
        line-height: 65px;
        margin: 0px;
        color: #fff;
        font-weight: 400;
        font-size: 20px;
        padding: 0px 150px 0px 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (max-width:991px) {
            font-size: 17px;
        }
    }

    .btn-finish {
        float: right;
        top: 13px;
        right: 15px;
        position: absolute;
        height: 40px;
        background-color: lighten($active-color-second,10%);
        border-radius: 3px;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 40px;
        font-weight: 500;
        font-weight: bold;
        color: #fff;
        padding: 0px 20px;
        @include transition();

        @media screen and (max-width:991px) {
            font-size: 14px;
        }

        &:hover {
            background-color: lighten($active-color-second,5%);
        }
    }
}

.test-left {
    position: fixed;
    left: 0px;
    right: 320px;
    bottom: 0px;
    top: 65px;
    background-color: #f4f4f4;
    z-index: 9;

    @media screen and (max-width:1199px) {
        right: 0px;
    }
}

.open-test-right {
    width: 45px;
    height: 45px;
    background-color: #4257b2;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    bottom: 60px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    @include transition();

    &:hover {
        background-color: $active-color-second;
        cursor: pointer;
    }

    i {
        display: block;
        font-size: 35px;
        line-height: 15px;
        height: 45px;
        line-height: 45px;
        text-align: center;
    }
}

.close-test-right {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    top: 0px;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.test-right {
    position: fixed;
    z-index: 9;
    right: 0px;
    width: 320px;
    bottom: 0px;
    top: 65px;
    border-left: 1px solid $border-color-second;
    background-color: #fff;


    @media screen and (max-width:1199px) {
        right: -320px;
        width: 270px;
        z-index: 9999;
        @include transition();
    }
}

.test-right-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    @include transition();
}

.show-test-bottom {

    .test-bottom {
        bottom: 0px;
    }

    .test-left {
        bottom: 400px;
    }

    .test-right {
        bottom: 400px;
    }

    .tl-bottom {
        display: none;
    }

    .tl-content {
        bottom: 0px;
    }
}

@media screen and (max-width:1199px) {
    .show-test-bottom {

        .test-bottom {
            left: 0px;
        }

        .test-left {
            bottom: 0px;
        }

        .test-right {
            bottom: 0px;
        }

        .tl-bottom {
            display: none;
        }

        .tl-content {
            bottom: 0px;
        }

        .test-right-backdrop {
            visibility: visible;
            opacity: 1;
            z-index: 9;
        }

        .open-test-right {
            display: none;
        }
    }
}

.test-bottom {
    position: fixed;
    z-index: 9;
    right: 0px;
    width: 100%;
    left: 0px;
    height: 400px;
    bottom: -400px;
    border-top: 1px solid $border-color-second;
    background-color: #fff;

    @include transition();


    @media screen and (max-width:1199px) {
        left: -300px;
        width: 270px;
        z-index: 9999;
        bottom: 0px;
        top: 65px;
        border: none;
        border-right: 1px solid $border-color-second;
        height: auto;
        @include transition();
    }

    .tb-wrap {
        padding: 0px 15px;
        max-width: 1200px;
        margin: 0px auto;
    }

    .tb-bar {
        height: 50px;
        border-bottom: 1px solid $border-color-second;

        @media screen and (max-width:1199px) {
        }

        .tb-bar-left {
            float: left;

            i {
                float: left;
                line-height: 50px;
                color: $success-color;
                font-size: 30px;
                margin: 0px 10px 0px 0px;
            }

            p {
                line-height: 50px;
                margin: 0px;
                font-size: 20px;
                float: left;
                font-weight: 600;

                @media screen and (max-width:991px) {
                    font-size: 15px;
                }
            }

            span {
                font-weight: normal;
                font-size: 12px;
                background-color: $border-color-second;
                padding: 2px 10px;
                border-radius: 10px;
                line-height: 20px;
                float: left;
                margin: 13px 0px 0px 10px;

                @media screen and (max-width:1199px) {
                    margin: 13px 5px 0px -10px;
                }
            }
        }

        .tb-tap-caption {
            height: 50px;
            float: left;
            margin: 0px 0px 0px 150px;

            @media screen and (max-width:1199px) {
                margin: 0px;
                border-right: 1px solid $border-color-second;
            }

            em {
                float: left;
                height: 49px;
                font-style: normal;
                line-height: 49px;
                border-left: 1px solid $border-color-second;
                font-size: 13px;
                border-bottom: 3px solid #fff;
                padding: 0px 20px;

                i {
                    color: $text-color-second;
                }

                @media screen and (max-width:1199px) {
                    padding: 0px 10px;
                    border-bottom: none !important;
                }

                &.current {
                    border-bottom: 3px solid $active-color-second;
                    color: $active-color-second;

                    i {
                        color: $active-color-second;
                    }
                }

                i {
                    font-size: 15px;
                    margin: 0px;
                }
            }
        }

        .tb-bar-right {
            float: right;

            @media screen and (max-width:1199px) {
                margin: 0px -15px 0px 0px;
            }

            button {
                float: left;
                height: 50px;
                line-height: 50px;
                background-color: transparent;
                border: none;
                border-left: 1px solid $border-color-second;
                min-width: 40px;
                padding: 0px 10px;
                font-size: 15px;
                color: $active-color-second;
                @include transition();

                &:hover {
                    opacity: 0.8;
                }

                @media screen and (max-width:767px) {
                    font-size: 13px;
                    padding: 0px 5px;
                }

                i {
                    margin: 0px 3px;
                }

                &.icon-test-bottom {
                    background-color: #eee;
                    border-right: 1px solid $border-color-second;
                    @include transition();

                    &:hover {
                        background-color: $active-color-second;
                        color: #fff;
                    }
                }
            }
        }
    }

    .tb-content {
        position: absolute;
        top: 50px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 350px;
        overflow: auto;

        @media screen and (max-width:1199px) {
            top: 100px;
        }


        .tb-content-info {
            float: left;
            min-height: 150px;
            padding: 20px 20px 0px 10px;
            width: 300px;

            @media screen and (max-width:1199px) {
                float: none;
                border: none;
                width: 100%;
                min-height: 10px;
            }

            p {
                margin: 5px 0px;

                span {
                    color: $success-color;
                }
            }
        }

        .tb-tab {
            margin: 10px 0px 0px 40px;
            float: left;

            @media screen and (max-width:1199px) {
                float: none;
                border: none;
                width: 100%;
                margin: 10px 0px;
            }
        }

        .tb-tap-content {
            padding: 10px 0px 0px 0px;



            p {
                margin: 7px 0px;
                font-size: 13px;

                &.success {
                    color: $success-color;
                }

                &.error {
                    color: $error-color;
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .show-test-right {
        .test-right {
            right: 0px;
        }

        .test-right-backdrop {
            visibility: visible;
            opacity: 1;
            z-index: 9;
        }
    }
}

.tl-bar {
    height: 50px;
    border-bottom: 1px solid $border-color-second;
    background-color: #fff;

    a {
        height: 50px;
        float: left;
        border-bottom: 3px solid transparent;
        line-height: 50px;
        margin: 0px 10px;
        padding: 0px 5px;

        &.active {
            border-bottom: 3px solid $active-color-second;
            color: $active-color-second;
        }
    }
}

.course-box {
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
    margin: 0px -15px 10px -15px;
    padding: 0px 15px;

    .cb-caption {
        border-bottom: 1px solid $border-color;
        line-height: 35px;
        cursor: pointer;
        color: $active-color-second;
        margin: 0px 0px 0px 0px;

        i {
            color: $active-color-second;
            margin: 0px 5px 0px 0px;
        }
    }

    .cb-content {
        padding: 15px 0px;
    }

    &.course-box-close {
        .cb-caption {
            color: $text-color;

            i {
                color: $text-color;
            }
        }
    }
}

.tr-bar {
    height: 50px;
    border-bottom: 1px solid $border-color-second;
    background-color: #fff;

    span {
        height: 50px;
        float: left;
        border-bottom: 3px solid $active-color-second;
        color: $active-color-second;
        line-height: 50px;
        margin: 0px 10px;

        i {
            margin: 0px 5px 0px 0px;
            float: left;
            font-size: 17px;
            line-height: 50px;

            &:before {
                line-height: 50px;
            }
        }
    }
}

.tr-content {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 50px;
    right: 0px;
    overflow: auto;
}

.tl-content {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 50px;
    right: 0px;
    overflow: auto;

    .tl-content-left {
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 0px;
        width: 50%;
        overflow: auto;
        background-color: #fff;

        @media screen and (max-width:1199px) {
            position: relative;
            left: unset;
            right: unset;
            bottom: unset;
            top: unset;
            width: 100%;
            background-color: transparent;
        }
    }

    .tl-content-right {
        position: absolute;
        right: 0px;
        bottom: 0px;
        top: 0px;
        width: 50%;
        overflow: auto;

        @media screen and (max-width:1199px) {
            position: relative;
            left: unset;
            right: unset;
            bottom: unset;
            top: unset;
            width: 100%;
        }
    }
}

.tl-bottom {
    height: 50px;
    border-top: 1px solid $border-color-second;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    background-color: #fff;
    padding: 10px;

    .btn-prev {
        float: left;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        padding: 0px 10px;
        text-transform: uppercase;
        color: $base-color;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        background-color: rgba(0,0,0,0.2);
        @include transition();

        &:hover {
            background-color: rgba(0,0,0,0.6);
            color: #fff;
        }
    }

    .btn-next {
        font-size: 12px;
        border-radius: 3px;
        float: right;
        height: 30px;
        line-height: 30px;
        padding: 0px 10px;
        text-transform: uppercase;
        color: $base-color;
        border: none;
        background-color: $active-color-second;
        color: #fff;
        @include transition();

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

.tr-bottom {
    height: 50px;
    border-top: 1px solid $border-color-second;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    background-color: #fff;
    text-align: center;

    .gt {
        display: inline-block;
        line-height: 50px;
        margin: 0px auto;

        span {
            font-size: 12px;
        }

        position: relative;

        &:hover {
            .gt-pop {
                display: block;
            }
        }

        .gt-pop {
            position: absolute;
            bottom: 100%;
            left: -50px;
            width: 150px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 3px 12px rgba(0,0,0,.175);
            border-radius: 3px;
            text-align: left;
            display: none;

            p {
                margin: 10px 0px;
                line-height: 15px;
                font-size: 12px;

                em {
                    float: left;
                    width: 15px;
                    height: 15px;
                    margin: 0px 10px 0px 0px;
                    display: block;
                    position: relative;
                    border-radius: 50%;
                    border: 2px solid $border-color;
                    color: #aaa;
                    font-size: 13px;
                    line-height: 11px;
                    text-align: center;
                    @include transition();
                    position: relative;

                    &.success {
                        border-color: $success-color;
                        color: #fff;
                        background-color: $success-color;
                    }

                    &.error {
                        border-color: $error-color;
                        color: #fff;
                        background-color: $error-color;
                    }

                    &.skip {
                        border-color: #aab8c2;
                        color: #fff;
                        background-color: #aab8c2;
                    }

                    &.attempt {
                        border-color: $active-color-second;
                        color: #fff;
                        background-color: $active-color-second;
                    }

                    &.current {
                        border-radius: 3px;
                    }

                    &.bookmark {
                        &:before {
                            content: "\f02e";
                            font: normal normal normal 14px/1 FontAwesome;
                            display: block;
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            font-size: 11px;
                            z-index: 9;
                            bottom: -4px;
                            right: 0px;
                            color: $brand-youtube;
                        }
                    }
                }
            }
        }
    }
}

.content-inner {
    padding: 15px;
}

.box-question {
    min-height: 200px;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    max-width: 800px;
    margin: 0px auto 0px auto;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid $border-color-second;

    .box-question-bar {
        height: 40px;

        .number {
            float: left;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 0px 10px 0px 0px;
            border: 2px solid #aaa;
            color: #aaa;
            font-size: 12px;
            line-height: 26px;
            text-align: center;
            @include transition();
            position: relative;

            &.success {
                border-color: $success-color;
                background-color: $success-color;
                color: #fff;
            }

            &.error {
                border-color: $error-color;
                background-color: $error-color;
                color: #fff;
            }

            &.bookmark {
                &:before {
                    content: "\f02e";
                    font: normal normal normal 14px/1 FontAwesome;
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    font-size: 11px;
                    z-index: 9;
                    bottom: -4px;
                    right: 0px;
                    color: $brand-youtube;
                }
            }
        }

        .btn-bookmark {
            float: right;
            margin: 0px 0px 0px 10px;
            line-height: 30px;
            height: 30px;
            border: 1px solid $border-color;
            padding: 0px 20px;
            border-radius: 30px;
            color: $text-color-second;
            font-size: 12px;
            background-color: transparent;
            @include transition();
            outline: none;

            &.bookmarked {
                border: 1px solid $active-color-second;
                color: $active-color-second;
            }
        }
    }

    .box-question-content {
        padding: 0px 30px;

        p {
            margin: 10px 0px;
        }

        img {
            margin: 0px auto;
            max-width: 100%;
        }
    }
}

.box-answer {
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    max-width: 800px;
    margin: 15px auto 0px auto;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid $border-color-second;
    position: relative;
    overflow: hidden;

    &.success {
        border: 1px solid $success-color;
        background-color: lighten($success-color,50%);

        em {
            position: absolute;
            bottom: 0px;
            right: 0px;
            color: #fff;
            background-color: $success-color;
            display: inline-block;
            padding: 0px 5px;
            border-radius: 3px 0px 0px 0px;
            font-style: normal;
            font-size: 12px;
        }

        .number {
            border-color: $success-color;
            color: #fff;
            background-color: $success-color;
        }
    }

    &.error {
        border: 1px solid $error-color;
        background-color: lighten($error-color,40%);

        em {
            position: absolute;
            bottom: 0px;
            right: 0px;
            color: #fff;
            background-color: $error-color;
            display: inline-block;
            padding: 0px 5px;
            border-radius: 3px 0px 0px 0px;
            font-style: normal;
            font-size: 12px;
        }

        .number {
            border-color: $error-color;
            color: #fff;
            background-color: $error-color;
        }
    }

    p {
        margin: 10px 0px;
        line-height: 30px;
        padding: 0px;
    }

    .number {
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0px 20px 0px 0px;
        border: 2px solid $border-color;
        color: #aaa;
        font-size: 12px;
        line-height: 26px;
        text-align: center;
        @include transition();
        position: relative;
    }
}

.statis-info {
    padding: 20px 0px;

    p {
        margin: 10px 0px;
        font-size: 13px;
        min-height: 20px;
        line-height: 20px;

        span {
            float: left;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            margin: 0px 10px 0px 0px;
            background-color: $success-color;

            &.error {
                background-color: $error-color;
            }
        }
    }
}

.box-comment {
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    max-width: 800px;
    margin: 15px auto 0px auto;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid $border-color-second;
    position: relative;
    overflow: hidden;

    h3 {
        font-weight: 600;
        margin: 10px 0px;
        font-size: 13px;
    }
}

.fb-comments {
    width: 100%;
}

.result-list {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
        float: left;
        margin: 0px 10px 10px 0px;

        span {
            display: block;
            position: relative;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin: 0px 0px 0px 0px;
            border: 2px solid $border-color;
            color: #aaa;
            font-size: 13px;
            line-height: 31px;
            text-align: center;
            @include transition();
            position: relative;

            &.success {
                border-color: $success-color;
                color: #fff;
                background-color: $success-color;
            }

            &.error {
                border-color: $error-color;
                color: #fff;
                background-color: $error-color;
            }

            &.skip {
                border-color: #aab8c2;
                color: #fff;
                background-color: #aab8c2;
            }

            &.attempt {
                border-color: $active-color-second;
                color: #fff;
                background-color: $active-color-second;
            }

            &.current {
                border-radius: 3px;
            }

            &.bookmark {
                &:before {
                    content: "\f02e";
                    font: normal normal normal 14px/1 FontAwesome;
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    font-size: 11px;
                    z-index: 9;
                    bottom: -4px;
                    right: 0px;
                    color: $brand-youtube;
                }
            }
        }
    }
}
