/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
h1,
.h1 {
  font-size: 35px; }

h2,
.h2 {
  font-size: 30px; }

h3,
.h3 {
  font-size: 25px; }

h4,
.h4 {
  font-size: 20px; }

h5,
.h5 {
  font-size: 18px; }

h6,
.h6 {
  font-size: 15px; }

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold.woff2") format("woff2"), url("../fonts/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold.ttf") format("truetype"), url("../fonts/HelveticaBold.svg") format("svg"); }

@font-face {
  font-family: 'HelveticaRegular';
  src: url("../fonts/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular.woff2") format("woff2"), url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.ttf") format("truetype"), url("../fonts/HelveticaBold.svg") format("svg"); }

/*==========Setting=========*/
html {
  font-size: 100%;
  height: 100%; }

body {
  background-color: #f4f4f4;
  font-family: "HelveticaRegular", sans-serif;
  min-width: 360px;
  font-size: 14px;
  line-height: 1.5;
  color: #adadad; }
  body.bg {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; }

dt,
dd {
  line-height: 1.5; }

body,
html {
  height: 100%; }

a:hover {
  text-decoration: none;
  color: inherit; }

a {
  color: inherit; }

a:active,
a:focus {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

iframe {
  width: 100%;
  border: none; }

::selection {
  background: #a92133;
  color: #fff; }

/*==========Components=========*/
.my-btn {
  display: inline-block;
  line-height: 50px;
  padding: 0px 30px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #a92133;
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
  font-weight: 600;
  border: none;
  position: relative;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  transition: all ease 0.3s;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05); }
  .my-btn:hover {
    background-color: #a92133;
    outline: none;
    color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); }
  .my-btn:active {
    color: #fff;
    top: 1px; }
  .my-btn:visited {
    color: #fff; }
  .my-btn.active {
    background-color: #a92133;
    outline: none;
    color: #fff; }
    .my-btn.active:hover {
      opacity: 0.8; }

.row-fix {
  margin-left: -10px;
  margin-right: -10px; }
  .row-fix .col-fix {
    padding-left: 10px;
    padding-right: 10px; }

#page-loader {
  background-color: #a92133;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999; }

/*==========Header=========*/
.header {
  padding: 50px 50px 0px 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999; }
  @media screen and (max-width: 1400px) {
    .header {
      padding: 30px 30px 0px 30px; } }
  @media screen and (max-width: 1199px) {
    .header {
      padding: 30px 30px 0px 30px; } }
  @media screen and (max-width: 991px) {
    .header {
      padding: 15px 15px 0px 15px; } }
  @media screen and (max-width: 767px) {
    .header {
      position: absolute; } }
  .header a.logo {
    float: left; }
    @media screen and (max-width: 991px) {
      .header a.logo img {
        height: 40px; } }
  .header .header-right {
    float: right; }
    .header .header-right .sign-in {
      display: inline-block;
      line-height: 50px;
      height: 50px;
      float: left;
      padding: 0px 15px;
      text-transform: uppercase;
      font-family: "HelveticaRegular", sans-serif;
      font-weight: 600;
      color: #fff;
      font-size: 20px;
      background-color: #a92133;
      transition: all ease 0.4s; }
      @media screen and (max-width: 991px) {
        .header .header-right .sign-in {
          font-size: 16px;
          height: 30px;
          line-height: 30px; } }
      .header .header-right .sign-in:hover {
        background-color: #d42940; }
    .header .header-right .menu-icon {
      float: left;
      display: inline-block;
      margin: 0px 0px 0px 20px;
      width: 50px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 15px;
      background-color: #a92133;
      cursor: pointer;
      transition: all ease 0.4s; }
      @media screen and (max-width: 991px) {
        .header .header-right .menu-icon {
          font-size: 16px;
          height: 30px;
          line-height: 30px;
          width: 30px; } }
      .header .header-right .menu-icon:hover {
        background-color: #d42940; }

.page {
  height: 100%; }

.section-one {
  height: 100%;
  background-color: #a92133;
  background-image: url(../images/pattern.png);
  position: relative; }
  .section-one .section-one-left {
    width: 62%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px; }
    @media screen and (max-width: 767px) {
      .section-one .section-one-left {
        width: 100%; } }
    .section-one .section-one-left .sol-flex {
      position: absolute;
      top: 100px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section-one .section-one-left .sol-flex .sol-des {
        width: 100%;
        padding: 0px 20px; }
        .section-one .section-one-left .sol-flex .sol-des .sol-des-inner {
          margin: 0px auto;
          max-width: 640px; }
        .section-one .section-one-left .sol-flex .sol-des h1 {
          font-weight: 700;
          font-size: 69px;
          margin: 0px;
          padding: 0px;
          color: #fff;
          text-transform: uppercase; }
          @media screen and (max-width: 1199px) {
            .section-one .section-one-left .sol-flex .sol-des h1 {
              font-size: 50px; } }
          @media screen and (max-width: 991px) {
            .section-one .section-one-left .sol-flex .sol-des h1 {
              font-size: 40px; } }
          @media screen and (max-width: 575px) {
            .section-one .section-one-left .sol-flex .sol-des h1 {
              font-size: 30px; } }
        .section-one .section-one-left .sol-flex .sol-des p {
          font-family: "Montserrat", sans-serif;
          font-size: 19px;
          font-weight: 500;
          color: #fff;
          margin: 0px 0px 20px 0px; }
          @media screen and (max-width: 1199px) {
            .section-one .section-one-left .sol-flex .sol-des p {
              font-size: 16px; } }
        .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col {
          float: left;
          margin: 0px 20px 10px 0px;
          background-color: #353535;
          color: #fff;
          width: 110px;
          height: 110px;
          padding: 10px;
          text-align: center;
          box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.1); }
          .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col em {
            font-size: 14px;
            color: #adadad;
            font-style: normal;
            display: block;
            margin: 0px 0px 10px 0px;
            text-align: left; }
          .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col span {
            font-size: 65px;
            color: #fff;
            font-family: "HelveticaBold", sans-serif;
            line-height: 1;
            text-align: center; }
          @media screen and (max-width: 1199px) {
            .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col {
              width: 90px;
              height: 90px;
              margin: 0px 10px 0px 0px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col span {
                font-size: 50px; } }
          @media screen and (max-width: 991px) {
            .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col {
              width: 70px;
              height: 80px;
              margin: 0px 10px 10px 0px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col span {
                font-size: 40px; } }
          @media screen and (max-width: 575px) {
            .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col {
              width: 50px;
              height: 60px;
              margin: 0px 10px 10px 0px;
              padding: 5px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col em {
                font-size: 10px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .cd-col span {
                font-size: 20px; } }
        .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot {
          float: left;
          margin: 0px 0px 0px 0px;
          background-color: #353535;
          color: #fff;
          height: 110px;
          padding: 10px;
          box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.1); }
          .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot em {
            font-size: 25px;
            color: #adadad;
            text-transform: uppercase;
            font-style: normal;
            font-family: "HelveticaBold", sans-serif;
            display: block;
            margin: 0px 0px 10px 0px;
            text-align: left; }
          .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot .jackpot-number span {
            display: inline-block;
            font-size: 20px;
            color: #fff;
            height: 35px;
            min-width: 25px;
            line-height: 40px;
            text-align: center;
            margin: 0px 5px 0px 0px;
            font-family: "HelveticaBold", sans-serif;
            background-color: #fbb11a; }
          .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot .jackpot-number strong {
            display: inline-block;
            font-size: 20px;
            color: #fff;
            height: 35px;
            line-height: 40px;
            text-align: center;
            margin: 0px 0px 0px 0px;
            font-family: "HelveticaBold", sans-serif; }
          @media screen and (max-width: 1199px) {
            .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot {
              height: 90px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot em {
                font-size: 18px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot .jackpot-number span {
                display: inline-block;
                font-size: 20px;
                color: #fff;
                height: 30px;
                min-width: 25px;
                line-height: 35px;
                text-align: center;
                margin: 0px 5px 0px 0px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot .jackpot-number strong {
                display: inline-block;
                font-size: 20px;
                color: #fff;
                height: 30px;
                line-height: 35px;
                text-align: center; } }
          @media screen and (max-width: 991px) {
            .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot {
              height: 80px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot em {
                font-size: 20px;
                color: #adadad;
                text-transform: uppercase;
                font-style: normal;
                font-family: "HelveticaBold", sans-serif;
                display: block;
                margin: 0px 0px 3px 0px;
                text-align: left; } }
          @media screen and (max-width: 575px) {
            .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot {
              height: 60px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot em {
                font-size: 10px;
                margin: 0px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot .jackpot-number span {
                display: inline-block;
                font-size: 15px;
                color: #fff;
                height: 30px;
                min-width: 20px;
                line-height: 30px;
                text-align: center;
                margin: 0px 5px 0px 0px; }
              .section-one .section-one-left .sol-flex .sol-des .count-down .jackpot .jackpot-number strong {
                display: inline-block;
                font-size: 15px;
                color: #fff;
                height: 30px;
                line-height: 30px;
                text-align: center; } }
        .section-one .section-one-left .sol-flex .sol-des .sol-control {
          margin: 60px 0px 0px 0px; }
          @media screen and (max-width: 1199px) {
            .section-one .section-one-left .sol-flex .sol-des .sol-control {
              margin: 30px 0px 0px 0px; } }
          .section-one .section-one-left .sol-flex .sol-des .sol-control .sol-btn {
            font-family: "Montserrat", sans-serif;
            color: #fff;
            display: inline-block;
            line-height: 60px;
            font-size: 20px;
            text-transform: uppercase;
            padding: 0px 50px;
            background-color: #fbb11a;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            transition: all ease 0.4s; }
            .section-one .section-one-left .sol-flex .sol-des .sol-control .sol-btn:hover {
              cursor: pointer;
              background-color: #fcc24c; }
            @media screen and (max-width: 991px) {
              .section-one .section-one-left .sol-flex .sol-des .sol-control .sol-btn {
                font-size: 18px;
                line-height: 40px;
                padding: 0px 30px; } }
  .section-one .section-one-right {
    width: 38%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(../images/video_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    @media screen and (max-width: 767px) {
      .section-one .section-one-right {
        display: none; } }
    .section-one .section-one-right .play-icon {
      width: 100px;
      height: 100px;
      position: absolute;
      left: -50px;
      top: 50%;
      margin: -50px 0px 0px 0px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 50%;
      background-image: url(../images/icon_play.png);
      background-repeat: no-repeat;
      background-position: center center;
      transition: all ease 0.4s;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); }
      .section-one .section-one-right .play-icon:hover {
        cursor: pointer;
        background-color: #fbb11a; }
  @media screen and (max-width: 991px) {
    .section-one {
      height: auto;
      padding: 160px 0px 60px 0px; }
      .section-one .section-one-left {
        position: relative;
        top: unset;
        left: unset;
        bottom: unset; }
        .section-one .section-one-left .sol-flex {
          position: relative;
          top: unset;
          left: unset;
          bottom: unset; } }

.middle {
  padding: 0px 0px 0px 290px;
  min-height: 1000px;
  position: relative; }
  @media screen and (max-width: 1400px) {
    .middle {
      padding: 0px 0px 0px 220px; } }
  @media screen and (max-width: 1199px) {
    .middle {
      padding: 0px; } }
  .middle .middle-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 290px;
    background-color: #a92133;
    background-image: url(../images/pattern.png);
    bottom: 0px; }
    @media screen and (max-width: 1400px) {
      .middle .middle-left {
        width: 220px; } }
    @media screen and (max-width: 1199px) {
      .middle .middle-left {
        display: none !important; } }
    .middle .middle-left .count-down {
      max-width: 200px;
      margin: 0px auto; }
      .middle .middle-left .count-down .cd-col {
        margin: 0px 0px 15px 0px;
        background-color: #353535;
        color: #fff;
        width: 100px;
        height: 100px;
        padding: 10px;
        text-align: center;
        box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.1); }
        .middle .middle-left .count-down .cd-col em {
          font-size: 14px;
          color: #adadad;
          font-style: normal;
          display: block;
          margin: 0px 0px 10px 0px;
          text-align: left; }
        .middle .middle-left .count-down .cd-col span {
          font-size: 60px;
          color: #fff;
          font-family: "HelveticaBold", sans-serif;
          line-height: 1;
          text-align: center; }
        @media screen and (max-width: 1199px) {
          .middle .middle-left .count-down .cd-col {
            width: 90px;
            height: 90px;
            margin: 0px 0px 10px 0px; }
            .middle .middle-left .count-down .cd-col span {
              font-size: 50px; } }
        @media screen and (max-width: 575px) {
          .middle .middle-left .count-down .cd-col {
            width: 50px;
            height: 60px;
            margin: 0px 0px 10px 0px;
            padding: 5px; }
            .middle .middle-left .count-down .cd-col em {
              font-size: 10px; }
            .middle .middle-left .count-down .cd-col span {
              font-size: 20px; } }
      .middle .middle-left .count-down .jackpot {
        width: 100%;
        margin: 0px 0px 0px 0px;
        background-color: #353535;
        color: #fff;
        padding: 10px;
        box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.1); }
        .middle .middle-left .count-down .jackpot em {
          font-size: 18px;
          color: #adadad;
          text-transform: uppercase;
          font-style: normal;
          font-family: "HelveticaBold", sans-serif;
          display: block;
          margin: 0px 0px 5px 0px;
          text-align: left; }
        .middle .middle-left .count-down .jackpot .jackpot-number span {
          display: inline-block;
          font-size: 18px;
          color: #fff;
          height: 30px;
          min-width: 20px;
          line-height: 30px;
          text-align: center;
          margin: 0px 5px 0px 0px;
          font-family: "HelveticaBold", sans-serif;
          background-color: #fbb11a; }
        .middle .middle-left .count-down .jackpot .jackpot-number strong {
          display: inline-block;
          font-size: 20px;
          color: #fff;
          height: 30px;
          line-height: 30px;
          text-align: center;
          margin: 0px 0px 0px 0px;
          font-family: "HelveticaBold", sans-serif; }
        @media screen and (max-width: 1199px) {
          .middle .middle-left .count-down .jackpot {
            height: 90px; }
            .middle .middle-left .count-down .jackpot em {
              font-size: 18px; }
            .middle .middle-left .count-down .jackpot .jackpot-number span {
              display: inline-block;
              font-size: 20px;
              color: #fff;
              height: 30px;
              min-width: 30px;
              line-height: 30px;
              text-align: center;
              margin: 0px 5px 0px 0px; }
            .middle .middle-left .count-down .jackpot .jackpot-number strong {
              display: inline-block;
              font-size: 20px;
              color: #fff;
              height: 30px;
              line-height: 30px;
              text-align: center; } }
        @media screen and (max-width: 575px) {
          .middle .middle-left .count-down .jackpot {
            height: 60px; }
            .middle .middle-left .count-down .jackpot em {
              font-size: 10px;
              margin: 0px; }
            .middle .middle-left .count-down .jackpot .jackpot-number span {
              display: inline-block;
              font-size: 15px;
              color: #fff;
              height: 30px;
              min-width: 20px;
              line-height: 30px;
              text-align: center;
              margin: 0px 5px 0px 0px; }
            .middle .middle-left .count-down .jackpot .jackpot-number strong {
              display: inline-block;
              font-size: 15px;
              color: #fff;
              height: 30px;
              line-height: 30px;
              text-align: center; } }
      .middle .middle-left .count-down .sol-control {
        margin: 20px 0px 0px 0px; }
        .middle .middle-left .count-down .sol-control .sol-btn {
          font-family: "Montserrat", sans-serif;
          color: #fff;
          display: inline-block;
          line-height: 40px;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          padding: 0px 10px;
          background-color: #fbb11a;
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          transition: all ease 0.4s; }
          .middle .middle-left .count-down .sol-control .sol-btn:hover {
            cursor: pointer;
            background-color: #fcc24c; }
          @media screen and (max-width: 991px) {
            .middle .middle-left .count-down .sol-control .sol-btn {
              font-size: 18px;
              line-height: 40px;
              padding: 0px 30px; } }

.container.fix-width {
  max-width: 1070px; }
  @media screen and (max-width: 1400px) {
    .container.fix-width {
      max-width: 1000px; } }

.box-one {
  padding: 100px 0px;
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff; }
  @media screen and (max-width: 991px) {
    .box-one {
      padding: 50px 0px; } }

.box-one-content {
  padding: 0px 300px 0px 0px;
  position: relative; }
  @media screen and (max-width: 991px) {
    .box-one-content {
      padding: 0px; } }
  .box-one-content .box-one-ticket {
    position: absolute;
    right: 0px;
    bottom: 15px;
    width: 270px;
    background-color: #fab01a;
    box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 20px; }
    @media screen and (max-width: 991px) {
      .box-one-content .box-one-ticket {
        position: relative;
        bottom: unset;
        right: unset;
        margin: 15px 0px 0px 0px; } }
    .box-one-content .box-one-ticket p {
      font-size: 18px;
      font-family: "HelveticaBold", sans-serif;
      color: #353535;
      margin: 10px 0px 0px 0px; }
    .box-one-content .box-one-ticket div {
      display: flex;
      justify-content: space-between; }
      .box-one-content .box-one-ticket div span {
        background-color: #353535;
        color: #fff;
        text-align: center;
        font-family: "HelveticaBold", sans-serif;
        font-size: 44px;
        padding: 10px;
        width: 65px; }
  .box-one-content h2 {
    font-size: 30px;
    font-family: "HelveticaBold", sans-serif;
    color: #353535;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase; }
    @media screen and (max-width: 991px) {
      .box-one-content h2 {
        font-size: 24px; } }
  .box-one-content p {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
    font-weight: normal; }
    @media screen and (max-width: 991px) {
      .box-one-content p {
        font-size: 16px; } }
  .box-one-content .box-one-btn {
    display: inline-block;
    font-size: 18px;
    font-family: "HelveticaBold", sans-serif;
    color: #fff;
    padding: 0px 10px;
    line-height: 40px;
    background-color: #a92133;
    transition: all ease 0.4s; }
    .box-one-content .box-one-btn:hover {
      cursor: pointer;
      background-color: #d42940; }

.box-two {
  padding: 50px 0px;
  background-color: #353535; }
  .box-two .about {
    padding: 0px 0px 0px 350px; }
    @media screen and (max-width: 991px) {
      .box-two .about {
        padding: 0px 0px 0px 200px; } }
    @media screen and (max-width: 767px) {
      .box-two .about {
        padding: 0px; } }
    .box-two .about img {
      float: left;
      width: 300px;
      margin: 0px 0px 0px -350px; }
      @media screen and (max-width: 991px) {
        .box-two .about img {
          width: 170px;
          margin: 0px 0px 0px -200px; } }
      @media screen and (max-width: 767px) {
        .box-two .about img {
          float: none;
          margin: 0px 0px 10px 0px;
          width: 100%; } }
    .box-two .about h2 {
      font-size: 30px;
      font-family: "HelveticaBold", sans-serif;
      text-transform: uppercase;
      color: #fff;
      margin: 0px 0px 5px 0px; }
      @media screen and (max-width: 991px) {
        .box-two .about h2 {
          font-size: 20px; } }
      .box-two .about h2 a {
        float: right;
        text-transform: none;
        font-size: 18px;
        color: #fbb11a;
        text-decoration: underline; }
        @media screen and (max-width: 991px) {
          .box-two .about h2 a {
            font-size: 14px; } }
    .box-two .about strong {
      display: block;
      margin: 0px 0px 20px 0px;
      font-family: "HelveticaBold", sans-serif;
      color: #fff; }
    .box-two .about p {
      font-size: 14px;
      margin: 0px 0px 10px 0px;
      color: #adadad;
      line-height: 1.4; }
      .box-two .about p a {
        color: #fbb11a;
        font-family: "HelveticaBold", sans-serif; }
        .box-two .about p a:hover {
          text-decoration: underline; }

.box-three {
  padding: 50px 0px;
  background-color: #fff;
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .box-three .story {
    position: relative; }
    .box-three .story .owl-next {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      top: -70px;
      right: 0px;
      cursor: pointer;
      z-index: 99;
      font-size: 25px; }
    .box-three .story .owl-prev {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      top: -70px;
      right: 30px;
      cursor: pointer;
      z-index: 99;
      font-size: 25px; }
    .box-three .story h2 {
      font-size: 30px;
      font-family: "HelveticaBold", sans-serif;
      text-transform: uppercase;
      color: #353535;
      margin: 0px 0px 30px 0px; }
      @media screen and (max-width: 991px) {
        .box-three .story h2 {
          font-size: 20px; } }
    .box-three .story .owl-item {
      padding: 10px; }
      @media screen and (max-width: 991px) {
        .box-three .story .owl-item {
          padding: 5px; } }
    .box-three .story .story-item {
      padding: 30px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      transition: all ease 0.4s; }
      @media screen and (max-width: 991px) {
        .box-three .story .story-item {
          padding: 20px; } }
      .box-three .story .story-item:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
      .box-three .story .story-item .si-info {
        margin: 0px 0px 20px 0px;
        padding: 0px 0px 0px 70px; }
        .box-three .story .story-item .si-info img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          float: left;
          margin: 0px 0px 0px -70px; }
        .box-three .story .story-item .si-info h3 {
          margin: 0px;
          padding: 0px;
          font-size: 18px;
          color: #353535; }
        .box-three .story .story-item .si-info span {
          font-size: 16px;
          color: #adadad; }
      .box-three .story .story-item p {
        font-size: 14px;
        margin: 0p;
        color: #353535; }
        .box-three .story .story-item p a {
          color: #a92133;
          text-decoration: underline; }

.box-for {
  padding: 190px 0px 70px 0px;
  background-color: #fff;
  background-image: url(../images/bg3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media screen and (max-width: 991px) {
    .box-for {
      padding: 90px 0px 50px 0px; } }
  .box-for h2 {
    font-size: 30px;
    font-family: "HelveticaBold", sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 0px 15px 0px; }
    @media screen and (max-width: 991px) {
      .box-for h2 {
        font-size: 20px; } }
    .box-for h2 a {
      float: right;
      text-transform: none;
      font-size: 18px;
      color: #fbb11a;
      text-decoration: underline; }
      @media screen and (max-width: 991px) {
        .box-for h2 a {
          font-size: 14px; } }
  .box-for p {
    font-size: 18px;
    margin: 0px 0px 25px 0px;
    color: #fff;
    line-height: 1.4;
    max-width: 550px; }
    @media screen and (max-width: 991px) {
      .box-for p {
        font-size: 16px; } }
  .box-for .btn-join {
    font-size: 18px;
    line-height: 45px;
    padding: 0px 20px;
    display: inline-block;
    color: #fff;
    transition: all ease 0.4s;
    background-color: #a92133; }
    .box-for .btn-join:hover {
      cursor: pointer;
      background-color: #d42940; }

.box-five {
  padding: 40px 0px;
  background-color: #fbb11a;
  position: relative; }
  .box-five:before {
    display: block;
    content: "";
    width: 1px;
    position: absolute;
    top: 40px;
    left: 50%;
    bottom: 40px;
    margin: 0px 0px 0px -10px;
    background-color: rgba(255, 255, 255, 0.6); }
    @media screen and (max-width: 1400px) {
      .box-five:before {
        margin: 0px 0px 0px -10px; } }
    @media screen and (max-width: 991px) {
      .box-five:before {
        display: none; } }
  .box-five .box-five-col {
    float: left;
    width: 48%; }
    @media screen and (max-width: 991px) {
      .box-five .box-five-col {
        float: none;
        width: 100%;
        margin: 0px 0px 20px 0px; } }
    .box-five .box-five-col.right {
      min-height: 150px;
      float: right; }
      @media screen and (max-width: 991px) {
        .box-five .box-five-col.right {
          float: none; } }
    .box-five .box-five-col h3 {
      margin: 0px 0px 20px 0px;
      color: #fff;
      font-family: "HelveticaBold", sans-serif;
      font-size: 25px; }
      @media screen and (max-width: 991px) {
        .box-five .box-five-col h3 {
          font-size: 20px; } }
  .box-five .number-row {
    min-height: 60px;
    background-color: #353535;
    margin: -5px 0px 15px 0px;
    padding: 15px 0px;
    max-width: 500px; }
    .box-five .number-row .nr-flex {
      text-align: center; }
      .box-five .number-row .nr-flex em {
        font-size: 16px;
        display: inline-block;
        padding: 0px 7px;
        font-family: "HelveticaBold", sans-serif;
        color: #fff;
        line-height: 30px;
        cursor: pointer;
        margin: 0px 5px;
        font-style: normal; }
        .box-five .number-row .nr-flex em.active {
          background-color: #fbb11a; }
      .box-five .number-row .nr-flex i {
        font-style: normal;
        display: inline-block;
        font-size: 14px;
        color: #fff; }
  .box-five .best-row {
    margin: 0px 0px 20px 0px; }
    @media screen and (max-width: 767px) {
      .box-five .best-row {
        margin: 0px 0px 10px 0px; } }
    .box-five .best-row.fix {
      margin: 0px 0px 10px 0px; }
    .box-five .best-row span {
      font-size: 20px;
      color: #fff;
      font-family: "HelveticaBold", sans-serif;
      opacity: 0.5;
      line-height: 35px;
      min-width: 150px;
      display: inline-block; }
      @media screen and (max-width: 1400px) {
        .box-five .best-row span {
          font-size: 18px;
          min-width: 120px; } }
      @media screen and (max-width: 767px) {
        .box-five .best-row span {
          display: block; } }
    .box-five .best-row .br-item {
      cursor: pointer;
      display: inline-block;
      margin: 0px 0px 10px 10px;
      line-height: 35px;
      text-align: center;
      padding: 0px 10px;
      color: #fff;
      font-size: 19px;
      font-family: "HelveticaBold", sans-serif;
      text-align: center;
      background-color: #353535; }
      .box-five .best-row .br-item.active {
        background-color: #a92133; }
      @media screen and (max-width: 767px) {
        .box-five .best-row .br-item {
          font-size: 15px;
          padding: 0px 6px;
          margin: 0px 10px 10px 0px; } }

.box-six {
  padding: 40px 0px;
  background-color: #fff; }
  .box-six h2 {
    font-size: 30px;
    font-family: "HelveticaBold", sans-serif;
    text-transform: uppercase;
    color: #353535;
    margin: 0px 0px 15px 0px;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 991px) {
      .box-six h2 {
        font-size: 20px; } }
    .box-six h2 a {
      float: right;
      text-transform: none;
      font-size: 18px;
      color: #fbb11a;
      text-decoration: underline; }
      @media screen and (max-width: 991px) {
        .box-six h2 a {
          font-size: 14px; } }
  .box-six p {
    font-size: 18px;
    margin: 0px 0px 25px 0px;
    color: #adadad;
    line-height: 1.4;
    max-width: 550px;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 991px) {
      .box-six p {
        font-size: 16px; } }
  .box-six .chart {
    z-index: 1;
    padding: 0px 20px;
    max-width: 980px;
    margin: 0px auto;
    position: relative;
    margin-top: -100px; }
    @media screen and (max-width: 991px) {
      .box-six .chart {
        padding: 0px 5px;
        margin: 0px -10px;
        margin-top: -30px; } }
    .box-six .chart:before {
      content: "";
      display: block;
      height: 10px;
      left: 0px;
      right: 0px;
      bottom: 40px;
      position: absolute;
      background-color: #fbb11a; }
  .box-six .chart-flex {
    display: flex;
    justify-content: space-between; }
    .box-six .chart-flex .chart-col-inner {
      width: 50px; }
      @media screen and (max-width: 991px) {
        .box-six .chart-flex .chart-col-inner {
          width: 40px; } }
      @media screen and (max-width: 767px) {
        .box-six .chart-flex .chart-col-inner {
          width: 30px; } }
      @media screen and (max-width: 575px) {
        .box-six .chart-flex .chart-col-inner {
          width: 20px; } }
      .box-six .chart-flex .chart-col-inner .c-value-wrap {
        min-height: 300px;
        position: relative; }
        @media screen and (max-width: 767px) {
          .box-six .chart-flex .chart-col-inner .c-value-wrap {
            min-height: 200px; } }
        .box-six .chart-flex .chart-col-inner .c-value-wrap .c-value {
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background-color: #fbb11a; }
          .box-six .chart-flex .chart-col-inner .c-value-wrap .c-value.red {
            background-color: #a92133; }
        .box-six .chart-flex .chart-col-inner .c-value-wrap .c-text {
          position: absolute;
          top: -30px;
          left: 0px;
          right: 0px;
          text-align: center;
          font-family: "HelveticaBold", sans-serif;
          font-size: 16px;
          color: #adadad; }
          @media screen and (max-width: 767px) {
            .box-six .chart-flex .chart-col-inner .c-value-wrap .c-text {
              font-family: "HelveticaRegular", sans-serif;
              font-size: 12px; } }
      .box-six .chart-flex .chart-col-inner .c-bottom {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-family: "HelveticaBold", sans-serif;
        color: #353535;
        padding: 20px 0px 0px 0px; }
        @media screen and (max-width: 767px) {
          .box-six .chart-flex .chart-col-inner .c-bottom {
            font-family: "HelveticaRegular", sans-serif;
            font-size: 13px; } }
  .box-six img {
    display: block; }

.box-seven {
  padding: 60px 0px;
  background-color: #fff;
  background-image: url(../images/bg4.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media screen and (max-width: 991px) {
    .box-seven {
      padding: 40px 0px; } }
  .box-seven h2 {
    font-size: 30px;
    font-family: "HelveticaBold", sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 0px 25px 0px; }
    @media screen and (max-width: 991px) {
      .box-seven h2 {
        font-size: 20px;
        margin: 0px 0px 10px 0px; } }
  .box-seven p.des {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
    color: #adadad;
    line-height: 1.4;
    text-align: right; }
    @media screen and (max-width: 991px) {
      .box-seven p.des {
        font-size: 16px;
        text-align: left; } }
  .box-seven .winner-box {
    background-color: #fbb11a;
    padding: 10px 30px;
    margin: 0px 0px 20px 0px; }
    .box-seven .winner-box .wb-item {
      padding: 10px 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
      .box-seven .winner-box .wb-item:last-child {
        border: none; }
      .box-seven .winner-box .wb-item p {
        color: #fff;
        margin: 0px;
        font-family: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block; }
      .box-seven .winner-box .wb-item span {
        font-size: 16px;
        float: right;
        color: #fff; }

.box-eight {
  padding: 60px 0px;
  background-color: #fff; }
  @media screen and (max-width: 991px) {
    .box-eight {
      padding: 40px 0px; } }
  .box-eight h2 {
    font-size: 30px;
    font-family: "HelveticaBold", sans-serif;
    text-transform: uppercase;
    color: #353535;
    margin: 0px 0px 25px 0px; }
    @media screen and (max-width: 991px) {
      .box-eight h2 {
        font-size: 20px;
        margin: 0px 0px 10px 0px; } }
  .box-eight p.des {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
    color: #adadad;
    line-height: 1.4;
    text-align: right; }
    @media screen and (max-width: 991px) {
      .box-eight p.des {
        font-size: 16px;
        text-align: left; } }

.owl-partner {
  position: relative;
  padding: 0px 30px; }
  .owl-partner .owl-prev {
    widows: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin: -15px 0px 0px 0px;
    cursor: pointer;
    transition: all ease 0.3s;
    color: #000; }
    .owl-partner .owl-prev:hover {
      color: #a92133; }
  .owl-partner .owl-next {
    color: #000;
    widows: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin: -15px 0px 0px 0px;
    cursor: pointer;
    transition: all ease 0.3s; }
    .owl-partner .owl-next:hover {
      color: #a92133; }
  .owl-partner .partner-item {
    text-align: center;
    padding: 15px 15px; }
    .owl-partner .partner-item a {
      display: block;
      transition: all ease 0.4s;
      opacity: 0.4; }
      .owl-partner .partner-item a:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        opacity: 1; }

.footer {
  padding: 60px 0px;
  background-color: #a92133;
  background-image: url(../images/pattern.png); }
  @media screen and (max-width: 991px) {
    .footer {
      padding: 40px 0px; } }

.contact {
  float: left;
  width: 500px; }
  @media screen and (max-width: 991px) {
    .contact {
      width: 100%;
      float: none;
      margin: 0px 0px 20px 0px; } }

.nav-bottom {
  float: right;
  width: 400px; }
  @media screen and (max-width: 991px) {
    .nav-bottom {
      width: 100%;
      float: none; } }
  .nav-bottom ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .nav-bottom ul li {
      margin: 0px 0px 10px 0px; }
      .nav-bottom ul li a {
        font-size: 25px;
        font-family: "HelveticaBold", sans-serif;
        letter-spacing: 2px;
        color: #fff;
        opacity: 0.5;
        transition: all ease 0.3s; }
        @media screen and (max-width: 767px) {
          .nav-bottom ul li a {
            font-size: 18px; } }
        .nav-bottom ul li a:hover {
          opacity: 0.8; }
  .nav-bottom .allright {
    margin: 15px 0px 0px 0px;
    font-size: 17px;
    color: #fff;
    opacity: 0.5; }

.contact h2 {
  font-size: 30px;
  font-family: "HelveticaBold", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 0px 5px 0px; }
  @media screen and (max-width: 991px) {
    .contact h2 {
      font-size: 20px; } }

.contact p {
  font-size: 18px;
  margin: 0px 0px 25px 0px;
  color: #fff;
  opacity: 0.6;
  line-height: 1.4; }
  @media screen and (max-width: 991px) {
    .contact p {
      font-size: 16px; } }

.contact .txt {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  outline: none;
  background-color: #fff;
  margin: 0px 0px 20px 0px;
  border: none; }

.contact textarea {
  display: block;
  outline: none;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  height: 100px;
  width: 100%;
  margin: 0px 0px 20px 0px; }

.contact .contact-control {
  text-align: right; }
  .contact .contact-control a {
    display: inline-block;
    font-family: "HelveticaBold", sans-serif;
    line-height: 40px;
    padding: 0px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #fbb11a;
    transform: all ease 0.4s; }
    .contact .contact-control a:hover {
      cursor: pointer;
      background-color: #fcc24c; }

/*# sourceMappingURL=main.css.map */