// Variables
// --------------------------------------------------
//==Base color
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #FA8742 !default;
$yellow: #e8a82a !default;
$green: #60c2a7 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$white: #fff !default;
$black: #000 !default;
// Brand colors
$brand-facebook: #3b5998;
$brand-twitter: #3a92c8;
$brand-google: #dd4b39;
$brand-dribbble: #c32361;
$brand-youtube: #b00;
$brand-pinterest: #cb2027;
$brand-instagram: #fb3958;
$brand-rss: #f26522;

// System colors
$brand-color:#e4332c;
$brand-second:#f5ad0d;
$brand-third:#0099fe;

//Text colors
$text-color:#333;
$text-second:#666;
$text-third:#999;
$border-color: #eaeaea;
$bg-color: #F0F0F0;

//Font size
$font-size:14px;

@font-face {
  font-family: 'BayWa Sans';
  src: url('../fonts/BayWaSans-Bold.eot');
  src: url('../fonts/BayWaSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BayWaSans-Bold.woff2') format('woff2'),
    url('../fonts/BayWaSans-Bold.woff') format('woff'),
    url('../fonts/BayWaSans-Bold.ttf') format('truetype'),
    url('../fonts/BayWaSans-Bold.svg#BayWaSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


$font-family: 'Inter',
sans-serif;
$font-second: 'BayWa Sans',
sans-serif;





// --------------------------------
