/* Replace this class in the old files */

.index-card-deck .card-body .card-img {
    margin: auto auto 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.index-card-deck .card-body .card-img img {
    width: 76%;
    max-width: 270px;
    max-height: 156px;
}

.my-profile .nav-item {
    padding-right: 36px;
}

.my-profile .nav-link .arrow {
    width: 15px;
    height: 8px;
    display: inline-block;
    background: url("cong_img/chevron_up.png") no-repeat;
    background-size: contain;
    margin-left: 10px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.my-profile .nav-item.show .nav-link .arrow {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.profile-dropdown {
    border: 1px solid #F0EAFB;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.03);
    border-radius: 0px 0px 0px 8px;
    width: 100%;
    top: 63px;
    padding: 0;
}

.profile-dropdown .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-dropdown .dropdown-item:hover {
    background: #6823db1c;
}

@media(max-width:768px) {
    .my-profile .nav-item {
        padding-right: 0;
    }
}

@media(max-width:767px) {
    .my-profile .nav-item {
        padding-left: 36px;
    }
    .my-profile .nav-link .arrow {
        margin-left: 0px;
    }
}


.db-w-70 {
    width: 65%;


}

.db-w-30 {
    width: 35%;
}


.db-24-address {
    padding: 25px 20px 25px 110px;
    min-height: 134px;


}

.db-24-address img {
    width: 84px;
    height: 84px;
    float: left;
    margin: 0px 0px 0px -110px;
}

.db-24-address img {
    width: 84px;
    height: 84px;
    float: left;
    margin: 0px 0px 0px -104px;
}

.db-24-address p {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #021626;
    margin: 0px 0px 4px 0px;
}

.db-24-address a {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #6A2CD8;
}

.db-24-my-team {
    padding: 25px 25px 25px 25px;

    border-left: 1px solid #F0EAFB;
}

.db-24-my-team span {
    display: inline-block;
    font-size: 20px;
    color: #021626;
}

.db-24-my-team .edit-my-team {
    font-size: 20px;
    color: #6A2CD8;
    display: inline-block;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
    position: relative;

}

.db-24-my-team .edit-my-team:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    display: block;
    left: 0px;
    top: 45%;
    background-color: #CCD0D4;
}

.db-24-my-team .list-members a {
    display: inline-block;
    margin: 8px 8px 0px 0px;
}

.db-24-my-team .list-members a img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: block;

}


@media screen and (max-width: 991px) {
    .db-w-70 {
        width: 100%;


    }

    .db-w-30 {
        width: 100%;
    }
    .db-24-my-team {
        padding: 25px 25px 25px 25px;
        border-top: 1px solid #F0EAFB;
        border-left: none;
        margin: 0px -15px;
    }

}
