@keyframes widthtransition {
    0% {
        width: 100%;
    }


    100% {

        width: 0%;
        z-index: -1 !important;


    }

}


.dropdown-menu {
    font-size: inherit;
    top: 100% !important;
    transform: none !important;
}

.dropdown-toggle::after {
    display: none;
}

#page-loader {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background-color: #fff;

}




.header {
    height: 105px;
    position: fixed;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;
    top: 0px;
    right: 0px;
    width: 100%;

    left: 0px;
    background-color: #fff;
    transition: all ease 0.4s;

    .container {
        position: relative;
    }





    .logo {
        float: left;
        margin: 30px 0px 0px 0px;
        position: absolute;
        top: 0px;
        left: 15px;


        img {
            height: 58px;


        }

        @media screen and (max-width: 1250px) {
            margin: 53px 0px 0px 0px;




            img {
                height: 40px;
            }

        }

        @media screen and (max-width: 575px) {
            margin: 63px 0px 0px 0px;

            img {
                height: 30px;
            }
        }




    }

    .header-right {
        float: right;
    }


    .topbar {

        height: 50px;
        padding: 15px 0px 0px 0px;



        .language {
            float: left;
            position: relative;
            vertical-align: text-bottom;

            &:hover {

                .dropdown-language {
                    display: block;
                }
            }

            .dropdown-menu {
                border-radius: 0px;
                min-width: 100px;


                border: 1px solid $border-color;



                p {

                    margin: 0px;

                    a {
                        color: $text-color-third;
                        padding: 6px 15px;
                        display: block;
                        transition: all ease 0.3s;
                        font-size: 15px;

                        &:hover {
                            color: $active-color;
                        }

                    }

                }
            }



            span {
                line-height: 30px;
                cursor: pointer;
                color: $text-color-third;
                font-size: 15px;
                display: block;

                @media screen and (max-width: 991px) {
                    font-size: 13px;
                }


                i {
                    font-size: 16px;
                    margin: 0px 0px 0px 8px;
                    float: right;

                }
            }

        }

        .link {
            float: left;
            line-height: 30px;
            color: $text-color-third;
            font-size: 15px;
            vertical-align: text-bottom;

            @media screen and (max-width: 991px) {
                font-size: 13px;
            }

        }

        .edicator {
            float: left;
            line-height: 30px;
            color: $text-color-third;
            margin: 0px 10px;
            font-size: 15px;
            vertical-align: text-bottom;

            @media screen and (max-width: 991px) {
                font-size: 13px;
            }

        }

        .search {
            cursor: pointer;

            float: left;
            line-height: 30px;
            color: $text-color-third;
            text-transform: uppercase;
            vertical-align: text-bottom;

            @media screen and (max-width: 991px) {
                font-size: 13px;
            }



            i {
                font-size: 20px;
                margin: 0px 0px 0px 5px;

                float: right;

            }
        }


    }


    .menu {

        margin: 0px 0px 0px 0px;

        @media screen and (max-width: 991px) {
            display: none;
        }

        > ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: block;


            > li {


                float: left;
                height: 55px;
                position: relative;
                margin: 0px 0px 0px 40px;

                &:hover {
                    > a {
                        color: $active-color;

                        > span {}
                    }

                    .sub-menu {
                        z-index: 999;
                        visibility: visible;
                        margin-top: 0px;
                        opacity: 1;
                    }

                }


                > a {
                    font-size: 16px;
                    display: block;
                    text-transform: uppercase;
                    line-height: 55px;

                    color: $text-color;
                    transition: all ease 0.3s;



                }
            }

            .sub-menu {
                position: absolute;
                top: 100%;
                left: -30px;
                width: 220px;
                background-color: rgba($active-color, 0.9);

                opacity: 0;
                margin: 0px;
                padding: 0px;
                list-style: none;
                transition: all ease 0.3s;

                z-index: -1;
                visibility: hidden;
                margin-top: 10px;

                li {
                    float: none;

                    a {
                        display: block;
                        line-height: 40px;
                        padding: 0px 10px 0px 30px;
                        color: #fff;
                        font-size: 15px;
                        transition: all ease 0.3s;
                    }

                    &:hover {
                        a {
                            background-color: #000;
                        }
                    }
                }
            }



        }


    }


    .menu-icon {
        float: right;

        width: 35px;

        cursor: pointer;

        height: 40px;
        line-height: 40px;
        font-size: 30px;
        margin: 10px 0px 0px 0px;



        display: none;

        @media screen and (max-width: 991px) {
            display: block;
        }





    }
}


@media screen and (max-width:991px) {
    .open-menu {
        overflow: hidden;

        .menu-res {
            transform: translateX(-0px);
        }

        .header {
            left: -280px;


        }

        .page {

            height: 100%;
            left: -280px;
        }
    }



    .menu-res {
        width: 280px;
        background-color: #111;
        position: fixed;
        top: 0px;
        z-index: 99999;
        overflow: auto;
        bottom: 0px;
        transition: all ease 0.4s;

        right: 0px;
        transform: translateX(280px);
    }

    .page {
        transition: all ease 0.4s;
        position: relative;
        left: 0px;

    }

    .menu-res-inner {
        padding: 30px 20px 20px 20px;

        ul {
            padding: 0px;
            list-style: none;

            > li {
                border-bottom: 1px solid #222;
                position: relative;

                .fa-home {
                    margin: 0px 5px 0px 0px;
                }

                i {
                    margin: 0px 5px 0px 5px;

                }

                a {
                    color: #999;
                    display: block;
                    line-height: 40px;
                    font-size: 14px;


                    &:hover {
                        color: #fff;
                    }
                }

                &.menu-item-has-children {
                    &:before {
                        display: block;
                        content: "\f489";
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        font-family: "Ionicons";
                        font-size: 20px;
                        text-align: center;
                        cursor: pointer;
                        line-height: 40px;
                        color: #999;
                    }
                }

                &.open-submenu-active {
                    &:before {
                        content: "\f462";
                    }
                }

                > ul {
                    padding: 0px 0px 10px 10px;

                    li {
                        border-top: 1px solid #222;
                        border-bottom: none !important;

                        a {
                            display: block;
                            line-height: 35px;
                            text-transform: none;
                            color: #666;
                            padding: 0px 0px;
                            font-weight: 400;

                            text-transform: uppercase;

                            &:hover {
                                color: #fff;
                            }
                        }

                        > ul {
                            padding: 0px 0px 0px 20px;
                        }
                    }
                }
            }
        }

        .sub-menu {
            display: none;

        }
    }
}




.search-wrap {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    transition: all ease 0.4s;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    margin-top: 15px;
    background-color: #000;



    padding: 100px 0px 100px 0px;

    @media screen and (max-width: 1199px) {
        padding: 70px 0px;

    }

    @media screen and (max-width: 991px) {
        padding: 60px 0px 20px 0px;




    }

    .container {
        max-width: 920px;
    }

    .close-search {
        position: absolute;
        width: 70px;
        height: 70px;
        top: 0px;
        right: 0px;
        background-image: url(../images/icon-close.png);
        background-repeat: no-repeat;
        background-position: center center;

        background-color: $active-color;
        transition: all ease 0.3s;

        &:hover {
            cursor: pointer;
            background-color: darken($active-color, 10%);
        }

        @media screen and (max-width: 1199px) {
            width: 40px;
            height: 40px;

            background-size: 15px auto;

        }
    }


    &.show {
        visibility: visible;
        opacity: 1;
        z-index: 999;
        margin-top: 0px;
    }

    .search-box {

        padding: 0px 120px 0px 0px;
        position: relative;

        input {
            width: 100%;
            border: none;
            height: 40px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            background-color: transparent;

            padding: 0px;

            line-height: 40px;
            font-size: 18px;
            color: #fff;
            outline: none;

            &::placeholder {
                color: rgba(255, 255, 255, 0.4);
            }

            @media screen and (max-width: 767px) {
                font-size: 13px;
            }


        }

        button {
            width: 110px;
            height: 40px;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 0px;

            outline: none;
            background-color: $active-color;

            font-size: 18px;
            color: #fff;
            transition: all ease 0.3s;
            cursor: pointer;

            @media screen and (max-width: 767px) {
                font-size: 13px;
            }

            &:hover {
                background-color: darken($active-color, 10%);
            }
        }


    }

    .list-result {
        padding: 10px 0px 0px 0px;
        position: relative;

        p {
            line-height: 30px;

            color: #fff;
            font-size: 20px;
            padding: 0px 20px;
            margin: 0px;
            opacity: 0.8;

            @media screen and (max-width: 991px) {
                line-height: 25px;
            }

            @media screen and (max-width: 991px) {
                font-size: 14px;
            }

            &:hover {
                opacity: 1;
            }

        }
    }


}



.home-slider {
    position: relative;
    margin: 103px 0px 0px 0px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        transition: all ease 0.3s;
        bottom: 0px;
        background-color: #ffffff;
        z-index: 9999;
        animation-delay: 0.6s;
        animation-name: widthtransition;
        animation-duration: 2s;


    }




    .arrow-down {
        width: 50px;
        height: 50px;
        background-image: url(../images/icon-down.png);
        background-repeat: no-repeat;
        background-position: center center;

        z-index: 99;

        position: absolute;
        bottom: 50px;
        left: 50%;
        margin: 0px 0px 0px -25px;
        cursor: pointer;

        @media screen and (max-width: 767px) {
            width: 30px;
            height: 30px;
            bottom: 10px;
            margin: 0px 0px 0px -15px;

            background-size: 25px auto;

        }


    }

    .home-slider-item {
        min-height: 800px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 240px 0px 100px 0px;


        @media screen and (max-width: 1300px) {
            min-height: 700px;
        }

        @media screen and (max-width: 1199px) {
            min-height: 600px;
        }

        @media screen and (max-width: 991px) {
            padding: 100px 0px 50px 0px;
            min-height: 400px;
        }

        @media screen and (max-width: 767px) {
            min-height: 300px;
            padding: 50px 0px 20px 0px;
        }
    }


    .home-slider-text {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        width: 500px;
        padding: 40px 30px 40px 40px;

        background-color: rgba(0, 0, 0, 0.7);

        @media screen and (max-width: 991px) {
            max-width: 300px;
            padding: 20px 20px 20px 20px;

        }

        @media screen and (max-width: 767px) {
            max-width: 290px;

        }

        @media screen and (max-width: 575px) {
            max-width: 250px;
            padding: 10px;

        }



        h2 {
            color: #fff;
            margin: 0px 0px 5px 0px;
            font-size: 48px;

            @media screen and (max-width: 991px) {
                font-size: 30px;
            }

            @media screen and (max-width: 767px) {
                font-size: 17px;

            }
        }

        a {
            color: $active-color;
            font-size: 24px;

            @media screen and (max-width: 991px) {
                font-size: 14px;

            }
        }






    }

}










.middle {}

.box {



    .box-caption {
        padding: 60px 0px 40px 0px;
        text-align: center;

        h2 {


            font-size: 36px;

            text-transform: uppercase;
            margin: 0px 0px 15px 0px;
            font-weight: bold;

            @media screen and (max-width: 991px) {
                font-size: 25px;
            }


        }

        p {

            font-size: 18px;
            color: $text-color-second;

            @media screen and (max-width: 991px) {
                font-size: 14px;
            }



        }
    }
}


.box-products {
    .product-col {
        float: left;
        width: 33.333%;

        @media screen and (max-width: 991px) {}

        @media screen and (max-width: 767px) {
            width: 100%;

        }



        .product-item {

            text-align: center;
            margin: 0px 0px 0px 0px;

            overflow: hidden;
            position: relative;

            a {
                display: block;
            }





            .pi-img {
                overflow: hidden;
            }

            img {
                width: 100%;
                display: block;
                transition: all ease 0.5s;


            }




            .pi-gradient {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                top: 0px;
                background-image: url(../images/black-gradient.png);
                background-repeat: repeat-x;
                background-position: bottom left;
                z-index: 1;
            }


            .pi-caption {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                z-index: 2;

                text-align: center;
                padding: 5px 5px 15px 5px;
                transition: all ease 0.4;
                opacity: 1;

                h3 {
                    font-size: 28px;
                    color: #fff;
                    text-align: center;

                    margin: 0px;

                    @media screen and (max-width: 991px) {
                        font-size: 20px;
                    }
                }


            }

            .pi-hover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0px;
                bottom: 0px;
                padding: 50px 50px 50px 50px;
                z-index: 0;
                text-align: left;


                background-color: $active-color;
                background-image: linear-gradient(to top, #121112 0%, #e80b44 100%);
                transition: all ease 0.4s;
                transform: translateY(100%);
                opacity: 0.5;

                @media screen and (max-width: 1300px) {
                    padding: 30px;

                }

                @media screen and (max-width: 991px) {
                    display: none;
                }



                h3 {
                    color: #fff;
                    font-size: 35px;
                    margin: 0px 0px 20px 0px;

                    @media screen and (max-width: 1300px) {
                        font-size: 25px;
                        margin: 0px 0px 10px 0px;

                    }
                }

                p {
                    color: #fff;
                    font-size: 18px;
                    margin: 0px 0px 20px 0px;

                    @media screen and (max-width: 1300px) {
                        font-size: 16px;
                        margin: 0px 0px 10px 0px;


                    }

                    @media screen and (max-width: 991px) {
                        display: none;
                    }

                    @media screen and (max-width: 767px) {
                        display: block;
                    }

                    @media screen and (max-width: 400px) {
                        display: none;
                    }
                }
            }




            &:hover {
                .pi-hover {
                    transform: translateY(0%);
                    z-index: 3;
                    opacity: 1;

                }

                .pi-caption {

                    opacity: 0;
                }
            }
        }

    }
}








.footer {
    padding: 50px 0px 0px 0px;
    background-color: #161616;

    h3 {
        font-size: 15px;
        margin: 0px 0px 10px 0px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
            font-size: 14px;
        }

    }

    .footer-menu {
        margin: 0px 0px 20px 0px;
        padding: 0px;
        list-style: none;



        li {
            margin: 0px 0px 6px 0px;

            a {
                font-size: 15px;
                color: #fff;

                @media screen and (max-width: 767px) {
                    font-size: 13px;

                }

            }
        }
    }

    .footer-nav {
        margin: 0px 0px 20px 0px;
        padding: 0px;
        list-style: none;




        li {
            margin: 0px 0px 10px 0px;

            @media screen and (max-width: 991px) {
                margin: 0px 0px 5px 0px;


            }

            a {
                font-size: 15px;
                color: #fff;
                font-weight: bold;

                @media screen and (max-width: 767px) {
                    font-size: 13px;
                }

            }
        }
    }

    .information {
        margin: 0px 0px 20px 0px;


        p {
            margin: 0px 0px 10px 0px;
            font-size: 14px;
            color: #fff;
        }
    }


    .bottom {
        margin: 50px 0px 0px 0px;
        padding: 30px 0px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);

        .allright {
            float: left;
            padding: 20px 0px 0px 0px;

            @media screen and (max-width: 991px) {
                text-align: center;
                float: none;
                padding: 20px 0px;
            }

            p {
                font-size: 14px;
                color: #fff;

                a {
                    color: #fff;
                    opacity: 0.8;
                }
            }
        }

        .partner {
            float: right;

            @media screen and (max-width: 991px) {
                float: none;
                text-align: center;
            }


            span {
                font-weight: bold;
                font-size: 16px;
                color: #fff;
                padding: 20px 0px 0px 0px;
                float: left;

                @media screen and (max-width: 991px) {
                    float: none;
                    display: block;
                    text-align: center;
                    padding: 20px 0px 10px 0px;


                }

            }

            a {
                float: left;
                margin: 0px 0px 0px 15px;

                @media screen and (max-width: 991px) {
                    float: none;
                    display: inline-block;
                    width: 40px;
                    margin: 3px 7px;

                }
            }
        }
    }




}





/***************pagee******************/

.page-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
    background-image: url(../images/product-bg.png);
    margin: 100px 0px 0px 0px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        transition: all ease 0.3s;
        bottom: 0px;
        background-color: #ffffff;
        z-index: 9999;


        animation-name: widthtransition;
        animation-delay: 0.5s;
        animation-duration: 2s;
    }



    .pb-inner {
        min-height: 450px;
        padding: 50px 0px;
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;

        @media screen and (max-width: 991px) {
            min-height: 350px;
        }

        @media screen and (max-width: 767px) {
            min-height: 200px;

        }

        @media screen and (max-width: 575px) {
            min-height: 150px;
        }

        > div {
            width: 100%;
        }

        h2 {
            color: #fff;

            font-weight: bold;
            font-size: 50px;
            margin: 0px 0px 10px 0px;

            @media screen and (max-width: 991px) {
                font-size: 30px;
                margin: 0px;

            }



        }

        .sitemap {
            a {
                color: #fff;
                font-size: 16px;

                @media screen and (max-width: 991px) {
                    font-size: 14px;
                }

            }

            span {
                font-size: 16px;
                color: #fff;
                margin: 0px 10px;
            }
        }

    }

    &.news {
        background-image: url(../images/news-bg.png);
    }

    &.about {
        background-image: url(../images/about-bg.png);
    }

    &.search {
        background-image: none;
        background-color: #000;


        .pb-inner {
            min-height: 100px;
            padding: 70px 0px;

            @media screen and (max-width: 991px) {
                min-height: 100px;
                padding: 50px 0px;

            }

            @media screen and (max-width: 767px) {
                min-height: 100px;

            }

            @media screen and (max-width: 575px) {
                min-height: 100px;
            }

            > div {
                width: 100%;
            }





        }
    }




}


.section {
    background-color: #e9e9e9;
    padding: 80px 0px 0px 0px;

    @media screen and (max-width: 991px) {
        padding: 40px 0px 0px 0px;

    }

    .section-caption {
        text-align: center;
        margin: 0px 0px 40px 0px;


        h2 {
            font-size: 48px;
            color: $text-color-second;
            font-weight: bold;
            margin: 0px 0px 10px 0px;
            text-transform: uppercase;

            @media screen and (max-width: 991px) {
                font-size: 30px;
                margin: 0px;
            }
        }

        p {
            font-size: 18px;
            color: $text-color-second;


            @media screen and (max-width: 991px) {
                font-size: 16px;
            }

            @media screen and (max-width: 767px) {

                font-size: 14px;
            }

            a {
                display: inline-block;
                color: $text-color-second;
                border-bottom: 2px solid $active-color;

            }

        }

        select {
            height: 40px;
            background-color: #fff;
            font-size: 16px;
            color: #000;
            width: 240px;
            margin: 20px auto 0px auto;
            border-radius: 3px;

            padding: 0px 0px 0px 10px;

            @media screen and (max-width: 991px) {
                height: 30px;
                width: 200px;

            }

        }
    }

}

.list-products {
    padding: 0px 2px;

    .product-col {
        float: left;
        width: 33.333%;

        @media screen and (max-width: 991px) {}

        @media screen and (max-width: 767px) {
            width: 50%;

        }

        @media screen and (max-width: 575px) {
            width: 100%;

        }



        .product-item {

            text-align: center;
            margin: 0px 0px 0px 0px;

            position: relative;
            transition: all ease 0.3s;

            overflow: hidden;


            a {
                display: block;
            }





            .pi-img {
                overflow: hidden;
            }

            img {
                width: 100%;
                display: block;
                transition: all ease 0.5s;


            }




            .pi-gradient {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                top: 0px;
                background-image: url(../images/black-gradient.png);
                background-repeat: repeat-x;
                background-position: bottom left;
                z-index: 1;
            }


            .pi-caption {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                z-index: 2;

                text-align: center;
                padding: 5px 5px 15px 5px;
                transition: all ease 0.4;
                opacity: 1;



                h3 {
                    font-size: 28px;
                    color: #fff;
                    text-align: center;
                    transition: all ease 0.3s;

                    margin: 0px;

                    @media screen and (max-width: 991px) {
                        font-size: 20px;
                    }
                }


            }

            .pi-hover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0px;
                bottom: 0px;
                padding: 50px 50px 50px 50px;
                z-index: 0;
                text-align: left;


                background-color: $active-color;
                background-image: linear-gradient(to top, #121112 0%, #e80b44 100%);
                transition: all ease 0.4s;
                transform: translateY(100%);
                opacity: 0.5;

                @media screen and (max-width: 1300px) {
                    padding: 30px;

                }

                @media screen and (max-width: 991px) {
                    display: none;
                }




                h3 {
                    color: #fff;
                    font-size: 35px;
                    margin: 0px 0px 20px 0px;

                    @media screen and (max-width: 1300px) {
                        font-size: 25px;
                        margin: 0px 0px 10px 0px;

                    }
                }

                p {
                    color: #fff;
                    font-size: 18px;
                    margin: 0px 0px 20px 0px;

                    @media screen and (max-width: 1300px) {
                        font-size: 16px;
                        margin: 0px 0px 10px 0px;


                    }

                    @media screen and (max-width: 991px) {
                        display: none;
                    }

                    @media screen and (max-width: 767px) {
                        display: block;
                    }

                    @media screen and (max-width: 400px) {
                        display: none;
                    }
                }
            }




            &:hover {

                z-index: 2;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);


                .pi-hover {
                    transform: translateY(0%);
                    z-index: 3;
                    opacity: 1;

                }

                .pi-caption {


                    h3 {
                        color: $active-color;
                    }


                }


            }
        }

    }
}


.list-news {
    padding: 0px 15px;

    .news-col {
        float: left;
        padding: 0px 20px;
        width: 33.333%;

        @media screen and (max-width: 991px) {
            width: 50%;
        }

        @media screen and (max-width: 575px) {

            width: 100%;
        }


        .news-item {
            background-color: #fff;
            transition: all ease 0.3s;
            margin: 0px 0px 40px 0px;


            .ni-img {
                overflow: hidden;

                img {
                    width: 100%;
                    transition: all ease 0.3s;
                }
            }

            .ni-des {
                padding: 20px;

                span {
                    color: $text-color-third;
                    display: block;
                    margin: 0px 0px 5px 0px;
                    font-size: 14px;

                }

                h3 {
                    font-size: 18px;
                    margin: 0px 0px 10px 0px;
                    color: $text-color;
                }

                p {
                    font-size: 15px;
                    color: $text-color-second;

                }
            }

            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

                .ni-img {

                    img {
                        transform: scale(1.1);
                    }
                }
            }

        }
    }

}



.load-more {
    text-align: center;
    padding: 20px 0px 40px 0px;



    .more {
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        line-height: 70px;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        background-color: $active-color;
        transition: all ease 0.3s;


        &:hover {
            background-color: darken($active-color, 10%);
        }
    }
}




.fixed-link {
    position: fixed;
    bottom: 90px;
    right: 5px;
    z-index: 9999;



    @media screen and (max-width: 991px) {
        display: none !important;
    }

    .search {
        width: 50px;
        height: 50px;
        background-color: $active-color;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/icon-search-white.png);


        &:hover {
            background-color: darken($active-color, 10%);
            cursor: pointer;
        }
    }


    .totop {
        margin: 5px 0px 0px 0px;
        width: 50px;
        height: 50px;
        background-color: $active-color;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/icon-top.png);

        &:hover {
            background-color: darken($active-color, 10%);
            cursor: pointer;
        }
    }
}












.detail-slider {
    margin: 0px auto 50px auto;
    max-width: 1020px;

    .slick-slider {
        position: relative;

        .slider-for {
            margin: 0px 0px 20px 0px;


            img {
                width: 100%;
                display: block;
                height: auto;
            }
        }

        .slider-nav {
            position: relative;

            padding: 0px 0px;
            margin: 0px -5px 40px -5px;


            .slick-prev {
                width: 30px;
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                border: none;
                background-color: transparent;
                outline: none;
                font-size: 20px;
                cursor: pointer;
                display: none !important;


            }

            .slick-next {
                display: none !important;

                width: 30px;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                border: none;
                cursor: pointer;
                background-color: transparent;
                outline: none;
                font-size: 20px;
            }

            .slick-slide {
                outline: none;
                padding: 0px 10px;
                overflow: hidden;

                @media screen and (max-width: 767px) {
                    padding: 0px 5px;
                }

                img {
                    border: 2px solid transparent;
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                }

                &.slick-current {
                    img {
                        border: 2px solid $active-color;

                    }
                }
            }

            .nav-item {
                // border: 1px solid #fff;

                img {
                    width: 100%;
                }
            }
        }
    }
}


.product-detail {
    padding: 20px 0px;
    background-color: #e9e9e9;
}



.sd-tab {
    margin: 50px 0px 50px 0px;


    .nav-tabs {
        background-color: transparent;
        position: relative;
        z-index: 2;

        border-bottom: 10px solid $active-color;

        text-align: center;
        display: block;
        width: 100%;




        .nav-item {
            display: inline-block;

            border: none;
            background-color: transparent;
            margin: 0px 1px 0px 0px;
            float: none;


            a {
                display: block;
                background-color: #f1f2f3;



                color: #000;
                text-transform: uppercase;
                font-size: 18px;

                border-bottom: none;
                line-height: 50px;
                border-radius: 0px;
                text-align: center;
                padding: 0px 30px;
                min-width: 200px;

                @media screen and (max-width: 575px) {
                    min-width: 120px;
                    font-size: 14px;
                    line-height: 40px;

                }

                &.active {
                    background-color: $active-color;
                    color: #fff;



                }



            }
        }
    }

    .tab-content {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        padding: 30px;
        margin: 30px 0px 0px 0px;


        p {
            font-size: 17px;

            color: $text-color-second;
            margin: 0px 0px 20px 0px;

            b {
                font-weight: 700;
            }

            @media screen and (max-width: 991px) {
                font-size: 14px;
            }
        }
    }
}

.table-document {
    width: 100%;
    max-width: 800px;

    tr {
        td {
            border: 1px solid #999;

            padding: 10px;

            p {
                margin: 0px !important;
                font-size: 16px !important;
                padding: 0px !important;

                @media screen and (max-width: 991px) {
                    font-size: 14px !important;
                }

            }

            a {
                font-size: 16px;
                color: $active-color;

                opacity: 0.8;

                i {
                    margin: 0px 5px 0px 0px;
                }

                &:hover {
                    opacity: 1;

                }
            }
        }
    }

}

.about-bar {
    position: relative;
    z-index: 100;
    margin: -55px 0px 0px 0px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 991px) {
        margin: 20px 0px 20px 0px;
        position: relative !important;
        top: unset !important;
        left: unset !important;



    }

    .about-nav {
        list-style: none;
        margin: 0px;
        padding: 0px;

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        @media screen and (max-width: 767px) {
            border: 1px solid #ddd;

        }

        li {
            float: left;
            width: 20%;
            border-left: 1px solid #ddd;

            @media screen and (max-width: 767px) {
                width: 33.33%;
                border-bottom: 1px solid #ddd;
            }

            &.fix {
                @media screen and (max-width: 767px) {
                    width: 50%;
                    border-bottom: none;

                }
            }

            &:first-child {
                border-left: none;
            }

            a {
                display: block;
                background-color: #fff;
                font-size: 18px;
                color: #000;
                text-transform: uppercase;
                display: block;
                line-height: 55px;
                text-align: center;

                transition: all ease 0.3s;

                @media screen and (max-width: 991px) {
                    font-size: 14px;
                    line-height: 40px;
                }

                @media screen and (max-width: 575px) {
                    font-size: 12px;
                }

            }

            &:hover {
                a {
                    color: $active-color;
                }
            }

            &.active {


                a {
                    color: #fff;
                    background-color: $active-color;
                }
            }



        }

    }
}

.about-block {
    min-height: 400px;
    padding: 80px 0px 80px 0px;

    @media screen and (max-width: 991px) {
        padding: 40px 0px 40px 0px;

    }

    .date {
        text-align: center;


        select {
            height: 40px;
            background-color: #fff;
            font-size: 16px;
            color: #000;
            width: 240px;
            display: block;

            margin: 0px auto 0px auto;
            border-radius: 3px;

            padding: 0px 0px 0px 10px;

            @media screen and (max-width: 991px) {
                height: 30px;
                width: 200px;

            }

        }

        h3 {
            margin: 40px 0px 20px 0px;
            text-align: center;
            font-size: 60px;
            color: $active-color;

            @media screen and (max-width: 991px) {
                font-size: 40px;

            }
        }
    }

    &.philosophy {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        background-image: url(../images/about-bg1.png);
    }

    h2 {
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        margin: 0px 0px 40px 0px;

        color: $text-color-second;
        font-weight: bold;

        @media screen and (max-width: 991px) {
            font-size: 30px;
            margin: 0px 0px 20px 0px;
        }

        @media screen and (max-width: 575px) {
            font-size: 25px;
        }

        &.text-white {
            color: #fff;
        }
    }

    &.bg {
        background-color: #eeeded;
    }
}

.ab-content {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-color: #fff;

    @media screen and (max-width: 767px) {
        padding: 15px;

    }


    p {
        font-size: 17px;
        margin: 0px 0px 20px 0px;
        color: $text-color-second;

        @media screen and (max-width: 991px) {
            font-size: 14px;
            margin: 0px 0px 10px 0px;

        }
    }
}




.milestone-slider {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 70px;

    @media screen and (max-width: 767px) {
        padding: 0px 40px;
    }



    .owl-prev {
        background-image: url(../images/prev.png);
        width: 23px;
        height: 59px;
        position: absolute;
        top: 50%;
        left: -70px;
        margin-top: -30px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;
        overflow: hidden;
        background-repeat: no-repeat;

        background-color: #fff;
        background-position: center center;


        @media screen and (max-width: 767px) {
            left: -40px;
        }


        &:hover {
            background-image: url(../images/prev-hover.png);
        }


    }

    .owl-next {
        background-image: url(../images/next.png);
        width: 23px;
        height: 59px;
        position: absolute;
        top: 50%;
        right: -70px;

        margin-top: -30px;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;

        overflow: hidden;
        background-repeat: no-repeat;

        background-color: #fff;
        background-position: center center;

        @media screen and (max-width: 767px) {
            right: -40px;
        }


        &:hover {
            background-image: url(../images/next-hover.png);
        }

    }



    .owl-dots {
        position: absolute;
        bottom: -30px;
        left: 0px;
        right: 0px;
        text-align: center;
        display: none;

        .owl-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 7px;
            background-color: #666;
            margin: 0px 5px;



            &.active {
                background-color: $active-color;
                width: 20px;


            }
        }
    }

    .news-item {
        background-color: #fff;
        transition: all ease 0.3s;
        margin: 0px 0px 40px 0px;
        border: 1px solid $border-color;



        .ni-img {
            overflow: hidden;

            img {
                width: 100%;
                transition: all ease 0.3s;
            }
        }

        .ni-des {
            padding: 20px;

            span {
                color: $text-color-third;
                display: block;
                margin: 0px 0px 5px 0px;
                font-size: 14px;

            }

            h3 {
                font-size: 18px;
                margin: 0px 0px 10px 0px;
                color: $text-color;
            }

            p {
                font-size: 15px;
                color: $text-color-second;

            }
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);


            .ni-img {

                img {
                    transform: scale(1.1);
                }
            }
        }

    }


}

#mobile-indicator {
    display: none;

    @media screen and (max-width: 991px) {
        display: block;
    }
}


.cookie-notify {
    background-color: #000;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    padding: 20px 0px;

    .close-cookie {
        color: #fff;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        opacity: 0.8;
        transition: all ease 0.4s;

        &:hover {
            opacity: 1;
        }
    }

    .cn-inner {
        padding: 0px 200px 0px 0px;
        position: relative;
        text-align: center;

        @media screen and (max-width: 991px) {
            padding: 0px 40px 0px 0px;
        }


        p {
            color: #fff;
            margin: 0px 0px;
            text-align: left;


            a {
                color: $active-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .db-btn {
            text-align: center;
            width: 90px;
            border-radius: 3px;
            position: absolute;
            top: 0px;
            right: 50px;

            @media screen and (max-width: 991px) {
                position: relative;
                top: unset;
                right: unset;
                margin: 15px 0px 0px 0px;

            }

        }
    }
}
