/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         Danh Cong
    Skype:          congnd91
    Author URI:     https://danhcong.com
-------------------------------------------------------------------
-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";

/*==========Setting=========*/

html {
    font-size: 10px;
}

body {
    font-family: $font-family;
    min-width: 320px;
    color: $active-color;
    line-height: 1.5;
    padding: 0px 0px 0px 0px;
    font-weight: 400;
}

dt,
dd {
    line-height: 1.5;
}

.page {
    overflow: hidden;
}

body,
html {}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {}

iframe {
    width: 100%;
    border: none;
}

::selection {
    background: $active-color;
    color: #fff;
}

a {
    &:active {}
}

img {
    max-width: 100%;
}

/*==========Components=========*/


.db-btn {
    line-height: 50px;
    display: inline-block;
    padding: 0px 30px;
    background-color: $active-color;
    border-radius: 40px;
    font-size: 24px;
    color: #fff;

    transition: all ease 0.3s;


    &:hover {
        background-color: lighten($active-color, 5%);
        color: #fff;
    }

    @media screen and (max-width: 991px) {
        font-size: 20px;
    }

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;

    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.row-fix5 {
    margin-left: -5px;
    margin-right: -5px;

    .col-fix5 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.dropdown-menu {
    font-size: inherit;
    top: 100% !important;
    transform: none !important;
}

.dropdown-toggle::after {
    display: none;
}

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background-color: #000;
}



.wrap {
    max-width: 900px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header {

    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    padding: 12px 30px 12px 30px;
    transition: all ease 0.3s;

    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);

    @media screen and (max-width: 991px) {
        height: 80px;
        padding: 7px 40px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .1) !important;


    }



    .header-left {
        float: left;

        .logo {
            float: left;
            margin: 0px 0px 0px 0px;

            img {
                height: 56px;
                transition: all ease 0.3s;

                @media screen and (max-width: 991px) {
                    height: 46px;
                    margin: 7px 0px 0px 0px;

                }



            }


        }


    }


    .header-right {
        float: right;



    }



    .menu-icon {
        float: left;
        text-align: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        font-size: 30px;
        margin: 16px 0px 0px 0px;
        color: $active-color;

        i {
            display: block;
            line-height: 40px;
        }





        @media screen and (max-width: 991px) {
            display: block;
        }
    }

    .menu {
        float: left;


        margin: 0px;
        padding: 0px;
        list-style: none;
        display: inline-block;

        @media screen and (max-width: 991px) {
            display: none;
        }

        > li {
            display: inline-block;
            margin: 0px 0px 0px 24px;
            position: relative;

            > a {

                display: block;
                color: $active-color;
                font-size: 15px;
                font-family: $font-light;
                font-weight: bold;
                line-height: 56px;
                transition: all ease 0.3s;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }


            }





        }
    }

    &.header-scrolled {
        padding: 7px 30px;
        box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important;

        @media screen and (max-width: 991px) {

            box-shadow: 0 1px 0 rgba(0, 0, 0, .1) !important;

        }



        .header-left {

            .logo {

                img {
                    height: 46px;

                }


            }


        }

        .menu {


            > li {


                > a {


                    font-size: 14px;

                    line-height: 46px;

                }





            }
        }

    }

    .menu-mobile {
        position: absolute;
        top: 100%;
        left: 40px;
        right: 40px;
        background-color: #fff;
        border-top: 3px solid $active-color;

        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        padding: 20px 20px 20px 20px;
        display: none;


        ul {
            line-height: none;
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {

                a {
                    display: block;
                    padding: 10px 15px;
                    border-bottom: 1px solid rgba(0, 0, 0, .03);
                    color: $active-color;
                    font-size: 14px;
                    font-family: $font-light;
                    font-weight: 600;
                    transition: all ease 0.3s;

                    &:hover {
                        opacity: .7;
                        background-color: rgba(0, 0, 0, .03);
                    }

                    &.active {
                        opacity: .7;
                        background-color: rgba(0, 0, 0, .03);
                    }

                }
            }
        }
    }
}

.wrap {
    max-width: 1330px;
    margin: 0px auto;
}
