/* Replace this class in the old files */
.index-card-deck .card-body .card-img{
    margin: auto auto 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
}
.index-card-deck .card-body .card-img img{
    width: 76%;
    max-width: 270px;  
    max-height: 156px; 
}
.my-profile .nav-item{
    padding-right: 36px;
}
.my-profile .nav-link .arrow{
    width: 15px;
    height: 8px;
    display: inline-block;
    background: url("../new_imgs/chevron_up.png") no-repeat;
    background-size: contain;
    margin-left: 10px;
    transform: rotate(180deg);
    transition: all .3s ease-in-out;
}
.my-profile .nav-item.show .nav-link .arrow{
    transform: rotate(0deg);
}
.profile-dropdown{
    border: 1px solid #F0EAFB;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.03);
    border-radius: 0px 0px 0px 8px;
    width: 100%;
    top: 63px;
    padding: 0;
}
.profile-dropdown .dropdown-item{
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile-dropdown .dropdown-item:hover{
   background: #6823db1c;
}
@media(max-width:768px){
    .my-profile .nav-item{
        padding-right: 0;       
    }    
}
@media(max-width:767px){
    .my-profile .nav-item{
        padding-left: 36px;
    }   
    .my-profile .nav-link .arrow{
        margin-left: 0px;
    } 
}