html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #d6d6d6;
    font-family: Tahoma, sans-serif;
}

header,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}


b {
    font-weight: inherit;
}

b {
    font-weight: bolder;
}

img {
    border-style: none;
}


button,
input,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


button,
input {
    overflow: visible;
}


button {
    text-transform: none;
}


button {
    -webkit-appearance: button;
}


button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


button:-moz-focusring {
    outline: 1px dotted ButtonText;
}


textarea {
    overflow: auto;
}


::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}


.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.center-txt {}

img {
    max-width: 100%;

}

article img {
    display: block;
    margin: 0 auto;
}

article h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 25px 0;
}

article p {
    font-size: 18px;
    line-height: 30px;
}

.clearbox {
    clear: both;
}

.menu {
    background: url("../images/bgmenu.jpg");
}

.menu ul {
    text-align: center;
    margin: 0;
}

.menu ul li:hover {
    background: #ffffff;
    color: #000000;
    cursor: pointer;
}

.menu ul li {
    margin: 0 10px;
    padding: 13px 7px 7px;
    color: white;
    background: #023d55;
    display: inline-block;
}

header {
    line-height: 0;
}

.box {
    background: #ffffff;
}

.left_cont {
    display: inline-block;
    max-width: 200px;
    width: 100%;
}


.right_cont {
    display: inline-block;
    width: calc(99% - 200px);
    vertical-align: top;
}

.sidebar_content {
    font-size: 14px;
}

.sidebar_content .side_title {
    background: #023d55;
    margin: 20px 0 0 5px;
    line-height: 0;
    padding: 1px 10px;
    color: #ffffff;
}

.sidebar_content .item {
    background: #93b4c7;
    margin: 0 0 0 5px;
}

.sidebar_content .side_text {
    line-height: 0;
    padding: 0 10px;
    color: #ffffff;
    display: inline-block;
}

.sidebar_content .side_text p {
    vertical-align: top;
    line-height: 1;
    cursor: pointer;
}

.sidebar_content .side_text a {
    color: #f3ec78;
    text-decoration: none;
}

.sidebar_content .side_text img {
    width: auto;
    display: inline;
}

.right_cont .content {
    padding: 0 20px;
}

.right_cont .content h1 {
    text-align: center;
}

.right_cont .content .title {
    line-height: 1;
    font-weight: 600;
}

.floatbox {
    float: left;
    margin: 10px 15px 15px 0;
    text-align: center;
    max-width: 290px;
}

.floatbox strong {
    display: block;
    margin: 7px 0;
}

@media (max-width: 768px) {
    .floatbox {
        float: none;
        margin: 10px auto;
    }
}

.prod {
    text-align: center;
    margin: 50px 0 30px;
}

.prod-wrap {
    position: relative;
    display: inline-block;
}

.prod img {
    display: inline-block;
    line-height: 1;

}

.prod-wrap .guarantee {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(10%, -10%);
    transform: translate(10%, -10%);
}

.prod-wrap .link {
    display: none;
}

@media (max-width: 768px) {
    .prod-wrap .link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .prod-wrap .guarantee {
        width: 25%;
    }
}

.form-box {
    margin: 0 auto 40px;
    max-width: 400px;
    border-radius: 14px;
    padding-bottom: 14px;
    -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 0px 14.72px 1.28px rgba(0, 0, 0, 0.49);
}

.formhead {
    padding: 30px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    line-height: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.formhead .oldprice {
    color: #878787;
    font-size: 16px;
}

.formhead .newprice {
    font-size: 24px;
    font-weight: 700;
}

.newprice strong {
    display: block;
}

.line-through {
    text-decoration: line-through;
    display: block;
}

.form-wrapper {
    background: #eeeeee;
    padding: 10px 30px;
    line-height: 24px;
}

.form-guide {
    margin-bottom: 5px;
    font-size: 16px;
}

.form-wrapper input {
    width: 100%;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px #777 solid;
    padding: 10px 12px;
    font-size: 16px;
}

.submit-form,
.cta {
    border-radius: 6px;
    background: #ff0000;
    color: #fff;
    font-size: 30px;
    width: 100%;
    -webkit-box-shadow: #f00202 0 4px;
    box-shadow: #f00202 0 4px;
    border: none;
    padding: 7px 10px 0;
    margin: 10px 0;
    display: block;
    text-align: center;
    -webkit-animation: pulse 1s infinite alternate;
    animation: pulse 1s infinite alternate;
}

.form-info {
    font-size: 14px;
}

.form-info .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.form-info.delivery {
    margin: 5px 0 10px;
}

@media (max-width: 768px) {

    .submit-form,
    .cta {
        padding: 17px 10px 10px;
        -webkit-box-shadow: #f00202 0 8px;
        box-shadow: #f00202 0 8px;
        margin: 10px 0 20px;
    }
}

@media (max-width: 420px) {
    .form-box {
        margin-left: -25px;
        margin-right: -25px;
    }
}

.right_cont .content .img_cont img {
    max-width: 80px;
    width: 100%;
}

.name {
    display: inline-block;
    padding: 0 80px;
}

.button {
    text-align: center;
}

.ord_button {
    background-color: #023d55;
    color: #ffffff;
    display: inline-block;
    padding: 10px 30px;
    font-size: 28px;
    font-weight: bold;
    -webkit-box-shadow: 1px 2px 2px #999999;
    box-shadow: 1px 2px 2px #999999;
    text-decoration: none;
    border-radius: 8px;
    border: 3px solid #ffffff;
    margin: 20px 0px 30px;
    line-height: 27px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.ord_button:hover {
    -webkit-box-shadow: 2px 3px 5px #999999;
    box-shadow: 2px 3px 5px #999999;
    text-decoration: none !important;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.col_pe {
    color: #808095;
}

.socset {
    margin: 20px -3px 5px;
    margin: 20px -3px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.socset a {
    padding: 5px 10px 5px 33px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 3px;
    color: #fff;
    margin: 3px;
    position: relative;
}

.socset a:hover,
.socset a:visited {
    color: #fff;
}

.socset .icon {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 8px;
    width: 20px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fb {
    background: #3b5998
}

.fb .icon {
    background-image: url("../images/fb.svg");
}

.tt {
    background: #1da1f2
}

.tt .icon {
    background-image: url("../images/tt.svg");
}

.gplus {
    background: #dc4e41
}

.gplus .icon {
    background-image: url("../images/gplus.svg");
}

.line {
    background: #00c300
}

.line .icon {
    background-image: url("../images/line.svg");
}

.pint {
    background: #cb2027
}

.pint .icon {
    background-image: url("../images/pint.svg");
}

#calendar {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}

#calendar thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}

#calendar thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar tbody td {
    color: rgb(44, 86, 122);
}

#calendar tbody td:nth-child(n + 6) {
    color: rgb(231, 140, 92);
}

#calendar tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}

.call {
    width: 193px;
    border: 1px solid #c0c0c0;
    padding: 0px;
    margin-left: 5px;
}

.burg {
    display: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 3px 0;
}

.burg .burger {
    cursor: pointer;
}

.right_cont .content .component .box_component .molec {
    max-width: 129px;
}

.component .box_component .item_component_bot {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    text-align: center;
}

.menu ul li a {
    color: #ffffff;
}

.menu ul li a:hover {
    color: #000000;
}

.cta {
    max-width: 320px;
    margin: 40px auto;
}

#standardfooter {
    color: #a12000;
}

footer .footerlinks {
    font-size: 0.8em;
}

@media all and (max-width: 715px) {
    .menu ul {
        max-height: 0;
        padding: 0;
        overflow: hidden;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    .menu ul li {
        display: block;
        margin: 0;
    }

    .menu ul li a {
        display: block;
    }

    .menu.toggled ul {
        max-height: 700px;
    }

    .burg {
        display: block;
    }
}

@media all and (max-width: 670px) {
    .left_cont {
        display: none;
    }

    .right_cont {
        width: 100%;
    }
}

@media all and (max-width: 550px) {
    .component .box_component .item_component_bot {
        display: block;
        width: 100%;
    }
}

@media all and (max-width: 500px) {
    .name {
        padding: 0 35px;
    }
}

#comment-component-text img {
    display: inline-block;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1.0);
        transform: scale(1.0)
    }

    to {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale(1.0);
        transform: scale(1.0)
    }

    to {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
}

/* pop up igor skrypt9 */

.show-message {
    position: fixed;
    top: 5vw;
    right: 5vw;
    width: 300px;
    height: auto;
    z-index: 1000;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    background: rgba(239, 239, 239, 1);
    display: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    font-size: 18px;
    min-height: 50px;
}

.show-message > span {
    display: inline-block;
    margin: 0 auto;
    padding: 0 1px 0 1px;
    text-align: left;
}

.popmessageContainer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

@media(max-width:991px) {
    .show-message {
        bottom: 5vw;
        top: auto;
    }
}

/* ========================================== poprawki ux ==================================
============================================================================================
============================================================================================
============================================================================================ */

/* skrypt 1 - nagłówek z okazją nad formularzem  */

.special-offer {
    padding: 30px 20px 10px;
    font-size: 20px;
    text-align: center;
}

.red {
    color: red;
}

/* skrytp 2 - paragrafy, paragraf o FDA, znaczki na zdjęciu produkut  */

.prod-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

.prod-wrap .guarantee {
    max-width: 244px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(-60%, -35%);
    transform: translate(-60%, -35%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.prod-wrap .guarantee img {
    max-width: 90px;
    max-height: 90px;
}

@media (max-width: 873px) {
    .prod-wrap .guarantee {
        position: static;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.content p > a {
    color: #1da1f2;
    font-weight: bold;
}

/* pop up igor skrypt8 duzy popup ================================================================================================================================== */

.close-popup {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.close-popup::after,
.close-popup::before {
    display: block;
    width: 4px;
    height: 25px;
    content: '';
    background: #F00;
    position: absolute;
    left: 50%;
}

.close-popup::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-popup::before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#confirmbtn {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #EF6B1C;
    color: #fff;
    border: none;
    outline: 0;
    cursor: pointer;
}

#confirm,
#end-time-popup {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

#end-time-popup {
    z-index: 10001;
}

#overlay,
#end-time-popup .popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#toast,
#end-time-popup .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #efefef;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    max-width: 600px;
    width: 70%;
    color: #000;
}

#toast img,
#end-time-popup .popup img {
    margin: 10px 0;
    max-width: 300px;
}

#toast h1,
#end-time-popup .popup h1 {
    font-size: 21px;
    font-weight: 400;
    margin: 0 0 10px;
    color: #333;
}

#confirmbtn,
#end-time-btn {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#b42d43), color-stop(#fc022c), to(#b42d43));
    background: linear-gradient(#b42d43, #fc022c, #b42d43);
    ;
    color: #fff;
    border: none;
    outline: 0;
    display: block;
    min-width: 200px;
    text-decoration: none;
}

@media(max-width:600px),
(max-height: 900px) {

    #toast,
    #end-time-popup .popup {
        width: 90%;
        padding: 4vh;
        border-radius: 25px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #toast h1,
    #end-time-popup .popup h1 {
        font-size: 3vh;
    }

    #toast img,
    #end-time-popup .popup img {
        height: 40vh;
    }

    .close-popup {
        top: 1.5vh;
        right: 1.5vh;
        width: 3vh;
        height: 3vh;
        max-width: 21px;
        max-height: 21px;
    }

    #confirmbtn,
    #end-time-btn {
        font-size: 2.5vh;
    }
}

/* pop up igor skrypt9 maly popup ================================================================================================================ */

.show-message {
    position: fixed;
    top: 5vw;
    right: 5vw;
    width: 300px;
    height: auto;
    z-index: 1000;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    background: rgba(239, 239, 239, 1);
    display: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    font-size: 18px;
    min-height: 50px;
}

.show-message > span {
    display: inline-block;
    margin: 0 auto;
    padding: 0 1px 0 1px;
    text-align: left;
}

.popmessageContainer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

@media(max-width:991px) {
    .show-message {
        bottom: 5vw;
        top: auto;
    }
}

/* skrypt10 certyfikaty  ======================================================================================================================================*/

/* ===== modal gallery ===== */

.vanilla-modal .modal-hider {
    position: absolute;
    left: -99999em;
}

.modal {
    display: none;
}

.vanilla-modal .modal {
    display: block;
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.2s, z-index 0s 0.2s;
    transition: opacity 0.2s, z-index 0s 0.2s;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

.vanilla-modal .modal > a {
    text-align: center;
}

.vanilla-modal .modal:before {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.vanilla-modal.modal-visible .modal {
    z-index: 99;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.modal-inner {
    position: relative;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
    transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s;
}

.modal-visible .modal-inner {
    z-index: 100;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

[data-modal-close] {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}

.certs {
    width: 100%;
    margin: 0 auto;
}

.certs ul {
    text-align: center;
    padding-left: 0;
}

.certs ul li {
    list-style: none;
    display: inline-block;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.modal-links ul li {
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s linear 0s;
    transition: -webkit-transform 0.3s linear 0s;
    transition: transform 0.3s linear 0s;
    transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s;
}

.modal-links ul li:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.certText {
    width: 100%;
    text-align: center;
}
