

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
}

article ol
{
    list-style: decimal;
        padding-left: 22px;
}
article ol li
{
    margin-bottom: 10px;
}
article .termsUl
{
       padding-left: 19px;
list-style: disc;
}
article
{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    padding-top:215px;
    padding-bottom: 138px;
    overflow: auto;
    font-family:  PMingLiU;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.4;

}
.page_h2
{
    font-size: 23px;
    color: #603813;
    font-family: "圓體";
    font-weight: 900;
    margin: 50px 0;
    letter-spacing: 5px;
}
.page_h3
{
    
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;

}
.page_span
{
    margin-top: 50px;
    display: block;
}
@media screen and (max-width: 1024px) {
article
{
     padding: 0 5%;
  padding-top: 65px;
        padding-bottom: 150px;

}
}