.blue-button {
    position: fixed;
    display: inline-block;
    position: fixed;
    bottom: 80px;
    right: 0px;
    z-index: 10px;
    border-radius: 15px 0px 0px 15px;
    background-color: #0172BB;
    z-index: 100;
    min-width: 220px;

}


.blue-button:hover {
    opacity: 0.95;
    text-decoration: none;
}

.blue-button div {
    display: flex;

    align-items: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 13px;
    padding: 0px 10px;




}

.blue-button div .icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(images/contact.png);
    background-size: 30px auto;
    flex-shrink: 0;
    margin: 0px 5px 0px;

}

.blue-button div .arrow {
    width: 20px;
    height: 40px;

    line-height: 40px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;



}

.green-button {
    position: fixed;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 10px;
    border-radius: 15px 0px 0px 15px;
    background-color: #4BBD42;
    z-index: 100;
    min-width: 220px;



}

.green-button:hover {
    opacity: 0.95;
    text-decoration: none;
}

.green-button div {
    display: flex;

    align-items: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 13px;
    padding: 0px 10px;




}

.green-button div .icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(images/plant.png);
    background-size: 30px auto;
    flex-shrink: 0;
    margin: 0px 5px 0px;

}

.green-button div .arrow {
    width: 20px;
    height: 40px;

    line-height: 40px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;


}

@media screen and (max-width: 767px) {
    .blue-button {
        position: fixed;
        display: inline-block;
        position: fixed;
        bottom: 60px;
        right: 0px;
        left: 0px;

        z-index: 10px;
        border-radius: 0px;
        background-color: #0172BB;
        z-index: 100;


    }
    .blue-button div {
        justify-content: center;
    }
    .green-button {
        position: fixed;
        display: inline-block;
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0px;

        z-index: 10px;
        border-radius: 0px;
        background-color: #4BBD42;
        z-index: 100;
        min-width: 235px;


    }
    .green-button div {
        justify-content: center;
    }
}
