/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";
/*==========Setting=========*/

html {
    font-size: 10px;

    @media screen and (max-width: 991px) {
        font-size: 8px;

    }
    @media screen and (max-width: 767px) {}
}

body {
    background-color: #fff;
    font-family: $font-family-base;
    min-width: 360px;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.4;
    color: $text-color;
    font-weight: 600;
}

dt,
dd {
    line-height: 1.5;
}

body,
html {
    height: 100%;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
}

iframe {
    width: 100%;
    border: none;
}

::selection {
    background: $active-color;
    color: #fff;
}

/*==========Components=========*/

.my-btn {
    font-family: $font-family-heading;
    text-transform: uppercase;
    background-color: $active-color;
    color: #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    @include transition();
    opacity: 0.9;
    &:hover {
        cursor: pointer;
        opacity: 1;
        color: #fff;
    }
}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;
    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .container {}
}

#page-loader {
    background-color: $active-color;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

.page {
    min-height: 100%;
    height: 100%;
    @include transition();
    position: relative;
    &:before {

        content: "";
        display: block;
        z-index: -1;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        @include transition();
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.7);
    }
}


.open-menu {
    overflow: hidden;
    .menu-res {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
    .page {
        -moz-transform: translateX(280px);
        -webkit-transform: translateX(280px);
        -o-transform: translateX(280px);
        -ms-transform: translateX(280px);
        transform: translateX(280px);
        overflow: hidden;
        &:before {
            visibility: visible;
            opacity: 1;
            z-index: 99;
        }
    }

}

.menu-res {
    width: 280px;
    background-color: #fff;
    position: fixed;
    top: 0px;
    z-index: 999;
    overflow: auto;
    bottom: 0px;
    @include transition();
    left: 0px;
    -moz-transform: translateX(-280px);
    -webkit-transform: translateX(-280px);
    -o-transform: translateX(-280px);
    -ms-transform: translateX(-280px);
    transform: translateX(-280px);
    box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.3);

}

.page {}

.menu-res-inner {

    .logo-menu {
        padding: 35px 10px;
        text-align: center;
        img {
            max-width: 250px;
        }
    }
    > ul {
        padding: 0px;
        list-style: none;
        > li {
            border-bottom: 1px solid $text-color-three;

            position: relative;
            > a {
                color: $text-color-three;
                font-size: 2.6rem;
                display: block;
                line-height: 50px;
                @include transition();
                padding: 0px 10px 0px 30px;

                span {
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 0px 10px 0px 0px;
                    background-repeat: no-repeat;
                    background-position: center center;

                }


            }

            &.menu-icon1 {
                > a > span {
                    background-image: url(../images/menu_icon1.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon1_hover.png);
                    }
                }
            }
            &.menu-icon2 {
                > a > span {
                    background-image: url(../images/menu_icon2.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon2_hover.png);
                    }
                }
            }
            &.menu-icon3 {
                > a > span {
                    background-image: url(../images/menu_icon3.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon3_hover.png);
                    }
                }
            }
            &.menu-icon4 {
                > a > span {
                    background-image: url(../images/menu_icon4.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon4_hover.png);
                    }
                }
            }
            &.menu-icon5 {
                > a > span {
                    background-image: url(../images/menu_icon5.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon5_hover.png);
                    }
                }
            }
            &.menu-icon6 {
                > a > span {
                    background-image: url(../images/menu_icon6.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon6_hover.png);
                    }
                }
            }
            &.menu-icon7 {
                > a > span {
                    background-image: url(../images/menu_icon7.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon7_hover.png);
                    }
                }
            }
            &.menu-icon8 {
                > a > span {
                    background-image: url(../images/menu_icon8.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon8_hover.png);
                    }
                }
            }
            &.menu-icon9 {
                > a > span {
                    background-image: url(../images/menu_icon9.png);

                }
                &:hover {

                    > a > span {
                        background-image: url(../images/menu_icon9_hover.png);
                    }
                }
            }
            &.menu-item-has-children {}
            &.open-submenu-active {
                &:before {
                    content: "\f462";
                }
            }
            &:hover {

                > a {
                    color: #fff;
                    background-color: $active-color;
                }
            }
            > ul {
                padding: 0px 0px 10px 10px;
                display: none;
                li {
                    border: none;
                    border-bottom: 1px solid #111;
                    &:last-child {
                        border: none;
                    }
                    a {
                        display: block;
                        line-height: 35px;
                        text-transform: none;
                        color: #666;
                        padding: 0px 0px;
                        font-weight: 400;
                        font-family: $font-family-heading;
                        @include transition();
                        text-transform: uppercase;
                        &:hover {
                            color: #fff;
                        }
                    }
                    > ul {
                        padding: 0px 0px 0px 20px;
                    }
                }
            }
        }
    }
}


.login-page {
    min-height: 100%;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 20px 0px 170px 0px;
    position: relative;
    .footer-login {
        position: absolute;
        bottom: 0px;
        left: 0px;
        text-align: center;
        right: 0px;
        padding: 10px;
        background-color: #3f3b3a;
        p {
            color: #fff;
            margin: 5px 0px;
            font-size: 1.2rem;
            span {
                display: inline-block;
                margin: 0px 5px;
            }
        }
    }
    .box-login {
        max-width: 580px;
        padding: 30px 130px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        text-align: center;
        @media screen and (max-width: 767px) {
            padding: 20px;
        }
        .bl-control {
            text-align: center;
            margin: 40px 0px 10px 0px;
            a {
                display: block;
                font-size: 2.2rem;
                color: #fff;
                line-height: 40px;
                border: 2px solid #fff;
                border-radius: 30px;
                background-color: $active-color;
                @include transition();
                &:hover {
                    background-color: $hover-color;
                }
            }
        }
    }

    .bl-field {
        margin: 20px 0px 0px 0px;
        position: relative;
        &.fogot {
            text-align: left;
            font-size: 1.8rem;
            color: $active-color;
            margin: 10px 0px 0px 0px;
            &:hover {
                text-decoration: underline;
            }
        }
        input {
            width: 100%;
            display: block;
            line-height: 40px;
            height: 40px;
            background-color: transparent;
            outline: none;
            border: 1px solid $active-color;
            border-radius: 30px;
            padding: 0px 10px 0px 55px;
            font-size: 2rem;
        }
        span {
            display: block;
            background-image: url(../images/icon1.png);
            width: 23px;
            height: 30px;
            position: absolute;
            top: 5px;
            left: 15px;
            &.icon-pass {
                background-image: url(../images/icon2.png);
                width: 22px;
                height: 28px;
                top: 4px;
            }
        }
    }
}


.intro-page {
    background-color: #eeefef;
    min-height: 100%;
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    background-size: cover;
    padding: 100px 0px 300px 0px;

    @media screen and (max-width: 991px) {
        padding: 30px 0px 300px 0px;
    }
    position: relative;
    .intro-box {
        min-height: 200px;
    }
}

.intro-slider {

    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;

    padding: 0px 50px;

    @media screen and (max-width: 991px) {
        bottom: 10px;
        height: auto;
    }
    @media screen and (max-width: 767px) {
        padding: 0px 30px;
    }
    .owl-prev {
        position: absolute;
        top: 48%;
        left: 0px;
        width: 30px;
        height: 30px;
        background-color: #b5b6b6;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        color: #fff;
        @media screen and (max-width: 767px) {
            left: -20px;
        }
    }
    .owl-next {
        position: absolute;
        top: 48%;
        right: 0px;
        width: 30px;
        height: 30px;
        background-color: #b5b6b6;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: #fff;
        font-size: 14px;
        @media screen and (max-width: 767px) {
            right: -20px;
        }
    }
    .intro-item {
        background-color: $active-color;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition();
        &:hover {
            background-color: #008dc1;
        }

        @media screen and (max-width: 1199px) {
            width: 150px;
            height: 150px;
        }
        a {
            display: block;
            span {
                display: block;
                background-image: url(../images/intro_icon1.png);
                width: 130px;
                height: 130px;
                background-repeat: no-repeat;
                background-position: center center;
                @media screen and (max-width: 1199px) {
                    width: 90px;
                    height: 90px;
                    background-size: auto 90px;
                }
                &.intro-icon2 {
                    background-image: url(../images/intro_icon2.png);
                }
                &.intro-icon3 {
                    background-image: url(../images/intro_icon3.png);
                }
                &.intro-icon4 {
                    background-image: url(../images/intro_icon4.png);
                }
                &.intro-icon5 {
                    background-image: url(../images/intro_icon5.png);
                }
            }
            p {
                display: block;
                margin: 0px 0px 0px 0px;
                color: #fff;
                font-size: 2.3rem;
            }

        }
    }
}


.topbar {
    background-color: $gray-dark;
    text-align: right;
    color: #fff;
    padding: 10px 10px;
    p {
        margin: 0px;
        padding: 0px;
        color: #fff;
        font-size: 2.8rem;
        @media screen and (max-width: 1199px) {
            font-size: 2rem;
        }
        @media screen and (max-width: 991px) {
            font-size: 1.6rem;
        }
        span {
            margin: 0px 5px;
        }
    }
}

.home-slider {
    position: relative;
    img {
        width: 100%;
    }
    .owl-dots {
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
        z-index: 99;
        text-align: center;

        .owl-dot {
            display: inline-block;
            width: 160px;
            height: 13px;
            background-color: #fff;
            margin: 0px 20px;
            border-radius: 10px;
            &.active {
                background-color: $active-color;
            }
            @media screen and (max-width: 991px) {
                width: 60px;
                margin: 0px 10px;
            }
            @media screen and (max-width: 767px) {
                width: 60px;
                margin: 0px 10px;
                height: 10px;
                width: 40px;
            }
        }
    }
}

.menu-icon {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 70px;
    height: 70px;
    background-color: #c9cacb;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    background-image: url(../images/menu_icon.png);
    background-size: 35px auto;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (max-width: 991px) {
        width: 40px;
        height: 40px;
        background-size: 25px auto;
        @media screen and (max-width: 575px) {
            top: 20px;
        }
    }
}



@media (min-width: 1200px) {
    .container {
        width: 1015px;
        max-width: 100%;
    }
}


.section-gray {
    padding: 30px 0px 50px 0px;
    background-color: #efeff0;
    @media screen and (max-width: 991px) {
        padding: 0px 0px 30px 0px;
    }
}

.box-caption {
    margin: 30px 0px 20px 0px;
    .bc-inline {
        display: inline-block;
        padding: 0px 0px;
        border-top: 2px solid $active-color;
        border-bottom: 2px solid $active-color;
        color: $active-color;
        font-size: 3rem;
        margin: 0px 10px 0px 0px;

        span.bc-icon {
            width: 40px;
            height: 40px;
            display: inline-block;
            float: left;
            margin: 0px 5px 0px 0px;
            background-repeat: no-repeat;
            background-position: center center;

            @media screen and (max-width: 767px) {
                background-size: 20px auto;
                width: 30px;
                height: 30px;

            }
            &.bc-icon2 {
                background-image: url(../images/cate_icon2.png);
            }
            &.bc-icon3 {
                background-image: url(../images/cate_icon3.png);
            }
            &.bc-icon4 {
                background-image: url(../images/cate_icon4.png);
            }
            &.bc-icon5 {
                background-image: url(../images/cate_icon5.png);
            }
            &.bc-icon6 {
                background-image: url(../images/cate_icon6.png);
            }
            &.bc-icon7 {
                background-image: url(../images/cate_icon7.png);
            }
            &.bc-icon8 {
                background-image: url(../images/cate_icon8.png);
            }
            &.bc-icon9 {
                background-image: url(../images/cate_icon9.png);
            }
        }

    }
    .bc-number {
        color: $active-color;
        margin: 0px 20px 0px 0px;
        font-size: 2.6rem;
        strong {
            color: $red;
        }
    }
    .bc-more {
        font-size: 2.6rem;
        color: $active-color;
        border-radius: 20px;
        padding: 0px 15px;
        margin: 0px 20px 0px 0px;
        border: 2px solid $active-color;
    }
    p.bc-red-text {
        font-size: 2.6rem;
        color: $red;
        margin: 0px;
        padding: 0px;
        display: inline-block;
    }
}

.box1 {
    .box1-item {
        border: 1px solid #cecfcf;
        background-color: #dcdddd;
        margin: 0px 0px 10px 0px;

        .number {
            display: inline-block;
            float: left;
            color: #fff;
            font-size: 5rem;
            line-height: 1;
            padding: 0px 70px 0px 60px;
            background-color: #c9cacb;

            margin: 0px 20px 0px 0px;
            background-image: url(../images/arrow1.png);
            background-repeat: no-repeat;
            background-position: right center;
            background-repeat: no-repeat;
            @media screen and (max-width: 767px) {
                padding: 0px 40px 0px 20px;
            }
        }
        a {
            font-size: 2.3rem;
            margin: 10px 0px 0px 0px;
            display: inline-block;
        }
        &.even {
            background-color: #efeff0;

            .number {

                background-color: #dcdddd;


                background-image: url(../images/arrow2.png);

            }
        }

    }
}

.box-control {
    .bc-prev {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        background-color: #b5b6b6;

    }
    .bc-next {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        margin: 0px 0px 0px 5px;
        background-color: #b5b6b6;

    }
}

.section-white {
    padding: 30px 0px 50px 0px;
    background-color: #fff;
    @media screen and (max-width: 991px) {
        padding: 0px 0px 30px 0px;
    }
}


.my-checkbox {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    position: relative;
    input[type=checkbox] {
        position: absolute;
        visibility: hidden;
    }
    label {
        padding: 0px 0px 0px 40px;
        position: relative;
        line-height: 1;
        @media screen and (max-width: 991px) {

            padding: 0px 0px 0px 30px;
        }

        &:before {
            content: "";
            display: block;
            width: 28px;
            height: 28px;
            border: 1px solid #575555;
            border-radius: 2px;
            position: absolute;
            top: -1px;
            left: 0px;

            @media screen and (max-width: 991px) {

                width: 20px;
                height: 20px;
            }
        }
    }
    a {
        color: $cyan;
    }
    input[type=checkbox]:checked ~ label {

        &:before {}
        &:after {
            content: "";
            display: block;
            background-image: url(../images/check.png);
            width: 28px;
            height: 26px;
            position: absolute;
            top: -5px;
            left: 5px;

            @media screen and (max-width: 991px) {

                width: 20px;
                height: 20px;
                background-size: 20px auto;
            }
        }
    }

}


.box2 {
    ul {
        list-style: none;

        margin: 0px;
        padding: 0px 20px 0px 10px;

        li {
            padding: 10px 0px;
            border-bottom: 2px dashed #cecfcf;
            &:last-child {
                border: none;
            }
        }
    }
}


.box3 {
    .box3-control {
        margin: 10px 0px 0px 0px;
        a {
            font-size: 2.6rem;
            color: $active-color;
            border-radius: 20px;
            padding: 0px 15px;
            border: 2px solid $active-color;
            margin: 0px 20px 0px 0px;
        }
    }
}

.box3-cols {
    border: 1px solid #959696;
    margin: 30px 0px 0px 0px;
    .box3-col {
        float: left;
        width: 33.333%;
        padding: 20px 5px;
        text-align: center;
        &.center {
            border-left: 1px solid #959696;
            border-right: 1px solid #959696;

        }
        p {
            font-size: 2rem;
            color: $text-color-three;
        }
        strong {
            font-size: 4.7rem;
            font-weight: 900;
            display: block;
            margin: 30px 0px;
            @media screen and (max-width: 991px) {

                font-size: 3rem;
                padding: 0px 0px;
            }
        }
    }
}

.section-three {
    padding: 30px 0px 50px 0px;
    background-color: #efeff0;
    @media screen and (max-width: 991px) {
        padding: 0px 0px 30px 0px;
    }
}
