/* CSS Document */
a.tel, a.tel:hover { pointer-events: none; }
@media print, screen and (max-width: 999px){
a.tel, a.tel:hover { pointer-events: initial; }
}


footer { background:#888888;}
.footer-sitemap { display:flex; flex-direction:row; flex-wrap:wrap; padding:20px 20px 0 20px;}
.footer-sitemap li { width:135px; color:#fdfbfb; font-size:14px; padding-bottom:20px;}
.footer-sitemap li a { color:#fdfbfb; display:block;}
.footer-sitemap li a:hover, .footer-sitemap li a:hover b { color:#010175;}
.footer-sitemap li b { font-weight:bold; color:#ffffff; font-size:15px; display:block; padding-bottom:10px;}
.copyright { background:#010175; text-align:center; }
.copyright-content { padding:10px 20px; text-align:center; font-size:12px; color:#fff;}
.copyright-content span { display:inline-block; padding:0 3px;}
.copyright-content span > a, .copyright-content span > a:hover { color:rgba(255,255,255,.6);}
.copyright-icon { position:absolute; top:10px; right:15px;}
.copyright-icon a { display:inline-block; margin:0 5px; width:22px; height:22px; text-align:center; line-height:24px; background:#fff; border-radius:100%; color:#00adeb;}
.copyright-icon a:hover { color:#010175;}
.copyright-icon a i { font-size:15px;}




@media only screen and (max-width: 768px) {
.copyright-icon { position:inherit; padding-top:15px; top:auto; right:auto;}
}