//background
.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.bg-sliver {
    background-color: $bg-color;
}

.text-active {
    color: $active-color;
}

.text-blue {
    color: rgb(61, 75, 199)
}

.text-pink {
    color: rgb(255, 87, 117);

}

.field {
    margin: 0px 0px 20px 0px;


    .caption {
        font-size: 16px;
        font-weight: 700;
        margin: 0px 0px 10px 0px;
    }
}

.input {

    width: 100%;
    display: block;
    background: #EAEAEA;
    border-radius: 8px;
    font-size: 16px;
    padding: 0px 20px;
    font-weight: 700;
    height: 50px;
    border: none;

}

.textarea {
    width: 100%;
    display: block;
    background: #EAEAEA;
    border-radius: 8px;
    font-size: 16px;
    padding: 20px 20px;
    font-weight: 700;
    height: 120px;
    border: none;
}

.button {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #CEF9C6;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    display: block;
    width: 100%;
    transition: all ease 0.3s;
    &:hover {
        background-color: darken(#CEF9C6, 10%);
    }
    &.cancel {
        background-color: #fff;
        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.tag-member {
    background: #EAEAEA;
    border-radius: 8px;

    padding: 10px 10px 10px 15px;

    height: 50px;
    border: none;
    .mem {
        height: 30px;
        background-color: #fff;
        padding: 0px 30px 0px 0px;
        border-radius: 30px;
        position: relative;
        display: inline-block;

        .avatar {
            width: 30px;
            height: 30px;
            float: left;
            margin: 0px 0px 0px 0px;

            img {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
        span {
            font-size: 14px;
            line-height: 30px;
            font-weight: 700;
            padding: 0px 0px 0px 10px;
            white-space: nowrap;

        }
        .close {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0px;
            right: 0px;
            background-image: url(../images/icon-close.svg);
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            background-size: 10px auto;


        }
    }
}
