.member-list {
  height:calc(100% - 44px);
  overflow:auto;
  
  .block {
    background: $white;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 $n60;
    display: flex;
    padding: rem(16px 13px);

    .avatar {
      margin-right: rem(12px);
      width: rem(24px);
      height: rem(24px);
      overflow: hidden;	
    }

    +.block {
      margin-top: rem(9px);
    }

    .info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h6 {
        color: $n500;
        margin-bottom: rem(2px);

        small {
          color: $n90;
          display: block;
          font-weight: $fw-300;
          font-size: rem(12px);
          line-height: rem(16px);
        }
      }

      label {
        padding: rem(4px 6px);
        font-size: rem(10px);
        line-height: rem(12px);
        font-weight: $fw-700;
        text-transform: uppercase;
        display: inline-block;
        border-radius: 2px;
        margin-bottom: 0;

        &.black {
          background: $n700;
          color: $white;
        }

        &.grey {
          background: $n20;
          color: $n80;
        }

        &.yellow {
          background: $y300;
          color: $n900;
        }
      }

      .dropdown {
        .dropdown-menu {
          min-width: rem(120px);
        }
      }
    }
  }
}

.team-add {
  margin-top: rem(23px);
  padding-left: 0;

  h4 {
    margin-bottom: rem(5px);
    color: $n90;
    font-weight: $fw-700;
  }

  p {
    font-weight: $fw-500;
    color: $n500;
    font-size: rem(12px);
    line-height: rem(16px);
    margin-bottom: rem(8px);
  }

  .btn-bordered-dashed {
    text-align: left;
    text-decoration: none;

    span {
      color: $n200;
      float: right;
    }
  }
}

.custom-tab {
	.tab-content {
		.tab-pane {
			.tab--top__actions {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				margin-bottom: rem(35px);
			}
		}
	}
}