.db-tab-caption {
    margin-bottom: 25px;
    span {

        cursor: pointer;
        border-bottom: 2px solid transparent;
        padding: 5px 0px;
        font-size: 12px;
        font-weight: bold;

        &.active {

            color: $active-color;
            border-bottom: 2px solid $active-color;

        }
    }
}


.zoom-option {
    display: inline-block;
    margin: 0px 15px 0px 10px;
    background-color: #eee;
    line-height: 30px;
    border-radius: 4px;
    white-space: nowrap;
    padding: 0px 10px;

    span {
        cursor: pointer;

        width: 20px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-weight: bold;
        display: inline-block;
        &:hover {
            color: $active-color;
        }
        &.active {
            color: $active-color;
            text-decoration: underline;
        }
        &.lv1 {
            font-size: 15px;

        }
        &.lv2 {
            font-size: 18px;
        }
        &.lv3 {
            font-size: 20px;
        }
        &.lv4 {
            font-size: 22px;

        }
    }

}

#modal-remarks {
    .close-modal {
        position: absolute;
        top: 15px;
        right: 15px;
        opacity: 0.7;
        font-size: 14px;

        color: #fff;

    }

    .modal-dialog {
        max-width: 700px;
    }
    .modal-content {
        border: none;

    }
    .mm-caption {
        font-size: 18px;
        font-weight: bold;
        padding: 15px 20px 15px 20px;
        border-radius: 4px 4px 0px 0px;
        color: #fff;

        background-color: $active-color;
    }
    .mm-content {
        padding: 20px;
    }
    .reviewer-item {
        border-bottom: 1px solid #eee;
        padding: 15px 0px 15px 65px;
        position: relative;
        min-height: 70px;
        &:last-child {
            border: none;
        }


        .avatar {
            float: left;
            margin: 0px 0px 0px -65px;
            width: 40px;
            height: 40px;
            position: relative;
            position: relative;
            .dot {
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 50%;
                position: absolute;
                bottom: 0px;
                right: 0px;

                z-index: 10;
                background-color: $green;
                &.orange {
                    background-color: orange;
                }
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .date {
            font-size: 13px;
            position: absolute;
            top: 17px;
            right: 0px;
            font-size: 13px;
        }
        h3 {
            font-size: 14px;
            font-weight: bold;
            margin: 0px 0px 5px 0px;

        }
        p {
            font-size: 14px;

            margin: 0px;
        }

    }
}
