#Header {
    background: #3F459B;
    height: rem(60px);
    position: relative;
    z-index: 1078;
    .search-form {
        float: right;
        margin: 15px 10px 0px 0px;
        height: 30px;

        padding: 0px 0px 0px 35px;
        position: relative;
        @media screen and (max-width: 767px) {
            display: none;

        }

        button {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 30px;
            height: 35px;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            color: #fff;
            border: none;
            background-color: transparent;
        }
        input {
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            display: block;
            color: #fff;
            height: 35px;
            width: 180px;
            font-size: 13px;
            opacity: 0.8;

            &::placeholder {
                color: #fff;

            }
        }
    }
    .setting {
        float: right;
        margin: 0px 10px 0px 0px;
        i {
            width: 24px;
            height: 24px;
            line-height: 60px;
            font-size: 16px;
            color: #fff;

        }


    }

    .bell {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin: 0px 10px 0px 0px;

        i {
            font-size: 16px !important;
        }


    }
    &.transparent {
        background: none;
    }
    &.sps--blw {
        background: #0449ae;
    }
    .container-fluid {
        padding-left: 0;
    }
    .navbar {
        padding: rem(0 0 0 60px);
        position: relative;
        display: block;

        @media (min-width: $width-md) {
            padding:0;
        }
    }
    .navbar-brand {
        padding: rem(10px 0);
        height: rem(60px);
        width: rem(60px);
        text-align: center;
        margin-right: 0;

        text-align: center;
        width: 80px;
        background-color: lighten($active-color, 10%);


        img {
            height: rem(30px);
            display: inline-block;

            @media (min-width: $width-md) {
                height:rem(40px);
            }
        }
    }
    .btn {
        display: none;

        @media (min-width: $width-lg) {
            display:inline-block;
        }
    }
    .navbar-toggler {
        height: rem(60px);
        width: rem(60px);
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        color: $white;
        background: darken($active-color, 10%);
        border-radius: 0;
        border: 0 none;
        display: block;

        @media (min-width: $width-md) {
            display:none;
        }

        i {
            display: block;
        }
    }
    .title-text {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        color: $white;
        font-size: rem(14px);
        font-weight: $fw-500;

        .visible-xs {
            display: block;

            @media (min-width: $width-sm) {
                display:none;
            }
        }
        .visible-sm {
            display: none;

            @media (min-width: $width-sm) {
                display:block;
            }
        }
    }
    .dropdown {
        float: right;
    }
    .dropdown-toggle {
        height: rem(60px);
        color: $white;
        padding: rem(15px 0);
        display: inline-block;

        img {
            width: rem(24px);
            height: rem(24px);
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
        }
        i {
            font-size: rem(10px);
            vertical-align: middle;
        }
        &:after {
            display: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .dropdown-menu {
        right: 0;
        left: auto;
        z-index: 1075;

        .dropdown-item {
            font-weight: $fw-500;
            padding-left: rem(15px);
            padding-right: rem(15px);
        }
    }
}

.menu-open {
    overflow: hidden;

    @media (min-width: $width-lg) {
        overflow:auto;
    }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
