//Default color
$white: #fff;
$black: #000;

//Asset base path
$art-base-path: '../art';

//Base font for REM conversion
$rem-baseline: 16px !default;

//Font family
$MuseoSans: "museo_sans",
sans-serif;

//Font weight
$fw-100:100;
$fw-300:300;
$fw-500:500;
$fw-700:700;
$fw-900:900;

//Font style
$body-line-height: 1.5;

//Colors
$b450: #5DBCEC;
$b200: #93BFEB;
$g10: #F3FFFF;
$g50: #D4FFFE;
$g400: #3F459B;
$g500: #006E6B;
$n10: #F9F9F9;
$n20: #F1F1F1;
$n30: #EAEAEA;
$n40: #DDDDDD;
$n50: #D0D0D0;
$n60: #C3C3C3;
$n70: #B7B7B7;
$n80: #AAAAAA;
$n90: #9D9D9D;
$n200: #848484;
$n400: #6A6A6A;
$n500: #5D5D5D;
$n600: #515151;
$n700: #444444;
$n800: #35342E;
$n900: #2A2A2A;
$p10: #F8F7FB;
$p50: #E6E2F1;
$p200: #C8C0DF;
$p300: #8C7DBD;
//$p400: #6F5BAC; #3F459B;
$p400: #3F459B;
//$p500: #58478D;
$p500: #3F459B;
$p600: #443974;
$r10: #FEF8F8;
$r30: #FBF0F1;
$r50: #FBE1E3;
$r200: #F19FA4;
$r300: #EB7279;
$r400: #E4464F;
$r600: #AB1921;
$y50: #FDF3E1;
$y300: #F6CF82;
$y400: #F2BC52;
$y500: #EFAA23;
$y600: #D08F0F;



$active-color:#3F459B;
//Icons background color
$color1: #5DBCEC;
$color2: #F2BC52;
$color3: #8C7DBD;
$color4: #D4787E;
$color5: #897FB8;
$color6: #E5BD67;
$color7: #B9CB70;
$color8: #7FBBE6;
$color9: #7A90AA;
$color10: #9E241D;
$color11: #4D2687;
$color12: #D38941;
$color13: #3F787A;
$color14: #25478E;
$color15: #525A64;
$color16: #A94D74;
$color17: #C49994;
$color18: #D8C7A3;
$color19: #71D0CB;
$color20: #7F7D45;

//Screen sizes for media queries
$width-xxl: 1440px;
$width-xl: 1200px;
$width-lg: 992px;
$width-md: 768px;
$width-sm: 576px;
$width-xs: 480px;
$width-xxs: 320px;
