/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       Website Name
    Version:        1.0
    Author:         congnd91
-------------------------------------------------------------------*/
html {
  height: 100%; }

body {
  min-width: 450px;
  font-size: 14px;
  color: #333333;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

body {
  text-align: unset;
  background-color: #efefef;
  padding-top: 80px; }

.page-preload {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; }

.header {
  background-color: #333333;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100; }
  @media screen and (max-width: 991px) {
    .header {
      padding: 15px 0px; } }
  .header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    @media screen and (max-width: 991px) {
      .header .header-inner {
        display: block; } }
    .header .header-inner .menu-icon {
      float: right;
      width: 35px;
      height: 35px;
      border: 1px solid #fff;
      border-radius: 50%;
      color: #fff;
      line-height: 33px;
      text-align: center;
      margin: -5px 0px -5px 0px;
      cursor: pointer;
      display: none; }
      @media screen and (max-width: 991px) {
        .header .header-inner .menu-icon {
          display: block; } }
  @media screen and (max-width: 991px) {
    .header .menu {
      display: none;
      margin-top: 15px; } }
  .header .menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  .header .menu li {
    float: left;
    height: 52px;
    border-left: 1px solid #444; }
    .header .menu li a {
      line-height: 52px;
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 400;
      padding: 0px 20px;
      color: #fff;
      transition: all ease 0.3s;
      height: 52px; }
      .header .menu li a:hover {
        background-color: #444; }
      .header .menu li a .home-icon {
        font-size: 20px; }
      .header .menu li a.btn-primary {
        height: 40px;
        line-height: 40px;
        background-color: #930101;
        border: none;
        margin: 6px 0px 0px 20px; }
        .header .menu li a.btn-primary:hover {
          background-color: #7a0101; }
        @media screen and (max-width: 991px) {
          .header .menu li a.btn-primary {
            margin: 0px 0px 0px 0px; } }
    @media screen and (max-width: 991px) {
      .header .menu li {
        height: auto;
        float: none;
        border: none;
        border-bottom: 1px solid #333;
        background-color: #444; }
        .header .menu li:last-child {
          margin-top: 10px;
          border-radius: 3px; }
        .header .menu li a {
          padding: 0px 15px;
          line-height: 40px;
          height: auto; } }

@media screen and (max-width: 991px) {
  .open-menu .header .menu {
    display: block; } }

img {
  max-width: 100%; }

.block {
  border: 1px solid #d1d1d1;
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.31);
  margin-bottom: 30px;
  position: relative; }
  .block .block-caption {
    padding: 15px 10px;
    border-bottom: 1px solid #d1d1d1;
    background-color: #dadada;
    background-image: linear-gradient(to top, #dfdede 0%, #fff 100%); }
    .block .block-caption h2 {
      font-size: 24px;
      font-weight: 400;
      margin: 0px; }
      @media screen and (max-width: 991px) {
        .block .block-caption h2 {
          font-size: 17px; } }
      @media screen and (max-width: 767px) {
        .block .block-caption h2 {
          font-size: 14px; } }
      .block .block-caption h2 strong {
        font-weight: 700; }
  .block .block-content {
    padding: 10px; }

.term {
  padding: 10px; }
  .term p {
    color: #666;
    line-height: 1.5; }

.foooter {
  background-color: #151515; }
  .foooter .footer-bar {
    padding: 20px 0px;
    background-color: #000; }
    .foooter .footer-bar ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      text-align: center; }
      .foooter .footer-bar ul li {
        display: inline-block;
        margin: 3px 0px; }
        .foooter .footer-bar ul li a {
          font-size: 18px;
          color: #930101;
          font-weight: 600; }
          @media screen and (max-width: 991px) {
            .foooter .footer-bar ul li a {
              font-size: 14px; } }
          .foooter .footer-bar ul li a:hover {
            text-decoration: underline; }
        .foooter .footer-bar ul li span {
          display: inline-block;
          color: #fff;
          opacity: 0.3;
          margin: 0px 15px;
          font-size: 18px; }
          @media screen and (max-width: 991px) {
            .foooter .footer-bar ul li span {
              font-size: 14px;
              margin: 0px 10px; } }
          @media screen and (max-width: 767px) {
            .foooter .footer-bar ul li span {
              margin: 0px 5px; } }
  .foooter .footer-content {
    padding: 25px 0px;
    text-align: center; }
    .foooter .footer-content p {
      margin: 0px 0px 10px 0px;
      color: #686868;
      font-size: 15px; }
      @media screen and (max-width: 767px) {
        .foooter .footer-content p {
          font-size: 13px; } }

/*# sourceMappingURL=style.css.map */