
.company-banner{
	border-bottom: unset;
}
.ctc4{
    max-width: 990px;
    margin: 0px auto;
}

.ctc4 .ctc4-content {
    position: relative;
    min-height: auto;
    z-index: 2;
    text-align: left;
}
.ctc4 .ctc4-content h2 {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    margin: 50px 0px 40px 0px;
}
.ctc4 .ctc4-content p {
    font-size: 16px;
    margin: 0px 20px 0px 0px;
}
.ctc4 .tab4_img_bottom{
	position: absolute;
	left: 0px;
}
.tab4_img_bottom:before{
	width: 100px;
	height: 100px;
	background-color: red;
}


.img_cut{
    position: relative;
    z-index: -1;
}
.company_4.company-content .cc-mid-inner #tab4, .company_4.company-content .cc-mid-inner #tab5, .company_4.company-content .cc-mid-inner #tab6, .company_4.company-content .cc-mid-inner #tab7{
	padding-bottom: 350px;
}

.careers-content{
	min-height: 200px;
    margin-top: -600px;
    position: relative;
    overflow: hidden;
    padding: 70px 0px 0px 0px;
}
.careers-content .cc-mid-inner{
	position: relative;
    top: -600px;
    margin-bottom: -600px;
}
.careers-content .cc-top {
    min-height: 600px;
    position: relative;
}
.careers-content .cc-top:before {
    content: "";
    display: block;
    position: absolute;
    transform: skewX(35deg);
    top: 0px;
    left: -600px;
    bottom: 0px;
    right: 6%;
    background-color: #fff;
    z-index: 1;
}
.careers-content .cc-mid {
    position: relative;
    z-index: 2;
}
.careers-content .ctc2{
    width: 850px;
    margin: 0px auto;
}
.page_careers .company-banner, .page_careers_2 .company-banner{
    min-height: 800px;
}
.page_careers .company-banner h1 ,.page_careers_2 .company-banner h1,.page_careers_3 .company-banner h1{
    padding: 30px 0px 0px 0px;
}
.page_careers .careers-content .ctc2 .ctc2-img{
    background-image: url(../images/v_img/careers_1.jpg);
    bottom: 85px;
}
.wp_crop_img{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.img_mobi{
	display: none;

}
.page_careers .careers-content .ctc2 .ctc2-content, .page_careers_2 .careers-content .ctc2 .ctc2-content, .page_careers_3 .careers-content .ctc2 .ctc2-content {
    min-height: unset;
}
.page_careers .careers-content .ctc2 .ctc2-content, .page_careers_2 .careers-content .ctc2 .ctc2-content, .page_careers_3 .careers-content .ctc2 .ctc2-content {
    padding-bottom: 0px;
}
.page_careers .clip-svg,.page_careers_2 .clip-svg, .page_careers_3 .clip-svg{
  width: 700px;
}
.page_careers .bg_career,.page_careers_2 .bg_career, .page_careers_3 .bg_career{
  height: 500px;
}

/*page career 2*/
.page_careers_2 .company-banner{
	background-image: url("../images/v_img/bg_career_2.jpg");
	min-height: 850px;
}

.page_careers_2 .careers-content .ctc2 .ctc2-img{
    background-image: url(../images/v_img/careers_2.jpg);
    bottom: 85px;
}
/*page career 3*/
.page_careers_3 .careers-content .ctc2 .ctc2-img{
    background-image: url(../images/v_img/careers_3.jpg);
    bottom: 85px;
}
.page_careers_3 .company-banner{
	background-image: url("../images/v_img/bg_careers_3.jpg");
	min-height: 850px;
}

/*investor*/
.page-investor-1 .company-banner{
	background-image: url(../images/v_img/banner-investor.jpg);
	min-height: 900px;
}
.page-investor-1 .investor-detail{
	text-align: center;
}
.page-investor-1 .investor-detail img{
	display: inline-block;
}
.page-investor-1 table.investor-table, .page-investor-2 table.investor-table, .page-investor-3 table.investor-table, .page-investor-4 table.investor-table{
	width: 100%;
	margin-bottom: 60px;
}
.page-investor-1 table.investor-table th, .page-investor-1 table.investor-table td,.page-investor-3 table.investor-table th, .page-investor-3 table.investor-table td
,.page-investor-4 table.investor-table th, .page-investor-4 table.investor-table td
,.page-investor-5 table.investor-table th, .page-investor-5 table.investor-table td{
	padding: 15px 24px;
	border-right: 2px solid #fff;
}
.page-investor-1 table.investor-table thead, .page-investor-2 table.investor-table thead, .page-investor-3 table.investor-table thead, .page-investor-4 table.investor-table thead{
	background-color: #dddddd;
	font-size: 18px;
}
.page-investor-1 table.investor-table tbody, .page-investor-2 table.investor-table tbody, .page-investor-3 table.investor-table tbody, .page-investor-4 table.investor-table tbody{
	font-size: 16px;
}
.page-investor-1 table.investor-table tbody tr:nth-child(even), .page-investor-2 table.investor-table tbody tr:nth-child(even), .page-investor-3 table.investor-table tbody tr:nth-child(even)
{
	background-color: #f8f8f8;
}
.page-investor-1 table.table-2 tbody tr:nth-child(even), .page-investor-2 table.table-2 tbody tr:nth-child(even), .page-investor-3 table.table-2 tbody tr:nth-child(even){
	background-color: #f9f9f9;
}
.table-2 tbody tr{
	cursor: pointer;
}
.table-2 tbody tr:hover{
	background-color: #5f89db!important;
	color: white;
}
.img-down{
	margin-right: 6px;
}
.col-down{
	margin-right: 28px;
	position: relative;
}
.col-down:before{
	content: "";
	width: 20px;
	height: 20px;
	top: 18px;
	position: absolute;
	background-image: url(../images/v_img/down-blue.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.table-2 tbody tr:hover td.col-down:before{
	background-image: url(../images/v_img/down-white.png);
}
.col-down p{
	margin-left: 28px;
}
.table-2 tbody tr{
	border-bottom: 1px solid #dddddd;
}

.page-investor-2 .company-banner{
	background-image: url(../images/v_img/banner-investor-2.jpg);
	min-height: 900px;
}

/*investor 2*/
.page-investor-2 .company-tab .nav, .page-investor-3 .company-tab .nav{
    max-width: 600px;
}
 .page-investor-2 table.investor-table th, .page-investor-2 table.investor-table td{
 	padding: 15px 8px;
 	text-align: center;
 }
 .page-investor-2 #tab2 table.table-2 th:first-child, .page-investor-2 #tab2 table.table-2 td:first-child{
 	text-align: left!important;
 }
  .page-investor-2 #tab2 .col-down:before{
  	left: 46%;
  }
 .col-border, .page-investor-2 #tab3 table.investor-table th, .page-investor-2 #tab3 table.investor-table td{
 	border-right: 2px solid white;
 }
 .page-investor-2 #tab3 table.investor-table th, .page-investor-2 #tab3 table.investor-table td{
 	text-align: left;
 	padding: 15px 15px;
 }
  .page-investor-2 #tab3 .table-2 tbody tr, .page-investor-3 #tab1 .table-2 tbody tr{
	border-bottom: unset;
}
.page-investor-2 #tab3 table.investor-table tr.sub-row td, .page-investor-4 #tab3 table.investor-table tr.sub-row td{
	border-right: unset;
}
.page-investor-2 #tab3 table.investor-table tr.sub-row, .page-investor-4 #tab3 table.investor-table tr.sub-row{
	background-color: #95a9cf;
}
.table-2 tbody tr.sub-row:hover{
	background-color: #95a9cf!important;
}
tr.sub-row .col-down:before{
	top: 0px;
	background-image: url(../images/v_img/down-white.png);
}
tr.sub-row .col-down{
	margin-left: 15px;
	margin-right: 22px;
}
tr.sub-row .sub_content:hover{
	color: black;
}
.table-2 tbody tr .sub_content:hover span.col-down:before{
	background-image: url(../images/v_img/down-black.png);
}
.sub_content{
	color: white;
}
.sub_content p{
	margin-bottom: 10px;
}
tr.sub-row{
	display: none;
}

/*investor 3*/
.page-investor-3 .company-banner{
	background-image: url(../images/v_img/banner-investor-3.jpg);
	min-height: 900px;
}
.page-investor-3 .icon-down{
	position: relative;
	top: -3px;
	right: 6px;
}
.page-investor-3 .wp_fillter{
	display: block;

}
.page-investor-3 .wp_fillter h5{
	display: inline-block;
}
.page-investor-3 .wp_fillter .fillter{
	float: right;
	width: 375px;
	height: 30px;
	padding-left: 12px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #838282;
	color: #003399;
	font-size: 15px;
}
.wp_investor_4{
	padding: 0px 70px!important;
}

/*investor 4*/
.page-investor-4 .company-banner{
	background-image: url(../images/v_img/banner-investor-4.jpg);
	min-height: 900px;
}
.page-investor-4 .sub-row{
	color: white!important;
}

/*investor 5*/
.page-investor-5 .company-banner{
	background-image: url(../images/v_img/banner-investor-5.jpg)!important;
}
.page-investor-5 table.investor-table th,.page-investor-5 table.investor-table td{
	text-align: left!important;
}
.content-investor-5 p{
	margin-bottom: unset;
}
.content-investor-5{
	font-size: 16px;
}

/*404 page*/
.page-404.company-banner:before, .page-login.company-banner:before{
	content: unset;
}
.page-404.company-banner{
	background-image: url(../images/v_img/banner-404.jpg);
}
.page-404 .wp-content-page{
	width: 500px;
    height: 500px;
    margin: 0px auto;
    text-align: center;
    margin-top: 200px;
    border-radius: 50%;
    background: #000000a6;
    padding: 94px 15px;
    color: white;
}
.page-404 .wp-content-page p{
	margin-bottom: 0px;
	line-height: 28px;
}
.page-404 .wp-content-page h5{
	font-size: 52px;
}
.page-404 .wp-content-page .content-detail{
	font-size: 20px;
	font-weight: bold;
}
.page-404 .wp-content-page .button-wrap{
	margin-top: 80px;
}
.page-404 .button-404{
	transform: skewX(-20deg);
    border: 1px solid #fff;
    line-height: 45px;
    font-size: 14px;
    color: black;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: white
}
.page-404 .button-404 .button-label{
	font-weight: bold;
	padding: 0px 15px;
    font-family: auto;
}

/*login*/
.page-login.company-banner{
	background-image: url(../images/v_img/bg-login.jpg);
}
.page-login .wp-form-login .img-info, .page-login .wp-form-login .form-detail{
	display: inline-block;
}
.page-login .sitemap h2{
	padding-top: 30px;
	color: white;
	font-size: 38px;
	padding-bottom: 140px;
}
.page-login .wp-form-login{
	box-shadow: 0px 1px 15px 2px #000000a6;
	background-color: #edf1f5;
	display: inline-flex;
	width: 100%;
}
.page-login .wp-form-login .form-detail{
	padding: 43px;
	width: 37%;
}
.page-login .wp-form-login .form-detail h5{
	position: relative;
	font-size: 26px;
    margin-bottom: 24px;
}
.page-login .wp-form-login .form-detail h5:after{
	content: '';
    width: 33px;
    position: absolute;
    height: 1px;
    background-color: #458ac4;
    top: 38px;
    left: 0px;
}
.page-login .wp-form-login .form-detail b{
	color: #5e5f5f;
	margin-bottom: 10px;
	display: block;
}
.page-login .wp-form-login .form-detail .form-control{
	border-radius: unset;
	height: 35px;
}
.page-login .wp-form-login .form-detail .form-group img{
	position: relative;
	top: -2px;
}
#verification{
    width: 55%;
    display: inline-block;
}
.btn-login{
    width: 100%;
    border-radius: unset;
    background-color: #0060b0;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}
.forget-pw{
	text-align: center;
    margin-top: 12px;
    color: #8f8f90!important;
    font-weight: bold;
    display: block;
}

/*portfolio detail*/
.page-portfolio-detail .banner-slider .b-item:before {
    content: "";
    display: block;
    position: absolute;
    transform: skewX(39deg);
    top: 0px;
    left: -600px;
    bottom: 0px;
    right: 101%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.page-portfolio-detail .page-content .pc-caption h2{
	text-align: left;
}
.page-portfolio-detail .page-content .pc-caption{
	padding-left: 266px;
}
.social-portfolio i{
	color: #666666;
	margin-right: 10px;
}
.page-portfolio-detail .pc-caption{
	margin-bottom: 90px;
}
.width-49{
	width: 49%;
}
.width-50{
	width: 50%;
}

.width-49, .width-50{
	display: inline-block;
}
.page-portfolio-detail .width-49{
    position: relative;
    z-index: 9;
}
.page-portfolio-detail .wp-st-content{
	position: relative;
}
.page-portfolio-detail .content-right{
    padding: 35px 40px 62px 350px;

}
.page-portfolio-detail .width-50{
	background-color: #ececec;
    width: 900px;
    position: absolute;
    right: 0px;
	height: 305px;
      overflow: hidden;

}
.content-left-mobi{
	display: none;
}

/*portfolio list*/
.page-portfolio-list .company-banner{
	background-image: url(../images/v_img/banner-portfolio.jpg);
}
.page-portfolio-list .company-content .cc-top:before{
    transform: skewX(-35deg);
    right: 23%;

}
.page-portfolio-list .company-tab .nav{
	max-width: 800px;
}
.page-portfolio-list .company-tab .nav li a{
	padding: 15px 18px;
}
.page-portfolio-list .company-content .cc-mid-inner{
    padding: 50px 0px 150px 0px;
}
.page-portfolio-list .company-content .cc-mid-inner h2{
    margin: 0px 0px 42px 0px;
}
.page-portfolio-list .portfolio{
	background: white;
}
.page-portfolio-list .company-content .cc-top:after{
    content: "";
    display: block;
    position: absolute;
    top: 43px;
    z-index: 1;
    left: 0px;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 47%);
}
.page-portfolio-list .portfolio .portfolio-item{
	width: 25%;
}
.page-portfolio-list .portfolio .portfolio-item .des a{
	font-size: 18px;
}
.company-tab .nav{
	justify-content: unset;
}

/*career main*/
.pd-banner2{
    padding: 70px 0px 100px 0px;
  }
  .wp_banner_small{
      position: absolute;
      top: -100px;
      right: 0px;
      height: 100%;
  }
  #block0{
      position: absolute;
      top: -100px;
      right: 0px;
      height: 100%;
  }
  .gradient {
    position: absolute;
    width: 400px;
    height: 350px;
    top: -99px;
    right: 0px;
    z-index: 9;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 32%, rgba(255,255,255,0) 54%);
}
  .careers-main .careers-banner:before, .investors-banner:before, .tech-banner:before, .page-contact .careers-banner:before{
    content: "";
    display: block;
    position: absolute;
    transform: skewX(45deg);
    top: 0px;
    left: -600px;
    bottom: 0px;
    right: 55%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
    .careers-main .careers-banner{
        background-image: url(../images/v_img/banner-career1.jpg);
        min-height: 500px;
  }
  .careers-main .careers-content, .investors-content, .tech-content, .page-contact .careers-content {
      margin-top: 0px; 
      overflow: unset;
  }
  .careers-main .careers-bottom:before{
  	content: unset;
  }
  .wp_content_bottom .wp_crop_img{
  		top: 0px;
  }

  /*contact*/
  .page-contact .careers-banner{
        background-image: url(../images/v_img/banner-contact.jpg);
        min-height: 500px;
  }


  /*investor main*/
  .investors-banner{
  		background-image: url(../images/v_img/banner-investor1.jpg);
  		min-height: 500px;
  }
  /*tech main*/
  .tech-banner{
  		background-image: url(../images/v_img/banner-tech1.jpg);
  		min-height: 500px;
  }
  .wp-content-cap2{
  	padding-top: 0px;
  }
  .wp-content-cap1{
  	padding-bottom: 0px;
  }
.technology-main .tech-content .tech-mid-inner .tech-caption{
  padding-top: 0px; 
}
.technology-main .tech-content{
    padding: 52px 0px 0px 0px;
}
.technology-main .tech-content .tech-mid-inner .tech-caption{
  margin-bottom: 0px;
}
.technology-main .wp_banner_small{
  height: 173%;
}
  /*technology detail*/
  .page-technology-detail .company-content .cc-top:before {
    right: 40%;
  }
  .page-technology-detail .company-content{
	    margin-top: -950px;
  }
  .page-technology-detail .company-banner h1{
  	    padding: 20px 0px 0px 0px;
  }
  .page-technology-detail .company-banner:before{
  	right: 45%;
  	transform: skewX(44deg);
  }

  .page-technology-detail .company-banner{
  	background-image: url(../images/v_img/banner_technogy.jpg);
  }
.page-technology-detail .td-content {
    margin-left: -80px;
    max-width: 540px;
    max-height: 300px;
}
.page-technology-detail .dropdown {
    margin-bottom: 40px;
    cursor: pointer;
}
.page-technology-detail .dropdown .dropdown-toggle {
    padding: 0px 20px 0px 20px;
    width: 260px;
    text-align: left;
    line-height: 50px;
    display: inline-block;
    position: relative;
    font-size: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.page-technology-detail .dropdown .dropdown-toggle:before {
    content: "";
    width: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(180deg);
}
.page-technology-detail .dropdown.show .dropdown-toggle:before {
    transform: rotate(0deg);
}
.page-technology-detail .dropdown .dropdown-menu {
    border: none;
    border-radius: 0px;
    margin-top: -2px;
    background-color: #fff;
    width: 260px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px;
}
.page-technology-detail .dropdown .dropdown-menu .dd-item {
    font-size: 18px;
    padding: 10px 10px 10px 25px;
    border-top: 1px solid #fafafa;
    cursor: pointer;
}
.page-technology-detail .dropdown .dropdown-menu .dd-sub {
    display: none;
    background-color: #5677b9;
    padding: 10px 0px;
}
.page-technology-detail .dropdown .dropdown-menu .dd-sub p {
    margin: 0px;
}
.page-technology-detail p {
    font-size: 18px;
}
.page-technology-detail .dropdown-toggle::after{
	content: unset;
}
.page-technology-detail .dropdown .dropdown-menu .dd-sub p a {
    display: block;
    padding: 5px 10px 5px 40px;
    line-height: 15px;
    color: #fff;
    font-size: 15px;
}
.page-technology-detail .dropdown .dropdown-menu .dd-sub p a span {
    width: 15px;
    height: 15px;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    transition: all ease 0.3s;
    margin: 0px 4px 0px -15px;
    opacity: 0;
}
.page-technology-detail .dropdown .dropdown-menu .dd-sub p a:hover span {
    margin: 0px 4px 0px 0px;
    opacity: 1;
}
.page-technology-detail .dropdown .dropdown-menu .dd-item.active {
    background-color: #1450ca;
    color: #fff;
}
.page-technology-detail .company-content .cc-mid-inner{
    padding: 15px 0px 283px 0px;
}
.page-technology-detail .td-content h3 {
    font-size: 36px;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}
.page-technology-detail .company-content .cc-top {
    min-height: 650px;
}
.page-technology-detail .wp-content-right{
	background-color: white;
}
.page-technology-detail .clip-svg-technology{
	position: relative;
    top: -50px;
    left: -912px;
}
.page-technology-detail .clip-svg-technology-2{
    position: relative;
    top: -24px;
    left: -460px;
}
.page-technology-detail .clip-svg-technology-3{
	position: relative;
    top: 41px;
    left: -91px;
}
.width-full{
	width: 1325px;
}
.wg-image-content{
    max-width: 1170px;
    margin: 0px auto;
}
.wp-content-right .td-content{
	margin-top: 100px;
	position: relative;
	right: -100px;
}
.wg3{
	margin-top: 106px;
	padding-bottom: 34px;
}
.wg3 h3{
	margin-bottom: 30px;
}
.page-technology-detail .wp-bg-technology{
    background-image: url('../images/v_img/bg-technology-detail.jpg');
}

.clip-svg-technology-mobi, .clip-svg-technology-mobi2, .clip-svg-technology-mobi3{
	display: none;
}
.c-field {
    border-bottom: 1px solid #cccccc;
    padding: 0px 0px 0px 110px;
    min-height: 52px;
}
.c-field span {
    float: left;
    width: 110px;
    margin: 0px 0px 0px -110px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    color: #333333;
    line-height: 50px;
}
.c-field span em {
    color: #0e5cd0;
    font-style: normal;
}
.c-field .c-text {
    height: 50px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    display: block;
}
.c-field.c-field-select {
    padding-top: 10px;
    padding-bottom: 10px;
}
.c-field.c-field-select span {
    line-height: 30px;
}
.c-field .c-select {
    height: 30px;
    padding: 0px;
    margin: 0px 0px 0px 20px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 60%;
    display: block;
    border: 1px solid #cccccc;
}
.c-field .c-area {
    height: 113px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    display: block;
    padding: 20px 0px;
}
.field-captcha{
  display: inline-block;
  margin-right: 5px;
}
.wp-form-contact{
  width: 700px;
  background: white;
  position: relative;
  z-index: 999;
}
.page-contact .wp_banner_small {
  height: 50%;
}
.page-contact .address-contact{
  position: absolute;
    top: -90px;
    right: -428px;
    background-color: #0075bf;
    width: 350px;
    height: 446px;
    padding: 48px 30px;
    color: white;
}
.address-contact h4{
  font-size: 22px;
}
.address-contact .field-fs13 p span{
  font-size: 13px!important;
}
.address-contact .field-phone p span{
  font-size: 18px!important;
}
.address-contact .field-fs13 p span, .address-contact .field-phone p span{
  margin-left: 12px;
}
.address-contact .field-fs13{
  padding: 12px 0px;
  border-bottom: 1px solid #5ba3d0;
}
.address-contact .field-phone{
  padding: 12px 0px 23px 0px;
  border-bottom: 1px solid #5ba3d0;
}
.page-contact .btn-submit{
    cursor: pointer;
    float: right;
    margin-top: 10px;
    color: white;
    background-color: black;
    border: unset;
    padding: 0px 20px;
}
.page-contact .btn-submit:before{
  background-color: #00349a;
  border:unset;
}
.page-contact .btn-submit:hover .button-label{
    color: white;
}
.wp-map iframe{
  width: 100%;
}

/*sitemap*/
.wp-content-sitemap .ctc2-content{
  padding: 60px 0px 140px 0px;
}

.list-menu-site .title-site h6{
  padding: 0px 17px 18px 17px;
  margin-bottom: unset;
  border-bottom: 2px solid #000;
  font-weight: bold;
}
.list-menu-site .menu-site{
  padding: 0px 0px 68px 33px;
}
.list-menu-site .menu-site p{
  padding: 15px 0px 20px 17px;
  border-bottom: 1px solid #c7c6c6;
  font-size: 16px;
  font-weight: bold;
}

.container h1, .ctc2-content, .careers-main .careers-caption h2, .careers-main .careers-caption p, .no-gutters, .wp_content_bottom, .investors-content,
.page-content, .portfolio, .staff-content, .tech-caption, .wp-content-cap2, .cc-mid-inner, .page-contact .careers-caption h2,
.page-contact .careers-caption p, .page-contact .careers-caption .wp-form-contact, .sitemap h2 , .wp-form-login, .page-portfolio-detail .page-content {
  animation-name: slide-text-fadeup;
  animation-duration: 1s;
  opacity: 1; 
}

#tab2 .ctc2 .ctc2-content{
  min-height: unset;
}
#tab2 .ctc2:after{
  content: "";
  height: 300px;
  display: block;
}


@media screen and (min-width: 1900px){
	.ctc4 .ctc4-content {
      	padding-bottom: 100px; 
  	} 
	.img_cut:before{
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    background-color: white;
    top: -153px;
    right: -875px;
    transform: rotate(56deg);
    -moz-transform: rotate(56deg);
    -webkit-transform: rotate(56deg);
    
	}
.img_cut:after{
    content: "";
    position: absolute;
    width: 110%;
    height: 50%;
    background-color: white;
    top: 508px;
    left: -556px;
    transform: rotate(56deg);
    -moz-transform: rotate(56deg);
    -webkit-transform: rotate(56deg);
    
	}
  .page_careers .clip-svg, .page_careers_2 .clip-svg, .page_careers_3 .clip-svg {
    width: 1200px;
  }
	.investors-content .investors-mid-inner .investors-caption{
	    max-width: 100%;

	}
	.gradient{
	    background: linear-gradient(0deg, rgba(255,255,255,1) 39%, rgba(255,255,255,0) 65%);
	}
	.wp-content-right .td-content{
		right: -226px;
		max-width: 823px;
	}
  .technology-main .gradient {
    background: linear-gradient(0deg, rgba(255,255,255,1) 39%, rgba(255,255,255,0) 79%);
      height: 196px;
    top: 56px;
}
.page-contact .address-contact{
    top: -133px;
    right: -611px;
}
.page_careers .bg_career, .page_careers_2 .bg_career, .page_careers_3 .bg_career{
     height: 100%; 
}

}



@media screen and (max-width: 1600px){
	.ctc4 .ctc4-content {
      	padding-bottom: 100px; 
  	} 
	
	.ctc4 .ctc4-img {
	    background-size: 500px auto;
	}
	.tab4_img_bottom{
		max-width: 900px;
	}
	.img_cut:before{
    content: "";
    position: absolute;
    width: 110%;
    height: 50%;
    background-color: white;
    top: 0px;
    right: -456px;
    transform: rotate(56deg);
    -moz-transform: rotate(56deg);
    -webkit-transform: rotate(56deg);
    
	}
	.img_cut:after{
	    content: "";
	    position: absolute;
	    width: 110%;
	    height: 50%;
	    background-color: white;
	    top: 255px;
	    left: -556px;
	    transform: rotate(56deg);
	    -moz-transform: rotate(56deg);
	    -webkit-transform: rotate(56deg);
	    
	}
	
	
	
  .page_careers_2 .bg_career{
    height: 444px;
  }

}
@media screen and (max-width: 991px) {
    .ctc4 .ctc4-content {
      	padding-bottom: 20px; 
  	} 
  	.ctc4 .ctc4-content h2 {
        font-size: 25px; 
    }
    
	.company-content .cc-mid-inner {
	    padding: 70px 0px 0px 0px;
	}
	.careers-content .ctc2{
	    width: unset;
	    margin: 0px auto;
	}
	.careers-content .cc-top:before {
	    transform: skewX(0deg);
	    right: 0;
	}
	.careers-content .ctc2 .ctc2-content h2{
	    margin: 40px 0px 40px 0px;
	}
	.wp_crop_img, .wp_banner_small{
		display: none;
	}
	.img_mobi{
		display: block;

	}
	.page_careers .careers-content .ctc2 .ctc2-content {
	    padding-bottom: 30px;
	}
	.bg_career{
		display: none;
	}
	.page-investor-1 table.investor-table, .page-investor-2 table.investor-table, .page-investor-3 table.investor-table
	, .page-investor-4 table.investor-table{
		width: 600px;
	}
	.page-investor-3 .wp_fillter .fillter{
		width: auto;
		display: block;
	}
	.wp_investor_4{
		padding: unset!important;
	}
	.page-404 .wp-content-page {
	    width: 500px;
	    height: 500px;
	    margin-top: 50px;
	    padding: 10px;
	}
	.page-404 .wp-content-page .button-wrap {
	    margin-top: 30px;
	    margin-bottom: 20px;
	}
	.page-login .wp-form-login{
	    display: block;
	}
	.page-login .wp-form-login .form-detail {
	    width: 100%;
	}
	#verification{
		width: 100%;
		margin-bottom: 12px;
	}
	.page-portfolio-detail .page-content .pc-caption{
		padding-left: 0px;
	}
	.width-49{
		width: 100%;
	}
  .page-portfolio-detail .width-50{
  height: auto;

}
	.content-left-mobi{
		display: block;
	}
	.page-portfolio-detail .width-50{
		width: 100%;
		position: unset;
		max-height: unset;
		display: block;
	}
	.page-portfolio-detail .content-right{
		padding: 20px 15px;
	}
	.page-portfolio-detail .pc-caption {
	    margin-bottom: 30px;
	}
	.page-portfolio-list .company-content .cc-top:before{
		right: 0%;
	}
	.page-portfolio-list .portfolio .portfolio-item{
		width: 100%;
	}
    .gradient{
      display: none;
    }
  	.careers-banner:before, .investors-banner:before, .tech-banner:before, .page-contact .careers-banner:before {
	    display: none;
	}
	.page-technology-detail .company-content{
		margin-top: 0px;
	}
	.page-technology-detail .company-banner{
		min-height: 300px;
	}
	.page-technology-detail .td-content{
		margin-left: unset;
		max-width: unset;
	}
	.clip-svg-technology-mobi, .clip-svg-technology-mobi2, .clip-svg-technology-mobi3{
		display: block;
	}
	.clip-svg-technology, .clip-svg-technology-2, .clip-svg-technology-3{
		display: none;
	}
	.page-technology-detail .company-content .cc-mid-inner{
		padding: 15px 0px 15px 0px;
	}
	.wp-content-right .td-content{
	    position: unset;
		padding: 0px 15px;
	}
  .wp-form-contact{
    width: auto;
  } 
  .page-contact .address-contact{

     position: unset; 
     top: unset; 
     right: unset; 
    margin-top: 58px;
  }
  .field-captcha{
    margin-bottom: 15px;
  }
  .page-contact .btn-submit{
    margin-top: 0px;
  }
  .page-contact .pd-banner2 {
    padding: 40px 0px 0px 0px;
}
.page-portfolio-list .company-content .cc-mid-inner {
    padding: 50px 0px 0px 0px;
    background-color: white;
  }
  .company_4.company-content .cc-mid-inner #tab4, .company_4.company-content .cc-mid-inner #tab5, .company_4.company-content .cc-mid-inner #tab6, .company_4.company-content .cc-mid-inner #tab7 {
    padding-bottom: 284px;
}
#tab2 .ctc2:after{
  content: unset;
}

 }
 @media screen and (max-width: 414px) {
 	.page-404 .wp-content-page p {
	    line-height: 21px;
	}
	.page-404 .wp-content-page {
	    width: 375px;
	    height: 375px;
	}
	.page-404 .wp-content-page .content-detail {
	    font-size: 14px;
	    padding: 20px 0px;
	}
	
 }

 @media screen and (max-width: 320px) {
	.page-404 .wp-content-page {
	    width: 300px;
	    height: 300px;
	}
	.page-404 .wp-content-page .button-wrap {
	    margin-top: 20px;
	    margin-bottom: 30px;
	}
	.page-404 .button-404 .button-label {
	    padding: 0px 8px;
	}
	.page-404 .wp-content-page .content-detail {
	    font-size: 12px;
	}
 }