html {}

body {
    text-align: unset;
    background-color: #efefef;
    padding-top: 80px;
}

.page {}

.page-preload {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.header {
    background-color: $text-color;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    @media screen and (max-width: 991px) {
        padding: 15px 0px;
    }
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media screen and (max-width: 991px) {
            display: block;
        }
        .menu-icon {
            float: right;
            width: 35px;
            height: 35px;
            border: 1px solid #fff;
            border-radius: 50%;
            color: #fff;
            line-height: 33px;
            text-align: center;
            margin: -5px 0px -5px 0px;
            cursor: pointer;
            display: none;
            @media screen and (max-width: 991px) {
                display: block;
            }
        }
    }
    .menu {
        @media screen and (max-width: 991px) {
            display: none;
            margin-top: 15px;
        }
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        li {
            float: left;
            height: 52px;
            border-left: 1px solid #444;
            a {
                line-height: 52px;
                display: block;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 400;
                padding: 0px 20px;
                color: #fff;
                transition: all ease 0.3s;
                height: 52px;
                &:hover {
                    background-color: #444;
                }
                .home-icon {
                    font-size: 20px;
                }
                &.btn-primary {
                    height: 40px;
                    line-height: 40px;
                    background-color: $active-color;
                    border: none;
                    margin: 6px 0px 0px 20px;
                    &:hover {
                        background-color: darken($active-color, 5%);
                    }
                    @media screen and (max-width: 991px) {
                        margin: 0px 0px 0px 0px;
                    }
                }
            }
            @media screen and (max-width: 991px) {
                height: auto;
                float: none;
                border: none;
                border-bottom: 1px solid #333;
                background-color: #444;
                &:last-child {
                    margin-top: 10px;
                    border-radius: 3px;
                }
                a {
                    padding: 0px 15px;
                    line-height: 40px;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .open-menu {
        .header .menu {
            display: block;
        }
    }
}


img {
    max-width: 100%;
}


.block {
    border: 1px solid #d1d1d1;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.31);
    margin-bottom: 30px;
    position: relative;
    .block-caption {
        padding: 15px 10px;
        border-bottom: 1px solid #d1d1d1;
        background-color: #dadada;
        background-image: linear-gradient(to top, #dfdede 0%, #fff 100%);
        h2 {
            font-size: 24px;
            font-weight: 400;
            margin: 0px;
            @media screen and (max-width: 991px) {
                font-size: 17px;
            }
            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
            strong {
                font-weight: 700;
            }
        }
    }
    .block-content {
        padding: 10px;

    }
}

.term {
    padding: 10px;
    p {
        color: #666;
        line-height: 1.5;
    }
}

.foooter {
    background-color: #151515;
    .footer-bar {
        padding: 20px 0px;
        background-color: #000;
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            text-align: center;
            li {
                display: inline-block;
                margin: 3px 0px;
                a {
                    font-size: 18px;
                    color: $active-color;
                    font-weight: 600;
                    @media screen and (max-width: 991px) {
                        font-size: 14px;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
                span {
                    display: inline-block;
                    color: #fff;
                    opacity: 0.3;
                    margin: 0px 15px;
                    font-size: 18px;
                    @media screen and (max-width: 991px) {
                        font-size: 14px;
                        margin: 0px 10px;
                    }
                    @media screen and (max-width: 767px) {
                        margin: 0px 5px;
                    }
                }
            }
        }
    }
    .footer-content {
        padding: 25px 0px;
        text-align: center;
        p {
            margin: 0px 0px 10px 0px;
            color: #686868;
            font-size: 15px;
            @media screen and (max-width: 767px) {
                font-size: 13px;
            }
        }
    }
}
