.accordion-title {
    margin-bottom: 10px;
    font-weight: $weight-normal;
    font-size: $font-size-h4;
    cursor: pointer;

    i {
        font-size: $font-size-h3;
        margin: 0px 5px 0px 0px;
        width: 20px;
        position: relative;
        top: -1px;
        display: inline-block;

        background-size: 20px auto;
        transform: rotate(-180deg);
        height: 20px;


    }

    &.is-active {
        i {
            transform: rotate(90deg);
            top: 1px;

        }
    }

    text-transform: uppercase;

    &:hover {

        color: $theme-ltblue;
    }
}

.accordion-content {
    margin-bottom: 20px;

    p {
        margin: 0px 0px 5px 0px;
        font-size: $font-size-h5;

        .icon-info {
            width: 15px;
            height: 15px;
            display: inline-block;
            margin: 0px 0px 0px 5px;
            position: relative;
            top: 2px;
            background-image: url(#{$assetPath}/icon-info.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 14px auto;
        }

        strong {
            color: $theme-dkgreyblue;
        }
    }
}
