.attachment-cols {
    margin-bottom: -30px;
    .attachment-col {
        float: left;
        margin: 0px 30px 30px 0px;
    }
}

.attachment-card {
    cursor: pointer;

    width: 165px;
    padding: 20px 30px 20px 30px;
    border-radius: $radius;
    background-color: $background;
    border: 1px solid $border;
    transition: background ease 0.3s;

    @media screen and (max-width: 991px) {
        width: 150px;
    }

    .attachment-image {
        background-image: url(#{$assetPath}/5.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 70px;
        height: 70px;
        margin: 0px auto;
    }

    p {
        margin: 10px -15px 0px -15px;
        font-size: $font-size-h6;
        text-align: center;

        word-wrap: break-word;
        min-height: 40px;


    }


    &.is-drag {
        position: relative;
        padding-left: 30px;
        cursor: grab;


        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            bottom: 5px;
            width: 10px;
            background-image: url(#{$assetPath}/dot.png);
            background-repeat: repeat-y;
            background-size: 8px auto;
        }
    }
}

.attachment-zone {
    background: $theme-whitish;
    border: 1px dashed $theme-dkblue;

    box-sizing: border-box;
    border-radius: $radius;
    padding: 60px 20px;

    p {
        margin: 0px;

    }
}

.attachment-dropzone {
    width: 165px;
    padding: 25px 5px 10px 5px;
    border-radius: $radius;

    background-color: $background;
    border: 1px solid $border;
    transition: background ease 0.3s;
    min-height: 163px;

    @media screen and (max-width: 991px) {
        width: 150px;
    }

    p {
        margin: 10px 0px;
        text-align: center;
        a {
            color: $theme-ltblue;
            &:hover {
                text-decoration: underline;
                color: $theme-ltblue;

            }
        }
    }

}
