.document-datasheet-card {
    margin-bottom: 20px;

    p {
        margin: 0px !important;
    }

    .edit {
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url(../images/icon_pen.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px auto;
        top: 10px;
        right: 10px;
        cursor: pointer;


    }

    &.is-drag {
        position: relative;
        padding-left: 30px;
        cursor: grab;


        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            bottom: 5px;
            width: 10px;
            background-image: url(../images/dot.png);
            background-repeat: repeat-y;
            background-size: 8px auto;
        }
    }
}

.document-datasheet-edit {
    margin-bottom: 20px;


    p {
        margin-bottom: 5px;
    }



}
