.document {}

.document-header {
    .dh-left {
        float: left;

        @media screen and (max-width: 575px) {
            float: none;
        }


    }

    .dh-right {
        float: right;

        @media screen and (max-width: 991px) {}

        @media screen and (max-width: 575px) {
            float: none;
            margin: 20px 0px 0px 0px;

        }
    }

    .dh-item {
        min-width: 600px;

        @media screen and (max-width: 991px) {
            min-width: 400px;
        }

        @media screen and (max-width: 575px) {
            min-width: 165px;
        }

        img {
            float: left;
            margin: 0px 30px 0px 0px;
            width: 165px;

            @media screen and (max-width: 575px) {
                float: none;
                margin: 0px 0px 10px 0px;

            }
        }

        h3 {
            font-size: 20px;
            margin: 0px 0px 5px 0px;
        }
    }

    .dh-item-right {
        max-width: 165px;

        img {
            margin: 0px 0px 5px 0px;
            width: 165px;
        }

        p {
            font-size: 20px;
            margin: 0px 0px 10px 0px;
        }
    }

    &.fix {
        margin: 30px 0px 20px 0px;

        .dh-item {
            min-width: 400px;

            @media screen and (max-width: 1199px) {
                min-width: 400px;
            }

            @media screen and (max-width: 991px) {
                min-width: 300px;

            }


            img {
                float: left;
                margin: 0px 30px 0px 0px;
                width: 165px;

                @media screen and (max-width: 767px) {
                    float: left;
                    margin: 0px 20px 10px 0px;
                    width: 150px;

                }
            }


        }
    }

    .dh-right-info {
        float: right;

        @media screen and (max-width: 767px) {
            float: none;
            margin: 20px 0px 0px 0px;
        }



        p {
            margin: 0px 0px 5px 0px;
            font-size: 14px;
            font-weight: 700;

            span {
                font-weight: 400;
                display: inline-block;
                min-width: 100px;

                b {
                    font-weight: 700;
                }
            }
        }
    }
}

.document-caption {
    margin: 20px 0px 10px 0px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

    i {
        margin: 0px 5px 0px 0px;
        font-size: 20px;
        opacity: 0.8;
    }
}

.document-feature-card {
    border-radius: 4px;
    background-color: $box-color;
    border: 1px solid $border-color;
    padding: 15px 15px 15px 15px;
    position: relative;

    cursor: grab;



    img {
        float: left;
        margin: 0px 20px 0px 0px;
        width: 140px;
        height: 105px;
    }

    h3 {
        font-size: 20px;
        margin: 0px 0px 5px 0px;
    }

    p {}

    &.is-drag {
        padding-left: 35px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            bottom: 5px;
            width: 10px;
            background-image: url(../images/dot.png);
            background-repeat: repeat-y;
            background-size: 8px auto;
        }


    }
}

.document-datasheet-card {
    border-radius: 4px;
    background-color: $box-color;
    border: 1px solid $border-color;
    margin-bottom: 10px;
    padding: 10px 10px;

    p {
        margin: 0px;
    }
}

.dat-cols {
    .dat-col {
        float: left;
        margin: 0px 30px 30px 0px;
    }
}

.document-attachment-card {
    width: 165px;
    padding: 20px 30px 20px 30px;
    border-radius: 4px;
    background-color: $box-color;
    border: 1px solid $border-color;
    transition: background ease 0.3s;

    @media screen and (max-width: 991px) {
        width: 150px;
    }

    &:hover {
        background-color: #fff;
    }

    .dac-icon {
        background-image: url(../images/5.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 70px;
        height: 70px;
        margin: 0px auto;
    }

    p {
        font-size: 20px;
        text-align: center;

        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
    }
}

.vertical-slider {
    width: 12px;
    position: absolute;
    z-index: 10;
    top: 70px;
    right: 30px;
    bottom: 30px;
    background-color: #F9FCFF;

    @media screen and (max-width: 767px) {
        display: none;
    }

    .vs-value {
        position: absolute;
        width: 12px;
        left: 0px;
        background-color: $text-color;
    }

    .vs-num {
        height: 40px;
        width: 24px;
        background-color: #fff;
        z-index: 1;
        cursor: pointer;
        border: 1px solid #CBD6E2;
        box-sizing: border-box;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        position: absolute;
        left: -6px;
        z-index: 2;

        span {
            display: block;
            width: 12px;
            height: 12px;
            background-image: url(../images/icon_num.svg);
            position: absolute;
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(90deg);
            top: 12px;
            left: 5px;


        }

    }

}


.lo-slide {
    .lo-slide-text {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 14px;
        }
    }



    .lo-track {
        height: 12px;
        position: relative;
        margin: 20px 0px 0px 0px;
        background-color: #F9FCFF;

        .lo-num {
            position: absolute;
            width: 39.18px;
            height: 24px;
            top: -6px;

            background-color: #fff;
            z-index: 1;
            cursor: pointer;
            border: 1px solid #CBD6E2;
            box-sizing: border-box;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            background-image: url(../images/icon_num.svg);
            background-repeat: no-repeat;
            background-position: center center;


        }
    }
}
