.horizontal-slider {
    .horizontal-slider-text {
        display: flex;
        justify-content: space-between;

        span {
            font-size: $font-size-h6;
        }
    }

    .hs-track {
        height: $font-size-small;
        position: relative;
        margin: 20px 0px 0px 0px;
        background-color: $background;

        .hs-number {
            position: absolute;
            width: 39.18px;
            height: 24px;
            top: -6px;
            background-color: $white;
            z-index: 1;
            cursor: pointer;
            border: 1px solid $border;
            box-sizing: border-box;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
            border-radius: $radius-large;
            background-image: url(#{$assetPath}/icon-num.svg);
            background-repeat: no-repeat;
            background-position: center center;


        }
    }
}
