/*-------------------------------HEADER------------------------------------*/
body {
    background-color: #F8F9FB;
}

.header {
    height: 60px;
    background-color: #fff;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
    padding: 10px 0px;




}

.dropdown-menu {
    border: none;
    border-radius: 0px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: $font-size-base;



}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu-float-right {
    transform: none !important;
    top: 100% !important;
    left: unset !important;
    right: 0px !important;
    margin-top: 10px !important;
}


.notification {
    position: relative;

    .notification-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;

        line-height: 40px;
        font-size: $fs20;
        text-align: center;
        position: relative;

        .notification-bubble {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $red;
        }
    }
}

.notification-dropdown {
    padding: 0px 0px;
}

.notification-box {
    width: 400px;

    .nb-caption {

        text-transform: uppercase;


        padding: 10px 15px;
        font-size: $fs10;
        letter-spacing: 1px;
        font-weight: 600;
        border-bottom: 1px solid $border-color;



    }

    .nb-item {
        padding: 15px 20px 15px 70px;
        position: relative;
        border-bottom: 1px solid $border-color;

        &:before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 10px;
            margin: -4px 0px 0px 0px;
            background-color: $border-color;
        }

        .nb-avatar {
            float: left;
            width: 40px;
            height: 40px;
            margin: 0px 0px 0px -55px;
            border-radius: 50%;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        p {
            margin: 0px 0px 5px 0px;
            color: $text-color;

            a {
                color: $text-color-heading;
                transition: all ease 0.3s;

                &:hover {
                    color: $active-color;

                }
            }
        }

        .date {
            color: $text-color-second;
            text-transform: uppercase;
            font-size: $fs10;
            letter-spacing: 1px;
            font-weight: 600;
        }

    }
}

//***//

.quick-access {
    position: relative;

    .quick-access-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;

        line-height: 40px;
        font-size: $fs20;
        text-align: center;
        position: relative;


    }
}

.quick-access-dropdown {
    padding: 0px 0px;
}

.quick-acess-box {

    padding: 30px 20px 0px 20px;

    a {
        display: block;
        text-align: center;

        .qc-icon {
            width: 60px;
            height: 60px;
            color: #fff;
            line-height: 60px;

            border-radius: 50%;
            text-align: center;

            margin: 0px auto 5px auto;

            i {
                transition: all ease 0.4s;
            }


        }

        p {

            margin: 0px;
            transition: all ease 0.4s;


        }

        &:hover {
            .qc-icon {
                i {
                    font-size: 17px;
                }

            }

            p {
                color: $active-color;
            }
        }

    }

    .col-3 {
        text-align: center;
        margin: 0px 0px 30px 0px;

    }


}

.dropdown-box {
    width: 400px;

    .dropdown-caption {

        text-transform: uppercase;
        padding: 10px 15px;
        font-size: $fs10;
        letter-spacing: 1px;
        font-weight: 600;
        border-bottom: 1px solid $border-color;
        color: $text-color-second;





    }


}



.user-panel {
    .user-panel-info {
        .avatar {
            width: 40px;
            height: 40px;
            padding: 1px;
            border-radius: 50%;
            cursor: pointer;
            float: left;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;

            }


        }

        .name {
            float: left;
            line-height: 40px;
            font-weight: 600;
        }
    }

}

.user-nav {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
        display: block;

        a {
            display: block;
            padding: 10px 15px;

            color: $text-color;
            transition: all ease 0.3s;

            &:hover {
                color: $active-color;
            }
        }

        &.line {
            height: 1px;
            margin: 5px 0px;
            background-color: $border-color;
        }
    }
}

.sidebar {
    width: 70px;
    background-color: #fff;
    border-right: 1px solid $border-color;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 101;
    background: linear-gradient(0deg, #3358f4, #1d8cf8);
    transition: all ease 0.3s;

    &:hover {

        width: 300px;

        .sidebar {


            &-menu {


                &-item {



                    > a {


                        span {

                            opacity: 1;
                            transform: translateX(0px);


                        }



                    }


                }


            }

            &-sub-menu {

                border-left: 1px solid rgba(255, 255, 255, 0.2);

                li {


                    > a {
                        &:before {
                            background-color: rgba(255, 255, 255, 0.2);

                        }

                        .short-text {
                            opacity: 0;

                        }

                        .full-text {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
            }


        }

        .sidebar-brand {
            .sidebar-brand-text {
                opacity: 1;
                transform: translateX(0px);

            }

            .sidebar-brand-pin {
                opacity: 1;
                transform: translateX(0px);



            }
        }
    }

}

.pin-sidebar {
    .sidebar {
        width: 300px;

        .sidebar {


            &-menu {


                &-item {



                    > a {


                        span {

                            opacity: 1;
                            transform: translateX(0px);


                        }



                    }


                }


            }

            &-sub-menu {

                border-left: 1px solid rgba(255, 255, 255, 0.2);

                li {


                    > a {
                        &:before {
                            background-color: rgba(255, 255, 255, 0.2);

                        }

                        .short-text {
                            opacity: 0;

                        }

                        .full-text {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
            }


        }

        .sidebar-brand {
            .sidebar-brand-text {
                opacity: 1;
                transform: translateX(0px);

            }

            .sidebar-brand-pin {
                opacity: 1;
                transform: translateX(0px);


                &:after {
                    opacity: 1;
                }



            }
        }
    }
}

.sidebar-menu {
    list-style: none;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    overflow: hidden;

    &-item {


        > a {
            display: block;


            padding: 0px 40px 0px 70px;
            color: #fff;
            font-weight: 600;
            opacity: 0.8;
            position: relative;


            span {
                transition: all ease 0.3s;
                opacity: 0;
                transform: translateX(-20px);
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                line-height: 50px;


            }



        }

        &:hover {
            > a {
                opacity: 1;
            }
        }

        &.active {
            > a {
                opacity: 1;

                &:before {}
            }
        }

        &.has-child {

            .arrow {
                position: absolute;

                right: 15px;
                top: 50%;

                margin: 0px 0px 0px 0px;
                width: 9px;
                height: 1px;
                background-color: #fff;

                &:before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 9px;
                    background-color: #fff;
                    position: absolute;
                    transform: rotate(180deg);
                    top: -4px;
                    left: 4px;
                    opacity: 1;

                }
            }

            &.active {
                .arrow {




                    &:before {
                        opacity: 0;
                    }
                }
            }



        }
    }

    &-icon {
        float: left;
        width: 70px;

        height: 50px;
        text-align: center;
        margin: 0px 0px 0px -70px;
        line-height: 50px;
        font-size: $fs16;
    }
}

.sidebar-sub-menu {
    margin: 0px 0px 0px 35px;
    display: none;

    padding: 0px;
    list-style: none;
    border-left: 1px solid rgba(255, 255, 255, 0);
    transition: border ease 0.3s;



    li {
        white-space: nowrap;

        > a {



            position: relative;
            display: block;
            line-height: 40px;
            padding: 0px 15px 0px 35px;

            color: #fff;
            font-weight: 400;
            opacity: 0.8;
            font-size: $fs13;
            position: relative;

            &:before {
                content: "";
                display: block;
                width: 25px;

                height: 1px;
                position: absolute;
                top: 50%;
                left: 0px;
                background-color: rgba(255, 255, 255, 0);
                transition: all ease 0.3s;


            }

            .short-text {
                display: inline-block;
                position: absolute;
                left: -35px;

                top: 0px;
                width: 70px;
                height: 40px;

                text-align: center;
                transition: all ease 0.3s;


                opacity: 1;




            }

            .full-text {
                position: relative;
                transition: all ease 0.3s;
                opacity: 0;
                transform: translateX(-20px);
                display: inline-block;

            }




        }

        &:hover {
            > a {
                opacity: 1;
            }
        }

        &.active {
            > a {
                opacity: 1;


                .short-text {
                    &:before {
                        content: "";
                        display: block;
                        width: 5px;

                        height: 5px;
                        background-color: #fff;
                        border-radius: 50%;
                        left: 10px;
                        top: 50%;
                        position: absolute;
                        border-radius: 50%;
                        margin: -2px 0px 0px 0px;
                    }



                }

                .full-text {

                    &:before {
                        content: "";
                        display: block;
                        width: 5px;

                        height: 5px;
                        background-color: #fff;
                        border-radius: 50%;
                        left: -10px;
                        top: 50%;
                        position: absolute;
                        border-radius: 50%;
                        margin: -2px 0px 0px 0px;
                    }
                }




            }
        }
    }

    &-icon {
        float: left;
        width: 50px;
        height: 50px;
        text-align: center;
        margin: 0px 0px 0px 0px;


        span {
            color: $text-color;
            font-weight: 600;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 3px;
            font-size: $fs10;
            display: block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            margin: 13px auto;
        }

    }
}

.sidebar-brand {

    white-space: nowrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    padding: 10px 15px;
    position: relative;

    img {
        width: 40px;
    }

    .sidebar-brand-icon {
        float: left;
    }

    .sidebar-brand-text {
        font-weight: 600;
        color: #fff;
        font-size: 18px;
        float: left;
        text-transform: uppercase;
        position: absolute;
        top: 10px;
        left: 70px;
        line-height: 40px;
        display: inline-block;
        transition: all ease 0.3s;
        opacity: 0;
        transform: translateX(-20px);


    }

    .sidebar-brand-pin {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 15px;
        right: 5px;
        z-index: 1;

        cursor: pointer;
        transition: all ease 0.3s;
        opacity: 0;
        transform: translateX(-20px);



        &:before {
            display: block;
            content: "";

            border: 2px solid #fff;
            border-radius: 50%;
            height: 13px;
            width: 13px;
            position: absolute;
            top: 9px;
            left: 9px;


        }

        &:after {
            display: block;
            content: "";
            background-color: #fff;
            border-radius: 50%;
            height: 5px;
            width: 5px;
            position: absolute;

            top: 13px;
            left: 13px;
            transition: all ease 0.3s;
            opacity: 0;


        }
    }

}
