* {
    box-sizing: border-box;
}

.wrap {
    max-width: 910px;
    padding: 0px 15px;
    margin: 0px auto;
}

.header {
    text-align: center;
    padding: 35px 0px;
    background-color: #fff;
    border-top: 20px solid $bg-color;
    @media screen and (max-width: 991px) {
        padding: 15px 0px;
        border-top-width: 10px;
    }
    .logo {
        img {
            @media screen and (max-width: 991px) {
                height: 40px;
            }
        }
    }
}

.middle {
    min-height: 400px;
    position: relative;
    padding: 90px 0px 140px 0px;
    background-color: #f3f7fa;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        padding: 40px 0px 50px 0px;
    }
    &:before {
        background-color: $bg-color;
        content: "";
        display: block;
        height: 224px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 1;
    }
    &:after {
        background-color: $bg-color;
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;
        width: 496px;
        height: 224px;
        background-image: url(../images/design_line.png);
        background-repeat: no-repeat;
        background-position: top left;
        @media screen and (max-width: 1400px) {
            width: 200px;
        }
    }
    .wrap {
        position: relative;
        z-index: 3;
    }
}

.clearfix {
    clear: both;
}

.card-row {
    margin: 0px -40px;
    @media screen and (max-width: 991px) {
        margin: 0px -20px;
    }
    @media screen and (max-width: 767px) {
        margin: 0px;
    }
    .card-col {
        float: left;
        width: 50%;
        padding: 0px 40px;
        @media screen and (max-width: 991px) {
            padding: 0px 20px;
        }
        @media screen and (max-width: 767px) {
            float: none;
            padding: 0px;
            width: 100%;
        }
    }
}

.card {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;
    @media screen and (max-width: 767px) {
        max-width: 400px;
        margin: 0px auto 20px auto;
    }
    .card-img {
        overflow: hidden;
        img {
            width: 100%;
            display: block;
            transition: all ease 0.3s;
        }
    }
    &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
        .card-img {
            img {
                transform: scale(1.03);
            }
        }
    }
    .card-des {
        padding: 20px 20px 35px 20px;
        text-align: center;
        @media screen and (max-width: 767px) {
            padding: 20px 15px 20px 15px;
        }
        h2 {
            color: $text-color;
            font-weight: 700;
            font-size: 23px;
            margin: 0px;
            @media screen and (max-width: 991px) {
                font-size: 16px;
            }
        }
        .line {
            height: 2px;
            background-color: #f1f1f1;
            max-width: 280px;
            position: relative;
            margin: 20px auto 0px auto;
            &:before {
                width: 15px;
                height: 21px;
                content: "";
                display: block;
                background-image: url(../images/arrow.png);
                position: absolute;
                left: 50%;
                top: -10px;
                margin: 0px 0px 0px -7px;
            }
        }
    }
}

.footer {
    position: relative;
    z-index: 1;
    padding: 30px 0px;
    text-align: center;
    background-color: $bg-color;
    @media screen and (max-width: 767px) {
        padding-top: 50px;
    }
    p {
        font-size: 12px;
        color: #fff;
        margin: 0px;
    }
}

.contact {
    position: relative;
    z-index: 2;
    background-color: $active-color;
    padding: 20px 0px;
    .wrap {
        position: relative;
        @media screen and (max-width: 991px) {
            padding-bottom: 100px;
        }
        @media screen and (max-width: 767px) {
            padding-bottom: 140px;
        }
        .bus {
            position: absolute;
            right: 0px;
            bottom: -70px;
        }
    }
    h3 {
        font-weight: 700px;
        font-size: 23px;
        color: #fff;
        text-align: center;
        margin: 0px 0px 30px 0px;
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }
    .contact-row {
        max-width: 600px;
        margin: 0px auto;
        transform: translateX(-80px);

        @media screen and (max-width: 991px) {
            transform: translateX(0px);
        }
        .contact-col {
            float: left;
            width: 50%;
            @media screen and (max-width: 767px) {
                float: none;
                width: auto;
                max-width: 400px;
                margin: 0px auto 20px auto;
            }
            p {
                font-size: 16px;
                text-align: center;
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                }
                color: #fff;
                margin: 0px;
                strong {
                    font-weight: 700;
                }
            }
        }
    }
    .contact-logo {
        padding: 30px 0px 0px 0px;
        text-align: center;
        @media screen and (max-width: 767px) {
            padding: 15px 0px 0px 0px;
        }

    }
}
