/*-------------------------------HEADER------------------------------------*/


.header {

    background-color: $bar-color;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    // box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px 0px;
    transition: all ease 0.4s;

    .float-left {
        position: relative;
        min-width: 120px;
        min-height: 30px;
    }


    a.logo {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 2px 0px 0px 0px;

        img {
            height: 30px;

        }
    }





    &.header-transparent {


        padding: 25px 0px 25px 0px;
        background-color: transparent;
        box-shadow: none;


    }

    &.header-scrolled {
        padding: 15px 0px 15px 0px;
        background-color: $bar-color;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);

    }
}

.main-menu {
    float: left;
    margin: 0px 0px 0px 140px;

    ul {

        margin: 0px;
        padding: 0px;

        list-style: none;

        li {
            float: left;
            margin: 0px 0px 0px 30px;


            a {
                line-height: 30px;
                color: #fff;
                transition: all ease 0.3s;
                font-weight: 600;

                display: block;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    height: 1px;
                    transition: width ease 0.4s;
                    width: 0px;
                    background-color: rgba(255, 255, 255, 0.5);


                }

                .fa-plus {
                    font-size: 10px;
                    color: $active-color;
                    position: relative;
                    top: -5px;
                    transition: all ease 0.4s;
                }

                &:hover {
                    opacity: 0.8;


                }



            }
        }
    }
}

.user-link {


    float: left;

    a {
        float: left;
        line-height: 30px;
        padding: 0px 20px;
        border-radius: 20px;
        margin: 0px 0px 0px 10px;
        color: #fff;
        font-weight: 600;
        transition: all ease 0.4s;


        span {
            transform: all ease 0.4s;
        }

        &.login {

            background-color: $active-color;
            color: #fff;

            &:hover {
                background-color: lighten($active-color, 10%);
            }
        }

        &.signup {

            padding: 0px 10px;
        }

    }
}

.search-icon {
    float: left;
    line-height: 30px;
    width: 30px;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: all ease 0.4s;
    color: #fff;

    i {

        transform: all ease 0.4s;
    }

    &:hover {
        color: $active-color;

    }

}

.notification-headway {
    float: left;
    line-height: 30px;
    width: 30px;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: all ease 0.4s;


    i {
        color: #fff;
        transition: all ease 0.4s;

        &:hover {
            color: $active-color;

        }

    }


}

.menu-icon {
    float: left;
    line-height: 30px;
    width: 30px;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: all ease 0.4s;
    color: #fff;

    &:hover {
        color: $active-color;
    }
}



.user-info {
    float: left;
    margin: -5px 10px -5px 10px;
    position: relative;

    .user-info-avatar {
        width: 40px;
        cursor: pointer;
        height: 40px;

        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: block;
        }
    }

    .user-info-type {

        position: absolute;
        top: 0px;
        right: -20px;
        border-radius: 2px;
        line-height: 13px;
        height: 13px;
        color: #fff;
        z-index: 999;
        font-size: 8px;
        padding: 0px 5px;
        background-color: $pro-color;
    }

}

.db-dropdown-menu {

    border: none;
    border-radius: $border-radius;
    background-color: #fff;
    top: 100% !important;
    transform: none !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.db-dropdown-menu-right {
    right: -15px !important;
    left: unset !important;
}

.user-info-dropdown {
    font-size: $font-size-base;
    margin: 25px 0px 0px 0px;
    min-width: 300px;
    margin-left: 0px;

    &:before {
        bottom: 100%;
        right: 19px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ddd;
        border-width: 11px;
        margin-left: -11px;
    }

    &:after {
        bottom: 100%;
        right: 19px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }

    &:before {
        left: unset !important;
        right: 19px;
    }

    &:after {
        left: unset !important;
        right: 19px;
    }




}

.user-info-head {
    padding: 15px 15px 10px 70px;

    .avatar {
        width: 40px;
        margin: 0px 0px 0px -55px;
        height: 40px;
        float: left;
        border-radius: 50%;

        img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    h3 {

        font-size: $fs18;
        margin: -5px 0px 0px 0px;
        white-space: nowrap;
        max-width: 600px;
        padding: 5px 0px 0px 0px;
        overflow: hidden;
        text-overflow: ellipsis;

        .upgrade {
            display: inline-block;
            color: $pro-color;
            padding: 1px 5px;
            border-radius: 3px;
            font-size: $fs10;
            border: 1px solid $pro-color;
            position: relative;
            margin: 0px 0px 0px 7px;
            top: -5px;

            transition: all ease 0.3s;

            &:hover {
                cursor: pointer;
                background-color: $pro-color;
                color: #fff;
            }
        }

    }

    p {
        font-size: $fs12;
        margin: 0px;
        color: $text-color-meta;
    }
}

.user-info-line {
    height: 1px;
    margin: 0px 0px 10px 0px;
    background-color: #eee;


}

.user-info-balance {
    padding: 0px 15px;

    .coins-wrap {

        margin: 0px 0px 15px 0px;
        white-space: nowrap;
    }

    .stock-wrap {

        margin: 0px 0px 15px 0px;

        p {
            margin: 0px;

            em {
                font-style: normal;
                font-weight: 600;
            }
        }
    }





    .db-stock-flex {
        display: flex;



        .db-stock-progress {
            width: 100%;
            padding: 6px 0px 0px 0px;
        }

        .stock-progress {

            display: block;
            width: 100%;
            position: relative;
            background-color: #eee;

            height: 7px;
            border-radius: 5px;


            .stock-progress-value {
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                background-color: $active-color;
                border-radius: 5px;
            }

        }
    }
}

.user-info-menu {
    padding: 0px 0px;
    list-style: none;
    margin: 0px;

    li {

        a {
            display: block;
            line-height: 40px;
            min-height: 25px;
            color: $text-color;
            padding: 0px 0px 0px 5px;

            transition: all ease 0.3s;

            &:hover {
                background-color: $box-color;

            }




            .icon {
                width: 40px;
                float: left;
                text-align: center;

                line-height: 40px;


            }

        }

        &.current {
            a {
                background-color: $box-color;
                color: $active-color;
            }
        }
    }

}


.menu-res {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    border-top: 1px solid $border-color;
    background-color: #fff;
    z-index: 100;
    display: none;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 992px) {

        display: none !important;


    }

    ul {

        margin: 0px;
        padding: 0px 0px;

        list-style: none;

        li {
            display: block;
            margin: 0px;
            padding: 0px;


            a {
                line-height: 40px;
                color: $text-color;
                transition: all ease 0.4s;
                font-weight: 600;
                padding: 0px 15px;
                display: block;

                &:hover {
                    color: $active-color;

                }


            }
        }
    }


}




.db-coins {
    line-height: 30px;
    display: inline-block;
    margin: 0px 10px 0px 0px;

    .db-coins-icon {
        float: left;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0px 2px 0px 0px;
        background-image: url(#{$path_default}/images/icon/coins.svg);
        background-size: 22px auto;
    }

    p {
        line-height: 30px;
        display: inline-block;
        margin: 0px;

    }

    &.db-bonus-coins {
        .db-coins-icon {
            float: left;

            background-image: url(#{$path_default}/images/icon/bonus-coins.svg);


        }
    }

    &.text-gray {
        p {
            line-height: 30px;
            display: inline-block;
            margin: 0px;


            strong {

                font-weight: 700;

            }
        }

    }
}

.db-stocks {
    line-height: 30px;
    display: inline-block;
    margin: 0px 10px 0px 0px;

    .db-stocks-icon {
        float: left;

        width: 20px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0px 0px 0px 0px;

        i {
            display: block;
            line-height: 30px;
            font-size: 15px;
            color: $active-color;
        }


    }

    p {
        line-height: 30px;
        display: inline-block;
        margin: 0px;
        color: #fff;

        strong {

            font-weight: 700;
            color: #fff;
        }
    }


    &.text-gray {
        p {
            line-height: 30px;
            display: inline-block;
            margin: 0px;


            strong {

                font-weight: 700;

            }
        }

    }
}
