/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         Danh Cong
    Skype:          congnd91
-------------------------------------------------------------------
-------------------------------------------------------------------*/


@import "utilities/_all";
@import "base/_all";
@import "components/_all";
@import "layout/_all";
@import "pages/_all";
