
header.header
{
    z-index: 3;
}


.contact-entry div.post-content
{
    margin-top:0px;
}

.form .form-message
{
    display:block;
}

.form-message.success
{
    color:green;
}

#breadcrumbs
{
    margin-bottom:0px;
}

main .services-item-wr .icon-wr {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #353535;
    margin-bottom: 25px;
}

main .services-item-wr .icon-wr i {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

main .services
{
    text-align: center;
    background-color: #171717;
    padding: 92px 0 112px;
    margin-top: 65px;
}