.float-left {

    float: left;

}

.float-right {

    float: right;


}

//background
.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.color-primary {
    color: $active-color;
}

.color-second {
    color: $active-color-second;
}

.color-red {
    color: $red;
}

.size10 {
    font-size: 10px;
}

.size11 {
    font-size: 11px;
}


.size12 {
    font-size: 12px;
}


.size13 {
    font-size: 13px;
}


.size14 {
    font-size: 14px;
}




h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: $font-family-heading;
}

//button
.db-btn {
    line-height: 40px;
    border-radius: 4px;
    padding: 0px 30px;
    transition: all ease 0.3s;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;

    color: #fff;
    font-family: $font-family-heading;
    background-color: $active-color;
    outline: none;
    border: none;
    text-transform: uppercase;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    &:hover {

        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        background-color: $active-color-second;


    }

    i {
        font-size: 14px;

    }

    &.cancel {
        border: 1px solid rgba(#5A5D6C, 0.3);

        color: #5A5D6C;
        background-color: transparent;
        background: none;
        box-shadow: none;
        box-shadow: none;

        &:hover {
            color: $text-color-second;
            background: none;
        }
    }

    &.delete {
        border: none;
        background-color: transparent;
        box-shadow: none;
        color: $red;
        padding: 0px 0px;

        &:hover {
            box-shadow: none;
        }
    }

}


//radio
.db-radio {
    display: inline-block;
    position: relative;
    cursor: pointer;

    span {
        display: inline-block;
        padding: 0px 0px 0px 30px;
        position: relative;
        line-height: 40px;
        font-size: 14px;
        font-weight: 600;

        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            position: absolute;
            top: 10px;
            left: 0px;
            border: 1px solid $border-color;
            border-radius: 50%;


        }


        cursor: pointer;
    }

    input {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &:checked ~ span {
            color: $active-color;
            &:before {

                border: 1px solid $active-color;
            }
            &:after {

                width: 14px;
                height: 14px;
                background-color: $active-color;
                content: "";
                display: block;
                border-radius: 50%;
                position: absolute;
                top: 13px;
                left: 3px;





            }
        }
    }


}

.db-field {
    margin: 0px 0px 15px 0px;

    .caption {
        margin: 0px 0px 0px 0px;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 0px 0px 0px;


    }
}


.db-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;


    span {
        display: inline-block;
        padding: 0px 0px 0px 27px;
        position: relative;
        line-height: 1.3;
        cursor: pointer;


        a {
            color: $text-color-second;

            &:hover {
                color: $active-color;
            }
        }

        &:before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            content: "";
            position: absolute;
            top: 2px;
            left: 0px;
            background-image: url(../images/icon-checkbox.svg);
            background-position: center center;


        }



    }

    input {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &:checked ~ span {
            &:before {

                background-image: url(../images/icon-checkbox-check.svg);


            }
        }
    }


}

//wa-text
.db-txt {
    display: block;
    width: 100%;
    padding: 0px 15px;
    background: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all ease 0.3s;
    height: 40px;
    font-size: 16px;
    outline: none;

    &:focus {
        background: #F8FDFF;
        border: 1px solid darken($border-color, 10%);

    }

}

.db-area {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all ease 0.3s;
    height: 150px;

    font-size: 16px;
    outline: none;

    &:focus {
        background: #F8FDFF;
        border: 1px solid darken($border-color, 10%);

    }
}

//wa-field
.db-field {
    margin: 0px 0px 20px 0px;
    position: relative;


    p {
        margin: 0px 0px 8px 0px;
        font-size: 12px;
        font-weight: 500;
    }
}





img {
    max-width: 100%;
}

.container1 {
    @media screen and (min-width: 1330px) {
        max-width: 1140px;
    }

    @media screen and (min-width: 1500px) {
        max-width: 1312px;
    }
}

.clearfix {
    clear: both;
}
