.dc-banner {

    display: block !important;
    background-image: url(../images/banner.png);
    min-height: 250px;
    padding: 30px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;

    .dc-banner-content {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 20px;
        right: 30px;
        transform: translateY(-50%);

        text-align: right;
        span {
            color: #fff;
            font-size: 50px;

            @media screen and (max-width: 991px) {

                font-size: 30px;
            }
            @media screen and (max-width: 767px) {

                font-size: 20px;
            }

        }
    }
}

.dc-profile {
    max-width: 980px;
    margin: 0px auto;
    text-align: left;
    padding: 0px 15px;
    .dcp-bar {

        border-bottom: 2px solid #d9d9d9;
        padding: 30px 0px;
        margin: 0px 0px 30px 0px;
        p {
            margin: 10px 0px 0px 0px;
            font-size: 15px;
            color: #666666;
            font-weight: 600;
            text-align: left;
        }
    }
    h3 {
        margin: 20px 0px 20px 0px;
        font-size: 27px;
        font-weight: 500;
        color: #000000;

        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
}

.clearfix {
    clear: both;
}

.dc-row {
    padding: 0px 0px 0px 350px;
    margin: 0px 0px 22px 0px;

    @media screen and (max-width: 991px) {
        padding: 0px;
    }
    .dc-left {
        width: 300px;
        margin: 0px 0px 0px -320px;

        float: left;

        @media screen and (max-width: 991px) {
            float: none;
            margin: 0px 0px 10px 0px;
        }
        p {
            margin: 6px 0px 0px 0px;
            font-size: 17px;
            color: #666666;
            &.note {
                color: #aaacaf;
                font-size: 12px;
                margin: -5px 0px 0px 0px;
            }

        }

    }

    &.small {

        padding: 0px 0px 0px 320px;
        margin: 0px 0px 12px 0px;

        @media screen and (max-width: 991px) {
            padding: 0px;
        }

        .dc-left {
            width: 270px;
            margin: 0px 0px 0px -290px;

            float: left;

            @media screen and (max-width: 991px) {
                float: none;
                margin: 0px 0px 10px 0px;
            }
            p {
                margin: 6px 0px 0px 0px;
                font-size: 14px;
                color: #666666;
                &.note {
                    color: #aaacaf;
                    font-size: 12px;
                    margin: -5px 0px 0px 0px;
                }

            }

        }
    }


}

.dc-frame-check {
    width: 100%;
    opacity: 0.6;
    &.inline {
        display: inline;
    }
}

.dc-frame-check-flex {
    display: flex;
    &.inline {
        display: inline;
    }

}

.dc-flex {
    display: flex;





    @media screen and (max-width: 991px) {
        flex-wrap: wrap;
        justify-content: flex-start;

    }

    div {}
}



.my-text {
    width: 100%;
    display: block;
    height: 35px !important;
    padding: 0px 20px !important;
    color: #aaacaf !important;
    font-size: 14px !important;
    border: 1px solid #8c8c8c !important;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    &.inline {
        width: 100%;
        display: inline-block;
        max-width: 345px;
    }
}

.my-radio {
    display: inline-block;
    margin: 0px 15px 0px 0px;
    position: relative;
    line-height: 35px;
    &.no-margin {
        margin: 0px;
    }
    input[type=radio] {
        position: absolute;
        visibility: hidden;
    }
    label {
        padding: 0px 0px 0px 30px;

        line-height: 35px;
        position: relative;
        color: #aaacaf;
        font-size: 14px;
        display: inline-block;
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #575555;
            border-radius: 2px;
            position: absolute;
            border-radius: 50%;
            top: 7px;
            left: 0px;

        }
    }
    a {}
    input[type=radio]:checked ~ label {
        &:before {

            border: 1px solid #0094d9;

        }
        &:after {
            content: "";
            display: block;
            background-color: #0094d9;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            top: 12px;
            left: 5px;

        }
    }

    &.small {

        margin: 0px 15px 0px 0px;

        &.no-margin {
            margin: 0px;
        }
        input[type=radio] {
            position: absolute;
            visibility: hidden;
        }
        label {
            padding: 0px 0px 0px 25px;

            line-height: 35px;
            position: relative;
            color: #aaacaf;
            font-size: 12px;
            display: inline-block;
            &:before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                border: 1px solid #575555;
                border-radius: 2px;
                position: absolute;
                border-radius: 50%;
                top: 8px;
                left: 0px;

            }
        }

        input[type=radio]:checked ~ label {
            &:before {

                border: 1px solid #0094d9;

            }
            &:after {
                content: "";
                display: block;
                background-color: #0094d9;
                width: 10px;
                height: 10px;

                border-radius: 50%;
                position: absolute;
                top: 12px;
                left: 5px;

            }
        }

    }
}


.my-checkbox {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    position: relative;
    line-height: 35px;
    input[type=checkbox] {
        position: absolute;
        visibility: hidden;
    }
    label {
        padding: 0px 0px 0px 25px;

        line-height: 35px;
        position: relative;
        color: #aaacaf;
        font-size: 14px;
        display: inline-block;
        &:before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border: 1px solid #575555;
            border-radius: 2px;
            position: absolute;

            top: 8px;
            left: 0px;

        }
    }

    input[type=checkbox]:checked ~ label {
        &:before {

            border: 1px solid #0094d9;

        }
        &:after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background-image: url(../images/check.png);
            position: absolute;
            top: 10px;
            left: 3px;


        }
    }
    &.small {

        margin: 0px 10px 0px 0px;
        input[type=checkbox] {
            position: absolute;
            visibility: hidden;
        }
        label {
            padding: 0px 0px 0px 20px;

            line-height: 35px;
            position: relative;
            color: #aaacaf;
            font-size: 12px;
            display: inline-block;
            &:before {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                border: 1px solid #575555;
                border-radius: 1px;
                position: absolute;

                top: 10px;
                left: 0px;

            }
        }

        input[type=checkbox]:checked ~ label {
            &:before {

                border: 1px solid #0094d9;

            }
            &:after {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                background-image: url(../images/check.png);
                background-repeat: no-repeat;
                background-size: 10px 10px;
                position: absolute;
                background-size: cover;
                top: 11px;
                left: 2px;


            }
        }
    }
}


.dc-cols {
    margin: 0px -8px;
    .dc-col {
        float: left;
        width: 50%;
        padding: 0px 8px;
        &.margin {
            margin-top: 15px;
        }
    }
}

.dc-line {
    height: 1px;
    background-color: #b3b3b3;
    margin: 20px 0px 0px 0px;
}

.dc-box-child {
    padding: 0px 0px 0px 30px;


    @media screen and (max-width: 991px) {
        padding: 0px;

    }

    h5 {

        font-size: 17px;
        color: #666666;
        font-weight: normal;

    }
}
