{% extends "layout.html" %}
{% block content %}
<main>
<section class="section-deposit">
    <div class="container">
        <h1 class="text-center">{{ gettext("We have well saved your deposit.") }}</h1>
        <p>
        {{ gettext("Your deposit amount will be increased once we
        receive the confirmation from the bank.") }}
        </p>
        <p>
        {{ gettext("Meanwhile you can start shopping by clicking") }}
        <a href="{{ url_for('category') }}">{{ gettext("here") }}</a>.
        <p>
    </div>
</section>
</main>
{% endblock content %}
