/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/
h1,
.h1 {
  font-size: 3.5rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.5rem; }

h4,
.h4 {
  font-size: 2rem; }

h5,
.h5 {
  font-size: 1.8rem; }

h6,
.h6 {
  font-size: 1.5rem; }

@font-face {
  font-family: 'Averta-Bold';
  src: url("../fonts/Averta-Bold.eot");
  src: url("../fonts/Averta-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Bold.woff2") format("woff2"), url("../fonts/Averta-Bold.woff") format("woff"), url("../fonts/Averta-Bold.ttf") format("truetype"), url("../fonts/Averta-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta-Regular';
  src: url("../fonts/Averta-Regular.eot");
  src: url("../fonts/Averta-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Regular.woff2") format("woff2"), url("../fonts/Averta-Regular.woff") format("woff"), url("../fonts/Averta-Regular.ttf") format("truetype"), url("../fonts/Averta-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta-Semibold';
  src: url("../fonts/Averta-Semibold.eot");
  src: url("../fonts/Averta-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Semibold.woff2") format("woff2"), url("../fonts/Averta-Semibold.woff") format("woff"), url("../fonts/Averta-Semibold.ttf") format("truetype"), url("../fonts/Averta-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta-Thin';
  src: url("../fonts/Averta-Thin.eot");
  src: url("../fonts/Averta-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Thin.woff2") format("woff2"), url("../fonts/Averta-Thin.woff") format("woff"), url("../fonts/Averta-Thin.ttf") format("truetype"), url("../fonts/Averta-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==========Setting=========*/
html {
  font-size: 10px; }

body {
  background-color: #fff;
  font-family: "Averta-Regular", sans-serif;
  min-width: 360px;
  font-size: 1.3rem;
  line-height: 1.5; }

dt,
dd {
  line-height: 1.5; }

body,
html {
  height: 100%; }

a:hover {
  text-decoration: none;
  color: inherit; }

a {
  color: inherit; }

a:active,
a:focus {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Averta-Bold", sans-serif;
  font-weight: 700; }

iframe {
  width: 100%;
  border: none; }

::selection {
  background: #f26e83;
  color: #fff; }

/*==========Components=========*/
.my-btn {
  display: inline-block;
  line-height: 40px;
  padding: 0px 30px;
  font-family: "Averta-Bold", sans-serif;
  color: #fff;
  background-color: #48464f;
  letter-spacing: 2px;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
  border: none;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .my-btn:hover {
    background-color: #f26e83;
    outline: none;
    color: #fff; }
  .my-btn.active {
    background-color: #f26e83;
    outline: none;
    color: #fff; }
    .my-btn.active:hover {
      opacity: 0.8; }

.row-fix {
  margin-left: -10px;
  margin-right: -10px; }
  .row-fix .col-fix {
    padding-left: 10px;
    padding-right: 10px; }

#page-loader {
  background-color: #f26e83;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999; }

.topbar {
  background-color: #f26e83;
  color: #fff;
  padding: 15px 0px;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top right; }
  @media screen and (max-width: 991px) {
    .topbar {
      padding: 10px 0px; } }
  .topbar .container {
    position: relative; }
  .topbar .tb-left a {
    float: left;
    color: #fff;
    margin: 0px 10px 0px 0px; }
  .topbar .tb-right {
    float: right; }
    @media screen and (max-width: 767px) {
      .topbar .tb-right {
        position: absolute;
        right: 10px;
        bottom: -50px; }
        .topbar .tb-right .user-control {
          float: left; }
          .topbar .tb-right .user-control a {
            color: #5c5965; }
        .topbar .tb-right .user-cart span {
          color: #5c5965; } }
  .topbar .user-control {
    margin: 0px 10px 0px 0px;
    float: left; }
    .topbar .user-control a {
      color: #fff; }
  .topbar .user-cart {
    float: left;
    cursor: pointer;
    position: relative; }
    .topbar .user-cart span {
      color: #fff; }
  .topbar .menu-icon {
    float: right;
    font-size: 20px;
    line-height: 20px;
    width: 30px;
    cursor: pointer; }

.header a.logo {
  float: left;
  margin: 23px 0px 0px 0px; }

@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0px; }
    .header a.logo {
      float: left;
      margin: 0px 0px 0px 0px; } }

.header .menu {
  float: right; }
  .header .menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none; }
    .header .menu ul li {
      float: left;
      margin: 0px 0px 0px 50px; }
      @media screen and (max-width: 991px) {
        .header .menu ul li {
          margin: 0px 0px 0px 20px; } }
      .header .menu ul li a {
        display: block;
        line-height: 85px;
        text-transform: uppercase;
        font-family: "Averta-Semibold", sans-serif;
        color: #5c5965; }
        .header .menu ul li a:hover {
          color: #f26e83; }
      .header .menu ul li.current a {
        color: #f26e83; }

@media screen and (max-width: 767px) {
  .open-menu {
    overflow: hidden; }
    .open-menu .menu-res {
      -moz-transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -o-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px); }
    .open-menu .page {
      -moz-transform: translateX(-280px);
      -webkit-transform: translateX(-280px);
      -o-transform: translateX(-280px);
      -ms-transform: translateX(-280px);
      transform: translateX(-280px); }
  .menu-res {
    width: 280px;
    background-color: #111;
    position: fixed;
    top: 0px;
    z-index: 999;
    overflow: auto;
    bottom: 0px;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    right: 0px;
    -moz-transform: translateX(280px);
    -webkit-transform: translateX(280px);
    -o-transform: translateX(280px);
    -ms-transform: translateX(280px);
    transform: translateX(280px); }
  .page {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s; }
  .menu-res-inner {
    padding: 30px 20px 20px 20px; }
    .menu-res-inner ul {
      padding: 0px;
      list-style: none; }
      .menu-res-inner ul > li {
        border-bottom: 1px solid #222;
        position: relative; }
        .menu-res-inner ul > li .fa-home {
          margin: 0px 5px 0px 0px; }
        .menu-res-inner ul > li a {
          text-transform: uppercase;
          color: #999;
          display: block;
          line-height: 40px;
          font-family: "Averta-Semibold", sans-serif;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s; }
          .menu-res-inner ul > li a:hover {
            color: #fff; }
        .menu-res-inner ul > li.menu-item-has-children:before {
          display: block;
          content: "\f489";
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0px;
          right: 0px;
          font-family: "Ionicons";
          font-size: 20px;
          text-align: center;
          cursor: pointer;
          line-height: 40px;
          color: #999; }
        .menu-res-inner ul > li.open-submenu-active:before {
          content: "\f462"; }
        .menu-res-inner ul > li > ul {
          padding: 0px 0px 10px 10px;
          display: none; }
          .menu-res-inner ul > li > ul li {
            border: none;
            border-bottom: 1px solid #111; }
            .menu-res-inner ul > li > ul li:last-child {
              border: none; }
            .menu-res-inner ul > li > ul li a {
              display: block;
              line-height: 35px;
              text-transform: none;
              color: #666;
              padding: 0px 0px;
              font-weight: 400;
              font-family: "Averta-Bold", sans-serif;
              -moz-transition: all ease 0.2s;
              -o-transition: all ease 0.2s;
              -webkit-transition: all ease 0.2s;
              transition: all ease 0.2s;
              text-transform: uppercase; }
              .menu-res-inner ul > li > ul li a:hover {
                color: #fff; }
            .menu-res-inner ul > li > ul li > ul {
              padding: 0px 0px 0px 20px; } }

.home-hero {
  min-height: 470px;
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1400px) {
    .home-hero {
      min-height: 370px; } }
  @media screen and (max-width: 991px) {
    .home-hero {
      min-height: 200px; } }

.hero-content {
  text-align: center;
  padding: 10px; }
  @media screen and (max-width: 991px) {
    .hero-content img {
      width: 100px; } }
  @media screen and (max-width: 767px) {
    .hero-content img {
      width: 70px; } }
  .hero-content h2 {
    font-size: 2.7rem;
    font-family: "Averta-Thin", sans-serif;
    color: #fff;
    margin: 10px 0px;
    font-weight: 300;
    line-height: 1.5; }
    @media screen and (max-width: 991px) {
      .hero-content h2 {
        font-size: 2rem; } }
    @media screen and (max-width: 767px) {
      .hero-content h2 {
        font-size: 1.3rem; } }

.hero-control a {
  display: inline-block;
  margin: 2px 5px;
  line-height: 30px;
  min-width: 120px;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  background-color: #f26e83;
  background: #f26e83;
  background: -webkit-linear-gradient(left, #f26e83, #f693a3);
  background: linear-gradient(to right, #f26e83, #f693a3);
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-size: 1.6rem; }
  .hero-control a:hover {
    opacity: 0.9; }
  @media screen and (max-width: 767px) {
    .hero-control a {
      font-size: 1.2rem;
      min-width: 10px;
      padding: 0px 12px;
      margin: 2px 5px;
      line-height: 25px; } }

.home-hero1 {
  min-height: 470px;
  background-image: url(../images/3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1400px) {
    .home-hero1 {
      min-height: 370px; } }
  @media screen and (max-width: 991px) {
    .home-hero1 {
      min-height: 200px; } }

.hero1-content {
  text-align: left;
  padding: 10px 0px; }
  .hero1-content img {
    max-width: 140px;
    margin: 0px 0px 10px 0px;
    display: block; }
    @media screen and (max-width: 991px) {
      .hero1-content img {
        max-width: 100px; } }
  .hero1-content p {
    color: #fff;
    font-size: 1.5rem; }
    @media screen and (max-width: 991px) {
      .hero1-content p {
        font-size: 1.2rem; } }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.cate {
  margin: 40px 0px 0px 0px;
  padding: 0px 0px 20px 0px; }
  .cate .cate-caption {
    margin: 0px 0px 10px 0px;
    font-size: 1.7rem;
    font-family: "Averta-Bold", sans-serif;
    font-weight: 600;
    color: #5c5965; }
    .cate .cate-caption i {
      margin: 0px 3px 0px 0px;
      color: #f26e83; }

.video-des {
  padding: 10px 0px 0px 10px; }
  @media screen and (max-width: 991px) {
    .video-des {
      padding: 0px; } }
  .video-des H3 {
    margin: 0px;
    padding: 15px 0px 10px 0px;
    color: #f26e83;
    font-size: 1.7rem; }
  .video-des p {
    font-size: 1.5rem;
    margin: 0px 0px 15px 0px; }

.photo-item {
  margin: 0px 0px 15px 0px; }
  .photo-item .pi-img {
    overflow: hidden; }
    .photo-item .pi-img img {
      display: block;
      width: 100%;
      transition: all ease 0.6s;
      opacity: 0.9; }
      .photo-item .pi-img img:hover {
        transform: scale(1.1);
        opacity: 1; }
  .photo-item p {
    margin: 10px 0px; }
    .photo-item p a {
      color: #f26e83;
      font-size: 1.7rem;
      font-family: "Averta-Bold", sans-serif; }

.news-item {
  margin: 0px 0px 30px 0px;
  position: relative;
  overflow: hidden; }
  .news-item img {
    display: block;
    width: 100%;
    transition: all ease 0.6s;
    opacity: 0.9; }
  .news-item:hover img {
    transform: scale(1.1);
    opacity: 1; }
  .news-item .ni-caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 5px 10px 20px;
    background: #f26e83;
    background: -webkit-linear-gradient(left, #f26e83, transparent);
    background: linear-gradient(to right, #f26e83, transparent); }
    .news-item .ni-caption a {
      font-size: 1.7rem;
      color: #fff; }
    @media screen and (max-width: 991px) {
      .news-item .ni-caption {
        padding: 5px; } }

.social-bar {
  background: transparent;
  background: -webkit-linear-gradient(left, transparent, #f26e83);
  background: linear-gradient(to right, transparent, #f26e83);
  padding: 10px 0px;
  text-align: right; }
  @media screen and (max-width: 767px) {
    .social-bar {
      text-align: center;
      background: #f26e83;
      background: -webkit-linear-gradient(left, #f26e83, #f693a3);
      background: linear-gradient(to right, #f26e83, #f693a3); } }
  .social-bar span {
    font-size: 1.6rem;
    font-family: "Averta-Bold", sans-serif;
    font-weight: 600;
    color: #fff; }
  .social-bar a {
    font-size: 1.8rem;
    margin: 0px 0px 0px 15px;
    color: #fff; }
    @media screen and (max-width: 991px) {
      .social-bar a {
        font-size: 1.6rem;
        margin: 0px 0px 0px 10px; } }
    .social-bar a:hover {
      opacity: 0.9;
      cursor: pointer; }

.footer {
  min-height: 100px;
  background-color: #48464f;
  background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 55px 0px 20px 0px; }
  @media screen and (max-width: 767px) {
    .footer {
      text-align: center; } }
  @media screen and (max-width: 767px) {
    .footer .menu-footer {
      display: inline-block;
      text-align: left;
      min-width: 190px; } }
  .footer .menu-footer ul {
    list-style: none;
    text-align: left;
    padding: 0px;
    margin: 0px; }
    .footer .menu-footer ul li {
      margin: 0px 0px 15px 0px; }
      .footer .menu-footer ul li a {
        display: block;
        color: #fff;
        font-size: 1.3rem; }
        .footer .menu-footer ul li a i {
          color: #f26e83;
          margin: 0px 5px 0px 0px; }

.allright {
  margin: 15px 0px 5px 0px;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Averta-Thin", sans-serif; }

.footer-company {
  margin: 0px 0px 30px 0px; }

/*# sourceMappingURL=main.css.map */