body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;

}

header {
    background-color: #000;
    padding: 30px 0px 0px 0px;



}

.upplandsmotor header .mobile-link a {
    padding: 10px;
}

.upplandsmotor header .mobile-link a {
    color: #fff;
}

.navbar-inner {
    background-image: none;
    background-color: #000;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

}

header .navbar .nav > li > a {
    padding: 8px 10px 7px;
    text-shadow: 0 -1px 2px #000;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

header .navbar .nav.nav-pills.pull-right > .active > a,
.navbar .nav.nav-pills.pull-right > .active > a:hover,
.navbar .nav.nav-pills.pull-right > .active > a:focus {
    background: #12bd59;
    color: #fff;
    text-shadow: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

footer {
    background: #d8ddd9;
    position: relative;
    margin-top: 40px;
    padding-top: 0px;
    margin-bottom: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

footer .basement {
    background: #000;
    color: #FFFFFF;
    border-radius: 0px;
    Font-size: 12px;
}

a.btn.orange {
    background: #12bd59 url(/framework/upplandsmotor/images/btn-mid-um.png) repeat-x !important;
    background-size: auto 100% !important;
    text-shadow: 0 -1px 0px #888 !important;
}

.panel {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
