$active-color:#213769;
$active-color-second:#93013C;

.second-one {
    padding-top: 250px;


    padding-bottom: 200px;
    color: #fff;
    background-color: $active-color;
    text-align: center;
    @media screen and (max-width: 991px) {
        padding-top: 100px;

        padding-bottom: 60px;
    }
    span {
        font-weight: 600;
        color: #eee;
        font-size: 13px;
    }
    h1 {
        font-weight: 700;
        color: #fff;
        font-size: 55px;
        margin: 10px 0px 0px 0px;
        @media screen and (max-width: 991px) {
            font-size: 30px;
        }
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }

}

.second-two {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;
    @media screen and (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (max-width: 767px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    h2 {
        text-align: center;
        font-weight: 700;
        color: #fff;
        font-size: 40px;
        margin: 10px 0px 0px 0px;
        @media screen and (max-width: 991px) {
            font-size: 25px;
        }
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }

}


.second-three {
    display: flex;
    padding: 0px;
    margin: 0px;
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }
    .st-item {
        width: 25%;
        height: 100%;
        background-color: $active-color;


        display: flex;
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 40px;
        text-align: center;
        &.black {
            background-color: #000;
        }
        @media screen and (max-width: 1199px) {
            width: 50%;
        }
        @media screen and (max-width: 575px) {
            width: 100%;
            min-height: 150px;
            &.st-item-img {
                min-height: 250px;
            }
        }

        img {
            height: 100%;
        }

        div {
            span {
                color: #fff;
                font-weight: 600;
                font-size: 13px;
            }
            p {
                text-align: center;
                font-weight: 700;
                color: #fff;
                font-size: 30px;
                margin: 10px 0px 0px 0px;
                @media screen and (max-width: 991px) {
                    font-size: 25px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }

    }
}

.wrap-800 {
    max-width: 800px;
    margin: 0px auto;
}

.second-for {
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h4 {
        font-size: 35px;
        font-weight: 700;
        color: $active-color;

        margin: 0px 0px 0px 0px;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }

    }
    p {
        font-size: 18px;
        margin: 0px 0px 20px 0px;
        font-weight: 500;
        @media screen and (max-width: 991px) {
            font-size: 15px;
        }

    }
    .content-flex {
        display: flex;

        @media screen and (max-width: 767px) {
            display: block;
        }
        .cf-right {
            padding-left: 50px;
            @media screen and (max-width: 767px) {
                padding: 0px;
            }


        }
        .cf-left {
            min-width: 50%;

            flex-basis: auto;
            /* default value */
            flex-grow: 1;

        }
    }
}


.second-five {

    display: flex;
    padding: 0px;
    margin: 0px;

    align-items: stretch;
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
    }
    .df-item {
        background-color: #EAEAEA;

        flex: 1;
        align-self: auto;

        padding: 120px 45px;
        text-align: center;
        color: $active-color;


        &.active {
            background-color: $active-color;

            color: #fff;
        }



        @media screen and (max-width: 991px) {
            padding: 60px 30px;



        }
        @media screen and (max-width: 767px) {
            width: 100%;
            padding: 40px 20px;
            flex: auto;




        }

        img {
            height: 100%;
        }

        div {
            span {

                font-weight: 600;
                font-size: 13px;
            }
            p {
                text-align: center;
                font-weight: 700;

                font-size: 40px;
                line-height: 1.1;
                margin: 10px 0px 10px 0px;
                @media screen and (max-width: 991px) {
                    font-size: 25px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }
            em {
                display: block;
                line-height: 1.5;
                font-size: 18px;

            }
        }

    }
}

.second-six {

    padding-top: 50px;
    padding-bottom: 50px;

}


.sf-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;


    .sf-item {
        width: 50%;


        @media screen and (max-width: 767px) {
            width: 100%;
            margin: 0px 0px 20px 0px;
        }
    }
    .sf-des {
        padding-left: 50px;
        width: 50%;

        display: flex;
        align-items: center;
        @media screen and (max-width: 991px) {
            padding-left: 20px;
        }
        @media screen and (max-width: 767px) {
            padding-left: 0px;
            width: 100%;
        }
        span {
            font-size: 13px;
            display: block;
            font-weight: 600;
            margin: 0px 0px 10px 0px;
        }
        h3 {
            color: $active-color;
            font-weight: 700;
            font-size: 35px;
            @media screen and (max-width: 991px) {
                font-size: 20px;
            }
        }
        p {
            font-size: 18px;
            margin: 0px 0px 20px 0px;
            font-weight: 500;
            @media screen and (max-width: 991px) {
                font-size: 15px;
            }

        }
        .db-btn {
            display: inline-block;
            padding: 0px 30px;
            color: $active-color;
            font-size: 16px;
            border: 2px solid $active-color;
            line-height: 50px;
            border-radius: 30px;
            transition: all ease 0.3s;
            font-weight: 600;
            &:hover {
                background-color: $active-color;
                color: #fff;
            }
            @media screen and (max-width: 991px) {
                padding: 0px 20px;
                font-size: 14px;
            }
        }

    }
}


.second-seven {
    padding-top: 60px;



    padding-bottom: 60px;
    text-align: center;

    @media screen and (max-width: 991px) {
        padding-top: 40px;

        padding-bottom: 40px;
    }
    span {
        font-weight: 600;
        color: #1a1a1a;
        font-size: 13px;
    }
    h2 {
        font-weight: 700;
        color: $active-color;
        font-size: 40px;
        margin: 10px 0px 0px 0px;
        @media screen and (max-width: 991px) {
            font-size: 30px;
        }
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }

}


.second-eight {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    @media screen and (max-width: 1199px) {}
    .st-item {
        width: 25%;
        height: 100%;
        background-color: $active-color;


        display: flex;
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 40px;
        text-align: center;
        &.black {
            background-color: #000;
        }
        @media screen and (max-width: 1199px) {
            width: 50%;
        }
        @media screen and (max-width: 575px) {
            width: 100%;
            min-height: 150px;
            &.st-item-img {
                min-height: 250px;
            }
        }

        img {
            height: 100%;
        }

        div {

            h3 {
                text-align: center;
                font-weight: 700;
                color: #fff;
                font-size: 30px;
                margin: 10px 0px 20px 0px;
                @media screen and (max-width: 991px) {
                    font-size: 25px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }
            p {
                color: #fff;
                font-weight: 500;
                font-size: 16px;
            }
        }

    }
}
