/*
@media (max-width: 979px) and (min-width: 768px) {
	.search form input.search-query {width:190px;}
	header .nav-pills>li {padding:0;}
	.rows_head h1 {width:278px;}
	.rows.full .rows_head h1 {width:469px;}
	.navbar-search.search-in-results {width: 278px;}
	.carousel-caption h1 {
		font: normal 22px 'Lato', sans-serif;
		margin: 0 0 5px 0;
	}
	.carousel-caption li {
	font-size: 11px;
	line-height: 15px;
	}
	.carousel-caption h2 strong {
		font: 900 16px 'Lato', sans-serif;
	}
	.carousel-caption h2 {
		font-size: 14px;
		margin:0;
		margin-top:5px;
	}
	aside.login input[type=text], aside.login input[type=password] {margin:0px 10px 6px 10px;width:134px;}
	aside.login h1 {
		color: #484848;
		font: 700 12px 'Lato', sans-serif;
		margin: 8px 10px 10px 10px;
	}
	aside.login .btn {margin:5px 10px;}
	aside.login .lostpass {margin-top:12px;}
	.feedback input[type=text] {width:172px;}
	.feedback textarea {width:329px;}
	
	.car-profile .car-status .current-bid span {margin-left:0;}
	.car-profile .make-bid input[type=text] {width:134px;}
	.car-profile .estimate-days .selectboxit-btn {margin-left:0;}
	.car-profile .carousel-indicators li,.car-profile .carousel-indicators li:first-child {margin:6px;}
	.testprotocol .span4 {width:200px;}
		.testprotocol .span8 {width: 452px;}
		.image_carousel img {margin-right:5px;}
		.image_carousel .next {right:4px;}
		
	.form-fill ul li {margin-bottom:10px;}
	.form-fill ul li strong {width:auto;display:block;}
	.form-fill ul li.special  strong {width:auto;}
	.form-fill ul li input[type=text] {width:328px;}
	
	.form-fill ul li .insurance-input input[type=text] {width:100px;margin-right:20px;margin-bottom:10px;}
	.form-fill ul li .aroundnum-input input[type=text] {width:124px;}
	
	.form-fill p.preamble {font-size:12px;}
	.form-fill  h1 {margin-bottom:0;font-size:24px;}
	.form-fill  h2 {font-size:16px;margin-top:25px;}
	
	.form-fill ul.special li strong {width:auto;}
	.form-fill .collision_notes input[type=text] {width:126px;}
	.form-fill .personal-number input[type=text] {width:42px; margin-right:10px;margin-left:0;}
	.form-fill .phone input[type=text]  {width:103px;}
	.form-fill .phone-input {margin-right:10px;margin-bottom:10px;}
	.form-fill .radio-el strong {display:block;float:none;}
	.form-fill .radio-el label, .form-fill .dmg-el label  {float:left;margin-right:10px;}
	.form-fill .radio-el .radio, .form-fill .dmg-el .radio   {clear:none;}
	.form-fill .dmg-date input[type=text] {width:44px;margin-left:0;margin-right:10px;}
	.form-fill .ordnry strong {width:96px;}
	.form-fill .ordnry input[type=text] {width:257px;}
	.form-fill .col_elem label {float:left;margin-right:10px;}
	.form-fill .col_elem .radio {clear:none;}
	.form-fill .chk_lbl_inp li input[type=checkbox], .form-fill .chk_lbl_inp li label {float:left;}
	.form-fill .chk_lbl_inp li label {width:99px;}
	.form-fill .chk_lbl_inp li{height:20px;}
	.form-fill .chk_lbl_inp li input[type=checkbox] {margin-top:4px;}
	.form-fill .ws_data input[type=text] {width:248px;}
	.form-fill .inline-elem label, .form-fill .inline-elem input[type=checkbox]  {float:left; margin-right:10px;}
	.form-fill li.inline-elem {height:24px;}
	.form-fill .inline-elem input[type=checkbox]  {margin-top:4px;}
	.form-fill .inline-elem .radio {clear:none;}
	.form-fill .empty {width:100%;height:24px;}
	.form-fill .span4 strong {width:170px;}
	.form-fill .span4 input[type=text] {width:103px;}
	.form-fill .ws_data.cr {margin-bottom:14px;}
	.form-fill textarea {height:150px;}	
	.form-fill .inline-elem label {float:none;}
	.form-fill .empty {height:44px;}
	.span4 .select-full-list .selectboxit-container .selectboxit{
		width:225px !important;
	}
	.car-options, .inline-input {float:none;}
	.form-fill .car-options .inline-elem label {float:left;}
	.car-options {margin-top:15px;}
	.inline-input input[type=text] {
		margin-right: 11px;
	}
	.warranty .tab-content ul {float:none;}
	.form-fill .warranty .inline-elem label {float:left;}
	.tab-content {overflow:visible;}
	#seller_warranty_tab {height:auto;}
	#seller_warranty_tab .pull-right {float:left !important;}
	#seller_warranty_tab li.inline-elem strong  {width:150px;}
	.warranty .tab-content strong {
		width: 157px;
		margin-left: 20px;
		display: inline-block;
	}
	.warranty .tab-pane {padding-bottom:10px;}
	.properties .inline-elem strong {display:block;width:auto !important; float:none;margin-bottom:10px;}
	.form-fill .properties  .inline-elem label {float:left;}
	.properties  li.inline-elem {height:42px !important; margin-top:10px;}
	.properties .pull-left {float:none;}
	.properties .co2 {float:none;}
	.properties .co2 li {
	text-align: left;
	}
	.condition input[type=checkbox] {float:left; margin-top:4px;}
	.condition .inl-blc {display:inline;}
	.condition p, .condition ul {margin-top:10px;}
}

	
@media (max-width: 979px) {
	.nav-collapse .nav>li>a:hover, .nav-collapse .nav>li>a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
		background-color: #fff;
	}
	.navbar .btn-navbar {margin-bottom:15px;}
	.search .quick-form input.search-query {width:185px;}
	
}

@media (max-width: 767px) {
	.Ñertification .model input[type=text] {width:61px;}
	.form-fill ul li strong {width: 65px;}
	#dealer_warranty_tab,#seller_warranty_tab {width:340px;}
	.form-fill .inline-elem input[type=text] {
		width: 70px;
	}
	.warranty .tab-content ul {
		float: none;
	}
	.warranty .tab-content strong {margin-left:20px;}
	.form-fill .inline-elem {height:30px;}
	.form-fill .inline-elem strong {float:none;}
	.form-fill h2.pull-left {float:none;}
	.warranty .nav.nav-tabs {margin-left:0;}
	.form-fill .inline-elem strong {display:block;float:none;}
	.properties .co2 {float:left;}
	.properties .co2 li {text-align:left;}
	#seller_warranty_tab {height:auto;}
	#seller_warranty_tab .pull-right {float:left;}
	.tab-content {overflow:visible;}
	.car-options {float:none; clear:both;}
	.car-options li {height:30px !important;}
	.car-options strong {margin-top:4px;}
	.search form input.search-query {width:100%;min-height: 28px;}
	.search.navbar .nav>li.dropdown>a {padding:4px 10px;}
	.search.navbar .nav li.dropdown>a .caret {margin-left:10px;}
	footer .banners li {margin-left:0;margin-right:10px;}
	.row .span2 {margin-bottom:20px;}
	footer .basement ul li a {font-size:10px;}
	.search .navbar-search {width:54%;}
	.search.navbar .btn {padding: 4px 18px;}
	.car-image {padding-left:5px;padding-right:0;}
	.rows_head h1,.rows.full h1 {width:100%;}
	header .nav-pills>li {padding:0;}
	.nomenu {margin-bottom:20px;}
	.rows_head .search-query {display:inline-block; width:278px;margin-bottom:0 !important;}
	.navbar-search.search-in-results {width:100%; margin-bottom:20px;}
	.step_form table tr td input {width: 165px !important;}
	.step_form table tr td input[type=checkbox] {width: 20px !important;}
	.supp_info textarea {width: 454px;}
	input[type=checkbox] {margin-right:0;}
	.carousel-caption h1 {
		font: normal 22px 'Lato', sans-serif;
		margin: 0 0 5px 0;
	}
	.carousel-caption li {
	font-size: 11px;
	line-height: 15px;
	}
	.carousel-caption h2 strong {
		font: 900 16px 'Lato', sans-serif;
	}
	.carousel-caption h2 {
		font-size: 14px;
		margin:0;
		margin-top:5px;
	}
	body {padding:0;}
	
	.seller-comment {margin-top:20px;}
	.dmg-el {height:24px;}
	.form-fill .chk_lbl_inp li input[type=checkbox] {margin-right:10px;}
	.advanced-search.static .select_box {float:none; margin-bottom:20px; width:auto;}
	.advanced-search.static .checkbox_box.first {
margin-left: 0px;
}
	.advanced-search.static .select_box .selectboxit-container .selectboxit {width:240px !important; }
}

@media (max-width: 640px) {
	.feedback textarea {width:92%;}
	.feedback input {width:96% !important; margin-bottom:10px;}
	.feedback .text-right {text-align:left;}
	.search form input.search-query {width:100%;min-height: 28px;}
	.search.navbar .nav>li.dropdown>a {padding:4px 5px;}
	.search.navbar .nav li.dropdown>a .caret {margin-left:5px;}
	footer .banners li {margin-left:0;margin-right:10px;}
	.row .span2 {margin-bottom:20px;}
	footer .basement ul li a {font-size:10px;}
	.search .navbar-search {width:25%;}
	.search.navbar .btn {padding: 4px 10px;}
	.table_status,.status a {width:auto;}
	.status a {font: 500 9px 'Lato', sans-serif;}
	.box .company_logo {position:static;margin-bottom:15px;}
	.box .btn.change_details {position:relative;margin-top:10px;}
	.step_form .datepicker {width: 155px !important;}
	.step_form.receipt input.regnum {margin-right:2px;}
	.step_form input.tread_depth {width: 155px !important; margin-bottom:5px;}
	.btn-group>.btn+.btn {margin-left: 0px;display:block;float:left;}
	.btn-group>.btn {display:block;float:left;border: 0px solid #cccccc;border-left: 1px solid #ccc;}
	.btn-group>.btn:first-child {-webkit-border-top-left-radius: 0px;-moz-border-radius-topleft: 0px;border-top-left-radius: 0px;-webkit-border-bottom-left-radius: 0px;-moz-border-radius-bottomleft: 0px;border-bottom-left-radius: 0px;}
	.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {-webkit-border-top-right-radius: 0px;-moz-border-radius-topright: 0px;border-top-right-radius: 0px;-webkit-border-bottom-right-radius: 0px;-moz-border-radius-bottomright: 0px;border-bottom-right-radius: 0px;}
	.step_form table textarea {width: 213px;}
	.step_form table tr td input[type=text] {width: 213px;}
	.step_form table .selectboxit {width: 223px !important;}
	.step_form table tr td input {width: 62px !important;}
	.step_form.condition table tr th {font-size:12px;}
	.checkbox, .radio {padding-right:3px;}
	.supp_info textarea {width: 330px;}
	.step_form.info table .selectboxit, .step_form.equip table .selectboxit {width: 205px !important;}
	.step_form.info table textarea,  .step_form.info table tr td input[type=text], .step_form.equip table tr td input[type=text],  .step_form.equip table tr td textarea{width: 193px !important;}
	.step_form table tr td span {}
	.testprotocol .span8 {width:100%;}
	.foot {padding-bottom:40px;background: url(../../shared/images/logo_mini.png) center bottom no-repeat !important;}
	.form-fill .radio-el .radio, .form-fill .dmg-el .radio {
clear: left;
}
	.form-fill .radio-el label, .form-fill .dmg-el label {}
	.dmg-date.special {clear:left;}
	.modal.fade.in {
			top: 20px;
			left: 50%;
		}
}

@media (max-width: 480px) {
	.carousel-caption {width:100% !important;padding:0;}
	.carousel-caption h1 {margin-left:15px;padding-top:20px;font-size:24px;}
	.carousel-caption ul {margin-left:15px;}
	.carousel-caption h2 {margin-left:15px;font-size:14px;}
	.carousel-caption h2 strong {font-size:18px;}
	.carousel-caption .text-right {margin:0 15px 15px 0;}
	.carousel-indicators {bottom:auto;top:10px;}
	.image_carousel img {margin-right:5px;}
	.image_carousel {margin-left:30px;}
	.image_carousel .prev {left:-20px;}
	.car-profile a.btn {margin-bottom:5px;}
}
*/