  .db-btn {
      display: inline-block;

      background-color: $active-color;
      padding: 0px 20px;
      line-height: 40px;
      font-weight: 600;
      position: relative;
      color: #fff;
      min-width: 100px;


      border-radius: $border-radius;
      transition: all ease 0.4s;

      &:hover {
          background-color: lighten($active-color, 10%);

      }

  }
